@charset "UTF-8";


// ----------------------------
// mod-2col
// ----------------------------
%common-style-mod-link-for-2col {
  .mod-link-pic
  //.mod-link10//暫定対応
  {
    p {
      min-height: 17px;
      max-width: 100%;
      background-position: left 1px;
      font-size: $fontSizeS;
      @if $layoutCode == "L25" {
        padding: 0 0 0 15px;
      } @else if $layoutCode == "L30" {
        padding: 0 0 0 14px;
      }
    }
  }
}


// ----------------------------
// mod-3col
// ----------------------------
//なし

