@charset "UTF-8";


// ----------------------------
// for-2col
// ----------------------------
%common-style-mod-h_5-for-2col {
  .ex-imgFloat & .mod-2col-inner[data-cms-switchable="false"] + .mod-2col-inner2 .mod-h_5_ver2 {
    width: 100% !important;
  }
  .ex-imgFloat.ex-imgSize_2L & .mod-2col-wrap > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_ver2 {
    width: floor($mainWidth * 0.50);
  }
  .ex-imgFloat & .mod-2col-wrap > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_ver2 {
    width: floor($mainWidth * 0.57);
  }
  .ex-imgFloat.ex-imgSize_2S & .mod-2col-wrap > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_ver2 {
    width: floor($mainWidth * 0.65);
  }
  .ex-imgFloat.ex-imgSize_2SS & .mod-2col-wrap > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_ver2 {
    width: floor($mainWidth * 0.73);
  }
}

%common-style-mod-h_5-for-2col-hyo {
  .ex-imgFloat & .mod-2col-wrap > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_ver2 {
    @if $layoutCode == "L25" {
      width: 310px;
    } @else if $layoutCode == "L30" {
      width: 256px;
    }
  }
}

%common-style-mod-h_5_6-for-2col {
  .mod-h_5_6_ver2
  //.mod-h_5_4, .mod-h_5_5, .mod-h_5_7, .mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {
    .mod-h {
      font-size: $fontSizeM;
      line-height: 1.6;
    }
  }
}

%common-style-mod-h_5_23-for-2col {
  .mod-h_5_23_ver2
  //, .mod-h_5_22, .mod-h_5_24, .mod-h_5_28, .mod-h_5_29, .mod-h_5_30
  {
    .mod-h {
      font-size: $fontSizeM;
      line-height: 1.6;
    }
  }
}


%common-style-mod-h_5_pic-for-2col {
  .mod-h_5_pic_top, .mod-h_5_hyo_top, .mod-h_5_list_top,
  .mod-h_5_pic_bottom, .mod-h_5_hyo_bottom, .mod-h_5_list_bottom
  //, .mod-h_5_4, .mod-h_5_5, .mod-h_5_7, .mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {
    .mod-h {
      font-size: $fontSizeM;
      line-height: 1.6;
    }
  }
}

%deco-style01A1-mod-h_5_pic-for-2col {
  .mod-h_5_pic_top, .mod-h_5_hyo_top, .mod-h_5_list_top,
  .mod-h_5_pic_bottom, .mod-h_5_hyo_bottom, .mod-h_5_list_bottom {
    .mod-icon_2 {
      background-position: center 4px;
    }
    .mod-icon_3 {
      background-position: center 2px;
    }
    .mod-icon_4 {
      background-position: center 3px;
    }
    .mod-icon_5 {
      background-position: center 4px;
    }
    .mod-icon_dental {
      background-position: left top;
    }
  }
}

%deco-style01B1-mod-h_5_pic-for-2col {
  .mod-h_5_pic_top, .mod-h_5_hyo_top, .mod-h_5_list_top,
  .mod-h_5_pic_bottom, .mod-h_5_hyo_bottom, .mod-h_5_list_bottom {
    .mod-icon_2 {
      background-position: 3px 8px;
    }
    .mod-icon_3 {
      background-position: center 4px;
    }
    .mod-icon_4 {
      background-position: center 4px;
    }
    .mod-icon_5 {
      background-position: center 3px;
    }
    .mod-icon_dental {
      min-width: 24px;
      width: 24px;
      background-position: left top;
    }
  }
}
// ----------------------------
// for-2colin2col
// ----------------------------
%common-style-mod-h_5-for-2colin2col {
  .ex-imgFloat & > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_ver2 {
    @if $layoutCode == "L25" {
      width: 195px;
    } @else if $layoutCode == "L30" {
      width: 172px;
    }
  }
}



// ----------------------------
// for-2colin3col
// ----------------------------
//-----common-style-for-2colin3col-----//
%common-style-mod-h_5_6-for-2colin3col {
  .mod-h_5_6_ver2
  //, .mod-h_5_4, .mod-h_5_5, .mod-h_5_7,.mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {
    margin-top: 25px;
    .mod-h {
      font-size: $fontSizeS + 1;
      line-height: 1.6;
    }
  }
}
%common-style-mod-h_5_pic-for-2colin3col {
  .mod-h_5_pic_top,.mod-h_5_pic_bottom
  // .mod-h_5_hyo, .mod-h_5_list 使用していない
   // .mod-img + .mod-h_5_pic, .mod-table + .mod-h_5_hyo, .mod-ul + .mod-h_5_list 差分でできるので不要
  //, .mod-h_5_4, .mod-h_5_5, .mod-h_5_7,.mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {
    .mod-h {
      font-size: $fontSizeS + 1;
      line-height: 1.6;
    }
  }
  .mod-h_5_pic_top {
    margin-top: 25px;
    }
}

%deco-style01A1-mod-h_5-pic-for-2colin3col {
  .mod-h_5_pic_top, .mod-h_5_pic_bottom {
    .mod-icon_2 {
      background-position: center 4px;
    }
    .mod-icon_3 {
      background-position: center 2px;
    }
    .mod-icon_4 {
      background-position: center 3px;
    }
    .mod-icon_5 {
      background-position: center 4px;
    }
    .mod-icon_dental {
      background-position: center 2px;
    }
  }
}

%deco-style01B1-mod-h_5-pic-for-2colin3col {
  .mod-h_5_pic_top, .mod-h_5_pic_bottom {
    .mod-icon_2 {
      background-position: center 2px;
    }
    .mod-icon_3 {
      background-position: center 3px;
    }
    .mod-icon_4 {
      background-position: center 3px;
    }
    .mod-icon_5 {
      background-position: center 2px;
    }
    .mod-icon_dental {
      background-position: center 7px;
    }
  }
}












%common-style-mod-h_5_23-for-2colin3col {
  .mod-h_5_23_ver2
  //, .mod-h_5_22, .mod-h_5_24, .mod-h_5_28, .mod-h_5_29, .mod-h_5_30
  {
    .mod-h {
      font-size: $fontSizeS + 1;
      line-height: 1.6;
    }
  }
}
//-----deco-style-for-2colin3col-----//
%mod-h_5_x2-for-2colin3col {
  .mod-h_5_23_ver2
  //, .mod-h_5_22, .mod-h_5_24, .mod-h_5_28, .mod-h_5_29, .mod-h_5_30
  {
    .mod-icon_2 {
      height: 17px;
      background-position: center top;
    }
    .mod-icon_3 {
      height: 16px;
      background-position: center top;
    }
    .mod-icon_4 {
      height: 16px;
      background-position: center 1px;
    }
    .mod-icon_5 {
      height: 16px;
      background-position: center 3px;
    }
    .mod-icon_dental {
      height: 19px;
      background-position: left top;
    }
  }
}



// ----------------------------
// for-3col
// ----------------------------
//-----common-style-for-3col-----//
%common-style-mod-h_5-for-3col {
  .mod-h_5_ver2
  //, .mod-h_5_2
  {
    .mod-h {
      font-size: $fontSizeM;
    }
  }
  .ex-imgFloat & .mod-2col-inner[data-cms-switchable="false"] + .mod-2col-inner2 .mod-h_5_ver2
  //, .ex-imgFloat & .mod-2col-inner[data-cms-switchable="false"] + .mod-2col-inner2 .mod-h_5_2
  {
    width: 100% !important;
  }
  .ex-imgFloat & > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_ver2
  //, .ex-imgFloat & > .mod-2col-inner + .mod-2col-inner2 .mod-h_5_2
  {
    @if $layoutCode == "L25" {
      width: 120px;
    } @else if $layoutCode == "L30" {
      width: 102px;
    }
  }
}

%common-style-mod-h_5_6-for-3col {
  .mod-h_5_6_ver2
  //, .mod-h_5_4, .mod-h_5_5, .mod-h_5_7, .mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {//仮クラス名
    margin-top: 25px;
    .mod-h {
      font-size: $fontSizeM;
      line-height: 1.6;
    }
  }
}
%common-style-mod-h_5_pic-for-3col {
  .mod-h_5_pic_top, .mod-h_5_hyo_top, .mod-h_5_list_top,
  .mod-h_5_pic_bottom, .mod-h_5_hyo_bottom, .mod-h_5_list_bottom
  //, .mod-h_5_4, .mod-h_5_5, .mod-h_5_7, .mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {
    .mod-h {
      font-size: $fontSizeM;
      line-height: 1.6;
    }
  }
  .mod-h_5_pic_top, .mod-h_5_hyo_top, .mod-h_5_list_top {
    margin-top: 25px;
  }
}
%common-style-mod-h_5_23-for-3col {
  .mod-h_5_23_ver2
  //, .mod-h_5_22, .mod-h_5_24, .mod-h_5_28, .mod-h_5_29, .mod-h_5_30
  {
    .mod-h {
      font-size: $fontSizeM;
      line-height: 1.6;
    }
  }
}

//-----deco-style-for-3col-----//
%mod-h_5_x1-for-2colin3col {
  .mod-h_5_6_ver2
  //, .mod-h_5_4, .mod-h_5_5, .mod-h_5_7,.mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {//仮クラス名
    .mod-icon_2 {
      height: 21px;
      background-position: left top;
    }
    .mod-icon_3 {
      height: 20px;
      background-position: center 3px;
    }
    .mod-icon_4 {
      height: 20px;
      background-position: center 3px;
    }
    .mod-icon_5 {
      height: 20px;
      background-position: center 1px;
    }
    .mod-icon_dental {
      height: 21px;
      background-position: center top;
    }
  }
}


%mod-h_5_x1-for-3col {
  .mod-h_5_6_ver2
  //, .mod-h_5_4, .mod-h_5_5, .mod-h_5_7,.mod-h_5_9, .mod-h_5_10, .mod-h_5_14, .mod-h_5_15
  {
    .mod-icon_2 {
      height: 21px;
      background-position: center 1px;
    }
    .mod-icon_3 {
      height: 20px;
      background-position: center 3px;
    }
    .mod-icon_4 {
      height: 20px;
      background-position: center 4px;
    }
    .mod-icon_5 {
      height: 20px;
      background-position: center 5px;
    }
    .mod-icon_dental {
      height: 21px;
      background-position: center top;
    }
  }
}