@charset "UTF-8";

// --------------------------------------------------------------------------
//
//　pat-item-table-style
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-table の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-table {
  margin: 10px 0 0 0;
  padding: 1px;
  table {
    width: 100%;
    table-layout: fixed;
    vertical-align: middle;
    font-weight: normal;
    font-size: $fontSizeM;
    th {
      padding: 8px;
      text-align: left;
      font-weight: normal;
    }
    td {
      padding: 8px;
      vertical-align: top;
    }
  }
  > p {
    margin: 12px 0 0 0;
    &:first-child {
      margin: 0;
    }
  }
}

// -------------------------------------
// pat-item-table の共通デザイン
// -------------------------------------
// MODULE-STYLE
@mixin module-style-pat-item-table {
  table {
    tr:first-child {
      > th:first-child,
      > td:first-child {
        width: 30%;
      }
    }
  }
}

// MODULE-STYLE
@mixin module-style-pat-item-table-side {
  table {
    font-size: $sideFontSizeM;
    tr:first-child {
      th {
        border-bottom: 1px solid #ffffff;
      }
    }
    th {
      padding: 8px 3px;
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
    }
    td {
      padding: 8px 3px;
    }
  }
}

@mixin module-style-pat-item-table-3 { //shedule
  padding: 0;
  border: none;
  table {
    vertical-align: baseline;
    text-align: center;
    tr {
      &:first-child {
        > th:first-child,
        > td:first-child {
          padding: 10px 5px;
        }
      }
      th:first-child,
      td:first-child {
        text-align: left;
        font-weight: normal;
      }
    }
    th {
      padding: 0;
      text-align: center;
      font-weight: normal;
    }
    td {
      padding: 0;
      vertical-align: baseline;
      font-weight: bold;
    }
    tbody {
      tr:first-child {
        th, td {
          font-size: $fontSizeM;
        }
        & ~ tr {
          th:first-child,
          td:first-child {
            font-size: $fontSizeM;
          }
          th {
            padding: 10px 5px;
            width: auto;
            font-size: $fontSizeS + 1;
          }
          td {
            padding: 10px 5px;
            font-size: $fontSizeS + 1;
          }
        }
      }
    }
    thead + tbody {
      tr:first-child, tr {
        th:first-child,
        td:first-child {
          font-size: $fontSizeM;
        }
        th {
          padding: 10px 5px;
          width: auto;
          font-size: $fontSizeS + 1;
        }
        td {
          padding: 10px 5px;
          font-size: $fontSizeS + 1;
        }
      }
    }
  }
}

// setの中で直に指定
// @mixin module-style-pat-item-table-4 { //company
//   table {
//     tr:first-child {
//       th:first-child,
//       td:first-child {
//         width: 35%;
//       }
//     }
//   }
// }

@mixin module-style-pat-item-table-side-2 {//shedule-side
  table {
    text-align: center;
    tr:first-child {
      th:first-child,
      td:first-child {
        width: 30%;
      }
    }
    th {
      padding: 2px;
      vertical-align: middle;
    }
    td {
      padding: 8px 2px;
      background-color: #ffffff;
      vertical-align: middle;
    }
  }
}


// -------------------------------------
// pat-item-table の装飾スタイル
// -------------------------------------
// PATTERN ITEM STYLE
@mixin deco-style-pat-item-table-1 {
  border: 1px solid #c9e0ff;
  color: #333333;
  table {
    border: 1px solid #c9e0ff;
    thead tr:first-child th {
      border-bottom: 1px solid #ffffff;
    }
    tr:first-child th {
      border-top: 1px solid #c9e0ff;
      &:last-child {
        border-right: 1px solid #c9e0ff;
      }
    }
    th {
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      background-color: #c9e0ff;
      background-image: none;
      background-repeat: repeat;
    }
    td {
      border: 1px solid #c9e0ff;
    }
  }
}
@mixin deco-style-pat-item-table-2 {
  border: 1px solid #c4ecf0;
  color: #333333;
  table {
    border: 1px solid #c4ecf0;
    thead tr:first-child th {
      border-bottom: 1px solid #ffffff;
    }
    tr:first-child th {
      border-top: 1px solid #c4ecf0;
      &:last-child {
        border-right: 1px solid #c4ecf0;
      }
    }
    th {
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      background-color: #c4ecf0;
      background-image: none;
      background-repeat: repeat;
    }
    td {
      border: 1px solid #c4ecf0;
    }
  }
}
@mixin deco-style-pat-item-table-3 {
  border: 1px solid #ffcda2;
  color: #56534e;
  table {
    border: 1px solid #ffcda2;
    thead tr:first-child th {
      border-bottom: 1px solid #ffffff;
    }
    tr:first-child th {
      border-top: 1px solid #ffcda2;
      &:last-child {
        border-right: 1px solid #ffcda2;
      }
    }
    th {
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      background-color: #ffcda2;
      background-image: none;
      background-repeat: repeat;
    }
    td {
      border: 1px solid #ffcda2;
    }
  }
}
@mixin deco-style-pat-item-table-4 {
  border: 1px solid #8bb8e4;
  color: #333333;
  table {
    border: 1px solid #8bb8e4;
    thead tr:first-child th {
      border-bottom: 1px solid #ffffff;
    }
    tr:first-child th {
      border-top: 1px solid #8bb8e4;
      &:last-child {
        border-right: 1px solid #8bb8e4;
      }
    }
    th {
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      background-color: #a8bbe3;
      background-image: url("img/mod-table/bg02.png");
      background-repeat: repeat-x;
    }
    td {
      border: 1px solid #8bb8e4;
    }
  }
}
@mixin deco-style-pat-item-table-5 {
  border: 1px solid #a3e0e9;
  color: #0b7c8a;
  table {
    border: 1px solid #a3e0e9;
    thead tr:first-child th {
      border-bottom: 1px solid #ffffff;
    }
    tr:first-child th {
      border-top: 1px solid #a3e0e9;
      &:last-child {
        border-right: 1px solid #a3e0e9;
      }
    }
    th {
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      background-color: #a3e0e9;
      background-image: url("img/mod-table/bg02_2.png");
      background-repeat: repeat-x;
    }
    td {
      border: 1px solid #a3E0E9;
    }
  }
}
@mixin deco-style-pat-item-table-6 {
  border: 1px solid #f7de6a;
  color: #45310c;
  table {
    border: 1px solid #f7de6a;
    thead tr:first-child th {
      border-bottom: 1px solid #ffffff;
    }
    tr:first-child {
      th {
        border-top: 1px solid #f7de6a;
        &:last-child {
          border-right: 1px solid #f7de6a;
        }
      }
    }
    th {
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      background-color: #f7de6a;
      background-image: url("img/mod-table/bg02_3.png");
      background-repeat: repeat-x;
    }
    td {
      border: 1px solid #f7de6a;
    }
  }
}
@mixin deco-style-pat-item-table-7 {
  border: 1px solid #8bb8e4;
  color: #333333;
  table {
    border: 1px solid #8bb8e4;
    thead tr:first-child th {
      border-bottom: 1px solid #8bb8e4;
    }
    tr:first-child {
      th {
        border-top: 1px solid #8bb8e4;
        &:last-child {
          border-right: 1px solid #8bb8e4;
        }
      }
    }
    th {
      border-top: 1px solid #8bb8e4;
      border-right: 1px solid #8bb8e4;
      background-color: #c9e0ff;
      background-image: url("img/mod-table/bg04.png");
      background-repeat: repeat-x;
    }
    td {
      border: 1px solid #8bb8e4;
    }
  }
}
@mixin deco-style-pat-item-table-8 {
  border: 1px solid #7ed1d9;
  color: #333333;
  table {
    border: 1px solid #7ed1d9;
    thead tr:first-child th {
      border-bottom: 1px solid #7ed1d9;
    }
    tr:first-child {
      th {
        border-top: 1px solid #7ed1d9;
        &:last-child {
          border-right: 1px solid #7ed1d9;
        }
      }
    }
    th {
      border-top: 1px solid #7ed1d9;
      border-right: 1px solid #7ed1d9;
      background-color: #c4ecf0;
      background-image: url("img/mod-table/bg04_2.png");
      background-repeat: repeat-x;
    }
    td {
      border: 1px solid #7ed1d9;
    }
  }
}
@mixin deco-style-pat-item-table-9 {
  border: 1px solid #f9d5b5;
  color: #45320b;
  table {
    border: 1px solid #f9d5b5;
    thead tr:first-child th {
      border-bottom: 1px solid #f9d5b5;
    }
    tr:first-child {
      th {
        border-top: 1px solid #f9d5b5;
        &:last-child {
          border-right: 1px solid #f9d5b5;
        }
      }
    }
    th {
      border-top: 1px solid #f9d5b5;
      border-right: 1px solid #f9d5b5;
      background-color: #fdf6e4;
      background-image: url("img/mod-table/bg04_3.png");
      background-repeat: repeat-x;
    }
    td {
      border: 1px solid #f9d5b5;
    }
  }
}


@mixin deco-style-pat-item-table-10 {
  table {
    background-image: none;
    color: #333333;
    tr:first-child th {
      border-top: 1px solid #d2ccaa;
      border-bottom: 1px solid #d2ccaa;
      border-left: 1px solid #d2ccaa;
      background-color: #1d6fde;
      background-image: none;
      background-repeat: repeat;
      color: #ffffff;
      &:last-child {
        border-right: 1px solid #d2ccaa;
      }
    }
    th {
      border-top: 1px solid #d2ccaa;
      border-right: 1px solid #d2ccaa;
      background-color: #1d6fde;
      color: #ffffff;
    }
    td {
      border: 1px solid #d2ccaa;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-11 {
  table {
    background-image: none;
    color: #333333;
    tr:first-child th {
      border-top: 1px solid #d1b422;
      border-bottom: 1px solid #d1b422;
      border-left: 1px solid #d1b422;
      background-color: #ffe254;
      background-image: none;
      background-repeat: repeat;
      color: #333333;
      &:last-child {
        border-right: 1px solid #d1b422;
      }
    }
    th {
      border-top: 1px solid #d1b422;
      border-right: 1px solid #d1b422;
      background-color: #ffe254;
      color: #333333;
    }
    td {
      border: 1px solid #d1b422;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-12 {
  table {
    background-image: none;
    color: #56534e;
    tr:first-child th {
      border-top: 1px solid #6390ce;
      border-bottom: 1px solid #6390ce;
      border-left: 1px solid #6390ce;
      background-color: #509dcd;
      background-image: none;
      background-repeat: repeat;
      color: #ffffff;
      &:last-child {
        border-right: 1px solid #6390ce;
      }
    }
    th {
      border-top: 1px solid #6390ce;
      border-right: 1px solid #ffffff;
      background-color: #509dcd;
      color: #ffffff;
    }
    td {
      border: 1px solid #6390ce;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-13 {
  table {
    background-image: none;
    color: #333333;
    tr:first-child th {
      border-top: 1px solid #8bb8e4;
      border-bottom: 1px solid #8bb8e4;
      border-left: 1px solid #8bb8e4;
      background-color: #a8bbe3;
      background-image: url("img/mod-table/bg02.png");
      background-repeat: repeat-x;
      color: #333333;
      &:last-child {
        border-right: 1px solid #8bb8e4;
      }
    }
    th {
      border-top: 1px solid #8bb8e4;
      border-right: 1px solid #8bb8e4;
      background-color: #a8bbe3;
      color: #ffffff;
    }
    td {
      border: 1px solid #8bb8e4;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-14 {
  table {
    background-image: none;
    color: #0b7c8a;
    tr:first-child th {
      border-top: 1px solid #A3E0E9;
      border-bottom: 1px solid #A3E0E9;
      border-left: 1px solid #A3E0E9;
      background-color: #A3E0E9;
      background-image: url("img/mod-table/bg02_2.png");
      background-repeat: repeat-x;
      color: #0b7c8a;
      &:last-child {
        border-right: 1px solid #A3E0E9;
      }
    }
    th {
      border-top: 1px solid #A3E0E9;
      border-right: 1px solid #A3E0E9;
      background-color: #A3E0E9;
      color: #ffffff;
    }
    td {
      border: 1px solid #A3E0E9;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-15 {
  table {
    background-image: none;
    color: #45310C;
    tr:first-child th {
      border-top: 1px solid #F7DE6A;
      border-bottom: 1px solid #F7DE6A;
      border-left: 1px solid #F7DE6A;
      background-color: #F7DE6A;
      background-image: url("img/mod-table/bg02_3.png");
      background-repeat: repeat-x;
      color: #45310C;
      &:last-child {
        border-right: 1px solid #F7DE6A;
      }
    }
    th {
      border-top: 1px solid #F7DE6A;
      border-right: 1px solid #F7DE6A;
      background-color: #F7DE6A;
      color: #ffffff;
    }
    td {
      border: 1px solid #F7DE6A;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-16 {
  table {
    background-image: url("img/mod-table/bg03.png");
    color: #333333;
    tr:first-child th {
      border-top: 1px solid #d2ccaa;
      border-bottom: 1px solid #d2ccaa;
      border-left: 1px solid #d2ccaa;
      background-color: transparent;
      background-image: none;
      background-repeat: repeat;
      color: #ffffff;
      &:last-child {
        border-right: 1px solid #d2ccaa;
      }
    }
    th {
      border-top: 1px solid #d2ccaa;
      border-right: 1px solid #d2ccaa;
      background-color: transparent;
      color: #ffffff;
    }
    td {
      border: 1px solid #d2ccaa;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-17 {
  table {
    background-image: url("img/mod-table/bg03_2.png");
    color: #333333;
    tr:first-child th {
      border-top: 1px solid #d2ccaa;
      border-bottom: 1px solid #d2ccaa;
      border-left: 1px solid #d2ccaa;
      background-color: transparent;
      background-image: none;
      background-repeat: repeat;
      color: #45320b;
      th:last-child {
        border-right: 1px solid #d2ccaa;
      }
    }
    th {
      border-top: 1px solid #d2ccaa;
      border-right: 1px solid #d2ccaa;
      background-color: transparent;
      color: #45320b;
    }
    td {
      border: 1px solid #d2ccaa;
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-table-18 {
  table {
    background-image: url("img/mod-table/bg03_3.png");
    color: #45320b;
    tr:first-child th {
      border-top: 1px solid #d2ccaa;
      border-bottom: 1px solid #d2ccaa;
      border-left: 1px solid #d2ccaa;
      background-color: transparent;
      background-image: none;
      background-repeat: repeat;
      color: #ffffff;
      &:last-child {
        border-right: 1px solid #d2ccaa;
      }
    }
    th {
      border-top: 1px solid #d2ccaa;
      border-right: 1px solid #d2ccaa;
      background-color: transparent;
      color: #ffffff;
    }
    td {
      border: 1px solid #d2ccaa;
      background-color: #ffffff;
    }
  }
}

@mixin deco-style-pat-item-table-side-1 {
  border: 1px solid #c9e0ff;
  table {
    border: 1px solid #c9e0ff;
    tr:first-child {
      th {
        border-top: 1px solid #c9e0ff;
      }
      th:last-child {
        border-right: 1px solid #c9e0ff;
      }
    }
    th {
      background-color: #c9e0ff;
    }
    td {
      border: 1px solid #c9e0ff;
    }
  }
}
@mixin deco-style-pat-item-table-side-2 {
  border: 1px solid #ffea83;
  table {
    border: 1px solid #ffea83;
    tr:first-child {
      th {
        border-top: 1px solid #ffea83;
      }
      th:last-child {
        border-right: 1px solid #ffea83;
      }
    }
    th {
      background-color: #ffea83;
    }
    td {
      border: 1px solid #ffea83;
    }
  }
}
@mixin deco-style-pat-item-table-side-3 {
  border: 1px solid #fdcecc;
  table {
    border: 1px solid #fdcecc;
    tr:first-child {
      th {
        border-top: 1px solid #fdcecc;
      }
      th:last-child {
        border-right: 1px solid #fdcecc;
      }
    }
    th {
      background-color: #fdcecc;
    }
    td {
      border: 1px solid #fdcecc;
    }
  }
}