@charset "UTF-8";

// -------------------------------------
//
// pat-item-bnr
//
// -------------------------------------

// -------------------------------------
// block-style
// -------------------------------------
@mixin block-style-mod-bnr-hover {//hover時の挙動
  &:hover {
    opacity: 0.80;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
}


// -------------------------------------
// pat-item-bnr の共通スタイル
// -------------------------------------
@mixin common-style-pat-item-bnr {
  @include border-radius();
  @include block-style-mod-bnr-hover;
  margin-top: 15px;//ex-argin対応のためショートハンド不使用
  padding: 0;
  width: 100%;
  text-align: center;
  .mod-bnr-inner {
    @include border-radius();
    margin: 0;
    p {
      margin: 0;
      font-weight: normal;
      text-align: center;
      font-size: $fontSizeM !important;
      line-height: 1.4;
      span {
        text-align: center;
        font-size: $fontSizeM !important;
      }
    }
    a {
      color: #ffffff;
    }
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}


// -------------------------------------
//  pat-item-bnr の共通デザイン
// -------------------------------------
@mixin module-style-pat-item-bnr-1 { //footer
  @extend %inlineBlock;
  background-repeat: repeat-x;
  background-position: left top;
  .mod-bnr-inner {
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 19px 19px;
  }
}

@mixin module-style-pat-item-bnr-2 { //お問合せ
  margin: 15px 0 0 0;
  background-repeat: repeat-x;
  background-position: left top;
  .mod-bnr-inner {
    padding: 4px 30px 2px 30px;
    // max-height: 50px;　要検討
    background-position: 9px 6px;
    background-repeat: no-repeat;
  }
}

@mixin module-style-pat-item-bnr-3 { //サイドの細いバナー
  margin: 10px 0 0 0;
  .mod-bnr-inner {
    padding: 0 0 0 18px;
    //max-height: 40px;　要検討
    background-repeat: no-repeat;
    background-position: left center;
  }
}

@mixin module-style-pat-item-bnr-4 { //テーマ１デフォルト
  @include border-radius();
  margin-top: 10px;
  width: 100%;
  .mod-bnr-inner {
    @include border-radius();
    overflow: hidden;
    padding: 12px 40px 12px 10px;
    max-height: 230px;
    background-position: 95% 50%;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    line-height: 1.4;
    p {
      &, span {
        font-size: $fontSizeM! important;
        text-align: center;
      }
    }
  }
}


// -------------------------------------
// pat-item-bnr の装飾スタイル
// -------------------------------------

@mixin deco-style-pat-item-bnr-grade-1 { //footer 青1
  border: 1px solid #408bc2;
  background-color: #3c81f1;
  background-image: url("img/mod-bnr/_34/bg_a.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_34/spbg02_a.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}
@mixin deco-style-pat-item-bnr-grade-2 { //footer 青2
  border: 1px solid #3d6ea8;
  background-color: #2f5c98;
  background-image: url("img/mod-bnr/_34/bg_a_2.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_34/spbg02_a_2.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}
@mixin deco-style-pat-item-bnr-grade-3 { //footer 青3
  border: 1px solid #519dce;
  background-color: #418cc2;
  background-image: url("img/mod-bnr/_34/bg_a_3.png");
  .mod-bnr-inner {
    border: 1px solid #c9e2f0;
    background-image: url("img/mod-bnr/_34/spbg02_a_3.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}
@mixin deco-style-pat-item-bnr-grade-4 { //footer ピンク
  border: 1px solid #f2d028;
  background-color: #ecca26;
  background-image: url("img/mod-bnr/_34/bg_b.png");
  .mod-bnr-inner {
    border: 1px solid #7c6705;
    background-image: url("img/mod-bnr/_34/spbg02_b.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}
@mixin deco-style-pat-item-bnr-grade-5 { //footer 黄１
  border: 1px solid #f2d028;
  background-color: #ecca26;
  background-image: url("img/mod-bnr/_34/bg_b_2.png");
  .mod-bnr-inner {
    border: 1px solid #7c6705;
    background-image: url("img/mod-bnr/_34/spbg02_b_2.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}
@mixin deco-style-pat-item-bnr-grade-6 { //footer 黄2
  border: 1px solid #fda5a1;
  background-color: #fda19d;
  background-image: url("img/mod-bnr/_34/bg_b_3.png");
  .mod-bnr-inner {
    border: 1px solid #fd7872;
    background-image: url("img/mod-bnr/_34/spbg02_b_3.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}
@mixin deco-style-pat-item-bnr-grade-7 { //グレー
  border: 1px solid #889eb8;
  background-color: #c9c9c9;
  background-image: url("img/mod-bnr/_33/bg_b.png");
  .mod-bnr-inner {
    border: 1px solid #ececec;
    background-image: url("img/mod-bnr/_33/bg02_b.png");
    color: #0f375f;
    a {
      color: #0f375f;
    }
    a:hover {
      color: #0f375f;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-8 { //緑
  border: 1px solid #b9e4ea;
  background-color: #bcdfe4;
  background-image: url("img/mod-bnr/_33/bg_b_2.png");
  .mod-bnr-inner {
    border: 1px solid #f5fbfc;
    background-image: url("img/mod-bnr/_33/bg02_b_2.png");
    color: #12626c;
    a {
      color: #0f375f;
    }
    a:hover {
      color: #0f375f;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-9 { //薄黄
  border: 1px solid #cccc99;
  background-color: #e7e7ce;
  background-image: url("img/mod-bnr/_33/bg_b_3.png");
  .mod-bnr-inner {
    border: 1px solid #fffff6;
    background-image: url("img/mod-bnr/_33/bg02_b_3.png");
    color: #333300;
    a {
      color: #333300;
    }
    a:hover {
      color: #333300;
    }
  }
}

@mixin deco-style-pat-item-bnr-grade-16 { //1a2装飾文章
  border: 1px solid #f2d028;
  background-color: #ecc028;
  background-image: url("img/_pat-item/bnr-grade/bg.png");
  .mod-bnr-inner {
    border: 1px solid #fdf8da;
    background-image: url("img/mod-bnr/spbg02_2.png");
    color: #365997;
    a {
      color: #365997;
    }
    a:hover {
      color: #365997;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-17 { //1b1装飾文章
  border: 1px solid #347be8;
  background-color: #2a6ae2;
  background-image: url("img/_pat-item/bnr-grade/bg_2.png");
  .mod-bnr-inner {
    border: 1px solid #bfd7f8;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-18 { //1b2装飾文章
  border: 1px solid #f4d554;
  background-color: #f1cb45;
  background-image: url("img/_pat-item/bnr-grade/bg_3.png");
  .mod-bnr-inner {
    border: 1px solid #fcf2ca;
    background-image: url("img/mod-bnr/bg13.png");
    color: #2b436e;
    a {
      color: #2b436e;
    }
    a:hover {
      color: #2b436e;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-19 { //1b3装飾文章
  border: 1px solid #f38222;
  background-color: #f38424;
  background-image: url("img/_pat-item/bnr-grade/bg_4.png");
  .mod-bnr-inner {
    border: 1px solid #fde5d2;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-20 { //緑 新着情報
  border: 1px solid #55c2cf;
  background-color: #55c2cf;
  background-image: url("img/mod-bnr/bg_2.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/_pat-item/bnr-grade/spbg.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}
@mixin deco-style-pat-item-bnr-grade-21 { //橙 新着情報・サイド単体
  border: 1px solid #ff9547;
  background-color: #ff9547;
  background-image: url("img/mod-bnr/bg_3.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/_pat-item/bnr-grade/spbg_2.png");
    color: #ffffff;
    padding: 12px 40px 12px 10px;
  }
}


// メッシュ
@mixin deco-style-pat-item-bnr-mesh-1 { //footer 青
  border: 1px solid #0a81ce;
  background-color: transparent;
  background-image: url("img/mod-bnr/_34/spbg_c.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: none;
    color: #ffffff;
    padding: 12px 10px 12px 30px;
  }
}
@mixin deco-style-pat-item-bnr-mesh-2 { //footer 黄
  border: 1px solid #f2d028;
  background-color: transparent;
  background-image: url("img/mod-bnr/_34/spbg_c_2.png");
  .mod-bnr-inner {
    border: 1px solid #fbf0b8;
    background-image: none;
    color: #294470;
    padding: 12px 10px 12px 30px;
    a {
      color: #294470;
      &:hover {
        color: #294470;
      }
    }
  }
}
@mixin deco-style-pat-item-bnr-mesh-3 {//青2
  border: 1px solid #c9dfff;
  background-color: transparent;
  background-image: url("img/mod-bnr/_33/bg_c.png");
  background-repeat: no-repeat; //common打ち消し
  background-position: left -1px;
  .mod-bnr-inner {
    border: 1px solid #fdfeff;
    background-image: none;
    color: #284469;
    a {
      color: #284469;
    }
    a:hover {
      color: #284469;
    }
  }
}
@mixin deco-style-pat-item-bnr-mesh-4 {//黄2
  border: 1px solid #ffed67;
  background-color: transparent;
  background-image: url("img/mod-bnr/_33/bg_c_2.png");
  background-repeat: no-repeat; //common打ち消し
  background-position: left -1px;
  .mod-bnr-inner {
    border: 1px solid #fffffc;
    background-image: none;
    color: #45320b;
    a {
      color: #45320b;
    }
    a:hover {
      color: #45320b;
    }
  }
}
@mixin deco-style-pat-item-bnr-mesh-5 { //オレンジ
  border: 1px solid #ffc789;
  background-color: #ffe1c8;
  background-image: url("img/mod-bnr/_33/bg_c_3.png");
  background-repeat: no-repeat; //common打ち消し
  background-position: left -1px;
  .mod-bnr-inner {
    border: 1px solid #fffefd;
    background-image: none;
    color: #331b07;
    a {
      color: #331b07;
    }
    a:hover {
      color: #331b07;
    }
  }
}

@mixin deco-style-pat-item-bnr-mesh-9 { //1c1のピンク
  border: 1px solid #ff908a;
  background-color: transparent;
  background-image: url("img/_pat-item/bnr-mesh/bg.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #ffdddc;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-10 { //1c2の緑
  border: 1px solid #02a1b4;
  background-color: transparent;
  background-image: url("img/_pat-item/bnr-mesh/bg_2.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #a7e3e9;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-11 { //1c3の青
  border: 1px solid #519dce;
  background-color: transparent;
  background-image: url("img/_pat-item/bnr-mesh/bg_3.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #d1e7f3;
    background-image: none;
    color: #ffffff;
  }
}

//背景色つき
@mixin deco-style-pat-item-bnr-bgc-1 { //青
  border: 1px solid #a3c9fe;
  background-color: #d1e3fe;
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/bg_a.png");
    color: #335a93;
    a {
      color: #335a93;
    }
    a:hover {
      color: #335a93;
    }
  }
}
@mixin deco-style-pat-item-bnr-bgc-2 { //緑
  border: 1px solid #7ed0d9;
  background-color: #c2eef2;
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/bg_a_2.png");
    color: #172846;
    a {
      color: #172846;
    }
    a:hover {
      color: #172846;
    }
  }
}
@mixin deco-style-pat-item-bnr-bgc-3 { //ピンク
  border: 1px solid #ff968f;
  background-color: #fdcecc;
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/bg_a_3.png");
    color: #3d2612;
    a {
      color: #3d2612;
    }
    a:hover {
      color: #3d2612;
    }
  }
}



// -------------------------------------
// deco-style-pat-item-bnr-h
// -------------------------------------
@mixin deco-style-pat-item-bnr-h1 { //青
  border: 1px solid #a3c9fe;
  background-color: #d1e3fe;
  background-image: none;
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/spbg_a.png");
    color: #335a93;
    a { //common打ち消し
      color: #335a93;
    }
    a:hover {
      color: #335a93;
    }
  }
}
@mixin deco-style-pat-item-bnr-h2 { //緑
  border: 1px solid #7ed0d9;
  background-color: #c2eef2;
  background-image: none;
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/spbg_a_2.png");
    color: #172846;
    a { //common打ち消し
      color: #172846;
    }
    a:hover {
      color: #172846;
    }
  }
}
@mixin deco-style-pat-item-bnr-h3 { //ピンク
  border: 1px solid #ff968f;
  background-color: #fdcecc;
  background-image: none;
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/spbg_a_3.png");
    color: #3d2612;
    a { //common打ち消し
      color: #3d2612;
    }
    a:hover {
      color: #3d2612;
    }
  }
}
@mixin deco-style-pat-item-bnr-h4 { //グレー
  border: 1px solid #889eb8;
  background-color: #c9c9c9;
  background-image: url("img/mod-bnr/_33/bg_b.png");
  .mod-bnr-inner {
    border: 1px solid #ececec;
    background-image: url("img/mod-bnr/_33/spbg02_b.png");
    color: #0f375f;
    a { //common打ち消し
      color: #0f375f;
    }
    a:hover {
      color: #0f375f;
    }
  }
}
@mixin deco-style-pat-item-bnr-h5 { //緑
  border: 1px solid #b9e4ea;
  background-color: #bcdfe4;
  background-image: url("img/mod-bnr/_33/bg_b_2.png");
  .mod-bnr-inner {
    border: 1px solid #f5fbfc;
    background-image: url("img/mod-bnr/_33/spbg02_b_2.png");
    color: #12626c;
    a { //common打ち消し
      color: #0f375f;
    }
    a:hover {
      color: #0f375f;
    }
  }
}
@mixin deco-style-pat-item-bnr-h6 { //薄黄
  border: 1px solid #cccc99;
  background-color: #e7e7ce;
  background-image: url("img/mod-bnr/_33/bg_b_3.png");
  .mod-bnr-inner {
    border: 1px solid #fffff6;
    background-image: url("img/mod-bnr/_33/spbg02_b_3.png");
    color: #333300;
    a { //common打ち消し
      color: #333300;
    }
    a:hover {
      color: #333300;
    }
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-i
// -------------------------------------
@mixin deco-style-pat-item-bnr-i1 { //青
  border: 1px solid #c9dfff;
  background-color: transparent;
  background-image: url("img/mod-bnr/_33/bg_c.png");
  .mod-bnr-inner {
    border: 1px solid #fdfeff;
    background-image: none;
    color: #284469;
    a { //common打ち消し
      color: #284469;
    }
    a:hover {
      color: #284469;
    }
  }
}
@mixin deco-style-pat-item-bnr-i2 { //黄
  border: 1px solid #ffed67;
  background-color: transparent;
  background-image: url("img/mod-bnr/_33/bg_c_2.png");
  .mod-bnr-inner {
    border: 1px solid #fffffc;
    background-image: none;
    color: #45320b;
    a { //common打ち消し
      color: #45320b;
    }
    a:hover {
      color: #45320b;
    }
  }
}
@mixin deco-style-pat-item-bnr-i3 { //オレンジ
  border: 1px solid #ffc789;
  background-color: #ffe1c8;
  background-image: url("img/mod-bnr/_33/bg_c_3.png");
  .mod-bnr-inner {
    border: 1px solid #fffefd;
    background-image: none;
    color: #331b07;
    a { //common打ち消し
      color: #331b07;
    }
    a:hover {
      color: #331b07;
    }
  }
}



/////////////////////////////////////////
// ここからリファクタ
/////////////////////////////////////////

// -------------------------------------
//  module-style-pat-item-bnr
// -------------------------------------
@mixin module-style-pat-item-bnr {
  background-position: left top;
  background-repeat: repeat-x;
  .mod-bnr-inner {
    overflow: hidden;
    background-repeat: no-repeat;
  }
}
@mixin module-style-pat-item-bnr2 {
  background-position: left top;
  background-repeat: no-repeat;
  .mod-bnr-inner {
    overflow: hidden;
    background-repeat: no-repeat;
  }
}

// -------------------------------------
//  size-style-pat-item-bnr
// -------------------------------------
@mixin size-style-pat-item-bnr {
  .mod-bnr-inner {
    padding: 12px 40px 12px 10px;
    background-position: 95% 50%;
    background-size: 19px 19px;
  }
}
@mixin size-style-pat-item-bnr-side {
  .mod-bnr-inner {
    padding: 12px 35px 12px 10px;
    background-position: 95% 50%;
    background-size: 17px 17px;
    p {
      font-size: 16px !important;
      span {
        font-size: 16px !important;
      }
    }
  }
}
@mixin size-style-pat-item-bnr-1st-side {
  margin-top: 15px;
  .mod-bnr-inner {
    padding: 12px 35px 12px 10px;
    background-position: 95% 50%;
    background-size: 17px 17px;
    p {
      font-size: 16px !important;
      span {
        font-size: 16px !important;
      }
    }
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-b
// -------------------------------------
@mixin deco-style-pat-item-bnr-b1 { //1a1
  border: 1px solid #ff7c76;
  background-color: #ff7c76;
  background-image: url("img/mod-bnr/bg03.png");
  .mod-bnr-inner {
    border: 1px solid #ffdddc;
    background-image: url("img/mod-bnr/spbg05.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b2 { //1a2
  border: 1px solid #3d6ea8;
  background-color: #3d6ea8;
  background-image: url("img/mod-bnr/bg03_2.png");
  .mod-bnr-inner {
    border: 1px solid #c8d9ea;
    background-image: url("img/mod-bnr/spbg05_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b3 { //1a3
  border: 1px solid #408bc2;
  background-color: #408bc2;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #c9e2f0;
    background-image: url("img/mod-bnr/spbg05_3.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b4 {
  border: 1px solid #3a7ff0;
  background-color: #3a7ff0;
  background-image: url("img/mod-bnr/bg.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/spbg02.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b5 {
  border: 1px solid #3d6ea8;
  background-color: #3d6ea8;
  background-image: url("img/mod-bnr/bg03_2.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/spbg02_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b6 {
  border: 1px solid #ff9547;
  background-color: #ff9547;
  background-image: url("img/mod-bnr/bg_3.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/spbg02_3.png");
    color: #ffffff;
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-c
// -------------------------------------

@mixin deco-style-pat-item-bnr-c1 { //1c1
  border: 1px solid #ff7c76;
  background-color: #ff7c76;
  background-image: url("img/mod-bnr/bg03.png");
  .mod-bnr-inner {
    border: 1px solid #ffdddc;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-c2 { //1c2
  border: 1px solid #f2d028;
  background-color: #f2d028;
  background-image: url("img/mod-bnr/bg08_2.png");
  .mod-bnr-inner {
    border: 1px solid #fdf5d9;
    background-image: url("img/mod-bnr/bg13.png");
    color: #085B66;
  }
}
@mixin deco-style-pat-item-bnr-c3 { //1c3
  border: 1px solid #408bc2;
  background-color: #408bc2;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #c9e2f0;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-d
// -------------------------------------
@mixin deco-style-pat-item-bnr-d1 { //1c1
  border: 1px solid #ff7c76;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21.png");
  .mod-bnr-inner {
    border: 1px solid #ffdddc;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-d2 { //1c2
  border: 1px solid #55c2cf;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21_2.png");
  .mod-bnr-inner {
    border: 1px solid #d7f2f5;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-d3 { //1c3
  border: 1px solid #408bc2;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21_3.png");
  .mod-bnr-inner {
    border: 1px solid #d1e7f3;
    background-image: none;
    color: #ffffff;
  }
}


// -------------------------------------
//  module-style-pat-item-bnr-pic
// -------------------------------------
@mixin module-style-pat-item-bnr-pic {
  @include border-radius(3px);
  margin-top: 0; //common打ち消し
  background-position: left top;
  background-repeat: repeat-x;
  &:hover p {
    text-decoration: none;
  }
  .mod-bnr-inner {
    @include border-radius(3px);
    display: table;
    .mod-bnr-inner2 {
      display: table-cell;
      vertical-align: middle;
    }
    .mod-bnr-inner3 {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      span {
        text-align: left;
      }
    }
  }
}

// -------------------------------------
//  size-style-pat-item-bnr-pic
// -------------------------------------
@mixin size-style-pat-item-bnr-pic {
  .mod-bnr-inner {
    min-height: 60px;
    width: 100%;
    .mod-bnr-inner2 {
      width: 60px;
    }
    p {
      word-break: break-all;
      font-size: $fontSizeM + 2 !important;
      line-height: 1.3;
    }
    img {
      max-height: 60px;
      width: 60px;
    }
  }
}

// -------------------------------------
//  insize-style-pat-item-bnr-pic
// -------------------------------------
@mixin insize-style-pat-item-bnr-pic-k {
  .mod-bnr-inner3 {
    padding: 0 0 0 15px;
  }
}

// -------------------------------------
//  deco-style-pat-item-bnr-k
// -------------------------------------
@mixin deco-style-pat-item-bnr-k1 {
  border: 1px solid #3a7ff0;
  background-color: #3b80f1;
  background-image: url("img/mod-bnr/_36/bg_a.png");
  .mod-bnr-inner {
    padding: 3px;
    border: 1px solid #c7dffc;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k2 {
  border: 1px solid #68ceda;
  background-color: #55c1d0;
  background-image: url("img/mod-bnr/_36/bg_a_2.png");
  .mod-bnr-inner {
    padding: 3px;
    border: 1px solid #c7dffc;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k3 {
  border: 1px solid #f4892a;
  background-color: #f1751f;
  background-image: url("img/mod-bnr/_36/bg_a_3.png");
  .mod-bnr-inner {
    padding: 3px;
    border: 1px solid #fad1b2;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k4 {
  border: 1px solid #4973c8;
  background-color: #0f234b;
  background-image: url("img/mod-bnr/_36/bg_b.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k5 {
  border: 1px solid #096874;
  background-color: #096874;
  background-image: url("img/mod-bnr/_36/bg_b_2.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k6 {
  border: 1px solid #423108;
  background-color: #332505;
  background-image: url("img/mod-bnr/_36/bg_b_3.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k7 {
  border: 1px solid #4281f3;
  background-color: #4281f3;
  background-image: url("img/mod-bnr/_36/bg_c.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k8 {
  border: 1px solid #57bdce;
  background-color: #56b8cb;
  background-image: url("img/mod-bnr/_36/bg_c_2.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-bnr-k9 {
  border: 1px solid #ff9244;
  background-color: #e26801;
  background-image: url("img/mod-bnr/_36/bg_c_3.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
    }
  }
}

