@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-item-rte-in2
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-rte-in2 の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-rte-in2 {
  margin: 30px auto 0 auto;
  h1 span,
  h2 span {
    font-size: $fontSizeL + 2 !important;
  }
  h3 span {
    font-size: $fontSizeL !important;
  }
  h4 span,
  h5 span {
    font-size: $fontSizeM + 2 !important;
  }
  p {
    margin-top: 15px;
    font-size:14px !important;
    line-height: 1.6;
    &:first-child {
      margin-top: 0;
    }
    img {
      max-width: 100%;
    }
    span {
      font-size:14px !important;
    }
  }
  th, td {
    vertical-align: top;
  }
}


// -------------------------------------
//  pat-item-rte-in2 の共通デザイン
// -------------------------------------

// ドット用
@mixin module-style-pat-item-rte-in2-1 {
  padding: 11px 15px;
}

// 二重線用
@mixin module-style-pat-item-rte-in2-2 {
  padding: 10px 15px;
}


// -------------------------------------
// pat-item-rte-in2  の装飾スタイル
// -------------------------------------
// ドット
@mixin deco-style-pat-item-rte-in2-dotted-1 {
  border-top: 2px dotted #5596f6;
  border-bottom: 2px dotted #5596f6;
  color: #4f4f4f;
}
@mixin deco-style-pat-item-rte-in2-dotted-2 {
  border-top: 2px dotted #d1b422;
  border-bottom: 2px dotted #d1b422;
  color: #4f4f4f;
}
@mixin deco-style-pat-item-rte-in2-dotted-3 {
  border-top: 2px dotted #ffc38d;
  border-bottom: 2px dotted #ffc38d;
  color: #4f4f4f;
}

// 二重
@mixin deco-style-pat-item-rte-in2-double-1 {
  border-top: 3px double #16305f;
  border-bottom: 3px double #16305f;
  color: #333333;
}
@mixin deco-style-pat-item-rte-in2-double-2 {
  border-top: 3px double #16305f;
  border-bottom: 3px double #16305f;
  color: #333333;
}
@mixin deco-style-pat-item-rte-in2-double-3 {
  border-top: 3px double #16305f;
  border-bottom: 3px double #16305f;
  color: #333333;
}
@mixin deco-style-pat-item-rte-in2-double-4 {
  border-top: 3px double #331b07;
  border-bottom: 3px double #331b07;
  color: #333333;
}
@mixin deco-style-pat-item-rte-in2-double-5 {
  border-top: 3px double #bea31f;
  border-bottom: 3px double #bea31f;
  color: #333333;
}
@mixin deco-style-pat-item-rte-in2-double-6 {
  border-top: 3px double #331b07;
  border-bottom: 3px double #331b07;
  color: #333333;
}
