@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-item-navi-footer（通常デザイン）
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-navi-footer の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-navi-footer {
  margin: 0;
  padding: 0;
  .mod-set-navi-inner {
    margin: 0;
    padding: 0;
  }
}



// -------------------------------------
// pat-item-navi-footer の共通デザイン
// -------------------------------------

@mixin module-style-pat-item-navi-footer {
}


// -------------------------------------
// pat-item-navi-footer の装飾スタイル
// -------------------------------------

@mixin deco-style-pat-item-navi-footer {
}





