@charset "UTF-8";


%default-5col-inner {
  // float: left;
  // width: 132px;
  // padding-left: 20px;
  //@include background("mod-column/bg.png", $position-x: left, $position-y: center);
  padding-top : 30px;//SP用
  position : relative;
  :after {
    content: "";
    position: absolute;
    width: 100%;
    height: 44px;
    top: 0;
    left: 0;
    z-index: 1;
    margin: -20px 0;
    @include background("mod-column/bg.png", $position-x: 50%, $position-y: top);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);//SP用
  }
}
.mod-5col {
  @extend %cf;
  margin-bottom: 30px;
  > .mod-5col-inner {
    // float: left;
    // width: 112px;
  }
  > .mod-5col-inner2 {
    @extend %default-5col-inner;
  }
  > .mod-5col-inner3 {
    @extend %default-5col-inner;
  }
  > .mod-5col-inner4 {
    @extend %default-5col-inner;
  }
  > .mod-5col-inner5 {
    @extend %default-5col-inner;
  }
  .ex-style_01A2a &,
  .ex-style_01A2b &,
  .ex-style_01A2c &,
  .ex-style_01A2d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg_2.png", $position-x: 50%, $position-y: top);
      }
    }
  }
  .ex-style_01A3a &,
  .ex-style_01A3b &,
  .ex-style_01a3c &,
  .ex-style_01A3d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg_3.png", $position-x: 50%, $position-y: top);
      }
    }
  }
  .ex-style_01B1a &,
  .ex-style_01B1b &,
  .ex-style_01B1c &,
  .ex-style_01B1d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg02.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg02.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg02.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg02.png", $position-x: 50%, $position-y: top);
      }
    }
  }
  .ex-style_01B2a &,
  .ex-style_01B2b &,
  .ex-style_01B2c &,
  .ex-style_01B2d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg02_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg02_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg02_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg02_2.png", $position-x: 50%, $position-y: top);
      }
    }
  }
  .ex-style_01B3a &,
  .ex-style_01B3b &,
  .ex-style_01B3c &,
  .ex-style_01B3d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg02_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg02_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg02_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg02_3.png", $position-x: 50%, $position-y: top);
      }
    }
  }
  .ex-style_01C1a &,
  .ex-style_01C1b &,
  .ex-style_01C1c &,
  .ex-style_01C1d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg03.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg03.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg03.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg03.png", $position-x: 50%, $position-y: top);
      }
    }
  }
  .ex-style_01C2a &,
  .ex-style_01C2b &,
  .ex-style_01C2c &,
  .ex-style_01C2d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg03_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg03_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg03_2.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg03_2.png", $position-x: 50%, $position-y: top);
      }
    }
  }
  .ex-style_01C3a &,
  .ex-style_01C3b &,
  .ex-style_01C3c &,
  .ex-style_01C3d & {
    > .mod-5col-inner2 {
      :after {
        @include background("mod-column/bg03_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner3 {
      :after {
        @include background("mod-column/bg03_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner4 {
      :after {
        @include background("mod-column/bg03_3.png", $position-x: 50%, $position-y: top);
      }
    }
    > .mod-5col-inner5 {
      :after {
        @include background("mod-column/bg03_3.png", $position-x: 50%, $position-y: top);
      }
    }
  }
}
