@charset "UTF-8";


//  mod-info の mixin一式
@mixin mod-info-common-style {
  margin-bottom: 15px;
  @extend %cf;
  .mod-info-inner {
    width: 60px;
    padding: 0 20px;
    float: left;
    text-align: center;
    @include border-radius;
    color: #ffffff;
  }
  .mod-info-inner + .mod-info-inner2 {
    padding: 1px 0 0 10px;
    float: left;
    max-width: 340px;
  }
  .mod-info-inner2, .mod-info-inner[data-cms-switchable-use="false"] + .mod-info-inner2 {
    max-width: 100%;
    padding: 0;
  }
}

@mixin mod-info-style {
  .mod-info-inner {
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info-style2 {
  .mod-info-inner {
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info-style3 {
  .mod-info-inner {
    background-color: #426ca6;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info-style4 {
  .mod-info-inner {
    background-color: #ffa658;
  }
  .mod-info-inner2 {
    color: #56534e;
  }
}

@mixin mod-info-style5 {
  .mod-info-inner {
    background-color: #2e4a72;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info-style6 {
  .mod-info-inner {
    background-color: #095c66;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info-style7 {
  .mod-info-inner {
    background-color: #443308;
  }
  .mod-info-inner2 {
    color: #443308;
  }
}

@mixin mod-info-style8 {
  .mod-info-inner {
    background-color: #3f88f7;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info-style9 {
  .mod-info-inner {
    background-color: #5bc8d3;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info-style10 {
  .mod-info-inner {
    background-color: #408bc2;
  }
  .mod-info-inner2 {
    color: #45320b;
  }
}


//  mod-info2 の mixin一式
@mixin mod-info2-common-style {
  margin-bottom: 5px;
  @extend %cf;
  font-size: $fontSizeS + 1;
  .mod-info-inner {
    width: 60px;
    padding: 0 10px;
    float: left;
    text-align: center;
    @include border-radius;
  }
  .mod-info-inner2 {
    padding: 1px 0 0 10px;
    float: left;
    max-width: 150px;
  }
}

@mixin mod-info2-style {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info2-style2 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info2-style3 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #0b7d89;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info2-style4 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #519dce;
  }
  .mod-info-inner2 {
    color: #56534e;
  }
}

@mixin mod-info2-style5 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #2e4a72;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info2-style6 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #095c66;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info2-style7 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #443308;
  }
  .mod-info-inner2 {
    color: #443308;
  }
}

@mixin mod-info2-style8 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info2-style9 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #5bc8d3;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info2-style10 {
  .mod-info-inner {
    color: #45320b;
    background-color: #fff292;
  }
  .mod-info-inner2 {
    color: #45320b;
  }
}



//  mod-info3 の mixin一式
@mixin mod-info3-common-style {
  margin-bottom: 5px;
  @extend %cf;
  font-size: $fontSizeS + 1;
  .mod-info-inner{
    width: 60px;
    padding: 0 10px;
    float: left;
    text-align: center;
    @include border-radius;
  }
  .mod-info-inner2 {
    padding: 1px 0 0 10px;
    float: left;
    @extend %cf;
    max-width: 200px;
    .mod-info-inner2-2 {
      float: left;
    }
    .mod-info-inner2-3 {
      float: left;
      display: inline-block;
      max-width: 100%;
    }
  }
}

@mixin mod-info3-style {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info3-style2 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info3-style3 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #0b7d89;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info3-style4 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #519dce;
  }
  .mod-info-inner2 {
    color: #56534e;
  }
}

@mixin mod-info3-style5 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #2e4a72;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info3-style6 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #095c66;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info3-style7 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #443308;
  }
  .mod-info-inner2 {
    color: #443308;
  }
}

@mixin mod-info3-style8 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info3-style9 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #5bc8d3;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info3-style10 {
  .mod-info-inner {
    color: #45320b;
    background-color: #fff292;
  }
  .mod-info-inner2 {
    color: #45320b;
  }
}


//  mod-info4 の mixin一式
@mixin mod-info4-common-style {
  margin-bottom: 5px;
  @extend %cf;
  font-size: $fontSizeS + 1;
  .mod-info-inner {
    width: 60px;
    padding: 0 10px;
    float: left;
    text-align: center;
    @include border-radius;
  }
  .mod-info-inner2 {
    padding: 1px 0 0 10px;
    float: left;
    max-width: 190px;
  }
}

@mixin mod-info4-style {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info4-style2 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info4-style3 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #0b7d89;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info4-style4 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #519dce;
  }
  .mod-info-inner2 {
    color: #56534e;
  }
}

@mixin mod-info4-style5 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #2e4a72;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info4-style6 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #095c66;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info4-style7 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #443308;
  }
  .mod-info-inner2 {
    color: #443308;
  }
}

@mixin mod-info4-style8 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info4-style9 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #5bc8d3;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info4-style10 {
  .mod-info-inner {
    color: #45320b;
    background-color: #fff292;
  }
  .mod-info-inner2 {
    color: #45320b;
  }
}


//  mod-info5 の mixin一式
@mixin mod-info5-common-style {
  margin-bottom: 5px;
  font-size: $sideFontSizeM;
  @extend %cf;
  .mod-info-inner {
    max-width: 100%;
    min-width: 20px;
    float: left;
  }
  .mod-info-inner2 {
    max-width: 100%;
    @include box-sizing(border-box);
    float: left;
    display: inline-block;
  }
}

@mixin mod-info5-style {
  .mod-info-inner {
    color: #333333;
  }
}

@mixin mod-info5-style2 {
  .mod-info-inner {
    color: #333333;
  }
}

@mixin mod-info5-style3 {
  .mod-info-inner {
    color: #333333;
  }
}

@mixin mod-info5-style4 {
  .mod-info-inner {
    color: #56534e;
  }
}

@mixin mod-info5-style5 {
  .mod-info-inner {
    color: #ffffff;
  }
}

@mixin mod-info5-style6 {
  .mod-info-inner {
    color: #ffffff;
  }
}

@mixin mod-info5-style7 {
  .mod-info-inner {
    color: #443308;
  }
}

@mixin mod-info5-style8 {
  .mod-info-inner {
    color: #333333;
  }
}

@mixin mod-info5-style9 {
  .mod-info-inner {
    color: #333333;
  }
}

@mixin mod-info5-style10 {
  .mod-info-inner {
    color: #45320b;
  }
}


//  mod-info6 の mixin一式
@mixin mod-info6-common-style {
  margin-bottom: 15px;
  @extend %cf;
  .mod-info-inner {
    width: 64px;
    padding: 0 8px;
    float: left;
    text-align: center;
    @include border-radius;
  }
  .mod-info-inner + .mod-info-inner2 {
    padding: 1px 0 0 20px;
    float: left;
    max-width: 200px;
  }
  .mod-info-inner2, .mod-info-inner[data-cms-switchable-use="false"] + .mod-info-inner2 {
    max-width: 100%;
    padding: 0;
  }
}

@mixin mod-info6-style {
  .mod-info-inner{
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info6-style2 {
  .mod-info-inner{
    color: #ffffff;
    background-color: #1d6fde;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info6-style3 {
  .mod-info-inner{
    color: #ffffff;
    background-color: #426ca6;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info6-style4 {
  .mod-info-inner{
    color: #ffffff;
    background-color: #ffa658;
  }
  .mod-info-inner2 {
    color: #56534e;
  }
}

@mixin mod-info6-style5 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #2e4a72;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info6-style6 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #095C66;
  }
  .mod-info-inner2 {
    color: #ffffff;
  }
}

@mixin mod-info6-style7 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #443308;
  }
  .mod-info-inner2 {
    color: #443308;
  }
}

@mixin mod-info6-style8 {
  .mod-info-inner{
    color: #ffffff;
    background-color: #3f88f7;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info6-style9 {
  .mod-info-inner{
    color: #ffffff;
    background-color: #5bc8d3;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

@mixin mod-info6-style10 {
  .mod-info-inner{
    color: #ffffff;
    background-color: #408bc2;
  }
  .mod-info-inner2 {
    color: #45320b;
  }
}


//  mod-info7 の mixin一式
@mixin mod-info7-common-style {
  margin-bottom: 10px;
  @extend %cf;
  .mod-info-inner{
    width: 60px;
    padding: 0 20px;
    float: left;
    text-align: center;
    @include border-radius;
  }
  .mod-info-inner2 {
    padding: 1px 0 0 10px;
    float: left;
    max-width: 220px;
  }
}

@mixin mod-info7-style {
  .mod-info-inner{
    color: #ffffff;
    background-color: #1d6fde;
  }
}

@mixin mod-info7-style2 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #1d6fde;
  }
}

@mixin mod-info7-style3 {
  .mod-info-inner {
    color: #365997;
    background-color: #ffe876;
  }
}

@mixin mod-info7-style4 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #519dce;
  }
}

@mixin mod-info7-style5 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #3C66BA;
  }
}

@mixin mod-info7-style6 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #095C66;
  }
}

@mixin mod-info7-style7 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #443308;
  }
}

@mixin mod-info7-style8 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #5596f6;
  }
}

@mixin mod-info7-style9 {
  .mod-info-inner {
    color: #ffffff;
    background-color: #5bc8d3;
  }
}

@mixin mod-info7-style10 {
  .mod-info-inner {
    color: #45320b;
    background-color: #f2d028;
  }
}


//  mod-info8 の mixin一式
@mixin mod-info8-common-style {
  margin-bottom: 15px;
  @extend %cf;
  .mod-info-inner {
    width: 140px;
    margin-right:15px;
    @include border-radius();
    text-align: center;
    float: left;
  }
  .mod-info-inner2 {
    width: 485px;
    float: left;
    overflow: hidden;
  }
}

@mixin mod-info8-style {
  border-bottom: 0px none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-image: none;
    background-repeat: repeat;
    background-color: #f59e3b;
    background-position: left top;
  }
}

@mixin mod-info8-style2 {
  border-bottom: 0px none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-image: none;
    background-repeat: repeat;
    background-color: #f59e3b;
    background-position: left top;
  }
}

@mixin mod-info8-style3 {
  border-bottom: 0px none transparent;
  .mod-info-inner {
    color: #333333;
    background-image: none;
    background-repeat: repeat;
    background-color: #ffe876;
    background-position: left top;
  }
}

@mixin mod-info8-style4 {
  border-bottom: 0px none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-image: none;
    background-repeat: repeat;
    background-color: #519dce;
    background-position: left top;
  }
}

@mixin mod-info8-style5 {
  border-bottom: 0px none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-image: url("img/mod-info/bg.png");
    background-repeat: repeat-x;
    background-color: #3a66b7;
    background-position: left top;
  }
}

@mixin mod-info8-style6 {
  border-bottom: 0px none transparent;
  .mod-info-inner {
    color: #085b66;
    background-image: url("img/mod-info/bg_2.png");
    background-repeat: repeat-x;
    background-color: #FEEB91;
    background-position: left top;
  }
}

@mixin mod-info8-style7 {
  border-bottom: 0px none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-image: url("img/mod-info/bg_3.png");
    background-repeat: repeat-x;
    background-color: #7CB4D8;
    background-position: left top;
  }
}

@mixin mod-info8-style8 {
  border-bottom: 1px dotted #cccccc;
  .mod-info-inner {
    color: #f7931d;
    background-image: url("img/mod-info/bg03.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left 6px;
  }
}

@mixin mod-info8-style9 {
  border-bottom: 1px dotted #cccccc;
  .mod-info-inner {
    color: #067e87;
    background-image: url("img/mod-info/bg03_2.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left 6px;
  }
}

@mixin mod-info8-style10 {
  border-bottom: 1px dotted #cccccc;
  .mod-info-inner {
    color: #416ca3;
    background-image: url("img/mod-info/bg03_3.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left 6px;
  }
}


//  mod-info9 の mixin一式
@mixin mod-info9-common-style {
  margin-bottom: 15px;
  > p:first-child {
    width: 140px;
    margin-bottom:10px;
    @include border-radius();
    text-align: center;
  }
}


@mixin mod-info9-style {
  border-bottom: 0px none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #f59e3b;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
  }
}

@mixin mod-info9-style2 {
  border-bottom: 0px none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #f59e3b;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
  }
}

@mixin mod-info9-style3 {
  border-bottom: 0px none transparent;
  > p:first-child {
    color: #333333;
    background-color: #ffe876;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
  }
}

@mixin mod-info9-style4 {
  border-bottom: 0px none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #519dce;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
  }
}

@mixin mod-info9-style5 {
  border-bottom: 0px none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #3a66b7;
    background-image: url("img/mod-info/bg.png");
    background-repeat: repeat-x;
    background-position: left top;
  }
}

@mixin mod-info9-style6 {
  border-bottom: 0px none transparent;
  > p:first-child {
    color: #085b66;
    background-color: #FEEB91;
    background-image: url("img/mod-info/bg_2.png");
    background-repeat: repeat-x;
    background-position: left top;
  }
}

@mixin mod-info9-style7 {
  border-bottom: 0px none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #7CB4D8;
    background-image: url("img/mod-info/bg_3.png");
    background-repeat: repeat-x;
    background-position: left top;
  }
}

@mixin mod-info9-style8 {
  border-bottom: 1px dotted #cccccc;
  > p:first-child {
    color: #f7931d;
    background-color: #ffffff;
    background-image: url("img/mod-info/bg03.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
}

@mixin mod-info9-style9 {
  border-bottom: 1px dotted #cccccc;
  > p:first-child {
    color: #067e87;
    background-color: #ffffff;
    background-image: url("img/mod-info/bg03_2.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
}

@mixin mod-info9-style10 {
  border-bottom: 1px dotted #cccccc;
  > p:first-child {
    color: #416ca3;
    background-color: #ffffff;
    background-image: url("img/mod-info/bg03_3.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
}


//  mod-info10 の mixin一式
@mixin mod-info10-common-style {
  @extend %cf;
  .mod-info-inner {
    width: 48px;
    padding: 0 3px;
    float: left;
    text-align: center;
    font-size: $fontSizeS - 1;
    @include border-radius(3px);
  }
  .mod-info-inner2 {
    padding: 0 0 1px 7px;
    float: left;
    max-width: 158px;
    font-size: $fontSizeS ;
  }
}

@mixin mod-info10-style {
  .mod-info-inner {
    color: #ffffff;
    background-color: #ff8809;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}


//  mod-info11 の mixin一式
@mixin mod-info11-common-style {
  display: table;
  max-width: 100%;
  margin-bottom: 5px;
  .mod-info-inner {
    display: table-cell;
    vertical-align: middle;
    width: 48px;
    padding: 0 3px;
    text-align: center;
    font-size: $fontSizeS - 1;
    @include border-radius(3px);
  }
  .mod-info-inner2 {
    display: table-cell;
    padding: 0 0 1px 7px;
    font-size: $fontSizeS ;
  }
}


@mixin mod-info11-style {
  .mod-info-inner {
    color: #ffffff;
    background-color: #ff8809;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}

//  mod-info12 の mixin一式
@mixin mod-info12-common-style {
  @extend %cf;
  .mod-info-inner {
    width: 48px;
    padding: 0 3px;
    float: left;
    text-align: center;
    font-size: $fontSizeS - 1;
    @include border-radius(3px);
  }
  .mod-info-inner2 {
    padding: 0 0 1px 7px;
    float: left;
    max-width: 135px;
    font-size: $fontSizeS ;
  }
}

@mixin mod-info12-style {
  .mod-info-inner {
    color: #ffffff;
    background-color: #ff8809;
  }
  .mod-info-inner2 {
    color: #333333;
  }
}