@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-design-fukidashi の定義
//
//   ・デザインパターン
//   ・mod-set-fukidashi内にincludeされる使い方を想定
//   ・他のsetモジュール（お客さまの声、等）でも使われる可能性あり
//   ・このモジュール単独では使われない（部品にクラスとして記述されない）
//
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// pat-design-fukidashi の装飾スタイル
// --------------------------------------------------------------------------

// mod-copy-M の装飾
@mixin deco-style-mod-copy-M-fukidashi {
  margin-top: 15px;
  text-align: center;
  p {
    &, span {
      font-size: $fontSizeM + 1 !important;
      line-height: 1.3;
    }
  }
}

// mod-copy-S の装飾
@mixin deco-style-mod-copy-S-fukidashi {
  margin-top: 15px;
  text-align: center;
  p {
    &, span {
      font-size: $fontSizeM !important;
      line-height: 1.3;
    }
  }
}


// --------------------------------------------------------------------------
// pat-design-fukidashiの個別設定
// --------------------------------------------------------------------------

@mixin pat-design-fukidashi-1 {
  @include pat-item-waku-fukidashi-maru-red;
  .mod-copy-in2 {
    @include pat-item-copy-border-1;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-1;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #2e4970;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #222222;
  }
}

@mixin pat-design-fukidashi-2 {
  @include pat-item-waku-fukidashi-maru-blue;
  .mod-copy-in2 {
    @include pat-item-copy-border-2;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-1;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #2e4970;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #222222;
  }
}

@mixin pat-design-fukidashi-3 {
  @include pat-item-waku-fukidashi-maru-red-2;
  .mod-copy-in2 {
    @include pat-item-copy-border-3;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-1;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #781b0e;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #222222;
  }
}

@mixin pat-design-fukidashi-4 {
  @include pat-item-waku-fukidashi-shikaku-gray;
  .mod-copy-in2 {
    @include pat-item-copy-grade-1;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-2;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #222222;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #0f375f;
  }
}

@mixin pat-design-fukidashi-5 {
  @include pat-item-waku-fukidashi-shikaku-blue;
  .mod-copy-in2 {
    @include pat-item-copy-grade-2;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-1;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #222222;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #0f375f;
  }
}

@mixin pat-design-fukidashi-6 {
  @include pat-item-waku-fukidashi-shikaku-yellow;
  .mod-copy-in2 {
    @include pat-item-copy-grade-3;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-1;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #222222;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #5f140a;
  }
}

@mixin pat-design-fukidashi-7 {
  @include pat-item-waku-fukidashi-6kaku-blue-bgc;
  .mod-copy-in2 {
    @include pat-item-copy-repeat-1;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-3;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #2e4970;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #333333;
  }
}

@mixin pat-design-fukidashi-8 {
  @include pat-item-waku-fukidashi-6kaku-blue-bgc-2;
  .mod-copy-in2 {
    @include pat-item-copy-repeat-2;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-4;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #1e6fbf;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #333333;
  }
}

@mixin pat-design-fukidashi-9 {
  @include pat-item-waku-fukidashi-6kaku-pink-bgc;
  .mod-copy-in2 {
    @include pat-item-copy-repeat-3;
  }
  .mod-rte_ver2 {
    @include pat-item-rte-in2-double-5;
  }
  .mod-copy-M {
    @include deco-style-mod-copy-M-fukidashi;
    color: #2e4970;
  }
  .mod-copy-S {
    @include deco-style-mod-copy-S-fukidashi;
    color: #333333;
  }
}

