@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-design-tokucho の定義
//
//   ・デザインパターン
//   ・mod-set-tokucho 内にincludeされる使い方を想定
//   ・他のsetモジュール（お客さまの声、等）でも使われる可能性あり
//   ・このモジュール単独では使われない（部品にクラスとして記述されない）
//
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// pat-design-tokucho の共通スタイル
// --------------------------------------------------------------------------

@mixin deco-style-pat-design-tokucho-bunsyo {
  > .mod-box-inner {
    > .mod-box-inner2 {
      > .ex-first-child {
        > .ex-first-child {
          > .mod-set-tokucho-h4 {
            .mod-h_4_t1 {
              margin-top: 0 !important;
            }
          }
        }
      }
      .mod-rte_ver2,
      .mod-bnr_ver2 {
        margin-top: 15px;
      }
    }
  }
}


// --------------------------------------------------------------------------
// pat-design-tokucho の装飾スタイル
// --------------------------------------------------------------------------

// なし


// --------------------------------------------------------------------------
// pat-design-tokucho-bunsyo の個別設定
// --------------------------------------------------------------------------
@mixin pat-design-tokucho-bunsyo-1 {
  @include pat-item-waku-kadomaru-futo-gray;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-2 {
  @include pat-item-waku-kadomaru-futo-blue;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-3 {
  @include pat-item-waku-kadomaru-futo-pink;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-4 {
  @include pat-item-waku-kadomaru-simple-gray-grade;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-5 {
  @include pat-item-waku-kadomaru-simple-yellow-grade;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-6 {
  @include pat-item-waku-kadomaru-simple-yellow-grade;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-7 {
  @include pat-item-waku-kadomaru-image-gray;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-8 {
  @include pat-item-waku-kadomaru-image-gray;
  @include deco-style-pat-design-tokucho-bunsyo;
}
@mixin pat-design-tokucho-bunsyo-9 {
  @include pat-item-waku-kadomaru-image-pink;
  @include deco-style-pat-design-tokucho-bunsyo;
}




// --------------------------------------------------------------------------
// pat-design-tokucho-h の共通スタイル
// --------------------------------------------------------------------------
@mixin deco-style-pat-design-tokucho-h-1 {
  padding: 15px; // リボンタイトル用背景調整
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-h_4_t1 {
        margin-top: 20px;
      }
      .mod-set-h4 {
        .mod-box-in2 {
          margin-top: 0;
          .mod-h_4-inner3 {
            background-color: transparent;
            background-image: none;
          }
        }
      }
      > .mod-box-in2 {
        margin: 20px 0 0 0;
        background-color: #ffffff;
        > .mod-box-inner {
          > .mod-box-inner2 {
            padding: 14px 10px;
            > .ex-first-child {
              > .ex-first-child {
                > .mod-set-tokucho-h4 {
                  .mod-h_4_t1 {
                    margin-top: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
      .mod-rte_ver2 {
        margin-top: 15px;
      }
    }
  }
}
@mixin deco-style-pat-design-tokucho-h-2 {
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-h_4_t1 {
        margin-top: 20px;
      }
      .mod-set-h4 {
        .mod-box-in2 {
          .mod-h_4-inner3 {
            background-image: none;
            background-color: transparent;
          }
        }
      }
      > .mod-box-in2 {
        margin: 20px 0 0 0;
        > .mod-box-inner {
          > .mod-box-inner2 {
            padding: 15px;
            > .ex-first-child {
              > .ex-first-child {
                > .mod-set-tokucho-h4 {
                  .mod-h_4_t1 {
                    margin-top: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
      .mod-rte_ver2 {
        margin-top: 15px;
      }
    }
  }
}
@mixin deco-style-pat-design-tokucho-h-3 {
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-h_4_t1 {
        margin-top: 20px;
      }
      .mod-set-h4 {
        .mod-box-in2 {
          .mod-h_4-inner3 {
            background-image: none;
            background-color: transparent;
          }
        }
      }
      > .mod-box-in2 {
        margin: 20px 0 0 0;
        > .mod-box-inner {
          > .mod-box-inner2 {
            padding: 15px 15px 0;
            > .ex-first-child {
              > .ex-first-child {
                > .mod-set-tokucho-h4 {
                  .mod-h_4_t1 {
                    margin-top: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
      .mod-rte_ver2 {
        margin-top: 15px;
      }
    }
  }
}


// --------------------------------------------------------------------------
// pat-design-tokucho-h の個別設定
// --------------------------------------------------------------------------
@mixin pat-design-tokucho-h-1 {
  @include pat-item-waku-kado-simple-gray-bgc;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-ribbon-1;}
        .mod-rte_ver2 {
          margin-top: 10px;
        }
      }
      > .mod-box-in2 {
        @include pat-item-waku-none-bgc-white;
        padding: 6px 5px;
        .mod-h_4_t1 i {
          display: block;
        }
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-1;
}
@mixin pat-design-tokucho-h-2 {
  @include pat-item-waku-kado-simple-gray-bgc-2;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-ribbon-2;}
        .mod-rte_ver2 {
          margin-top: 10px;
        }
      }
      > .mod-box-in2 {
        @include pat-item-waku-none-bgc-white;
        padding: 6px 5px;
        .mod-h_4_t1 i {
          display: block;
        }
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-1;
}
@mixin pat-design-tokucho-h-3 {
  @include pat-item-waku-kado-simple-gray-bgc-3;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-ribbon-3;}
        .mod-rte_ver2 {
          margin-top: 10px;
        }
      }
      > .mod-box-in2 {
        @include pat-item-waku-none-bgc-white;
        padding: 6px 5px;
        .mod-h_4_t1 i {
          display: block;
        }
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-1;
}
@mixin pat-design-tokucho-h-4 {
  @include pat-item-waku-kado-none-bgc-gray;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-border-4;}
        .mod-rte_ver2 {
          color: #ffffff;
        }
      }
      > .mod-box-in2 {
        @include pat-item-waku-kado-none-grade-gray;
        padding: 0;
     }
   }
 }
  @include deco-style-pat-design-tokucho-h-2;
}
@mixin pat-design-tokucho-h-5 {
  @include pat-item-waku-kado-none-bgc-blue;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-border-5;}
        .mod-rte_ver2 {
          color: #ffffff;
        }
      }
      > .mod-box-in2 {
        @include pat-item-waku-kado-none-grade-blue-3;
        padding: 0;
        .mod-h,
        .mod-rte_ver2 {
          color: #ffffff;
        }
        .mod-h_4-inner2,
        .mod-h_4-inner4 {
          color: #f2d028;
        }
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-2;
}
@mixin pat-design-tokucho-h-6 {
  @include pat-item-waku-kado-none-bgc-red;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-border-6;}
        .mod-rte_ver2 {
          color: #ffffff;
        }
      }
      > .mod-box-in2 {
        @include pat-item-waku-kado-none-grade-white;
        padding: 0;
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-2;
}
@mixin pat-design-tokucho-h-7 {
  @include pat-item-waku-kado-simple-gray-bgimg;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-border-1;}
      }
      > .mod-box-in2 {
        @include pat-item-waku-board-blue-5;
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-3;
}
@mixin pat-design-tokucho-h-8 {
  @include pat-item-waku-kado-simple-blue-bgimg;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-border-2;}
      }
      > .mod-box-in2 {
        @include pat-item-waku-board-blue-6;
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-3;
}
@mixin pat-design-tokucho-h-9 {
  @include pat-item-waku-kado-simple-red-bgimg;
  > .mod-box-inner {
    > .mod-box-inner2 {
      .mod-set-h4 {
        .mod-box-in2 {@include pat-item-midashi-border-3;}
      }
      > .mod-box-in2 {
        @include pat-item-waku-board-red;
      }
    }
  }
  @include deco-style-pat-design-tokucho-h-3;
}



// --------------------------------------------------------------------------
// pat-design-tokucho-pic の共通スタイル
// --------------------------------------------------------------------------

@mixin common-style-pat-design-tokucho-pic {
  > .mod-box-inner {
    > .mod-box-inner2 {
      > .ex-first-child {
        margin-top: 0 !important;
      }
    }
  }
  .mod-h_4_t1 {
    position: relative;
    &:before {
      content: "";
      display: block;
      min-height: 57px;
      width: 0;
    }
    .mod-icon_num4 {
      min-width: 57px;
      position: absolute;
      top: 0;
    }
    .mod-h_4-inner {
      width: 100%;
    }
  }
}


// --------------------------------------------------------------------------
// pat-design-tokucho-pic の装飾スタイル
// --------------------------------------------------------------------------

@mixin deco-style-pad-design-tokucho-pic-1 {
  .mod-h_4_t1 {
    .mod-h_4-inner {
      .mod-h_4-inner2 {
        padding: 6px 10px 0 62px;
        @include border-radius(5px 0 0 0);
      }
      .mod-h_4-inner3 {
        .mod-h {
          padding: 0 5px 6px 62px;
        }
        &.ex-first-child {
          .mod-h {
            padding: 3px 5px 3px 62px;
          }
        }
      }
      .mod-h_4-inner4 {
        padding: 3px 5px 0 62px;
      }
    }
  }
}
@mixin deco-style-pad-design-tokucho-pic-2 {
  .mod-h_4_t1 {
    .mod-icon_num4 {
      margin-left: 4px;
    }
    .mod-h_4-inner {
      .mod-h_4-inner2 {
        padding: 7px 5px 0 58px;
      }
      .mod-h_4-inner3 {
        .mod-h {
          padding: 1px 5px 5px 58px;
        }
        &.ex-first-child {
          .mod-h {
            padding: 3px 5px 3px 58px;
          }
        }
      }
      .mod-h_4-inner4 {
        padding: 3px 5px 0 58px;
      }
    }
  }
}


// --------------------------------------------------------------------------
// pat-design-tokucho-pic の個別設定
// --------------------------------------------------------------------------
@mixin pat-design-tokucho-pic-1 {
  @include pat-item-waku-pic-a1;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-1;
}
@mixin pat-design-tokucho-pic-2 {
  @include pat-item-waku-pic-a2;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-1;
}
@mixin pat-design-tokucho-pic-3 {
  @include pat-item-waku-pic-a3;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-1;
}
@mixin pat-design-tokucho-pic-4 {
  @include pat-item-waku-pic-b1;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-1;
}
@mixin pat-design-tokucho-pic-5 {
  @include pat-item-waku-pic-b2;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-1;
}
@mixin pat-design-tokucho-pic-6 {
  @include pat-item-waku-pic-b3;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-1;
}
@mixin pat-design-tokucho-pic-7 {
  @include pat-item-waku-pic-c1;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-2;
}
@mixin pat-design-tokucho-pic-8 {
  @include pat-item-waku-pic-c1;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-2;
}
@mixin pat-design-tokucho-pic-9 {
  @include pat-item-waku-pic-c1;
  @include common-style-pat-design-tokucho-pic;
  @include deco-style-pad-design-tokucho-pic-2;
}
