@charset "UTF-8";

@mixin mod-2col26-common-style {
  @extend %cf;
  margin-top: 25px;
  > .mod-2col-inner {
    float: right;
    @if $layoutCode == "L25" or $layoutCode == "R25" {
      width: 90px;
    } @else if $layoutCode == "L30" or $layoutCode == "R30" {
      width: 86px;
    }
    margin-left: 15px;
     > .ex-first-child {
      margin-top: 0 !important;
       > .ex-first-child {
        margin-top: 0 !important;
      }
    }
  }
  > .mod-2col-inner2 {
    overflow: hidden;
     > .ex-first-child {
      margin-top: 0 !important;
       > .ex-first-child {
        margin-top: 0 !important;
      }
    }
  }
  .ex-imgLayout_l & {
    .mod-2col-inner {
      float: left;
      margin-right: 15px;
      margin-left: 0;
    }
  }
  .ex-imgFloat & {
     .mod-2col-inner {
      margin-bottom: 12px;
    }
    .mod-2col-inner2 {
      overflow: visible;
    }
  }
}

