@charset "UTF-8";

@mixin mod-cell12-common-style {
word-break: break-all;
  line-height: 1.0;
  font-size: $sideFontSizeL - 1;
  font-weight: bold;
  margin-top: 10px !important;
}

@mixin mod-cell12-style {
  color: #f7931d;
}
@mixin mod-cell12-style2 {
  color: #333333;
}
@mixin mod-cell12-style3 {
  color: #45320b;
}

