@mixin mod-3col10-common-style {
  margin-top: 10px;
  @extend %cf;
  .mod-3col-wrap {
    .mod-3col-inner {
      float: left;
      width: floor(($mainWidth - 40) / 3);
      margin-right: 10px;
      .mod-3col-inner-3 {
        > .ex-first-child {
          margin-top: 0 !important;
        }
      }
    }
    .mod-3col-inner2 {
      float: left;
      width: floor(($mainWidth - 40) / 3);
      margin-right: 10px;
      .mod-3col-inner2-3 {
        > .ex-first-child {
          margin-top: 0 !important;
        }
      }
    }
    .mod-3col-inner3 {
      float: right;
      width: floor(($mainWidth - 40) / 3);
      .mod-3col-inner3-3 {
        > .ex-first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
}