@charset "UTF-8";


@mixin mod-box29-common-style {
  width: 100%;
  padding: 3px 5px;
  min-height: 20px;
  background-color: #3c3c3c;
}
@mixin mod-box29-style {
}
@mixin mod-box29-style2 {
  background-color: #0f375f;
}
@mixin mod-box29-style3 {
  background-color: #70180c;
}
@mixin mod-box29-style4 {
  background-color: #103760;
}
@mixin mod-box29-style5 {
  background-color: #5e1409;
}
@mixin mod-box29-style6 {
  background-color: #5f140a;
}