@charset "UTF-8";

@mixin mod-table11-common-style {
margin-top: 10px;
  table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    tr:first-child {
      font-size: $fontSizeM;
      > th:first-child {
        width: 30%;
        padding: 10px 5px;
      }
      > td:first-child {
        width: 30%;
        padding: 10px 5px;
      }
    }
    tr {
      th:first-child {
        font-weight: normal;
        text-align: left;
      }
      td:first-child {
        font-weight: normal;
        text-align: left;
      }
    }
    th {
      font-weight: normal;
    }
    td {
      font-weight: bold;
    }
    tbody {
      tr:first-child {
        th {
        font-size: $fontSizeM;
        }
        td {
          font-size: $fontSizeM;
        }
      }
      tr:first-child ~ tr {
        th:first-child {
        font-size: $fontSizeM;
        }
        td:first-child {
          font-size: $fontSizeM;
        }
        th {
          width: auto;
          padding: 10px 5px;
          font-size: $fontSizeS + 1;
        }
        td {
          padding: 10px 5px;
          font-size: $fontSizeS + 1;
        }
      }
    }
    thead + tbody {
      tr:first-child, tr {
        th:first-child {
          font-size: $fontSizeM;
        }
        td:first-child {
          font-size: $fontSizeM;
        }
        th {
          width: auto;
          padding: 10px 5px;
          font-size: $fontSizeS + 1;
        }
        td {
          padding: 10px 5px;
          font-size: $fontSizeS + 1;
        }
      }
    }
  }
  > p {
    margin-top: 12px;
  }
  > p:first-child {
    margin-top: 0;
  }
}

@mixin mod-table11-style {
table {
    color: #333333;
    background-image: none;
    background-repeat: repeat;
    tr:first-child {
      th {
        border-top: 1px solid #bbbbbb;
        border-bottom: 1px solid #bbbbbb;
        border-left: 1px solid #bbbbbb;
        background-color: #222222;
        background-image: none;
        background-repeat: repeat;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #bbbbbb;
      }
    }
    th {
      border-top: 1px solid #bbbbbb;
      border-right: 1px solid #bbbbbb;
      color: #ffffff;
      background-color: #222222;
    }
    td {
      border: 1px solid #d2ccaa;
      background-color: #ffffff;
    }
  }
}
@mixin mod-table11-style2 {
table {
    color: #333333;
    background-image: none;
    background-repeat: repeat;
    tr:first-child {
      th {
        border-top: 1px solid #bbbbbb;
        border-bottom: 1px solid #bbbbbb;
        border-left: 1px solid #bbbbbb;
        background-color: #325073;
        background-image: none;
        background-repeat: repeat;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #bbbbbb;
      }
    }
    th {
      border-top: 1px solid #bbbbbb;
      border-right: 1px solid #bbbbbb;
      color: #ffffff;
      background-color: #325073;
    }
    td {
      border: 1px solid #bbbbbb;
      background-color: #ffffff;
    }
  }
}
@mixin mod-table11-style3 {
table {
    color: #333333;
    background-image: none;
    background-repeat: no-repeat;
    tr:first-child {
      th {
        border-top: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #333333;
        background-color: #707070;
        background-image: url("img/mod-table/bg02.png");
        background-repeat: repeat-x;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #333333;
      }
    }
    th {
      border-top: 1px solid #333333;
      border-right: 1px solid #333333;
      color: #ffffff;
      background-color: #707070;
    }
    td {
      border: 1px solid #333333;
      background-color: #ffffff;
    }
  }
}
@mixin mod-table11-style4 {
table {
    color: #333333;
    background-image: none;
    background-repeat: repeat;
    tr:first-child {
      th {
        border-top: 1px solid #0b2031;
        border-bottom: 1px solid #0b2031;
        border-left: 1px solid #0b2031;
        background-color: #0e2437;
        background-image: url("img/mod-table/bg02_2.png");
        background-repeat: repeat-x;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #0b2031;
      }
    }
    th {
      border-top: 1px solid #0b2031;
      border-right: 1px solid #0b2031;
      color: #ffffff;
      background-color: #0e2437;
    }
    td {
      border: 1px solid #0b2031;
      background-color: #ffffff;
    }
  }
}
@mixin mod-table11-style5 {
table {
    color: #333333;
    background-image: none;
    background-repeat: repeat;
    tr:first-child {
      th {
        border-top: 1px solid #50140c;
        border-bottom: 1px solid #50140c;
        border-left: 1px solid #50140c;
        background-color: #48120b;
        background-image: url("img/mod-table/bg02_3.png");
        background-repeat: repeat-x;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #50140c;
      }
    }
    th {
      border-top: 1px solid #50140c;
      border-right: 1px solid #50140c;
      color: #ffffff;
      background-color: #48120b;
    }
    td {
      border: 1px solid #50140c;
      background-color: #ffffff;
    }
  }
}
@mixin mod-table11-style6 {
table {
    color: #333333;
    background-image: url("img/mod-table/bg03.png");
    background-repeat: no-repeat;
    tr:first-child {
      th {
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        border-left: 1px solid #aaaaaa;
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #aaaaaa;
      }
    }
    th {
      border-top: 1px solid #aaaaaa;
      border-right: 1px solid #aaaaaa;
      color: #ffffff;
      background-color: #393939;
    }
    td {
      border: 1px solid #aaaaaa;
      background-color: #ffffff;
    }
  }
}
@mixin mod-table11-style7 {
table {
    color: #333333;
    background-image: url("img/mod-table/bg03_2.png");
    background-repeat: no-repeat;
    tr:first-child {
      th {
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        border-left: 1px solid #aaaaaa;
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #aaaaaa;
      }
    }
    th {
      border-top: 1px solid #aaaaaa;
      border-right: 1px solid #aaaaaa;
      color: #ffffff;
      background-color: #0e3257;
    }
    td {
      border: 1px solid #aaaaaa;
      background-color: #ffffff;
    }
  }
}
@mixin mod-table11-style8 {
table {
    color: #333333;
    background-image: url("img/mod-table/bg03_3.png");
    background-repeat: no-repeat;
    tr:first-child {
      th {
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        border-left: 1px solid #aaaaaa;
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        color: #ffffff;
      }
      th:last-child {
        border-right: 1px solid #aaaaaa;
      }
    }
    th {
      border-top: 1px solid #aaaaaa;
      border-right: 1px solid #aaaaaa;
      color: #ffffff;
      background-color: #571209;
    }
    td {
      border: 1px solid #aaaaaa;
      background-color: #ffffff;
    }
  }
}

