@charset "UTF-8";

//  mod-icon_num4 の mixin一式
@mixin mod-icon_num4-common-style {
  .mod-icon_num4 {
    .step1 &, .step2 &, .step3 &, .step4 &, .step5 &,
    .step6 &, .step7 &, .step8 &, .step9 &, .step10 & {
      background-repeat: no-repeat;
    }
  }
}





@mixin mod-icon_num4-style {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg02.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg03.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg04.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg05.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg06.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg07.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg08.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg09.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg10.png);
    }
  }
}


@mixin mod-icon_num4-style2 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg_2.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg02_2.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg03_2.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg04_2.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg05_2.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg06_2.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg07_2.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg08_2.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg09_2.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg10_2.png);
    }
  }
}

@mixin mod-icon_num4-style3 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg_3.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg02_3.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg03_3.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg04_3.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg05_3.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg06_3.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg07_3.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg08_3.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg09_3.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/08/bg10_3.png);
    }
  }
}

@mixin mod-icon_num4-style4 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg02.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg03.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg04.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg05.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg06.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg07.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg08.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg09.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg10.png);
    }
  }
}

@mixin mod-icon_num4-style5 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg01_2.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg02_2.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg03_2.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg04_2.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg05_2.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg06_2.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg07_2.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg08_2.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg09_2.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg10_2.png);
    }
  }
}

@mixin mod-icon_num4-style6 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg01_3.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg02_3.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg03_3.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg04_3.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg05_3.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg06_3.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg07_3.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg08_3.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg09_3.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/12/bg10_3.png);
    }
  }
}

@mixin mod-icon_num4-style7 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg02.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg03.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg04.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg05.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg06.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg07.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg08.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg09.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg10.png);
    }
  }
}

@mixin mod-icon_num4-style8 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg_2.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg02_2.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg03_2.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg04_2.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg05_2.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg06_2.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg07_2.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg08_2.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg09_2.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg10_2.png);
    }
  }
}

@mixin mod-icon_num4-style9 {
  .step1 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg_3.png);
    }
  }
  .step2 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg02_3.png);
    }
  }
  .step3 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg03_3.png);
    }
  }
  .step4 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg04_3.png);
    }
  }
  .step5 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg05_3.png);
    }
  }
  .step6 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg06_3.png);
    }
  }
  .step7 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg07_3.png);
    }
  }
  .step8 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg08_3.png);
    }
  }
  .step9 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg09_3.png);
    }
  }
  .step10 {
    .mod-icon_num4 {
      background-image: url(img/mod-h_4/26/bg10_3.png);
    }
  }
}


