@charset "UTF-8";

@mixin mod-email10-common-style {
font-weight: normal;
  word-break: break-all;
  line-height: 1.0;
  margin-top: 10px !important;
}

@mixin mod-email10-style {
  color: #333333;
}
@mixin mod-email10-style2 {
  color: #010911;
}
@mixin mod-email10-style3 {
  color: #200805;
}

