@charset "UTF-8";

@mixin mod-bnr30-common-style {
  @include border-radius();
  width: 150px;
  margin-top: 5px;
  font-size: $fontSizeS;
  &:hover {
    opacity: 0.80;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
  .mod-bnr-inner {
    max-height: 45px;
    border: 1px solid #ffffff;
    line-height: 1.1;
    @include border-radius;
    padding: 5px 5px 5px 23px;
    background-repeat: no-repeat;
    background-position: 7px 6px;
  }
}

@mixin mod-bnr30-style {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style2 {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style3 {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style4 {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style5 {
    border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style6 {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style7 {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style8 {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}

@mixin mod-bnr30-style9 {
  //none
  border: 1px solid #4773a4;
  background-image: url("img/mod-bnr/bg35_2.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #324f7b;
  .mod-bnr-inner {
    border: 1px solid #274164;
    color: #ffffff;
    background-image: url("img/mod-bnr/bg37_2.png");
  }
}