@charset "UTF-8";

@mixin mod-image-spec-common-style {
text-align: center;
  img {
    width: 100%;
    border-style: none;
  }
  .ex-imgSize_L & {
    img {
      width: 90%;
    }
  }

  .ex-imgSize_M & {
    img {
      width: 80%;
    }
  }

  .ex-imgSize_S & {
    img {
      width: 75%;
    }
  }
}


