@charset "UTF-8";

@mixin mod-box22-common-style {
width: 100%;
  padding-top: 1px;
}

@mixin mod-box22-style {
	background-color: #3b3b3b;
}

@mixin mod-box22-style2 {
	background-color: #0f375f;
}

@mixin mod-box22-style3 {
	background-color: #1e0502;
}
