@charset "UTF-8";

@mixin mod-box24-common-style {
width: 100%;
  padding-top: 1px;
}

@mixin mod-box24-style {
background-image: none;
  background-repeat: repeat;
}
@mixin mod-box24-style2 {
background-image: url("img/mod-box/bg09.png");
  background-repeat: repeat-x;
}
@mixin mod-box24-style3 {
background-image: url("img/mod-box/bg09_2.png");
  background-repeat: repeat-x;
}
@mixin mod-box24-style4 {
background-image: url("img/mod-box/bg09_3.png");
  background-repeat: repeat-x;
}

