@charset "UTF-8";

@mixin mod-icon_num_03-common-style {

}

@mixin mod-icon_num_03-style {
background-image: url("img/mod-h_4/09/bg03.png");
}
@mixin mod-icon_num_03-style2 {
background-image: url("img/mod-h_4/09/bg03_2.png");
}
@mixin mod-icon_num_03-style3 {
background-image: url("img/mod-h_4/09/bg03_3.png");
}
@mixin mod-icon_num_03-style4 {
background-image: url("img/mod-h_4/13/bg03.png");
}
@mixin mod-icon_num_03-style5 {
background-image: url("img/mod-h_4/13/bg03_2.png");
}
@mixin mod-icon_num_03-style6 {
background-image: url("img/mod-h_4/13/bg03_3.png");
}
@mixin mod-icon_num_03-style7 {
background-image: url("img/mod-h_4/24/bg03.png");
}
@mixin mod-icon_num_03-style8 {
background-image: url("img/mod-h_4/24/bg03_2.png");
}
@mixin mod-icon_num_03-style9 {
background-image: url("img/mod-h_4/24/bg03_3.png");
}

