@charset "UTF-8";

@mixin mod-text17-common-style {
text-align: center;
color: #ffffff;
}

@mixin mod-text17-style {
background-color: #222222;

}
@mixin mod-text17-style2 {
background-color: #0f375f;
}
@mixin mod-text17-style3 {
background-color: #5f140a;
}

