@charset "UTF-8";

@mixin mod-email6-common-style {
margin-top: 10px !important;
  font-weight: normal;
  word-break: break-all;
  line-height: 1.0;
  font-size: 20px;
}

@mixin mod-email6-style {
  color: #333333;
}
@mixin mod-email6-style2 {
  color: #010911;
}
@mixin mod-email6-style3 {
  color: #222222;
}

