@charset "UTF-8";

@mixin mod-icon_num_04-common-style {

}

@mixin mod-icon_num_04-style {
background-image: url("img/mod-h_4/09/bg04.png");
}
@mixin mod-icon_num_04-style2 {
background-image: url("img/mod-h_4/09/bg04_2.png");
}
@mixin mod-icon_num_04-style3 {
background-image: url("img/mod-h_4/09/bg04_3.png");
}
@mixin mod-icon_num_04-style4 {
background-image: url("img/mod-h_4/13/bg04.png");
}
@mixin mod-icon_num_04-style5 {
background-image: url("img/mod-h_4/13/bg04_2.png");
}
@mixin mod-icon_num_04-style6 {
background-image: url("img/mod-h_4/13/bg04_3.png");
}
@mixin mod-icon_num_04-style7 {
background-image: url("img/mod-h_4/24/bg04.png");
}
@mixin mod-icon_num_04-style8 {
background-image: url("img/mod-h_4/24/bg04_2.png");
}
@mixin mod-icon_num_04-style9 {
 background-image: url("img/mod-h_4/24/bg04_3.png");
}

