@mixin mod-2col45-common-style {
  @extend %cf;
  margin-top: 20px;
  > .mod-2col-wrap {
    > .mod-2col-inner {
      float: right;
      width: 250px;
      margin-left: 20px;
      > .mod-2col-inner-2 {
        > .ex-first-child {
          margin-top: 0 !important;
        }
      }
    }
    > .mod-2col-inner2 {
      overflow: hidden;
      > .mod-2col-inner2-2 {
        > .ex-first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
  .ex-imgSize_2S & {
    > .mod-2col-wrap {
      > .mod-2col-inner {
        width: 200px;
      }
    }
  }
  .ex-imgSize_2SS & {
    > .mod-2col-wrap {
      > .mod-2col-inner {
        width: 150px;
      }
    }
  }
  .ex-imgLayout_l & {
    > .mod-2col-wrap {
      > .mod-2col-inner {
        float: left;
        margin-right: 20px;
        margin-left: 0;
      }
    }
  }
  .ex-imgFloat & {
    > .mod-2col-wrap {
      > .mod-2col-inner {
        margin-bottom: 12px;
      }
      > .mod-2col-inner2 {
        overflow: visible;
      }
    }
  }
}

@mixin mod-2col45-style {
  @extend %cf;
  margin-top: 20px;
  > .mod-2col-wrap {
    > .mod-2col-inner {
      float: right;
      width: 250px;
      margin-left: 20px;
    }
    > .mod-2col-inner2 {
      overflow: hidden;
    }
  }
}