@charset "UTF-8";


// mod-m282
@mixin mod-m282-2col-common-style {
  margin-top: 30px;
  width: 100%;
  .mod-m282-2col2 {
    > .mod-2col-inner {
      width: 100px;
      float: right;
      margin-left: 10px;
      > .ex-first-child {
        margin-top: 0 !important;
         > .ex-first-child {
          margin-top: 0 !important;
        }
      }
      .ex-imgLayout_l & {
        float: left;
        margin-right: 10px;
        margin-left: 0;
      }
    }
    > .mod-2col-inner2 {
      overflow: hidden;
      > .ex-first-child {
        margin-top: 0 !important;
         > .ex-first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
  .mod-m282-h_5 {
    margin-top: 25px;
    display: table;
    width: 100%;
    .mod-h_5-inner {
      display: table-cell;
      vertical-align: middle;
      > p {
        font-size: $fontSizeS;
      }
    }
    .mod-h_5_inner3 {
      margin-top: 3px;
    }
    .mod-h {
      line-height: 1.2;
      font-size: $fontSizeL;
    }
    i {
      display: table-cell;
      height: 17px;
    }
    .mod-icon_0 {
      min-width: 0;
    }
    .mod-h_5-inner4 {
      margin-top: 3px !important
    }
  }
  .mod-m282-image {
    img {
      width: 100%; 
    }
  }
  .mod-m282-text {
    font-size: 13px;
    text-align: center;
    margin-top: 10px !important;
  }
  .mod-m282-h_5_2 {
    margin-top: 30px;
    .mod-h {
      font-weight: bold;
      font-size: $fontSizeM;
      line-height: 1.2;
    }
    .mod-icon_dental {
      height: 19px;
    }
  }
  .mod-m282-ul {
    margin-top: 15px;
    ul {
      margin: 0;
      padding-left: 0;
    }
    li {
      margin-left: 20px;
      margin-top: 2px;
      list-style-type: none;
      background-repeat: no-repeat;
      font-size: $fontSizeM - 1;
      &:first-child {
        padding-top: 0;
      }
    }
    > p {
      margin-top: 12px;
    }
    > p:first-child {
      margin-top: 0;
    }
  }
  .mod-m282-bnr {
    @include border-radius();
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    &:hover {
      opacity: 0.80;
    }
    a:hover, a:hover p {
      text-decoration: none;
    }
    .mod-bnr-inner {
      max-height: 60px;
      line-height: 1.4;
      @include border-radius;
      padding: 8px 5px 5px 25px;
    }
  }
  .mod-m282-rte, .mod-m282-rte2 {
    margin-top: 15px;
  } 
}

@mixin mod-m282-2col-style5 {
  display: table;
  padding: 2px;
  .mod-2col-wrap2 {
    > .mod-2col-inner {
      min-width: floor(($mainWidth - 10) / 2);
    }
    > .mod-2col-inner2 {
      min-width: floor((($mainWidth - 10) / 2) + 10);
    }
    > .mod-2col-inner, > .mod-2col-inner2 {
      padding: 2px;
      display: table-cell;
      background-image: url("img/mod-m282/mod-box/bg02_b_2.png");
      background-position: left top;
      background-repeat: no-repeat;
      background-color: #0b2845;
      position: relative;
      > .mod-2col-inner-2, > .mod-2col-inner2-2 {
        background-image: url("img/mod-m282/mod-box/bg_b_2.png");
        background-position: center top;
        background-repeat: no-repeat;
        > .mod-2col-inner-3, > .mod-2col-inner2-3 {
          padding: 20px 10px;
        }
      }
      > .mod-2col-inner-2:after, > .mod-2col-inner2-2:after {
        content: "";
        display: box;
        position: absolute;
        bottom: 2px;
        left: 2px;
        height: 1px;
        width: 99%;
        background-image: url("img/mod-m282/mod-box/bg_b_2.png");
        background-position: center top;
        background-repeat: no-repeat;
      }
    }
    > .mod-2col-inner2 {
      border-left: 10px solid #ffffff;
    }
    &:first-child.mod-2col-inner2 {
      border: none;
    }
    div[data-cms-switchable="false"] + .mod-2col-inner2 {//編集画面上,公開画面
      border: none;
    }
  }
  .mod-m282-text {
    color: #ffffff;
  }
  .mod-m282-h_5 {
    .mod-h_5-inner {
      width: 100%;
      padding-left: 0;
      border-top: 0 none transparent;
      border-bottom: 0 none transparent;
      border-right: 0 none transparent;
      border-left: 0 none transparent;
      > p {
        color: #7a7a7a;
        margin-left: 0;
      }
      > p:first-child {
        border-bottom: 0 none transparent;
      }
    }
    .mod-h_5-inner3 {
      background-color: transparent;
      background-image: none;
      background-repeat: repeat;
      background-position: left top;
      padding: 0;
      overflow: visible;
      @include border-radius(0);
      display: block;
    }
    .mod-h {
      display: block;
      word-break: normal;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      border-top: 0 none transparent;
      border-left: 0 none transparent;
      border-right: 0 none transparent;
      padding: 0 0 5px;
      background-color: transparent;
    }
     .mod-icon_1 {
      min-width: 0;
      background-image: none;
      background-position: left top;
      background-repeat: no-repeat;
      border-left: 0 none transparent;
    }
     .mod-icon_2 {
      min-width: 13px;
      background-image: url("img/mod-m282/mod-h_5/bg21_v.png");
      background-position: left top;
      background-repeat: repeat-y;
      border-left: 0 none transparent;
    }
     .mod-icon_3 {
      min-width: 6px;
      background-image: none;
      background-position: left top;
      background-repeat: no-repeat;
      border-left: 10px solid #426ca6;
    }
  }
  .mod-m282-rte {
    color: #ffffff;
  }
  .mod-m282-h_5_2 {
    .mod-h {
      color: #ffffff;
    }
    .mod-icon_2 {
      height: 20px;
      background-image: url("img/mod-h_5/bg07_v.png");
      background-position: center top;
    }
    .mod-icon_3 {
      height: 20px;
      background-image: url("img/mod-h_5/bg08_v.png");
      background-position: center 1px;
    }
    .mod-icon_4 {
      height: 20px;
      background-image: url("img/mod-h_5/bg09_v.png");
      background-position: center 2px;
    }
    .mod-icon_5 {
      height: 20px;
      background-image: url("img/mod-h_5/bg10_v.png");
      background-position: center 4px;
    }
    .mod-icon_dental {
      height: 20px;
      background-image: url("img/mod-h_5/bg06_v.png");
      background-position: left top;
    }
  }
  .mod-m282-ul {
    padding: 0;
    border: none;
    @include border-radius(0);
    background-color: transparent;
    li {
      color: #ffffff;
      padding-left: 15px;
      background-image: url("img/mod-m282/mod-ul/bg_b_2.png");
      background-position: left 5px;
      margin-left: 5px;
    }
  }
  .mod-m282-rte2 {
    color: #ffffff;
  }
  .mod-m282-bnr {
    border: 1px solid #7c94bd;
    background-image: url("img/mod-m282/mod-bnr/bg_b_2.png");
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #3c4e78;
    .mod-bnr-inner {
      border: 1px solid #afb9c7;
      color: #ffffff;
      font-size: $fontSizeS + 1;
      background-image: url("img/mod-m282/mod-bnr/bg02_b_2.png");
      background-repeat: no-repeat;
      background-position: 7px 8px;
    }
  }
}


@mixin mod-m282-2col-style {
  @include mod-m282-2col-style5; // none
}
@mixin mod-m282-2col-style2 {
  @include mod-m282-2col-style5; // none
}
@mixin mod-m282-2col-style3 {
  @include mod-m282-2col-style5; // none
}
@mixin mod-m282-2col-style4 {
  @include mod-m282-2col-style5; // none
}
// @mixin mod-m282-2col-style5 {上に記載}
@mixin mod-m282-2col-style6 {
  @include mod-m282-2col-style5; // none
}
@mixin mod-m282-2col-style7 {
  @include mod-m282-2col-style5; // none
}
@mixin mod-m282-2col-style8 {
  @include mod-m282-2col-style5; // none
}
@mixin mod-m282-2col-style9 {
  @include mod-m282-2col-style5; // none
}