@charset "UTF-8";

@mixin mod-icon_num2-common-style {
  .mod-icon_num2 {
    .step1 &, .step2 &, .step3 &, .step4 &, .step5 &,
    .step6 &, .step7 &, .step8 &, .step9 &, .step10 & {
      background-repeat: no-repeat;
    }
  }
}
@mixin mod-icon_num2-style {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg02.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg03.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg04.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg05.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg06.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg07.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg08.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg09.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg10.png);
    }
  }
}

@mixin mod-icon_num2-style2 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg_2.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg02_2.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg03_2.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg04_2.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg05_2.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg06_2.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg07_2.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg08_2.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg09_2.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg10_2.png);
    }
  }
}

@mixin mod-icon_num2-style3 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg_3.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg02_3.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg03_3.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg04_3.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg05_3.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg06_3.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg07_3.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg08_3.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg09_3.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/10/bg10_3.png);
    }
  }
}

@mixin mod-icon_num2-style4 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg02.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg03.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg04.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg05.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg06.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg07.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg08.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg09.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg10.png);
    }
  }
}

@mixin mod-icon_num2-style5 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg_2.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg02_2.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg03_2.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg04_2.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg05_2.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg06_2.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg07_2.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg08_2.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg09_2.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg10_2.png);
    }
  }
}

@mixin mod-icon_num2-style6 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg_3.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg02_3.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg03_3.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg04_3.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg05_3.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg06_3.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg07_3.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg08_3.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg09_3.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/14/bg10_3.png);
    }
  }
}

@mixin mod-icon_num2-style7 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg02.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg03.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg04.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg05.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg06.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg07.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg08.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg09.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg10.png);
    }
  }
}

@mixin mod-icon_num2-style8 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg_2.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg02_2.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg03_2.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg04_2.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg05_2.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg06_2.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg07_2.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg08_2.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg09_2.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg10_2.png);
    }
  }
}

@mixin mod-icon_num2-style9 {
  .step1 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg_3.png);
    }
  }
  .step2 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg02_3.png);
    }
  }
  .step3 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg03_3.png);
    }
  }
  .step4 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg04_3.png);
    }
  }
  .step5 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg05_3.png);
    }
  }
  .step6 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg06_3.png);
    }
  }
  .step7 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg07_3.png);
    }
  }
  .step8 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg08_3.png);
    }
  }
  .step9 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg09_3.png);
    }
  }
  .step10 {
    .mod-icon_num2 {
      background-image: url(img/mod-h_4/23/bg10_3.png);
    }
  }
}





