@charset "UTF-8";
//装飾AのCV:オレンジのカラー変数一覧


//----- ヘッダー要素

//ヘッダー背景
$dh_boxBgColor3: #fef691;
//ヘッダーリンク色
$dh_linkColor3: #443308;
//ヘッダーリンク色2
$dh_link2Color3: #f37f1c;
//誘導文
$dh_textColor3: #443308;
//infoラベル
$dh_infoBgColor3: #443308;
//info文字
$dh_infoColor3: #443308;


//========================================//
//　　　　　　　　　　　　　　　用途系　　　　　　　　　　　　　　　　　
//========================================//

//【文】ページ見出し補足
$dm_supColor3: #4D2504;
//【文】ページ見出し
$dm_indexColor3: #ffffff;
//【文】ページ見出し下説明
$dm_textColor3: #4D2504;
//【背】ページ見出し補足
$dm_supBgColor3: #FCE16C;
//【背】ページ見出し
$dm_indexBgColor3: #FEA455;
//【背】ページ見出し下説明
$dm_textBgColor3: #FFFABB;

//【文】infoラベル
$dm_infoColor3: #ffffff;
//【背】infoラベル
$dm_infoBgColor3: #7CB4D8;
//【背】infoラベル(mod-info7)
$dm_info2BgColor3: #443308;

//【背】表
$d_tableBgColor3: #F7DE6A;
//【線】表
$d_tableBdColor3: #F7DE6A;
//【文】表
$d_tableTextColor3: #45310C;
//【背】表2
$d_table2BgColor3: #F8A969;
//【線】表2
$d_table2BdColor3: #F8A969;
//【文】表2
$d_table2TextColor3: #443308;

//【文】アイコン大リンク
$d_linkLColor3: #15305f;

//【線】box7,8
$d_boxBdColor3: #FFA09A;

//【文】電話番号
$d_telColor3: #443308;
//【文】電話番号語呂
$d_punColor3: #443308;
//【文】電話番号（フッター）
$df_telColor3: #443308;
//【文】電話番号語呂（フッター）
$df_punColor3: #443308;

//【文】タイトル
$dh_titleColor3: #443308;
//【文】タイトル補足
$dh_SupColor3: #443308;
//【文】タイトル（フッター）
$df_titleColor3: #443308;
//【文】タイトル補足（フッター）
$df_SupColor3: #ffffff;

//【背】box21背景色
$box21BgColor3: #FEF691;



