@charset "UTF-8";
// 初期デザインカラー変数一覧


// ---------- エリア共通 -----------//

//リンク色
$linkColor: #45320b;

//表（診療時間）背景色
$table2BgColor: #509dcd;

//バナー線共通
$bnrBgColor: #408bc2;
$bnr2BgColor: #ff9547;

//リンクセット縦線
$linkBdColor: #ffa658;
//表のボーダーカラー
$tableBdColor: #ffcda2;
//診療時間表ボーダーカラー
$table2BdColor: #6390ce;

// ---------- メイン要素 -----------//

//電話番号
$m_telColor: #45320b;
//アイコン大きめのリンク
$m_linkColor: #45320b;
//box内文字色
$m_boxColor: #45320b;
//ページ見出し文字色
$m_indexColor: #e8750f;
//大見出し
$m_index2Color: #45320b;
//中見出し
$m_index3Color: #372809;
//流れ見出し文字色
$m_index4Color: #fd8e89;
//表・画像・リスト見出し
$m_index7Color: #45320b;
//小見出し文字色
$m_index8Color: #45320b;
//装飾文章背景色
$m_decTextColor: #ffa658;
//ボックス見出し背景色
$m_boxIndexBgColor: #a58c5c;
//装飾見出し背景色
$m_decIndexColor: #ff9a4c;
//ボックス囲い部分
$m_boxBgColor: #fff0e4;
//ボックス囲い部分2
$m_box2BgColor: #ecfdff;
//大見出し上線
$m_index21BdColor: #ffa658;
//大見出し下線
$m_index22BdColor: #ffa658;
//中見出し下線
$m_index3BdColor: #ffa658;
//ボックス枠線
$m_boxBdColor: #dedad1;
//ボックス枠線2
$m_box2BdColor: #fd8e89;

//ボックス枠線３　お問い合せボックス・ボックス見出し
$m_box3BdColor: #ff994b;
//お問い合せボックス　見出し補足上
$m_sup1Color: #45320b;
//お問い合せボックス　見出し補足下
$m_sup2Color: #45320b;
//お問い合せボックス　枠線
$m_box3BdColor: #fdd200;
//お問い合せボックス　囲み部分
$m_box3BgColor: #fffced;
//強調文章
$m_boldColor: #fd8e89;


// ---------- ヘッダー要素 -----------//

//電話番号
$h_telColor: #45320b;
//サイトタイトル
$h_titleColor: #45320b;
//誘導文
$h_textColor: #f7931d;
//バナー内文字色
$h_bnrColor: #45320b;
//gnav
$h_menuColor: #563110;
//3連バナー背景色
$h_bnrBgColor: #ffa658;

// ---------- サイド要素 -----------//

//電話番号
$s_telColor: #519dce;
$s_tel2Color: #45320b;
$s_tel3Color: #fd8e89;
//サイドメニュー
$s_menuColor: #45320b;
$s_menuColorh: #45320b; //ホバー
//画像見出し等
$s_indexColor: #45320b;
//小見出し
$s_index2Color: #45320b;
//サイドメニュー見出し
$s_indexmenuColor: #443308;
//強調文章
$s_boldColor: #56534e;
//サイドバナー背景
$s_bnrBgColor: #fffef4;
//サイドエリアのボックス背景色
$s_boxBgColor: #fffef4;
//サイドメニュー項目
$s_menuBgColor: #ffffff;
$s_menuBgColorh: #fef291; //ホバー
//小見出し下線
$s_index2BdColor: #dedad1;
//サイドバナー上線
$s_bnrBdColor: #ffa658;
//サイドバナー上線以外
$s_bnr2BdColor: #dedad1;
//サイドの表背景色
$s_tableBdColor: #fdcecc;

// ---------- フッター要素 -----------//

//電話番号
$f_telColor: #45320b;
//サイトタイトル
$f_titleColor: #45320b;
//table診療時間th
$f_tableColor: #ffffff;
//フッター画像など見出し
$f_indexColor: #45320b;
//フッターナビ
$f_menuBgColor: #f37f1c;
//infoラベル
// $f_infoBgColor: #1d6fde;

// ---------- 用途 -----------//

//客声：ボックス見出し
$mv_BoxindexColor: #fda7a3;

//事例：ボックス見出し
$mc_BoxindexColor: #f7931d;
//事例見出し補足
$mc_decIndexColor: #56534e;

//FAQ文字色　Q
$mq_indexColor: #ffa658;
//FAQ文字色　A
$mq_index2Color: #519dce;
//FAQ大見出し下線
$mq_index2BdColor: #f7931d;
//FAQ装飾文字背景
$mq_decTextBgColor: #519dce;
$mq_decTextColor: #ffffff;
//FAQボックス見出し
$mq_boxIndexBgColor: #ff857f;


//特徴:ボックス見出し
$mt_BoxindexColor: #45320b;

//新着情報ラベル
$newsBgColor: #519dce;







