@charset "UTF-8";
//装飾Aのカラー変数一覧


//----- ヘッダー要素

//ヘッダー背景
$dh_boxBgColor: #426ca6;
//ヘッダーリンク色
$dh_linkColor: #ffffff;
//ヘッダーリンク色2
$dh_link2Color: #f2d028;
//誘導文
$dh_textColor: #ffffff;
//infoラベル
$dh_infoBgColor: #2e4a72;
//info文字
$dh_infoColor: #ffffff;


//========================================//
//　　　　　　　　　　　　　　　用途系　　　　　　　　　　　　　　　　　
//========================================//

//【文】ページ見出し補足
$dm_supColor: #ffffff;
//【文】ページ見出し
$dm_indexColor: #ffffff;
//【文】ページ見出し下説明
$dm_textColor: #ffffff;
//【背】ページ見出し補足
$dm_supBgColor: #4973c8;
//【背】ページ見出し
$dm_indexBgColor: #375eac;
//【背】ページ見出し下説明
$dm_textBgColor: #6a8cd2;

//【文】infoラベル
$dm_infoColor: #ffffff;
//【背】infoラベル
$dm_infoBgColor: #2e4a72;
//【背】infoラベル(mod-info7)
$dm_info2BgColor: #2e4a72;

//【背】表
$d_tableBgColor: #a8bbe3;
//【線】表
$d_tableBdColor: #8bb8e4;
//【文】表
$d_tableTextColor: #333333;
//【背】表2
$d_table2BgColor: #f9e58a;
//【線】表2
$d_table2BdColor: #2e4a73;
//【文】表2
$d_table2TextColor: #2d4a72;

//【文】アイコン大リンク
$d_linkLColor: #15305f;

//【線】box7,8
$d_boxBdColor: #abd2f6;

//【文】電話番号
$d_telColor: #f2d028;
//【文】電話番号語呂
$d_punColor: #ffffff;
//【文】電話番号（フッター）
$df_telColor: #ffffff;
//【文】電話番号語呂（フッター）
$df_punColor: #ffffff;

//【文】タイトル（ヘッダー）
$dh_titleColor: #ffffff;
//【文】タイトル補足（ヘッダー）
$dh_SupColor: #ffffff;
//【文】タイトル（フッター）
$df_titleColor: #ffffff;
//【文】タイトル補足（フッター）
$df_SupColor: #ffffff;

//【背】box21背景色
$box21BgColor: #4b72a9;


