@charset "UTF-8";

//全module共通
.mod-body {
  color: #333333;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
  background-color: #ffffff;
  padding-top: 41px;
  margin: 0;
  table {
    // width: 100% !important;
    border-spacing: 0;
    border-collapse: collapse;
  }
  [contenteditable=true] {
    table {
      width: 100% !important;
      border-spacing: 0;
      border-collapse: collapse;
    }
  }
  div {
    @include box-sizing(border-box);
  }
  p {
    margin: 0;
    font-size: 14px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
  }
  a {
    color: #335a93;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    vertical-align: bottom;
  }
}

//白背景用のグラデーション
@mixin tel-button($imgUrl,$position-x: 20px, $position-y: 15px) { //spカラバリ対策
  background: url("img/#{$imgUrl}") $position-x $position-y no-repeat, linear-gradient(#ffffff, #f6f6f6, #eeeeee) left top repeat;
  background: url("img/#{$imgUrl}") $position-x $position-y no-repeat, -webkit-gradient(linear,left top,left bottom,from(#ffffff),color-stop(0.5,#f6f6f6),to(#eeeeee)) left top repeat;
  background: url("img/#{$imgUrl}") $position-x $position-y no-repeat, -moz-linear-gradient(top,#ffffff 0%,#f6f6f6 50%,#eeeeee 100%) left top repeat;
}

//ii用背景グラデーション
@mixin tel-button2() {
  background: linear-gradient(#ffffff, #f6f6f6, #eeeeee)  left top repeat;
  background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),color-stop(0.5,#f6f6f6),to(#eeeeee)) left top repeat;
  background: -moz-linear-gradient(top,#ffffff 0%,#f6f6f6 50%,#eeeeee 100%) left top repeat;
}

// リンク用グラデーション
@mixin link-arrow($imgUrl,$position-x: 20px, $position-y: 15px) { //spカラバリ対策
  background: url("img/#{$imgUrl}") $position-x $position-y no-repeat, linear-gradient(#ffffff, #f6f6f6, #eeeeee) left top repeat;
  background: url("img/#{$imgUrl}") $position-x $position-y no-repeat, -webkit-gradient(linear,left top,left bottom,from(#ffffff),color-stop(0.5,#f6f6f6),to(#eeeeee))  left top repeat;
  background: url("img/#{$imgUrl}") $position-x $position-y no-repeat, -moz-linear-gradient(top,#ffffff 0%,#f6f6f6 50%,#eeeeee 100%)  left top repeat;
}

.mod-body {
  //------------------
  // mod-margin-top
  // 部品間の余白調整
  //------------------
  .mod-margin1 {
    margin-top: 10px !important;
  }
  .mod-margin2 {
    margin-top: 15px !important;
  }
  .mod-margin3 {
    margin-top: 30px !important;
  }
}
