@charset "UTF-8";

//##################################################
//  mod-set-○○-footer
//##################################################

//////////////////////////////
//  common-style
@mixin common-style-mod-set-footer { }

//////////////////////////////
//  module-style
@mixin module-style-mod-set-company-footer {
  margin: 20px -15px 0;
  padding: 25px 15px;
  background-repeat: repeat-x;
  .mod-box-footer {
    padding: 0;
  }
  .mod-title-footer {
    .mod-title-inner3 {
      line-height: 1.0;
    }
    .mod-title-inner4 {
      margin: 5px 0 0;
    }
  }
  .mod-2col-table-footer {
    .mod-text-footer {
      margin-top: 5px !important;
      &:first-child {
        &, + .mod-text-footer {
          margin-top: 0px !important;
        }
      }
    }
  }
  .mod-bnr-footer {
    margin: 10px 0 0;
  }
}

@mixin module-style-mod-set-copyright-footer {
  padding: 1px 0 0 0;
}

//////////////////////////////
//  deco-style
@mixin deco-style01A1-mod-set-company-footer {
  background-color: #c9c9c9;
}
@mixin deco-style01A2-mod-set-company-footer {
  background-color: #aebdce;
}
@mixin deco-style01A3-mod-set-company-footer {
  background-color: #ead3cf;
}
@mixin deco-style01B1-mod-set-company-footer {
  background-color: #616161;
  background-image: url("img/mod-box/_46/bg_b.png");
}
@mixin deco-style01B2-mod-set-company-footer {
  background-color: #29415b;
  background-image: url("img/mod-box/_46/bg_b_2.png");
}
@mixin deco-style01B3-mod-set-company-footer {
  background-color: #60160a;
  background-image: url("img/mod-box/_46/bg_b_3.png");
}
@mixin deco-style01C1-mod-set-company-footer {
  background-color: #c9c9c9;
  background-image: url("img/mod-box/_46/bg_c.png");
}
@mixin deco-style01C2-mod-set-company-footer {
  background-color: #cacfd4;
  background-image: url("img/mod-box/_46/bg_c_2.png");
}
@mixin deco-style01C3-mod-set-company-footer {
  background-color: #ead8d5;
  background-image: url("img/mod-box/_46/bg_c_3.png");
}
