@charset "UTF-8";

// --------------------------------------------------------------------------
// mod-set-toiawase-2col
// --------------------------------------------------------------------------

// -------------------------------------
// common-style
// -------------------------------------

@mixin common-style-mod-set-news-bunsyo {
  .mod-box-inner2, .mod-box_ver2 {
    > .ex-first-child {
      margin-top: 0 !important;
    }
  }
  .mod-box_ver2 {
    padding: 15px 15px 10px 15px;
    .mod-bnr-2nd {
      margin-top: 10px;
    }
    .mod-link-1st {
      width: 100%;
    }
    .mod-link-2nd {
      width: 100%;
    }
  }
}

@mixin deco-style-mod-set-news-bunsyo-1 {
  padding: 5px 5px 0;
 .mod-h_4_ver2 {
    .mod-h_4-inner3 {
      margin: 0; //補足が無いため見出しと補足の間のmarginを排除
      padding: 2px 10px;
    }
  }
}

@mixin deco-style-mod-set-news-bunsyo-2 {
  padding: 0;
 .mod-h_4_ver2 {
    i {
      min-width: 15px;
      width: 15px;
      background-image: url(img/_mod/set-news/bg.png);
      background-position: left 7px;
      background-repeat: no-repeat;
    }
    .mod-h_4-inner3 {
      margin: 0; //補足が無いため見出しと補足の間のjmarginを排除
    }
  }
}

@mixin deco-style-mod-set-news-bunsyo-3 {
  padding: 5px 5px 0;
 .mod-h_4_ver2 {
    .mod-h_4-inner3 {
      margin: 0; //補足が無いため見出しと補足の間のjmarginを排除
      padding: 5px 10px;
    }
  }
}