@charset "UTF-8";

//旧方式のコピーのため要改修

//##################################################
//  mod-ul
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin common-style-mod-ul {
  margin-top: 10px;
  .mod-ul-inner {
    background-repeat: no-repeat;
    .mod-ul-inner2 {
      background-repeat: no-repeat;
      ul {
        margin: 0;
        li {
          padding: 7px 0 0 30px;
          background-position: left 4px;
          background-repeat: no-repeat;
          list-style-type: none;
          font-weight: bold;
          font-size: $fontSizeM + 2;
        }
      }
      ol {
        padding-left: 0;
        > li {
          padding-left: 0;
          background-image: none;
          list-style-type: decimal !important;
        }
      }
    }
  }
}


//////////////////////////////////////////////////
//  MODULE-STYLE
@mixin module-style-mod-ul {}


//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style01A1-mod-ul {
  @include border-radius(0);
  padding: 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 0 none transparent;
  background-color: #ffffff;
  background-image: none;
  background-position: left top;
  background-size: auto auto;
  background-repeat: no-repeat;
  .mod-ul-inner {
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: transparent;
    background-image: none;
    background-position: left top;
    .mod-ul-inner2 {
      padding: 0;
      background-image: none;
      background-position: left top;
    }
  }
  ul {
    padding: 5px 0 10px 0;
  }
  li {
    position: static;
    margin: 2px 15px 0 15px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg_a.png");
    color: #f27f1b;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      position: static;
      bottom: auto;
      left: auto;
      display: inline;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto auto;
      background-repeat: repeat;
      content: normal;
    }
  }
}
@mixin deco-style01A2-mod-ul {
  @include border-radius(0);
  padding: 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 0 none transparent;
  background-color: #ffffff;
  background-image: none;
  background-position: left top;
  background-size: auto auto;
  background-repeat: no-repeat;
  .mod-ul-inner {
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: transparent;
    background-image: none;
    background-position: left top;
    .mod-ul-inner2 {
      padding: 0;
      background-image: none;
      background-position: left top;
    }
  }
  ul {
    padding: 5px 0 10px 0;
  }
  li {
    position: static;
    margin: 2px 15px 0 15px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg_a_2.png");
    color: #274c7e;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      position: static;
      bottom: auto;
      left: auto;
      display: inline;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto auto;
      background-repeat: repeat;
      content: normal;
    }
  }
}
@mixin deco-style01A3-mod-ul {
  @include border-radius(0);
  padding: 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 0 none transparent;
  background-color: #ffffff;
  background-image: none;
  background-position: left top;
  background-size: auto auto;
  background-repeat: no-repeat;
  .mod-ul-inner {
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: transparent;
    background-image: none;
    background-position: left top;
    .mod-ul-inner2 {
      padding: 0;
      background-image: none;
      background-position: left top;
    }
  }
  ul {
    padding: 5px 0 10px 0;
  }
  li {
    position: static;
    margin: 2px 15px 0 15px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg_a_3.png");
    color: #f27f1b;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      position: static;
      bottom: auto;
      left: auto;
      display: inline;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto auto;
      background-repeat: repeat;
      content: normal;
    }
  }
}
@mixin deco-style01B1-mod-ul {
  @include border-radius(0);
  padding: 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 0 none transparent;
  background-color: #5a7fb0;
  background-image: url("img/mod-ul/_06/bg_b.png");
  background-position: left top;
  background-size: auto auto;
  background-repeat: repeat-x;
  .mod-ul-inner {
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: transparent;
    background-image: none;
    background-position: left top;
    .mod-ul-inner2 {
      padding: 0;
      background-image: none;
      background-position: left top;
    }
  }
  ul {
    padding: 5px 0 15px 0;
  }
  li {
    position: relative;
    margin: 10px 15px 0 15px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg02_b.png");
    color: #ffffff;
    &:first-child {
      margin-top: 2px;
    }
    &:after {
      position: relative;
      top: 8px;
      left: -30px;
      display: block;
      width: 115%;
      height: 8px;
      background-image: url("img/mod-ul/_06/bg03_b.png");
      background-size: 100% 1px;
      background-repeat: no-repeat;
      content: "";
    }
  }
}
@mixin deco-style01B2-mod-ul {
  @include border-radius(0);
  padding: 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 0 none transparent;
  background-color: #5eb0bc;
  background-image: url("img/mod-ul/_06/bg_b_2.png");
  background-position: left top;
  background-size: auto auto;
  background-repeat: repeat-x;
  .mod-ul-inner {
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: transparent;
    background-image: none;
    background-position: left top;
    .mod-ul-inner2 {
      padding: 0;
      background-image: none;
      background-position: left top;
    }
  }
  ul {
    padding: 5px 0 15px 0;
  }
  li {
    position: relative;
    margin: 10px 15px 0 15px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg02_b_2.png");
    color: #ffffff;
    &:first-child {
      margin-top: 2px;
    }
    &:after {
      position: relative;
      top: 8px;
      left: -30px;
      display: block;
      width: 115%;
      height: 8px;
      background-image: url("img/mod-ul/_06/bg03_b_2.png");
      background-size: 100% 1px;
      background-repeat: no-repeat;
      content: "";
    }
  }
}
@mixin deco-style01B3-mod-ul {
  @include border-radius(0);
  padding: 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 0 none transparent;
  background-color: #f5a561;
  background-image: url("img/mod-ul/_06/bg_b_3.png");
  background-position: left top;
  background-size: auto auto;
  background-repeat: repeat-x;
  .mod-ul-inner {
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: transparent;
    background-image: none;
    background-position: left top;
    .mod-ul-inner2 {
      padding: 0;
      background-image: none;
      background-position: left top;
    }
  }
  ul {
    padding: 5px 0 15px 0;
  }
  li {
    position: relative;
    margin: 10px 15px 0 15px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg02_b_3.png");
    color: #ffffff;
    &:first-child {
      margin-top: 2px;
    }
    &:after {
      position: relative;
      top: 8px;
      left: -30px;
      display: block;
      width: 115%;
      height: 8px;
      background-image: url("img/mod-ul/_06/bg03_b_3.png");
      background-size: 100% 1px;
      background-repeat: no-repeat;
      content: "";
    }
  }
}
@mixin deco-style01C1-mod-ul {
  @include border-radius(0);
  padding: 0 0 33px 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 1px solid #f7eadb;
  background-color: transparent;
  background-image: url("img/mod-ul/_06/spbg_c.png");
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  .mod-ul-inner {
    border-top: 1px solid #f7eadb;
    border-right: 1px solid #f7eadb;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: #ffffff;
    background-image: url("img/mod-ul/_06/bg02_c.png");
    background-position: left 2px;
    .mod-ul-inner2 {
      padding: 10px 0 0 0;
      background-image: url("img/mod-ul/_06/bg02_c.png");
      background-position: right 2px;
    }
  }
  ul {
    padding: 5px 0 0 0;
  }
  li {
    position: static;
    margin: 2px 15px 5px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 1px dashed #808285;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg03_c.png");
    color: #331b07;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      position: static;
      bottom: auto;
      left: auto;
      display: inline;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto auto;
      background-repeat: repeat;
      content: normal;
    }
  }
}
@mixin deco-style01C2-mod-ul {
  @include border-radius(0);
  padding: 0 0 33px 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 1px solid #f7eadb;
  background-color: transparent;
  background-image: url("img/mod-ul/_06/spbg_c_2.png");
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  .mod-ul-inner {
    border-top: 1px solid #f7eadb;
    border-right: 1px solid #f7eadb;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: #ffffff;
    background-image: url("img/mod-ul/_06/bg02_c_2.png");
    background-position: left 2px;
    .mod-ul-inner2 {
      padding: 10px 0 0 0;
      background-image: url("img/mod-ul/_06/bg02_c_2.png");
      background-position: right 2px;
    }
  }
  ul {
    padding: 5px 0 0 0;
  }
  li {
    position: static;
    margin: 2px 15px 5px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 1px dashed #808285;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg03_c_2.png");
    color: #331b07;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      position: static;
      bottom: auto;
      left: auto;
      display: inline;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto auto;
      background-repeat: repeat;
      content: normal;
    }
  }
}
@mixin deco-style01C3-mod-ul {
  @include border-radius(0);
  padding: 0 0 33px 0;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 1px solid #f7eadb;
  background-color: transparent;
  background-image: url("img/mod-ul/_06/spbg_c_3.png");
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  .mod-ul-inner {
    border-top: 1px solid #f7eadb;
    border-right: 1px solid #f7eadb;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    background-color: #ffffff;
    background-image: url("img/mod-ul/_06/bg02_c_3.png");
    background-position: left 2px;
    .mod-ul-inner2 {
      padding: 10px 0 0 0;
      background-image: url("img/mod-ul/_06/bg02_c_3.png");
      background-position: right 2px;
    }
  }
  ul {
    padding: 5px 0 0 0;
  }
  li {
    position: static;
    margin: 2px 15px 5px;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-bottom: 1px dashed #c5c5c5;
    border-left: 0 none transparent;
    background-image: url("img/mod-ul/_06/bg03_c_3.png");
    color: #331b07;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      position: static;
      bottom: auto;
      left: auto;
      display: inline;
      width: auto;
      height: auto;
      background-image: none;
      background-size: auto auto;
      background-repeat: repeat;
      content: normal;
    }
  }
}

