@charset "UTF-8";

//##################################################
//  mod-box-in1-side
//##################################################
//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin mod-box-side {}

//////////////////////////////////////////////////
//  MODULE-STYLE
@mixin module-style-mod-box-in1-side {
  padding: 10px;
  > .mod-box-inner {
    padding: 10px;
    background-color: #ffffff;
    > .ex-first-child {
      margin-top: 0 !important;
      > .ex-first-child {
        margin-top: 0 !important;
        > .ex-first-child {
          margin-top: 0 !important;
        > .ex-first-child {
          margin-top: 0 !important;
          }
        }
      }
    }
  }
}

//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style01A1-mod-box-in1-side {
  border: 1px solid #cdd0d1;
  background-color: #f8f7f3;
}
@mixin deco-style01A2-mod-box-in1-side {
  border: 1px solid #cdd0d1;
  background-color: #e9eaeb;
}