@charset "UTF-8";

//旧方式のコピーのため要改修

//////////////////////////////////////////////////
//  BLOCK-STYLE
@mixin block-style-mod-bnr-hover {
  &:hover {
    opacity: 0.80;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
}


//##################################################
//  mod-bnr, mod-bnr-pic, mod-bnr-footer
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin common-style-mod-bnr {
  @include block-style-mod-bnr-hover;
}

//////////////////////////////////////////////////
//  MODULE-STYLE
@mixin module-style-mod-bnr {
  @include border-radius();
  margin-top: 15px;
  width: 100%;
  text-align: center;
  .mod-bnr-inner {
    @include border-radius();
    overflow: hidden;
    padding: 12px 40px 12px 10px;
    max-height: 111px;
    background-position: 95% 50%;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    line-height: 1.4;
    p {
      &, span {
        font-size: $fontSizeM !important;
      }
    }
  }
}

@mixin module-style-mod-bnr-pic {
  @include border-radius(3px);
  width: 100%;
  background-repeat: repeat-x;
  line-height: 1.3;
  .mod-bnr-inner {
    @include border-radius(3px);
    display: table;
    min-height: 60px;
    width: 100%;
    .mod-bnr-inner2 {
      display: table-cell;
      width: 60px;
      vertical-align: middle;
      line-height: 0;
      img {
        width: 60px;
      }
    }
    .mod-bnr-inner3 {
      display: table-cell;
      padding-left: 15px;
      color: #ffffff;
      vertical-align: middle;
      font-size: $fontSizeM + 2 !important;
      a & {
        color: #ffffff;
      }
    }
  }
}

@mixin module-style-mod-bnr-footer { }


//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style01A1-mod-bnr {
  border: 1px solid #3c3c3c;
  background-color: #2e2e2e;
  background-image: url("img/mod-bnr/bg03.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #b6b6b6;
    background-image: url("img/mod-bnr/spbg05.png");
    color: #ffffff;
  }
}
@mixin deco-style01A2-mod-bnr {
  border: 1px solid #3d6ea8;
  background-color: #264060;
  background-image: url("img/mod-bnr/bg03_2.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #b3bcc8;
    background-image: url("img/mod-bnr/spbg05_2.png");
    color: #ffffff;
  }
}
@mixin deco-style01A3-mod-bnr {
  border: 1px solid #781b0e;
  background-color: #65140a;
  background-image: url("img/mod-bnr/bg03_3.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #d6b5af;
    background-image: url("img/mod-bnr/spbg05_3.png");
    color: #ffffff;
  }
}
@mixin deco-style01B1-mod-bnr {
  border: 1px solid #000000;
  background-color: #010305;
  background-image: url("img/mod-bnr/bg51.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #b6c0cd;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style01B2-mod-bnr {
  border: 1px solid #7196c0;
  background-color: #143c65;
  background-image: url("img/mod-bnr/bg08_2.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #adbac8;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style01B3-mod-bnr {
  border: 1px solid #982110;
  background-color: #65140a;
  background-image: url("img/mod-bnr/bg03_3.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
     border: 1px solid #3d0d05;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style01C1-mod-bnr {
  border: 1px solid #3c3c3c;
  background-color: #ff7c76;
  background-image: url("img/mod-bnr/bg21.png");
  background-repeat: no-repeat;
  .mod-bnr-inner {
    padding: 12px 10px 12px 10px;
    border: 1px solid #c5c5c5;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style01C2-mod-bnr {
  border: 1px solid #0f375f;
  background-color: #ff7c76;
  background-image: url("img/mod-bnr/bg21_2.png");
  background-repeat: no-repeat;
  .mod-bnr-inner {
    padding: 12px 10px 12px 10px;
    border: 1px solid #adbcc9;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style01C3-mod-bnr {
  border: 1px solid #781b0e;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21_3.png");
  background-repeat: no-repeat;
  .mod-bnr-inner {
    padding: 12px 10px 12px 10px;
    border: 1px solid #d1b3ad;
    background-image: none;
    color: #ffffff;
  }
}

@mixin deco-style01A1-mod-bnr-pic {
  border: 1px solid #545454;
  background-color: #434343;
  background-image: url("img/mod-bnr/_36/bg_a.png");
  .mod-bnr-inner {
    padding: 3px;
    border: 1px solid #cacaca;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01A2-mod-bnr-pic {
  border: 1px solid #0f375f;
  background-color: #0b294c;
  background-image: url("img/mod-bnr/_36/bg_a_2.png");
  .mod-bnr-inner {
    padding: 3px;
    border: 1px solid #afc1ce;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01A3-mod-bnr-pic {
  border: 1px solid #641d14;
  background-color: #51150e;
  background-image: url("img/mod-bnr/_36/bg_a_3.png");
  .mod-bnr-inner {
    padding: 3px;
    border: 1px solid #d0b6b2;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01B1-mod-bnr-pic {
  border: 1px solid #185daa;
  background-color: #0a284b;
  background-image: url("img/mod-bnr/_36/bg_b.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01B2-mod-bnr-pic {
  border: 1px solid #185daa;
  background-color: #0a284b;
  background-image: url("img/mod-bnr/_36/bg_b_2.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    color: #ffffff;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01B3-mod-bnr-pic {
  border: 1px solid #5f140a;
  background-color: #4b0e07;
  background-image: url("img/mod-bnr/_36/bg_b_3.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01C1-mod-bnr-pic {
  border: 1px solid #2d2d2d;
  background-color: #2c2c2c;
  background-image: url("img/mod-bnr/_36/bg_c.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01C2-mod-bnr-pic {
  border: 1px solid #172a40;
  background-color: #17293e;
  background-image: url("img/mod-bnr/_36/bg_c_2.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}
@mixin deco-style01C3-mod-bnr-pic {
  border: 1px solid #3c1610;
  background-color: #3b150f;
  background-image: url("img/mod-bnr/_36/bg_c_3.png");
  .mod-bnr-inner {
    padding: 4px;
    border: none;
    .mod-bnr-inner3 {
      color: #ffffff;
      a & {
        color: #ffffff;
      }
    }
  }
}


//##################################################
//  mod-bnr-1st-side
//##################################################
//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin common-style-mod-bnr-side {
  text-align: center;
  width: 100%;
  background-repeat: repeat-x;
  @include border-radius();
  .mod-bnr-inner {
    color: #ffffff;
    line-height: 1.4;
    padding: 12px 35px 12px 10px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    border: 1px solid #ffffff;
    @include border-radius();
    overflow: hidden;
    p {
      font-size: $sideFontSizeM + 1 !important;
      span {
        font-size: $sideFontSizeM + 1 !important;
      }
    }
    &:hover {
      text-decoration: none;
      opacity: 0.80;
    }
  }
}

//////////////////////////////////////////////////
//  MODULE-STYLE
@mixin module-style-mod-bnr-side {
  margin-top: 10px;
}
@mixin module-style-mod-bnr-1st-side {
  margin-top: 15px;
}
@mixin module-style-mod-bnr-2nd-side {
  margin-top: 10px;
}

//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style01A1-mod-bnr-1st-side {
  background-color: #0d2b4d;
  background-image: url("img/mod-bnr/bg.png");
  border: 1px solid #325073;
  .mod-bnr-inner {
    border: 1px solid #bec9d4;
    background-image: url("img/mod-bnr/spbg02.png");
  }
}
@mixin deco-style01A2-mod-bnr-1st-side {
  background-color: #65140a;
  background-image: url("img/mod-bnr/bg_2.png");
  border: 1px solid #781b0e;
  .mod-bnr-inner {
    border: 1px solid #c9ada9;
    background-image: url("img/mod-bnr/spbg02_2.png");
  }
}
@mixin deco-style01A3-mod-bnr-1st-side {
  background-color: #180603;
  background-image: url("img/mod-bnr/bg_3.png");
  border: 1px solid #200805;
  .mod-bnr-inner {
    border: 1px solid #b7aba9;
    background-image: url("img/mod-bnr/spbg02_3.png");
  }
}