@charset "UTF-8";

//  mod-image の mixin一式
@mixin mod-image-common-style {
  margin-top: 10px !important;
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
  }
  .ex-imgSize_L & {
    img {
      width: 90%;
    }
  }
  .ex-imgSize_M & {
    img {
      width: 80%;
    }
  }
  .ex-imgSize_S & {
    img {
      width: 75%;
    }
  }
}

//  mod-image3 の mixin一式
@mixin mod-image3-common-style {
  margin-top: 10px;
  line-height: 0;
  text-align: center;
  img {
    width: 100%;
    line-height: 0;
    max-width: 300px;
  }
  .ex-imgSize_L & {
    img {
      width: 90%;
    }
  }
  .ex-imgSize_M & {
    img {
      width: 80%;
    }
  }
  .ex-imgSize_S & {
    img {
      width: 75%;
    }
  }
}

//  mod-image4 の mixin一式
@mixin mod-image4-common-style {
  margin-top: 10px !important;
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
    border-style: none;
  }
}

//  mod-image6 の mixin一式
@mixin mod-image6-common-style {
  max-width: 286px;
  margin-top: 10px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center;
  position: relative;
  &:after {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
  }
  > p {
    &:after {
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
    }
    img {
      width: 100%;
      max-width: 250px;
    }
  }
  .ex-imgSize_L {
    .mod-image6 {
      width: 85%;
      > p {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .ex-imgSize_M {
    .mod-image6 {
      width: 75%;
      > p {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .ex-imgSize_S {
    .mod-image6 {
      width: 65%;
      > p {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
@mixin mod-image6-style {
  width: auto;
  padding: 21px 0 0 0;
  background-image: none;
  background-repeat: repeat;
  &:after {
    content: url("img/mod-image/bg02.png");
  }
  > p {
    padding: 17px;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    &:after {
      content: url("img/mod-image/bg08.png");
    }
    &:before {
      content: normal;
      position: static;
      z-index: auto;
      bottom: auto;
      right: auto;
    }
  }
}
@mixin mod-image6-style2 {
  width: auto;
  padding: 21px 0 0 0;
  background-image: none;
  background-repeat: repeat;
  &:after {
    content: url("img/mod-image/bg02_2.png");
  }
  > p {
    padding: 17px;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    &:after {
      content: url("img/mod-image/bg08_2.png");
    }
    &:before {
      content: normal;
      position: static;
      z-index: auto;
      bottom: auto;
      right: auto;
    }
  }
}
@mixin mod-image6-style3 {
  width: auto;
  padding: 21px 0 0 0;
  background-image: none;
  background-repeat: repeat;
  &:after {
    content: url("img/mod-image/bg02_3.png");
  }
  > p {
    padding: 17px;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    &:after {
      content: url("img/mod-image/bg08_3.png");
    }
    &:before {
      content: normal;
      position: static;
      z-index: auto;
      bottom: auto;
      right: auto;
    }
  }
}
@mixin mod-image6-style4 {
  width: auto;
  padding: 0 0 0 0;
  background-image: none;
  background-repeat: repeat;
  &:after {
    content: normal;
  }
  > p {
    padding: 17px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    &:after {
      content: normal;
    }
    &:before {
      content: normal;
      position: static;
      z-index: auto;
      bottom: auto;
      right: auto;
    }
  }
}
@mixin mod-image6-style5 {
  width: 262px;
  padding: 8px 0 16px;
  background-image: url("img/mod-image/bg05.png");
  background-repeat: no-repeat;
  &:after {
    content: normal;
  }
  > p {
    padding: 5px;
    border: 1px solid #d1c9a4;
    background-color: transparent;
    &:after {
      content: url("img/mod-image/bg08.png");
    }
    &:before {
      content: url("img/mod-image/bg06.png");
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: 0;
    }
  }
}
@mixin mod-image6-style6 {
  width: 262px;
  padding: 8px 0 16px;
  background-image: url("img/mod-image/bg05_2.png");
  background-repeat: no-repeat;
  &:after {
    content: normal;
  }
  > p {
    padding: 5px;
    border: 1px solid #d1c9a4;
    background-color: transparent;
    &:after {
      content: normal;
    }
    &:before {
      content: url("img/mod-image/bg06_2.png");
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: 0;
    }
  }
}
@mixin mod-image6-style7 {
  width: 262px;
  padding: 8px 0 16px;
  background-image: url("img/mod-image/bg05_3.png");
  background-repeat: no-repeat;
  &:after {
    content: normal;
  }
  > p {
    padding: 5px;
    border: 1px solid #d1c9a4;
    background-color: transparent;
    &:after {
      content: normal;
    }
    &:before {
      content: url("img/mod-image/bg06_3.png");
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: 0;
    }
  }
}

//  mod-image7 の mixin一式
@mixin mod-image7-common-style {
  margin-left: 3px !important;
  text-align: center;
  img{
    width: 100%;
    max-width: 100px;
  }
}

//  mod-image8 の mixin一式
@mixin mod-image8-common-style {
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
  }
}

//  mod-image9 の mixin一式
@mixin mod-image9-common-style {
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
  }
}

//  mod-image10 の mixin一式
@mixin mod-image10-common-style {
  text-align: left;
  margin-top: 10px !important;
  img {
    max-width: 100%;
    border-style: none;
  }
}

//  mod-image-spec の mixin一式
@mixin mod-image-spec-common-style {
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
  img {
    width: 100%;
    display: block;
  }
  .ex-imgSize_L & {
    img {
      width: 90%;
    }
  }
  .ex-imgSize_M & {
    img {
      width: 80%;
    }
  }
  .ex-imgSize_S & {
    img {
      width: 75%;
    }
  }
}

//  mod-image-spec3 の mixin一式
@mixin mod-image-spec3-common-style {
  margin-top: 10px !important;
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
  }
  .ex-imgSize_L & {
    img {
      width: 90%;
    }
  }
  .ex-imgSize_M & {
    img {
      width: 80%;
    }
  }
  .ex-imgSize_S & {
    img {
      width: 75%;
    }
  }
}

//  mod-image-spec4 の mixin一式
@mixin mod-image-spec4-common-style {
  margin-top: 10px !important;
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
  }
  .ex-imgSize_L & {
    img {
      width: 90%;
    }
  }
  .ex-imgSize_M & {
    img {
      width: 80%;
    }
  }
  .ex-imgSize_S & {
    img {
      width: 75%;
    }
  }
}

//  mod-image-spec5 の mixin一式
@mixin mod-image-spec5-common-style {
  margin-top: 10px !important;
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
    border-style: none;
  }
  .ex-imgSize_L & {
    img {
      width: 90%;
    }
  }
  .ex-imgSize_M & {
    img {
      width: 80%;
    }
  }
  .ex-imgSize_S & {
    img {
      width: 75%;
    }
  }
}
