<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="noindex,nofollow,noarchive">
<script src="../../../../common/js/jquery-1.7.2.js"></script>
<script src="../../../../common/js/modernizr.js"></script>
<script src="js/render.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../common/css/normalize.css">
<style>
    .d {
        background: orange;
    }
</style>
<title>サンプル</title>
</head>
<body>


</body>
</html>
