@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-design-nagare の定義
//
//   ・デザインパターン
//   ・mod-set-nagare 内にincludeされる使い方を想定
//   ・他のsetモジュール（お客さまの声、等）でも使われる可能性あり
//   ・このモジュール単独では使われない（部品にクラスとして記述されない）
//
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// pat-design-nagare-4col の共通スタイル
// --------------------------------------------------------------------------

@mixin common-style-pat-design-nagare-3col {
  .mod-3col-inner,
  .mod-3col-inner2 {
    margin-top: 20px;
    padding-bottom: 30px;
    background-position: 50% bottom;
    background-size: 39px 16px;
    background-repeat: no-repeat;
  }
  .mod-3col-inner {
    .mod-3col-inner-3 {
      > .ex-first-child {
        margin-top: 0;
        > .ex-first-child {
          margin-top: 0;
        }
      }
    }
  }
  .mod-3col-inner2 {
    margin-top: 15px;
    .mod-3col-inner2-3 {
      > .ex-first-child {
        margin-top: 0;
        > .ex-first-child {
          margin-top: 0;
        }
      }
    }
  }
  .mod-3col-inner3 {
    margin-top: 15px;
    .mod-3col-inner3-3 {
      > .ex-first-child {
        margin-top: 0;
        > .ex-first-child {
          margin-top: 0;
        }
      }
    }
  }
}


// --------------------------------------------------------------------------
// pat-design-nagare-3col のモジュール共通スタイル
// --------------------------------------------------------------------------
@mixin module-style-pat-design-nagare-3col-1 {}


// --------------------------------------------------------------------------
// pat-design-nagare-3col の装飾スタイル
// --------------------------------------------------------------------------

@mixin deco-style-pat-design-nagare-3col-1 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #352111;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-2 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg_2.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #0b7d89;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-3 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg_3.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #45320b;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-4 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg02.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #223868;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-5 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg02_2.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #0c7d87;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-6 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg02_3.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #f37f1c;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-7 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg03.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #333333;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-8 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg03_2.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #355997;
    }
  }
}
@mixin deco-style-pat-design-nagare-3col-9 {
  .mod-3col-inner,
  .mod-3col-inner2 {
    background-image: url("img/mod-column/spbg03_3.png");
  }
  .mod-h5d2-3col,
  .mod-h5d2-3col-b {
    .mod-h {
      color: #45320b;
    }
  }
}


// --------------------------------------------------------------------------
// pat-design-nagare-3col の個別設定
// --------------------------------------------------------------------------

@mixin pat-design-nagare-3col-1 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-1;
}
@mixin pat-design-nagare-3col-2 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-2;
}
@mixin pat-design-nagare-3col-3 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-3;
}
@mixin pat-design-nagare-3col-4 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-4;
}
@mixin pat-design-nagare-3col-5 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-5;
}
@mixin pat-design-nagare-3col-6 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-6;
}
@mixin pat-design-nagare-3col-7 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-7;
}
@mixin pat-design-nagare-3col-8 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-8;
}
@mixin pat-design-nagare-3col-9 {
  @include common-style-pat-design-nagare-3col;
  @include module-style-pat-design-nagare-3col-1;
  @include deco-style-pat-design-nagare-3col-9;
}





// --------------------------------------------------------------------------
// pat-design-nagare-4col の共通スタイル
// --------------------------------------------------------------------------

@mixin common-style-pat-design-nagare-4col {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    margin-top: 20px;
    padding-bottom: 30px;
    background-position: 50% bottom;
    background-size: 39px 16px;
    background-repeat: no-repeat;
  }
  .mod-4col-inner {
    .mod-4col-inner-3 {
      > .ex-first-child {
        margin-top: 0;
        > .ex-first-child {
          margin-top: 0;
        }
      }
    }
  }
  .mod-4col-inner2 {
    margin-top: 15px;
    .mod-4col-inner2-3 {
      > .ex-first-child {
        margin-top: 0;
        > .ex-first-child {
          margin-top: 0;
        }
      }
    }
  }
  .mod-4col-inner3 {
    margin-top: 15px;
    .mod-4col-inner3-3 {
      > .ex-first-child {
        margin-top: 0;
        > .ex-first-child {
          margin-top: 0;
        }
      }
    }
  }
  .mod-4col-inner4 {
    margin-top: 15px;
    .mod-4col-inner4-3 {
      > .ex-first-child {
        margin-top: 0;
        > .ex-first-child {
          margin-top: 0;
        }
      }
    }
  }
}



// --------------------------------------------------------------------------
// pat-design-nagare-4col のモジュール共通スタイル
// --------------------------------------------------------------------------
@mixin module-style-pat-design-nagare-4col-1 {}


// --------------------------------------------------------------------------
// pat-design-nagare-4col の装飾スタイル
// --------------------------------------------------------------------------

@mixin deco-style-pat-design-nagare-4col-1 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-2 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg_2.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-3 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg_3.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-4 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg02.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-5 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg02_2.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-6 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg02_3.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-7 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg03.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-8 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg03_2.png");
  }
}
@mixin deco-style-pat-design-nagare-4col-9 {
  .mod-4col-inner,
  .mod-4col-inner2,
  .mod-4col-inner3 {
    background-image: url("img/mod-column/spbg03_3.png");
  }
}


// --------------------------------------------------------------------------
// pat-design-nagare-4col の個別設定
// --------------------------------------------------------------------------

@mixin pat-design-nagare-4col-1 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-1;
}
@mixin pat-design-nagare-4col-2 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-2;
}
@mixin pat-design-nagare-4col-3 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-3;
}
@mixin pat-design-nagare-4col-4 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-4;
}
@mixin pat-design-nagare-4col-5 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-5;
}
@mixin pat-design-nagare-4col-6 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-6;
}
@mixin pat-design-nagare-4col-7 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-7;
}
@mixin pat-design-nagare-4col-8 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-8;
}
@mixin pat-design-nagare-4col-9 {
  @include common-style-pat-design-nagare-4col;
  @include module-style-pat-design-nagare-4col-1;
  @include deco-style-pat-design-nagare-4col-9;
}
