@charset "UTF-8";


//見出しの対応
.ex-imgSize_2L {
  .mod-h_4_2 {
    width: 320px - 10px !important;
  }
  .mod-h_4_16 {
    width: 260px - 10px !important;
  }
  .mod-h_4_17 {
    width: 280px - 10px !important;
  }
  .mod-h_4_18 {
    width: 320px - 10px !important;
  }
  .mod-h_4_19 {
    width: 320px - 10px !important;
  }
}


//見出しの対応

.ex-imgSize_2S {
  .mod-h_4_2 {
    width: 420px - 10px !important;
  }
  .mod-h_4_16 {
    width: 360px - 10px !important;
  }
  .mod-h_4_17 {
    width: 380px - 10px !important;
  }
  .mod-h_4_18 {
    width: 420px - 10px !important;
  }
  .mod-h_4_19 {
    width: 420px - 10px !important;
  }
}

//見出しの対応
.ex-imgSize_2SS {
  .mod-h_4_2 {
    width: 470px - 10px !important;
  }
  .mod-h_4_16 {
    width: 410px - 10px !important;
  }
  .mod-h_4_17 {
    width: 430px - 10px !important;
  }
  .mod-h_4_18 {
    width: 470px - 10px !important;
  }
  .mod-h_4_19 {
    width: 470px - 10px !important;
  }
}

