@charset "UTF-8";

//------プレイスホルダー一覧 ここから------------

%default-3col-inner-base {
  padding: 10px 10px 0 10px;
  border: 1px solid #cccccc;
  border-top: 3px solid #f77b18;
  @include border-radius();
  background-color: #fffdf5;
}

%default-3col-inner {
  float: left;
  width: 315px;
  @extend %default-3col-inner-base;
}


//------プレイスホルダー一覧 ここまで------------


.mod-3col { //メイン3等分 30px
  //@extend %cf;
  > .mod-3col-inner {
    //float: left;
    //width: 200px;
    //margin-right: 20px;
    margin-bottom: 25px;//SP対応
  }
  > .mod-3col-inner2 {
    //float: left;
    //width: 200px;
    //margin-right: 20px;
    margin-bottom: 25px;//SP対応
  }
    > .mod-3col-inner3 {
    //float: right;
    //width: 200px;
  }
  .ex-style_i1A1a &,
  .ex-style_i1A1b &,
  .ex-style_i1A1c &,
  .ex-style_i1A1d & {
    .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      background-color: #fffdf2;
      padding: 15px;
    }
  }
  .ex-style_i1A2a & {
    .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      background-color: #f6f6f6;
      padding: 15px;
    }
  }
  .ex-style_i1A3a & {
    .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      background-color: #fff9ee;
      padding: 15px;
    }
  }
  .ex-style_i1B1a &,
  .ex-style_i1B1b &,
  .ex-style_i1B1c &,
  .ex-style_i1B1d & {
    .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      background-color: #e6f8ff;
      padding: 15px;
    }
  }
  .ex-style_i1B2a &,
  .ex-style_i1B2b &,
  .ex-style_i1B2c &,
  .ex-style_i1B2d & {
    .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      background-color: #FBF3C8;
      padding: 15px;
    }
  }
  .ex-style_i1B3a &,
  .ex-style_i1B3b &,
  .ex-style_i1B3c &,
  .ex-style_i1B3d & {
    .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      background-color: #ffefe5;
      padding: 15px;
    }
  }
  .ex-style_i1C1a &,
  .ex-style_i1C1b &,
  .ex-style_i1C1c &,
  .ex-style_i1C1d & {
   .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      border: 1px solid #c9e0ff;
      background: none;
      padding: 15px;
    }
  }
  .ex-style_i1C2a &,
  .ex-style_i1C2b &,
  .ex-style_i1C2c &,
  .ex-style_i1C2d & {
  .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      border: 1px solid #f99317;
      background: none;
      padding: 15px;
    }
  }
  .ex-style_i1C3a &,
  .ex-style_i1C3b &,
  .ex-style_i1C3c &,
  .ex-style_i1C3d & {
  .mod-3col-inner, .mod-3col-inner2, .mod-3col-inner3 {
      border: 1px solid #f2d028;
      background: none;
      padding: 15px;
    }
  }
}


.mod-3col2 { //フッター3等分 f-14
  //@extend %cf;
  > .mod-3col-inner {
    //float: left;
    //width: 300px;
    //margin-right: 40px;
  }
  > .mod-3col-inner2 {
    //float: left;
    //width: 300px;
    //margin-right: 40px;
  }
  > .mod-3col-inner3 {
    //float: right;
    //width: 300px;
  }
  .ex-style_01B1a &,
  .ex-style_01B1b &,
  .ex-style_01B1c &,
  .ex-style_01B1d &,
  .ex-style_01B2a &,
  .ex-style_01B2b &,
  .ex-style_01B2c &,
  .ex-style_01B2d &,
  .ex-style_01B3a &,
  .ex-style_01B3b &,
  .ex-style_01B3c &,
  .ex-style_01B3d & {
    padding: 0 15px;
  }
}


.mod-3col3 {
  //@extend %cf;
  > .mod-3col3-inner {
    @extend %default-3col-inner;
    // margin-right: 17px;
  }
  > .mod-3col3-inner2 {
    @extend %default-3col-inner;
    // margin-right: 18px;
  }
  > .mod-3col3-inner3 {
    @extend %default-3col-inner;
  }
}


.mod-3col4 {
  //@extend %cf;
  > .mod-3col-inner {
    // float: left;
    // width: 145px;
    // margin-right: 15px;
  }
  > .mod-3col-inner2 {
    // float: left;
    // width: 145px;
    // margin-right: 15px;
  }
    > .mod-3col-inner3 {
    // float: right;
    // width: 145px;
  }
}

.mod-3col5 { //抜け番
}

.mod-3col6 { //メイン3等分 30px
  //@extend %cf;
  margin-bottom: 30px;
  > .mod-3col-inner {
    // float: left;
    // width: 200px;
    // margin-right: 20px;
    padding: 10px;
    margin-bottom: 15px;//SP
    border: 1px solid #ade9ef;
    @include border-radius();
    @include background($color: #ecfdff);
    > .mod-3col-inner2 {
      padding: 15px;
      @include background($color: #ffffff);
    }
  }
  > .mod-3col-inner3 {
    // float: left;
    // width: 200px;
    // margin-right: 20px;
    margin-bottom: 15px;//SP
    padding: 10px;
    border: 1px solid #ade9ef;
    @include border-radius();
    @include background($color: #ecfdff);
    > .mod-3col-inner4 {
      padding: 15px;
      @include background($color: #ffffff);
    }
  }
    > .mod-3col-inner5 {
    // float: right;
    // width: 200px;
    padding: 10px;
    border: 1px solid #ade9ef;
    @include border-radius();
    @include background($color: #ecfdff);
    > .mod-3col-inner6 {
      padding: 15px;
      @include background($color: #ffffff);
    }
  }
  .ex-style_01A2a &,
  .ex-style_01A2b &,
  .ex-style_01A2c &,
  .ex-style_01A2d & {
    >.mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      background-color: #ebfdff;
      border: 1px solid #60bff0;
    }
  }
  .ex-style_01A3a &,
  .ex-style_01A3b &,
  .ex-style_01A3c &,
  .ex-style_01A3d & {
    >.mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      background-color: #ffe0de;
      border: 1px solid #fd8e89;
    }
  }
  .ex-style_01B1a &,
  .ex-style_01B1b &,
  .ex-style_01B1c &,
  .ex-style_01B1d & {
    .mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      border: 1px solid #abd2f6;
      @include background("mod-box/bg04.png", repeat-x, $color: #ffffff);
      >.mod-3col-inner2, .mod-3col-inner4, .mod-3col-inner6 {
        @include border-radius();
        background-color: transparent;
      }
    }
  }
  .ex-style_01B2a &,
  .ex-style_01B2b &,
  .ex-style_01B2c &,
  .ex-style_01B2d & {
    .mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      border: 1px solid #f4d34f;
      @include background("mod-box/bg04_2.png", repeat-x, $color: #ffffff);
      >.mod-3col-inner2, .mod-3col-inner4, .mod-3col-inner6 {
        @include border-radius();
        background-color: transparent;
      }
    }
  }
  .ex-style_01B3a &,
  .ex-style_01B3b &,
  .ex-style_01B3c &,
  .ex-style_01B3d & {
    .mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      border: 1px solid #ffa19b;
      @include background("mod-box/bg04_3.png", repeat-x, $color: #ffffff);
      >.mod-3col-inner2, .mod-3col-inner4, .mod-3col-inner6 {
        @include border-radius();
        background-color: transparent;
      }
    }
  }
  .ex-style_01C1a &,
  .ex-style_01C1b &,
  .ex-style_01C1c &,
  .ex-style_01C1d & {
    .mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      border: none;
      padding: 3px;
      background-color: none;
      @include background("mod-box/bg08.png", repeat);
    }
    >.mod-3col-inner2, .mod-3col-inner4, .mod-3col-inner6 {
      background-color: #ffffff;
      padding: 15px;
    }
  }
  .ex-style_01C2a &,
  .ex-style_01C2b &,
  .ex-style_01C2c &,
  .ex-style_01C2d & {
    .mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      border: none;
      padding: 3px;
      background-color: none;
      @include background("mod-box/bg08_2.png", repeat);
    }
    >.mod-3col-inner2, .mod-3col-inner4, .mod-3col-inner6 {
      background-color: #ffffff;
      padding: 15px;
    }
  }
  .ex-style_01C3a &,
  .ex-style_01C3b &,
  .ex-style_01C3c &,
  .ex-style_01C3d & {
    .mod-3col-inner, .mod-3col-inner3, .mod-3col-inner5 {
      border: none;
      padding: 3px;
      background-color: none;
      @include background("mod-box/bg08_3.png", repeat);
    }
    >.mod-3col-inner2, .mod-3col-inner4, .mod-3col-inner6 {
      background-color: #ffffff;
      padding: 15px;
    }
  }
}



