@charset "UTF-8";

@mixin mod-info7-common-style {
  margin-top: 15px;
  th {
    font-weight: normal;
    vertical-align: top;
    width: 26%;
    padding: 0 0 10px;
    p {
      padding: 0 8px;
      @include border-radius();
    }
  }
  td {
    vertical-align: top;
    width: 59%;
    padding: 0 0 10px;
    p {
      padding: 1px 0 0 10px;
    }
  }
  tr:last-child {
    th, td {
      padding: 0;
    }
  }
}
@mixin mod-info7-style {
  th p {
    color: #ffffff;
    background-color: #1d6fde;
  }
}

@mixin mod-info7-style2 {
  th p {
    color: #365997;
    background-color: #ffe876;
  }
}
@mixin mod-info7-style3 {
  th p {
    color: #ffffff;
    background-color: #519dce;
  }
}
@mixin mod-info7-style4 {
  th p {
    color: #ffffff;
    background-color: #3c66ba;
  }
}
@mixin mod-info7-style5 {
  th p {
    color: #ffffff;
    background-color: #095c66;
  }
}
@mixin mod-info7-style6 {
  th p {
    color: #ffffff;
    background-color: #443308;
  }
}
@mixin mod-info7-style7 {
  th p {
    color: #ffffff;
    background-color: #5596f6;
  }
}
@mixin mod-info7-style8 {
  th p {
    color: #ffffff;
    background-color: #5bc8d3;
  }
}
@mixin mod-info7-style9 {
  th p {
    color: #45320b;
    background-color: #f2d028;
  }
}

//  mod-info8 の mixin一式
@mixin mod-info8-common-style {
  margin-top: 10px;
  .mod-info-inner {
    text-align: center;
    width: 140px;
    margin-right: 15px;
    @include border-radius();
  }
  .mod-info-inner2 {
    margin-top: 10px;
  }
}
@mixin mod-info8-style {
  border-bottom: 0 none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-color: #f59e3b;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
}

@mixin mod-info8-style2 {
  border-bottom: 0 none transparent;
  .mod-info-inner {
    color: #333333;
    background-color: #ffe876;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
}
@mixin mod-info8-style3 {
  border-bottom: 0 none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-color: #519dce;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
}
@mixin mod-info8-style4 {
  border-bottom: 0 none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-color: #3a66b7;
    background-image: url("img/mod-info/bg.png");
    background-position: 0 0;
    background-repeat: repeat-x;
  }
}
@mixin mod-info8-style5 {
  border-bottom: 0 none transparent;
  .mod-info-inner {
    color: #085b66;
    background-color: #feeb91;
    background-image: url("img/mod-info/bg_2.png");
    background-position: 0 0;
    background-repeat: repeat-x;
  }
}
@mixin mod-info8-style6 {
  border-bottom: 0 none transparent;
  .mod-info-inner {
    color: #ffffff;
    background-color: #7cb4d8;;
    background-image: url("img/mod-info/bg_3.png");
    background-position: 0 0;
    background-repeat: repeat-x;
  }
}
@mixin mod-info8-style7 {
  border-bottom: 1px dotted #cccccc;
  .mod-info-inner {
    color: #f7931d;
    background-color: transparent;
    background-image: url("img/mod-info/bg03.png");
    background-position: left 6px;
    background-repeat: no-repeat;
  }
}
@mixin mod-info8-style8 {
  border-bottom: 1px dotted #cccccc;
  .mod-info-inner {
    color: #067e87;
    background-color: transparent;
    background-image: url("img/mod-info/bg03_2.png");
    background-position: left 6px;
    background-repeat: no-repeat;
  }
}
@mixin mod-info8-style9 {
  border-bottom: 1px dotted #cccccc;
  .mod-info-inner {
    color: #416ca3;
    background-color: transparent;
    background-image: url("img/mod-info/bg03_3.png");
    background-position: left 6px;
    background-repeat: no-repeat;
  }
}

//  mod-info9 の mixin一式
@mixin mod-info9-common-style {
  margin-top: 10px;
  > p {
    &:first-child {
      text-align: center;
      width: 140px;
      @include border-radius();
    }
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
@mixin mod-info9-style {
  border-bottom: 0 none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #f59e3b;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
}

@mixin mod-info9-style2 {
  border-bottom: 0 none transparent;
  > p:first-child {
    color: #333333;
    background-color: #ffe876;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
}
@mixin mod-info9-style3 {
  border-bottom: 0 none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #519dce;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
  }
}
@mixin mod-info9-style4 {
  border-bottom: 0 none transparent;
  > p:first-child {
    color: #ffffff;
    background-color: #3a66b7;
    background-image: url("img/mod-info/bg.png");
    background-position: 0 0;
    background-repeat: repeat-x;
  }
}
@mixin mod-info9-style5 {
  border-bottom: 0 none transparent;
  > p:first-child {
    color: #085b66;
    background-color: #feeb91;
    background-image: url("img/mod-info/bg_2.png");
    background-position: 0 0;
    background-repeat: repeat-x;
  }
}
@mixin mod-info9-style6 {
  border-bottom: 0 none transparent;
  > p:first-child {
    background-color: #7cb4d8;;
    background-color: #f59e3b;
    background-image: url("img/mod-info/bg_3.png");
    background-position: 0 0;
    background-repeat: repeat-x;
  }
}
@mixin mod-info9-style7 {
  border-bottom: 1px dotted #cccccc;
  > p:first-child {
    color: #f7931d;
    background-color: #ffffff;
    background-image: url("img/mod-info/bg03.png");
    background-position: left center;
    background-repeat: no-repeat;
  }
}
@mixin mod-info9-style8 {
  border-bottom: 1px dotted #cccccc;
  > p:first-child {
    color: #067e87;
    background-color: #ffffff;
    background-image: url("img/mod-info/bg03_2.png");
    background-position: left center;
    background-repeat: no-repeat;
  }
}
@mixin mod-info9-style9 {
  border-bottom: 1px dotted #cccccc;
  > p:first-child {
    color: #416ca3;
    background-color: #ffffff;
    background-image: url("img/mod-info/bg03_3.png");
    background-position: left center;
    background-repeat: no-repeat;
  }
}

//  mod-info10 の mixin一式
@mixin mod-info10-common-style {
  margin-top: 10px;
  th {
    font-weight: normal;
    vertical-align: top;
    width: 25%;
    padding: 10px 0 0;
    p {
      font-size: 14px;
      padding: 0 3px;
      @include border-radius(3px);
    }
  }
  td {
    vertical-align: top;
    max-width: 50%;
    padding: 10px 0 0;
    p {
      font-size: 14px;
      padding: 0 0 1px 7px;
    }
  }
  tr:first-child {
    th, td {
      padding: 0;
    }
  }
}
@mixin mod-info10-style {
  th p {
    color: #ffffff;
    background-color: #ff8809;
  }
  td p {
    color: #333333;
  }
}

//  mod-info11 の mixin一式
@mixin mod-info11-common-style {
  margin-top: 10px;
  th {
    font-weight: normal;
    vertical-align: top;
    width: 25%;
    padding: 10px 0 0;
    p {
      font-size: 14px;
      padding: 0 3px;
      @include border-radius(3px);
    }
  }
  td {
    vertical-align: top;
    max-width: 50%;
    padding: 10px 0 0;
    p {
      font-size: 14px;
      padding: 0 0 6px 7px;
    }
  }
  tr:first-child {
    th, td {
      padding: 0;
    }
  }
}
@mixin mod-info11-style {
  th p {
    color: #ffffff;
    background-color: #ff8809;
  }
  td p {
    color: #333333;
  }
}

//  mod-info12 の mixin一式
@mixin mod-info12-common-style {
  margin-top: 10px;
  th {
    font-weight: normal;
    vertical-align: top;
    width: 25%;
    padding: 10px 0 0;
    p {
      padding: 0 3px;
      font-size: 14px;
      @include border-radius(3px);
    }
  }
  td {
    vertical-align: top;
    max-width: 50%;
    padding: 10px 0 0;
    p {
      padding: 0 0 6px 7px;
      font-size: 14px;
    }
  }
  tr:first-child {
    th, td {
      padding: 0;
    }
  }
}

@mixin mod-info12-style {
  th p {
    color: #ffffff;
    background-color: #ff8809;
  }
  td p {
    color: #333333;
  }
}
