@charset "UTF-8";

// -------------------------------------
//
// pat-item-bnr
//
// -------------------------------------

// -------------------------------------
//block-style
// -------------------------------------
@mixin block-style-mod-bnr-hover {//hover時の挙動
  &:hover {
    opacity: 0.80;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
}


// -------------------------------------
// pat-item-bnr の共通スタイル
// -------------------------------------
@mixin common-style-pat-item-bnr {
  @include border-radius();
  @include block-style-mod-bnr-hover;
  margin-top: 20px; //ex-argin対応のためショートハンド不使用
  padding: 0;
  .mod-bnr-inner {
    @include border-radius();
    margin: 0;
    padding: 0;
    p {
      margin: 0;
      text-align: left;
      font-weight: normal;
      font-size: $fontSizeM;
      line-height: 1.4;
    }
    a {
      color: #ffffff;
    }
    a:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}



// -------------------------------------
//  pat-item-bnr の共通デザイン
// -------------------------------------
@mixin module-style-pat-item-bnr-1 { //footer
  @extend %inlineBlock;
  position: absolute !important; //switchableのホバーで崩れる現象に対応するため
  bottom: 0;
  margin: 5px 0 0 0;
  min-width: 200px;
  max-width: 300px;
  background-repeat: repeat-x;
  background-position: left top;
  .mod-bnr-inner {
    padding: 7px 5px 6px 30px;
    max-height: 51px;
    background-position: 9px 10px;
    p {
      font-size: $fontSizeS + 1;
    }
  }
}
@mixin module-style-pat-item-bnr-2 { //お問合せ
  margin: 15px 0 0 0;
  width: 260px;
  background-repeat: repeat-x;
  background-position: left top;
  .mod-bnr-inner {
    padding: 4px 30px 2px 30px;
    max-height: 50px;
    background-position: 9px 8px;
    background-repeat: no-repeat;
  }
}
@mixin module-style-pat-item-bnr-3 { //サイドの細いバナー
  margin: 10px 0 0 0;
  .mod-bnr-inner {
    padding: 0 0 0 18px;
    max-height: 40px;
    background-repeat: no-repeat;
    background-position: left center;
    p {
      font-size: $sideFontSizeM;
      line-height: 1.6;
    }
  }
}
@mixin module-style-pat-item-bnr-4 { //テーマ2デフォルト
  width: 270px;
  background-position: left top;
  background-repeat: repeat-x;
  .mod-bnr-inner {
    padding: 11px 5px 10px 30px;
    max-height: 65px;
    background-position: 10px 15px;
    background-repeat: no-repeat;
  }
}


// -------------------------------------
// pat-item-bnr の装飾スタイル
// -------------------------------------

@mixin deco-style-pat-item-bnr-grade-1 { //footer 青1
  border: 1px solid #325073;
  background-color: #274263;
  background-image: url("img/mod-bnr/_34/bg_a.png");
  .mod-bnr-inner {
    border: 1px solid #b3bcc8;
    background-image: url("img/mod-bnr/_34/bg02_a.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-2 { //footer 青2
  border: 1px solid #5f140a;
  background-color: #500f07;
  background-image: url("img/mod-bnr/_34/bg_a_2.png");
  .mod-bnr-inner {
    border: 1px solid #c1aba8;
    background-image: url("img/mod-bnr/_34/bg02_a_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-3 { //footer 青3
  border: 1px solid #200805;
  background-color: #180604;
  background-image: url("img/mod-bnr/_34/bg_a_3.png");
  .mod-bnr-inner {
    border: 1px solid #aea8a7;
    background-image: url("img/mod-bnr/_34/bg02_a_3.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-4 { //footer ピンク
  border: 1px solid #931f10;
  background-color: #8b1e0f;
  background-image: url("img/mod-bnr/_34/bg_b.png");
  .mod-bnr-inner {
    border: 1px solid #591208;
    background-image: url("img/mod-bnr/_34/bg02_b.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-5 { //footer 黄１
  border: 1px solid #4672af;
  background-color: #4671ae;
  background-image: url("img/mod-bnr/_34/bg_b_2.png");
  .mod-bnr-inner {
    border: 1px solid #314e79;
    background-image: url("img/mod-bnr/_34/bg02_b_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-6 { //footer 黄2
  border: 1px solid #061626;
  background-color: #2f4d6f;
  background-image: url("img/mod-bnr/_34/bg_b_3.png");
  .mod-bnr-inner {
    border: 1px solid #0f375f;
    background-image:  url("img/mod-bnr/_34/bg02_b_3.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-7 { //黒
  border: 1px solid #3c3c3c;
  background-color: #535353;
  background-image: url("img/mod-bnr/_33/bg_a.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/bg02_a.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-8 { //青4
  border: 1px solid #7398c2;
  background-color: #677e9a;
  background-image: url("img/mod-bnr/_33/bg_a_2.png");
    color: #ffffff;
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/bg02_a_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-9 { //薄赤
  border: 1px solid #e1d5d5;
  background-color: #dfd2d2;
  background-image: url("img/mod-bnr/_33/bg_a_3.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/_33/bg02_a_3.png");
    color: #5f140a;
    a {
      color: #5f140a;
    }
    a:hover {
      color: #5f140a;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-10 { //グレー
  border: 1px solid #889eb8;
  background-color: #c9c9c9;
  background-image: url("img/mod-bnr/_33/bg_b.png");
  .mod-bnr-inner {
    border: 1px solid #ececec;
    background-image: url("img/mod-bnr/_33/bg02_b.png");
    color: #0f375f;
    a {
      color: #0f375f;
    }
    a:hover {
      color: #0f375f;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-11 { //ゴールド
  border: 1px solid #3f5f7f;
  background-color: #c7c0a1;
  background-image: url("img/mod-bnr/_33/bg_b_2.png");
  .mod-bnr-inner {
    border: 1px solid #ebe9de;
    background-image: url("img/mod-bnr/_33/bg02_b_2.png");
    color: #333333;
    a {
      color: #333333;
    }
    a:hover {
      color: #333333;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-12 { //薄赤2
  border: 1px solid #d7c0c0;
  background-color: #dbcbcb;
  background-image: url("img/mod-bnr/_33/bg_b_3.png");
  .mod-bnr-inner {
    border: 1px solid #f2ecec;
    background-image: url("img/mod-bnr/_33/bg02_b_3.png");
    color: #5f140a;
    a {
      color: #5f140a;
    }
    a:hover {
      color: #5f140a;
    }
  }
}
@mixin deco-style-pat-item-bnr-grade-13 { //2a1の黒
  border: 1px solid #3c3c3c;
  background-color: #303030;
  background-image: url("img/mod-bnr/bg03.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/bg04.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-14 { //2a2の青
  border: 1px solid #325073;
  background-color: #264061;
  background-image: url("img/mod-bnr/bg03_2.png");
  .mod-bnr-inner {
    border: 1px solid #bec9d4;
    background-image: url("img/mod-bnr/bg04_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-15 { //2a3の赤
  border: 1px solid #781b0e;
  background-color: #65140a;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #d6b5af;
    background-image: url("img/mod-bnr/bg04_3.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-16 { //2b1の青
  border: 1px solid #3c3c3c;
  background-color: #010204;
  background-image: url("img/mod-bnr/bg08_4.png");
  .mod-bnr-inner {
    border: 1px solid #b6c0cd;
    background-image: url("img/mod-bnr/bg13.png");
    background-position: 10px 11px; //common打ち消し
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-17 { //2b2の青
  border: 1px solid #7196c0;
  background-color: #143b64;
  background-image: url("img/mod-bnr/bg08_2.png");
  .mod-bnr-inner {
    border: 1px solid #cddae8;
    background-image: url("img/mod-bnr/bg13.png");
    background-position: 10px 11px; //common打ち消し
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-18 { //2b3の赤
  border: 1px solid #781b0e;
  background-color: #65140a;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #3d0d05;
    background-image: url("img/mod-bnr/bg13.png");
    background-position: 10px 11px; //common打ち消し
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-grade-19 { //1a1装飾文章
  border: 1px solid #692f27;
  background-color: #4f1108;
  background-image: url("img/_pat-item/bnr-grade/bg.png");
  .mod-bnr-inner {
    border: 1px solid #cdb2ac;
    background-image: url("img/_pat-item/bnr-grade/bg02.png");
    color: #ffffff;
  }
}



// メッシュ
@mixin deco-style-pat-item-bnr-mesh-1 { //footer 青
  border: 1px solid #325073;
  background-image: url("img/mod-bnr/_34/bg_c.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-2 { //footer 黄
  border: 1px solid #5f140a;
  background-image: url("img/mod-bnr/_34/bg_c_2.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #ceb2ac;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-3 { //footer 茶
  border: 1px solid #200805;
  background-image: url("img/mod-bnr/_34/bg_c_3.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #c2b9b8;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-4 { //黒
  border: 1px solid #666666;
  background-image: url("img/mod-bnr/_33/bg_c.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #fafafa;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-5 { //青2
  border: 1px solid #666666;
  background-image: url("img/mod-bnr/_33/bg_c_2.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #f8fafb;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-6 { //赤2
  border: 1px solid #781b0e;
  background-image: url("img/mod-bnr/_33/bg_c_3.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #fbf8f7;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-7 {
  border: 1px solid #3c3c3c;
  background-image: url("img/mod-bnr/bg21.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #cbcbcb;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-8 {
  border: 1px solid #0f375f;
  background-image: url("img/mod-bnr/bg21_2.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #b6c9d5;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-9 {
  border: 1px solid #781b0e;
  background-image: url("img/mod-bnr/bg21_3.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #ddbeb5;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-10 {
  border: 1px solid #3c3c3c;
  background-image: url("img/_pat-item/bnr-mesh/bg.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #cbcbcb;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-11 {
  border: 1px solid #0f375f;
  background-image: url("img/_pat-item/bnr-mesh/bg_2.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #b6c9d5;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mesh-12 {
  border: 1px solid #781b0e;
  background-image: url("img/_pat-item/bnr-mesh/bg_3.png");
  background-repeat: no-repeat; //common打ち消し
  .mod-bnr-inner {
    border: 1px solid #ddbeb5;
    color: #ffffff;
  }
}


//小さいバナー
@mixin deco-style-pat-item-bnr-mini-1 { //紺
  border-top: 1px solid #98a4b4;
  border-right: 1px solid #152640;
  border-bottom: 1px solid #0e1c33;
  background-color: #26415f;
  .mod-bnr-inner {
    background-image: url("img/mod-bnr/bg61.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mini-2 { //赤
  border-top: 1px solid #bf938d;
  border-right: 1px solid #560e07;
  border-bottom: 1px solid #480904;
  background-color: #781b0e;
  .mod-bnr-inner {
    background-image: url("img/mod-bnr/bg61_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-mini-3 { //濃赤
  border-top: 1px solid #a9908c;
  border-right: 1px solid #2d0b07;
  border-bottom: 1px solid #220704;
  background-color: #48160d;
  .mod-bnr-inner {
    background-image: url("img/mod-bnr/bg61_3.png");
    color: #ffffff;
  }
}

@mixin deco-style-pat-item-bnr-mini-4 { //黒
  border-top: 1px solid #a5a5a5;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #161616;
  background-color: #414141;
  .mod-bnr-inner {
    background-image: url("img/_pat-item/bnr-mini/bg.png");
    color: #ffffff;
  }
}



//////////////////////////////////
//  ここからリファクタ
//////////////////////////////////

// -------------------------------------
//  module-style-pat-item-bnr
// -------------------------------------
@mixin module-style-pat-item-bnr {
  background-position: left top;
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-repeat: no-repeat;
  }
}
@mixin module-style-pat-item-bnr2 {
  background-position: left top;
  background-repeat: no-repeat;
  .mod-bnr-inner {
    background-repeat: no-repeat;
  }
}
@mixin module-style-pat-item-bnr3 {
  background-position: left -1px;
  background-repeat: no-repeat;
  .mod-bnr-inner {
    background-repeat: no-repeat;
  }
}

// -------------------------------------
//  size-style-pat-item-bnr
// -------------------------------------
@mixin size-style-pat-item-bnr {
  min-width: none;
  max-width: none;
  width: 270px;
  .mod-bnr-inner {
    max-height: 65px;
  }
}
@mixin size-style-pat-item-bnr2 {
  min-width: none;
  max-width: none;
  width: 260px;
  .mod-bnr-inner {
    max-height: 50px;
  }
}
@mixin size-style-pat-item-bnr-box {
  min-width: none;
  max-width: 230px;
  width: auto;
  .mod-bnr-inner {
    max-height: 47px;
    p { //common打ち消し
      font-size: 13px;
    }
  }
}
@mixin size-style-pat-item-bnr-side {
  margin: 10px 0 0 0; //common打ち消し
  min-width: none;
  max-width: none;
  width: auto;
  .mod-bnr-inner {
    max-height: 40px;
    p { //common打ち消し
      font-size: $sideFontSizeM;
      line-height: 1.6;
    }
  }
}
@mixin size-style-pat-item-bnr-side2 {
  margin: 10px 0 0 0; //common打ち消し
  min-width: none;
  max-width: none;
  width: auto;
  .mod-bnr-inner {
    max-height: 58px;
    p {  //common打ち消し
      font-size: $sideFontSizeM;
    }
  }
}
@mixin size-style-pat-item-bnr-footer {
  min-width: 150px;
  max-width: 300px;
  width: auto;
  .mod-bnr-inner {
    max-height: 51px;
    p {
      font-size: $fontSizeS + 1;
    }
  }
}


// -------------------------------------
//  size-style-pat-item-bnr-for-4col
// -------------------------------------
@mixin size-style-pat-item-bnr-for-4col-L25 {
  min-width: none;
  max-width: none;
  width: auto;
  .mod-bnr-inner {
    max-height: 47px;
    p { //common打ち消し
      font-size: $fontSizeM - 2;
    }
  }
}
@mixin size-style-pat-item-bnr-for-4col-L30 {
  min-width: none;
  max-width: none;
  width: auto;
  .mod-bnr-inner {
    max-height: 43px;
    p { //common打ち消し
      font-size: $fontSizeS;
    }
  }
}

// -------------------------------------
//  insize-style-pat-item-bnr
// -------------------------------------
@mixin insize-style-pat-item-bnr-b {
  .mod-bnr-inner {
    padding: 11px 5px 10px 30px;
    background-position: 10px 15px;
  }
}
@mixin insize-style-pat-item-bnr-box-b {
  .mod-bnr-inner {
    padding: 5px 5px 4px 30px;
    background-position: 10px 8px;
  }
}
@mixin insize-style-pat-item-bnr-side2-b {
  .mod-bnr-inner {
    padding: 10px 5px 10px 30px;
    background-position: 10px 13px;
  }
}
@mixin insize-style-pat-item-bnr-footer-b {
  .mod-bnr-inner {
    padding: 5px 10px 5px 25px;
    background-position: 7px 8px;
  }
}
@mixin insize-style-pat-item-bnr-c {
  .mod-bnr-inner {
    padding: 11px 5px 10px 30px;
    background-position: 10px 11px;
  }
}
@mixin insize-style-pat-item-bnr-box-c {
  .mod-bnr-inner {
    padding: 5px 5px 4px 30px;
    background-position: 10px 6px;
  }
}
@mixin insize-style-pat-item-bnr-d {
  .mod-bnr-inner {
    padding: 11px 5px 10px 30px;
    background-position: left top;
  }
}
@mixin insize-style-pat-item-bnr-box-d {
  .mod-bnr-inner {
    padding: 5px 5px 4px 30px;
    background-position: left top;
  }
}
@mixin insize-style-pat-item-bnr-footer-d {
  .mod-bnr-inner {
    padding: 5px 10px 5px 25px;
    background-position: left top;
  }
}
@mixin insize-style-pat-item-bnr-f {
  .mod-bnr-inner {
    padding: 0 0 0 18px;
    background-position: left center;
  }
}
@mixin insize-style-pat-item-bnr2-h {
  .mod-bnr-inner {
    padding: 4px 30px 2px 30px;
    background-position: 9px 6px;
  }
}
@mixin insize-style-pat-item-bnr2-i {
  .mod-bnr-inner {
    padding: 4px 30px 2px 30px;
    background-position: left top;
  }
}


// -------------------------------------
//  insize-style-pat-item-bnr-for-4col
// -------------------------------------
@mixin insize-style-pat-item-bnr-for-4col-L25-b {
  .mod-bnr-inner {
    padding: 5px 5px 4px 25px;
    background-position: 8px 8px;
  }
}

@mixin insize-style-pat-item-bnr-for-4col-L30-b {
  .mod-bnr-inner {
    padding: 5px 3px 4px 20px;
    background-position: 5px 7px;
  }
}

@mixin insize-style-pat-item-bnr-for-4col-L25-c {
  .mod-bnr-inner {
    padding: 5px 5px 4px 25px;
    background-position: 7px 5px;
  }
}

@mixin insize-style-pat-item-bnr-for-4col-L30-c {
  .mod-bnr-inner {
    padding: 5px 3px 4px 20px;
    background-position: 3px 4px;
  }
}

@mixin insize-style-pat-item-bnr-for-4col-L25-d {
  .mod-bnr-inner {
    padding: 5px 5px 4px 25px;
    background-position: left top;
  }
}

@mixin insize-style-pat-item-bnr-for-4col-L30-d {
  .mod-bnr-inner {
    padding: 5px 3px 4px 20px;
    background-position: left top;
  }
}



// -------------------------------------
// deco-style-pat-item-bnr-b
// -------------------------------------
@mixin deco-style-pat-item-bnr-b1 { //2a1の黒
  border: 1px solid #3c3c3c;
  background-color: #303030;
  background-image: url("img/mod-bnr/bg03.png");
  .mod-bnr-inner {
    border: 1px solid #ffffff;
    background-image: url("img/mod-bnr/bg04.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b2 { //2a2の青
  border: 1px solid #325073;
  background-color: #264061;
  background-image: url("img/mod-bnr/bg03_2.png");
  .mod-bnr-inner {
    border: 1px solid #bec9d4;
    background-image: url("img/mod-bnr/bg04_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b3 { //2a3の赤
  border: 1px solid #781b0e;
  background-color: #65140a;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #d6b5af;
    background-image: url("img/mod-bnr/bg04_3.png");
    color: #ffffff;
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-c
// -------------------------------------
@mixin deco-style-pat-item-bnr-c1 { //2b1の青
  border: 1px solid #3c3c3c;
  background-color: #010204;
  background-image: url("img/mod-bnr/bg08_4.png");
  .mod-bnr-inner {
    border: 1px solid #b6c0cd;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-c2 { //2b2の青
  border: 1px solid #7196c0;
  background-color: #143b64;
  background-image: url("img/mod-bnr/bg08_2.png");
  .mod-bnr-inner {
    border: 1px solid #cddae8;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-c3 { //2b3の赤
  border: 1px solid #781b0e;
  background-color: #65140a;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #3d0d05;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-d
// -------------------------------------
@mixin deco-style-pat-item-bnr-d1 {
  border: 1px solid #3c3c3c;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21.png");
  .mod-bnr-inner {
    border: 1px solid #cbcbcb;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-d2 {
  border: 1px solid #0f375f;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21_2.png");
  .mod-bnr-inner {
    border: 1px solid #b6c9d5;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-d3 {
  border: 1px solid #781b0e;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21_3.png");
  .mod-bnr-inner {
    border: 1px solid #ddbeb5;
    background-image: none;
    color: #ffffff;
  }
}