@charset "UTF-8";

// -------------------------------------
//
// pat-item-bnr
//
// -------------------------------------

// -------------------------------------
//block-style
// -------------------------------------
@mixin block-style-mod-bnr-hover {//hover時の挙動
  &:hover {
    opacity: 0.80;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
}


// -------------------------------------
// pat-item-bnr の共通スタイル
// -------------------------------------
@mixin common-style-pat-item-bnr {
  @include border-radius();
  @include block-style-mod-bnr-hover;
  margin-top: 20px;//ex-argin対応のためショートハンド不使用
  padding: 0;
  .mod-bnr-inner {
    @include border-radius();
    margin: 0;
    padding: 0;
    p {
      margin: 0;
      text-align: left;
      font-weight: normal;
      font-size: $fontSizeM;
      line-height: 1.4;
    }
    a {
      color: #ffffff;
    }
    a:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

// -------------------------------------
//  size-style-pat-item-bnr-b
// -------------------------------------
@mixin size-style-pat-item-bnr {
  width: 270px;
  .mod-bnr-inner {
    max-height: 65px;
  }
}

// -------------------------------------
//  module-style-pat-item-bnr
// -------------------------------------
@mixin module-style-pat-item-bnr {
  background-position: left top;
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-repeat: no-repeat;
  }
}
@mixin module-style-pat-item-bnr2 {
  background-position: left top;
  background-repeat: no-repeat;
  .mod-bnr-inner {
    background-repeat: no-repeat;
  }
}

// -------------------------------------
//  insize-style-pat-item-bnr
// -------------------------------------
@mixin insize-style-pat-item-bnr-b {
  .mod-bnr-inner {
    padding: 11px 5px 10px 30px;
    background-position: 10px 15px;
  }
}
@mixin insize-style-pat-item-bnr-c {
  .mod-bnr-inner {
    padding: 11px 5px 10px 30px;
    background-position: 10px 11px;
  }
}
@mixin insize-style-pat-item-bnr-d {
  .mod-bnr-inner {
    padding: 11px 5px 10px 30px;
    background-position: 10px 15px;
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-b
// -------------------------------------
@mixin deco-style-pat-item-bnr-b1 { //1a1
  border: 1px solid #ff7c76;
  background-color: #ff7c76;
  background-image: url("img/mod-bnr/bg03.png");
  .mod-bnr-inner {
    border: 1px solid #ffdddc;
    background-image: url("img/mod-bnr/bg04.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b2 { //1a2
  border: 1px solid #3d6ea8;
  background-color: #3d6ea8;
  background-image: url("img/mod-bnr/bg03_2.png");
  .mod-bnr-inner {
    border: 1px solid #c8d9ea;
    background-image: url("img/mod-bnr/bg04_2.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-b3 { //1a3
  border: 1px solid #408bc2;
  background-color: #408bc2;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #c9e2f0;
    background-image: url("img/mod-bnr/bg04_3.png");
    color: #ffffff;
  }
}


// -------------------------------------
// deco-style-pat-item-bnr-c
// -------------------------------------

@mixin deco-style-pat-item-bnr-c1 { //1b1
  border: 1px solid #ff7c76;
  background-color: #ff7c76;
  background-image: url("img/mod-bnr/bg03.png");
  .mod-bnr-inner {
    border: 1px solid #ffdddc;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-c2 { //1b2
  border: 1px solid #f2d028;
  background-color: #f2d028;
  background-image: url("img/mod-bnr/bg08_2.png");
  .mod-bnr-inner {
    border: 1px solid #fdf5d9;
    background-image: url("img/mod-bnr/bg13.png");
    color: #085B66;
  }
}
@mixin deco-style-pat-item-bnr-c3 { //1b3
  border: 1px solid #408bc2;
  background-color: #408bc2;
  background-image: url("img/mod-bnr/bg03_3.png");
  .mod-bnr-inner {
    border: 1px solid #c9e2f0;
    background-image: url("img/mod-bnr/bg13.png");
    color: #ffffff;
  }
}

// -------------------------------------
// deco-style-pat-item-bnr-d
// -------------------------------------
@mixin deco-style-pat-item-bnr-d1 { //1c1
  border: 1px solid #ff7c76;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21.png");
  .mod-bnr-inner {
    border: 1px solid #ffdddc;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-d2 { //1c2
  border: 1px solid #55c2cf;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21_2.png");
  .mod-bnr-inner {
    border: 1px solid #d7f2f5;
    background-image: none;
    color: #ffffff;
  }
}
@mixin deco-style-pat-item-bnr-d3 { //1c3
  border: 1px solid #408bc2;
  background-color: transparent;
  background-image: url("img/mod-bnr/bg21_3.png");
  .mod-bnr-inner {
    border: 1px solid #d1e7f3;
    background-image: none;
    color: #ffffff;
  }
}