@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-item-waku
//
// --------------------------------------------------------------------------

// -------------------------------------
// 角丸スタイル
// -------------------------------------

// 角丸3px
@mixin rad-type-all-3px {
  @include border-radius(3px);
  > div {
    @include border-radius(3px);
    > div {
      @include border-radius(3px);
    }
  }
}

// 角丸5px
@mixin rad-type-all-5px {
  @include border-radius(5px);
  > div {
    @include border-radius(5px);
    > div {
      @include border-radius(5px);
    }
  }
}

// 上部角丸3px
@mixin rad-type-up-3px {
  @include border-radius(3px 3px 0 0);
  > div {
    @include border-radius(3px 3px 0 0);
    > div {
      @include border-radius(3px 3px 0 0);
    }
  }
}


// -------------------------------------
// pat-item-waku の共通スタイル
// -------------------------------------

// pat-item-wakuの共通定義
@mixin common-style-pat-item-waku {
  margin: 30px auto 0 auto;
  // padding: 0; // 枠パターンにより違うため、module-styleで指定
}


// -------------------------------------
//  pat-item-waku の共通デザイン
// -------------------------------------

// 背景シンプル
@mixin module-style-pat-item-waku-simple {
  padding: 0;
  width: $mainWidth - 20;
}
@mixin module-style-pat-item-waku-simple-2 {
  padding: 0;
}

// 上下画像
@mixin module-style-pat-item-waku-image {
  width: $mainWidth;
  background-position: left top;
  background-repeat: repeat-x;
  > div {
    background-position: left bottom;
    background-repeat: repeat-x;
  }
  > .mod-box-inner {
    padding: 15px;
  }
}
// 上画像
@mixin module-style-pat-item-waku-image-2 {
  padding: 38px 18px 17px;
  width: $mainWidth;
  background-position: left top;
  background-repeat: no-repeat;
}

// 背景画像（ペン）
@mixin module-style-pat-item-waku-simple-bgimg {
  padding: 0 20px 72px;
  background-position: right bottom;
  background-repeat: no-repeat;
  .mod-2col-inner-2,
  .mod-2col-inner2-2,
  > .mod-rte_ver2 p {
    background-image: url(img/_pat-item/waku-kado/bg02.png);
    background-position: left top;
    background-repeat: repeat;
  }
}


// 背景繰り返し
@mixin module-style-pat-item-waku-repeat {
  margin: 30px 0 0;
  padding: 10px 20px 10px 20px;
  width: 100%;
  background-repeat: repeat;
}

// 背景グラデーション
@mixin module-style-pat-item-waku-grade {
  margin: 30px 0 0;
  width: 100%;
  background-repeat: repeat-x;
}

// 背景ベタ
@mixin module-style-pat-item-waku-beta {
  margin: 30px 0 0 0;
  padding: 2px;
  background-position: center top;
  background-repeat: no-repeat;
  > div {
    background-position: center top;
    background-repeat: no-repeat;
    > div {
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }
}

// 角下べベル
@mixin module-style-pat-item-waku-bevel {
  padding: 3px 8px 9px;
}

// 角シンプル
@mixin module-style-pat-item-waku-kado-simple-1 {
  padding: 9px;
}
@mixin module-style-pat-item-waku-kado-simple-2 {
  padding: 0;
  > div {
    padding: 8px;
  }
}


// -------------------------------------
// 背景装飾スタイル
// -------------------------------------

// シンプル1px
@mixin deco-style-pat-item-waku-simple-1px-1 {
  border: 1px solid #539af9;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-simple-1px-2 {
  border: 1px solid #53bcc9;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-simple-1px-3 {
  border: 1px solid #ffa659;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-simple-1px-4 {
  border: 1px solid #314f7a;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-simple-1px-5 {
  border: 1px solid #3ea2b1;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-simple-1px-6 {
  border: 1px solid #3986b8;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-simple-1px-7 {
  border: 1px solid #416ca6;
  background-color: #fffdf2;
}
@mixin deco-style-pat-item-waku-simple-1px-8 {
  border: 1px solid #ffe354;
  background-color: #fffdf2;
}
@mixin deco-style-pat-item-waku-simple-1px-9 {
  border: 1px solid #519dc3;
  background-color: #f7fcff;
}

// part-main-246
@mixin deco-style-pat-item-waku-simple-1px-10 {
  border: 1px solid #66c7d2;
  background-color: #ecfdff;
}
@mixin deco-style-pat-item-waku-simple-1px-11 {
  border: 1px solid #0b7d89;
  background-color: #f8ffff;
}
@mixin deco-style-pat-item-waku-simple-1px-12 {
  border: 1px solid #ffa658;
  background-color: #fffbe2;
}
@mixin deco-style-pat-item-waku-simple-1px-13 {
  border: 1px solid #2366d3;
  background-color: #e6effa;
}
@mixin deco-style-pat-item-waku-simple-1px-14 {
  border: 1px solid #418189;
  background-color: #f5fafa;
}
@mixin deco-style-pat-item-waku-simple-1px-15 {
  border: 1px solid #dedad1;
  background-color: #fffdee;
}
@mixin deco-style-pat-item-waku-simple-1px-16 {
  border: 1px solid #cccccc;
  background-color: transparent;
  > div {
    border: 1px solid #ffffff;
    background-color: #fffef6;
  }
}
@mixin deco-style-pat-item-waku-simple-1px-17 {
  border: 1px solid #f27f1b;
  background-color: transparent;
  > div {
    border: 1px solid #ffffff;
    background-color: #fefaf0;
  }
}


// -------------------------------------
// pat-item-waku の装飾スタイル
// -------------------------------------

// シンプル枠無し
@mixin deco-style-pat-item-waku-none-bgc-white {
  border: none;
  background-color: #ffffff;
  background-image: none;
  > div {
    background-image: none;
  }
}

// 背景シンプル
@mixin deco-style-pat-item-waku-kado-simple-orange-bgc {
  border: 1px solid #ffc789;
  background-color: #fff5ec;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-green-bgc {
  border: 1px solid #67ced9;
  background-color: #f5fafa;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-orange-bgc-2 {
  border: 1px solid #ffc789;
  background-color: #fffbe2;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-blue {
  border: 3px double #c9e0ff;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-blue-2 {
  border: 3px double #426ca6;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-blue-3 {
  border: 3px double #519dce;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-blue-4 {
  border: 1px dotted #c9e0ff;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-yellow {
  border: 3px double #f1d128;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-yellow-2 {
  border: 3px double #F1D128;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-orange {
  border: 3px double #FF994C;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-orange-2 {
  border: 1px dotted #f2d028;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-orange-3 {
  border: 1px dotted #ffa658;
  background-color: transparent;
  background-image: none;
  > div {
    background-image: none;
  }
}

// 背景グラデーション
@mixin deco-style-pat-item-waku-kado-shimple-grade-1 {
  padding: 2px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  background-image: url("img/_pat-item/waku-kado-shimple-grade/bg.png");
  > div {
    border-top: 3px solid #284469;
  }
}
@mixin deco-style-pat-item-waku-kado-shimple-grade-2 {
  padding: 2px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  background-image: url("img/_pat-item/waku-kado-shimple-grade/bg_2.png");
  > div {
    border-top: 3px solid #7ed0d9;
  }
}
@mixin deco-style-pat-item-waku-kado-shimple-grade-3 {
  padding: 2px;
  border: 1px solid #ffa258;
  background-color: #ffffff;
  background-image: url("img/_pat-item/waku-kado-shimple-grade/bg_3.png");
  > div {
    border-top: 3px solid #f37f1c;
  }
}

// 背景画像（ペン）
@mixin deco-style-pat-item-waku-kado-gray-bgimg {
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  background-image: url(img/_pat-item/waku-kado/bg.png);
  > div {
    background-image: none;
  }
}

// 上下画像
@mixin deco-style-pat-item-waku-jouge-image-blue-bgc {
  border: none;
  background-color: #d0def7;
  background-image: url("img/mod-box/_55/bg_b.png");
  > div {
    background-image: url("img/mod-box/_55/bg02_b.png");
  }
}
@mixin deco-style-pat-item-waku-jouge-image-green-bgc {
  border: none;
  background-color: #c7e9ee;
  background-image: url("img/mod-box/_55/bg_b_2.png");
  > div {
    background-image: url("img/mod-box/_55/bg02_b_2.png");
  }
}
@mixin deco-style-pat-item-waku-jouge-image-yellow-bgc {
  border: none;
  background-color: #fbedad;
  background-image: url("img/mod-box/_55/bg_b_3.png");
  > div {
    background-image: url("img/mod-box/_55/bg02_b_3.png");
  }
}
// 上画像
@mixin deco-style-pat-item-waku-jouge-image-blue-bgc-2 {
  border: none;
  background-color: #16305f;
  background-image: url("img/_pat-item/waku-image/bg.png");
}
@mixin deco-style-pat-item-waku-jouge-image-green-bgc-2 {
  border: none;
  background-color: #12626c;
  background-image: url("img/_pat-item/waku-image/bg_2.png");
}
@mixin deco-style-pat-item-waku-jouge-image-brown-bgc {
  border: none;
  background-color: #443308;
  background-image: url("img/_pat-item/waku-image/bg_3.png");
}

// 背景繰り返し
@mixin deco-style-pat-item-waku-kado-simple-orange-bgimg {
  border: 1px solid #ffc789;
  background-color: #fbf5ed;
  background-image: url("img/mod-box/_55/bg_c.png");
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-green-bgimg {
  border: 1px solid #7ed1d9;
  background-color: #f1feff;
  background-image: url("img/mod-box/_55/bg_c_2.png");
  > div {
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-simple-orange-bgimg-2 {
  border: 1px solid #efde8e;
  background-color: #fefbea;
  background-image: url("img/mod-box/_55/bg_c_3.png");
  > div {
    background-image: none;
  }
}
// 角・上下画像・背景色が濃いもの
@mixin deco-style-pat-item-waku-kado-jouge-beta-1 {
  border: 1px solid #1f4285;
  background-color: #1f4285;
  background-image: url("img/_pat-item/waku-kado-jouge-beta/bg.png");
  > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    }
  }
}
@mixin deco-style-pat-item-waku-kado-jouge-beta-2 {
  border: 1px solid #11838e;
  background-color: #11838e;
  background-image: url("img/_pat-item/waku-kado-jouge-beta/bg_2.png");
  > div {
    background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    }
  }
}
@mixin deco-style-pat-item-waku-kado-jouge-beta-3 {
  border: 1px solid #fcda62;
  background-color: #fcda62;
  background-image: url("img/_pat-item/waku-kado-jouge-beta/bg_3.png");
  > div {
    background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02_3.png");
    > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02_3.png");
    }
  }
}
//2col用
@mixin deco-style-pat-item-waku-kado-jouge-beta-4 {
  border: 1px solid #1f4285;
  background-color: #1f4285;
  background-image: url("img/_pat-item/waku-kado-jouge-beta/bg_4.png");
  background-position: left top;
  > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    }
  }
}
@mixin deco-style-pat-item-waku-kado-jouge-beta-5 {
  border: 1px solid #11838e;
  background-color: #11838e;
  background-image: url("img/_pat-item/waku-kado-jouge-beta/bg_5.png");
  background-position: left top;
  > div {
    background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02.png");
    }
  }
}
@mixin deco-style-pat-item-waku-kado-jouge-beta-6 {
  border: 1px solid #fcda62;
  background-color: #fcda62;
  background-image: url("img/_pat-item/waku-kado-jouge-beta/bg_6.png");
  background-position: left top;
  > div {
    background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02_3.png");
    > div {
      background-image: url("img/_pat-item/waku-kado-jouge-beta/bg02_3.png");
    }
  }
}

// 角下ベベル
@mixin deco-style-pat-item-waku-bevel-1 {
  @include single-box-shadow(#478483, 0, 1px, 0, 0);
  border-bottom: 1px solid #adc7be;
  border-right: 1px solid #dae5d9;
  border-left: 1px solid #dae5d9;
  background-color: #fffdee;
}
@mixin deco-style-pat-item-waku-bevel-2 {
  @include single-box-shadow(#3eb2bf, 0, 1px, 0, 0);
  border-bottom: 1px solid #a6d8df;
  border-right: 1px solid #d3e8eb;
  border-left: 1px solid #d3e8eb;
  background-color: #f6f6f6;
}
@mixin deco-style-pat-item-waku-bevel-3 {
  @include single-box-shadow(#f49754, 0, 1px, 0, 0);
  border-bottom: 1px solid #facfac;
  border-right: 1px solid #fcead4;
  border-left: 1px solid #fcead4;
  background-color: #fffdee;
}
@mixin deco-style-pat-item-waku-bevel-4 {
  @include single-box-shadow(#718fc1, 0, 1px, 0, 0);
  border-bottom: 1px solid #c0ccda;
  border-right: 1px solid #e3e7e5;
  border-left: 1px solid #e3e7e5;
  background-color: #fffdee;
}
@mixin deco-style-pat-item-waku-bevel-5 {
  @include single-box-shadow(#4798a0, 0, 1px, 0, 0);
  border-bottom: 1px solid #a8ccd0;
  border-right: 1px solid #d3e3e5;
  border-left: 1px solid #d3e3e5;
  background-color: #f6f6f6;
}
@mixin deco-style-pat-item-waku-bevel-6 {
  @include single-box-shadow(#f49754, 0, 1px, 0, 0);
  border-bottom: 1px solid #fad2b0;
  border-right: 1px solid #fdead4;
  border-left: 1px solid #fdead4;
  background-color: #fffef4;
}
@mixin deco-style-pat-item-waku-bevel-7 {
  @include single-box-shadow(#7190cf, 0, 1px, 0, 0);
  border-bottom: 1px solid #c0ceea;
  border-right: 1px solid #e3e9f5;
  border-left: 1px solid #e3e9f5;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-bevel-8 {
  @include single-box-shadow(#499ea6, 0, 1px, 0, 0);
  border-bottom: 1px solid #aed4d7;
  border-right: 1px solid #dbeced;
  border-left: 1px solid #dbeced;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-bevel-9 {
  @include single-box-shadow(#f49858, 0, 1px, 0, 0);
  border-bottom: 1px solid #fad1b5;
  border-right: 1px solid #fdeade;
  border-left: 1px solid #fdeade;
  background-color: #ffffff;
}


// --------------------------------------------------------------------------
//
// pat-item-waku-kadomaru
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-waku-kadomaru の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-waku-kadomaru {
  @include border-radius(3px);
  margin: 30px 0 0 0;
  padding: 0;
  background-position: left top;
  > div {
    @include border-radius(3px);
    padding: 0;
    > div {
      @include border-radius(3px);
    }
  }
}


// -------------------------------------
//  pat-item-waku-kadomaru の共通デザイン
// -------------------------------------

// シンプル角丸
@mixin module-style-pat-item-waku-kadomaru-simple {
  margin: 30px auto 0 auto;
  > div {
    padding: 0;
    > div {
      overflow: hidden;
      padding: 1px;
    }
  }
}
@mixin module-style-pat-item-waku-kadomaru-simple-2 {
  margin: 30px auto 0 auto;
  padding: 1px 0 0 0;
  > div {
    padding: 0;
    > div {
      overflow: hidden;
      padding: 0;
    }
  }
}
//文章<装飾>-2,3の初期装飾で使う
@mixin module-style-pat-item-waku-kadomaru-simple-3 {
  margin: 30px auto 0 auto;
  padding: 2px;
}
@mixin module-style-pat-item-waku-kadomaru-simple-4 {
  margin: 30px auto 0 auto;
  > div {
    padding: 0;
    > div {
      overflow: hidden;
    }
  }
}

// 太枠角丸
@mixin module-style-pat-item-waku-kadomaru-futo {
  background-repeat: repeat;
  > div {
    padding: 10px;
    > div {
      padding: 11px 9px;
    }
  }
}

//サイド用太枠角丸
@mixin module-style-pat-item-waku-kadomaru-futo-2 {
  padding: 10px;
  width: 100%;
  > div {
    padding: 10px 10px 1px;
  }
}


// 装飾角丸
@mixin module-style-pat-item-waku-kadomaru-image {
  background-repeat: repeat;
  > div {
    padding: 3px;
    > div {
      padding: 20px;
    }
  }
}

// 角丸背景繰り返し
@mixin module-style-pat-item-waku-kadomaru-repeat {
  margin: 30px auto 0 auto;
  padding: 1px 0 0 0;
  background-repeat: repeat;
  > div {
    padding: 0;
    > div {
      overflow: hidden;
      padding: 0;
    }
  }
}

// 角丸背景グラデーション
@mixin module-style-pat-item-waku-kadomaru-grade {
  background-repeat: repeat-x;
  > div {
    > div {
      padding: 20px;
    }
  }
}

// 角上丸
@mixin module-style-pat-item-waku-kadomaru-up {
  padding: 0 25px 30px;
}


// -------------------------------------
// pat-item-waku-kadomaru の装飾スタイル
// -------------------------------------

//枠なし角丸
@mixin deco-style-pat-item-waku-kadomaru-none-bgc-blue {
  background-color: #3c66ba;
}
@mixin deco-style-pat-item-waku-kadomaru-none-bgc-green {
  background-color: #12626c;
}
@mixin deco-style-pat-item-waku-kadomaru-none-bgc-orange {
  background-color: #f3811e;
}
// 枠なし背景グラデーション
@mixin deco-style-pat-item-waku-kadomaru-none-gurade-gold {
  background-color: #ffffff;
  background-image: url("img/mod-box/_53/bg_b.png");
  background-repeat: repeat-x;
}
@mixin deco-style-pat-item-waku-kadomaru-none-gurade-blue {
  background-color: #ffffff;
  background-image: url("img/mod-box/_53/bg_b_2.png");
  background-repeat: repeat-x;
}
@mixin deco-style-pat-item-waku-kadomaru-none-gurade-yellow {
  background-color: #ffffff;
  background-image: url("img/mod-box/_53/bg_b_3.png");
  background-repeat: repeat-x;
}

// シンプル角丸(2px)
@mixin deco-style-pat-item-waku-kadomaru-simple-green {
  border: 2px solid #7ed1d9;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-orange {
  border: 2px solid #ffc789;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-gold {
  border: 2px solid #b29e3b;
  background-color: transparent;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-blue {
  border: 2px solid #355591;
  background-color: transparent;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-blue-2 {
  border: 2px solid #448DC9;
  background-color: transparent;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-blue-3 {
  border: 2px solid #84b5fe;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-blue-6 {
  border: 2px solid #539af9;
}

// 角丸背景色あり
@mixin deco-style-pat-item-waku-kadomaru-blue-bgc {
  border: 1px solid #c8dffe;
  background-color: #dce9fb;
}
@mixin deco-style-pat-item-waku-kadomaru-yellow-bgc {
  border: 1px solid #d1c9a4;
  background-color: #fffce9;
}
@mixin deco-style-pat-item-waku-kadomaru-yellow-bgc-2 { // 背景白
  border: 1px solid #d1c9a4;
  background-color: #ffffff;
}
@mixin deco-style-pat-item-waku-kadomaru-green-bgc {
  border: 1px solid #7ed1d9;
  background-color: #e3f6f8;
}

@mixin deco-style-pat-item-waku-kadomaru-simple-1 {
  border: 1px solid #dedad1;
  background-color: #fffce9;
  > div {
    border: 1px solid #f5f1e7;
    background-color: #ffffff;
  }
}
@mixin deco-style-pat-item-waku-kadomaru-simple-2 {
  border: 1px solid #cbd8d9;
  background-color: #f6f6f6;
  > div {
    border: 1px solid #eeeeee;
    background-color: #ffffff;
  }
}
@mixin deco-style-pat-item-waku-kadomaru-simple-3 {
  border: 1px solid #dedad1;
  background-color: #fffdee;
  > div {
    border: 1px solid #eeeeee;
    background-color: #ffffff;
  }
}
@mixin deco-style-pat-item-waku-kadomaru-simple-blue-4 {
  border: 1px solid #2e7fec;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-green-2 {
  border: 1px solid #66c7d2;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-orange-2 {
  border: 1px solid #f27f1d;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-blue-5 {
  border: 1px solid #2366d3;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-green-3 {
  border: 1px solid #138590;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-orange-3 {
  border: 1px solid #f37f1c;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-gray {
  border: 1px solid #cccccc;
  background-color: #fffef6;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-green-4 {
  border: 1px solid #7ed1d9;
  background-color: #f5fafa;
}
@mixin deco-style-pat-item-waku-kadomaru-simple-orange-4 {
  border: 1px solid #f37f1c;
  background-color: #fefaf0;
}


// 太枠角丸
@mixin deco-style-pat-item-waku-kadomaru-futo-yellow {
  border: 1px solid #dedad1;
  background-color: #fffce9;
  > div {
    background-color: #ffffff;
  }
}

@mixin deco-style-pat-item-waku-kadomaru-futo-gray {
  border: 1px solid #cbd8d9;
  background-color: #f6f6f6;
  > div {
    background-color: #ffffff;
  }
}

@mixin deco-style-pat-item-waku-kadomaru-futo-yellow-3 {
  border: 1px solid #dedad1;
  background-color: #fffef4;
  > div {
    background-color: #ffffff;
  }
}
@mixin deco-style-pat-item-waku-kadomaru-futo-blue {
  border: 1px solid #ade9ef;
  > div {
    background-color: #ecfdff;
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-futo-blue-3 {
  border: 1px solid #60bff0;
  > div {
    background-color: #ebfdff;
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-futo-pink {
  border: 1px solid #fd8e89;
  > div {
    background-color: #ffe0de;
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-futo-blue-4 {
  border: 1px solid #b3cff5;
  > div {
    background-color: #e6effa;
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-futo-blue-2 {
  border: 1px solid #ade9ef;
  > div {
    background-color: #e3f6f8;
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-futo-orange {
  border: 1px solid #dedad1;
  > div {
    background-color: #fff0e4;
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-futo-orange-2 {
  border: 1px solid #dedad1;
  > div {
    background-color: #fff6e5;
    > div {
      background-color: #ffffff;
    }
  }
}


// 装飾角丸
@mixin deco-style-pat-item-waku-kadomaru-image-blue {
  background-image: url("img/mod-box/_57/bg_c.png");
  > div {
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-image-green {
  background-image: url("img/mod-box/_57/bg_c_2.png");
  > div {
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-image-yellow {
  background-image: url("img/mod-box/_57/bg_c_3.png");
  > div {
    > div {
      background-color: #ffffff;
    }
  }
}
@mixin deco-style-pat-item-waku-kadomaru-image-orange {
  background-image:  url("img/mod-box/bg08_2.png");
  > div {
    > div {
      background-color: #ffffff;
    }
  }
}

// 角丸背景繰り返し
@mixin deco-style-pat-item-waku-kadomaru-repeat-1 {
  background-image: url("img/mod-box/_52/bg_c.png");
}
@mixin deco-style-pat-item-waku-kadomaru-repeat-2 {
  background-image: url("img/mod-box/_52/bg_c_2.png");
}
@mixin deco-style-pat-item-waku-kadomaru-repeat-3 {
  background-image: url("img/mod-box/_52/bg_c_3.png");
}

// 角丸背景グラデーション
@mixin deco-style-pat-item-waku-kadomaru-simple-blue-grade {
  border: 1px solid #abd2f6;
  background-color: #ffffff;
  background-image: url("img/mod-box/_57/bg_b.png");
}
@mixin deco-style-pat-item-waku-kadomaru-simple-yellow-grade {
  border: 1px solid #f4d34e;
  background-color: #ffffff;
  background-image: url("img/mod-box/_57/bg_b_2.png");
}
@mixin deco-style-pat-item-waku-kadomaru-simple-pink-grade {
  border: 1px solid #ffa09a;
  background-color: #ffffff;
  background-image: url("img/mod-box/_57/bg_b_3.png");
}

//枠なし・角・背景グラデーション
@mixin deco-style-pat-item-waku-kado-none-grade-blue {
  border: none;
  background-color: #5a7fb0;
  background-image: url("img/mod-box/_60/bg_b.png");
  > div {
    padding: 15px;
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-none-grade-green {
  border: none;
  background-color: #3e9fae;
  background-image: url("img/mod-box/_60/bg_b_2.png");
  > div {
    padding: 15px;
    background-image: none;
  }
}
@mixin deco-style-pat-item-waku-kado-none-grade-orange {
  border: none;
  background-color: #f39340;
  background-image: url("img/mod-box/_60/bg_b_3.png");
  > div {
    padding: 15px;
    background-image: none;
  }
}


// --------------------------------------------------------------------------
//
// pat-item-waku-board
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-waku-board の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-waku-board {
  // margin: 0;  // 枠パターンにより違うため、module側で指定
  // padding: 0; // 枠パターンにより違うため、module側で指定
}

// -------------------------------------
//  pat-item-waku-board の共通デザイン
// -------------------------------------

// ボード（ピン）

@mixin module-style-pat-item-waku-board-1 {
  width: $mainWidth - 40;
  margin: 20px auto 0;
  padding: 0 0 33px 0;
  background-position: center bottom;
  background-repeat: no-repeat;
  > div {
    margin: 0;
    padding: 0;
    background-position: left 2px;
    background-repeat: no-repeat;
    > div {
      margin: 0;
      padding: 15px 15px 0 15px;
      background-position: right 2px;
      background-repeat: no-repeat;
    }
  }
}
// ボード（バインダー）
@mixin module-style-pat-item-waku-board-2 {
  margin: 30px auto 0 auto;
  padding: 58px 0 0 0;
  width: $mainWidth;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    margin: 0;
    padding: 0 0 34px;
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      overflow: hidden;
      margin: 0;
      padding: 21px 40px 12px;
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}
// ボード（壁掛け）
@mixin module-style-pat-item-waku-board-3 {
  margin: 30px -3px 0 -3px;
  padding: 112px 0 0 0;
  width: $mainWidth + 6;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    margin: 0;
    padding: 0 0 23px;
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      overflow: hidden;
      margin: 0;
      padding: 14px 40px;
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}
// ボード（コルク）
@mixin module-style-pat-item-waku-board-colk {
  margin: 30px auto 0 auto;
  padding: 45px 0 0 0;
  width: $mainWidth;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    margin: 0;
    padding: 0 0 34px;
    background-image: url("img/_pat-item/waku-board/bg03_7.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      overflow: hidden;
      margin: 0;
      padding: 0 40px 12px;
      background-image: url("img/_pat-item/waku-board/bg02_7.png");
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}


// -------------------------------------
// pat-item-waku-board の装飾スタイル
// -------------------------------------
// ボード（ピン）
@mixin deco-style-pat-item-waku-board-orange {
  border-left: 1px solid #f7ebdb;
  background-image: url("img/mod-box/_48/bg_c.png");
  > div {
    border-top: 1px solid #f7ebdb;
    border-right: 1px solid #f7ebdb;
    background-color: #ffffff;
    background-image: url("img/mod-box/_48/bg02_c.png");
    > div {
      background-image: url("img/mod-box/_48/bg02_c.png");
    }
  }
}
@mixin deco-style-pat-item-waku-board-yellow {
  border-left: 1px solid #e6edee;
  background-image: url("img/mod-box/_48/bg_c_2.png");
  > div {
    padding: 0;
    border-top: 1px solid #e6edee;
    border-right: 1px solid #e6edee;
    background-color: #ffffff;
    background-image: url("img/mod-box/_48/bg02_c_2.png");
    > div {
      background-image: url("img/mod-box/_48/bg02_c_2.png");
    }
  }
}
@mixin deco-style-pat-item-waku-board-brown {
  border-left: 1px solid #f7eadb;
  background-image: url("img/mod-box/_48/bg_c_3.png");
  > div {
    border-top: 1px solid #f7eadb;
    border-right: 1px solid #f7eadb;
    background-color: #ffffff;
    background-image: url("img/mod-box/_48/bg02_c_3.png");
    > div {
      background-image: url("img/mod-box/_48/bg02_c_3.png");
    }
  }
}

// ボード（バインダー）
@mixin deco-style-pat-item-waku-board-blue {
  background-image: url("img/_pat-item/waku-board/bg.png");
  > div {
    background-image: url("img/_pat-item/waku-board/bg03.png");
    > div {
      background-image: url("img/_pat-item/waku-board/bg02.png");
    }
  }
}
@mixin deco-style-pat-item-waku-board-blue-2 {
  background-image: url("img/_pat-item/waku-board/bg_2.png");
  > div {
    background-image: url("img/_pat-item/waku-board/bg03_2.png");
    > div {
      background-image: url("img/_pat-item/waku-board/bg02_2.png");
    }
  }
}
@mixin deco-style-pat-item-waku-board-yellow-2 {
  background-image: url("img/_pat-item/waku-board/bg_3.png");
  > div {
    background-image: url("img/_pat-item/waku-board/bg03_3.png");
    > div {
      background-image: url("img/_pat-item/waku-board/bg02_3.png");
    }
  }
}

// ボード（壁掛け）
@mixin deco-style-pat-item-waku-board-blue-3 {
  background-image: url("img/_pat-item/waku-board/bg_4.png");
  > div {
    background-image: url("img/_pat-item/waku-board/bg03_4.png");
    > div {
      background-image: url("img/_pat-item/waku-board/bg02_4.png");
    }
  }
}
@mixin deco-style-pat-item-waku-board-blue-4 {
  background-image: url("img/_pat-item/waku-board/bg_5.png");
  > div {
    background-image: url("img/_pat-item/waku-board/bg03_5.png");
    > div {
      background-image: url("img/_pat-item/waku-board/bg02_5.png");
    }
  }
}
@mixin deco-style-pat-item-waku-board-orange-2 {
  background-image: url("img/_pat-item/waku-board/bg_6.png");
  > div {
    background-image: url("img/_pat-item/waku-board/bg03_6.png");
    > div {
      background-image: url("img/_pat-item/waku-board/bg02_6.png");
    }
  }
}

// ボード（コルク）
@mixin deco-style-pat-item-waku-board-colk-1 {
  background-image: url("img/_pat-item/waku-board/bg_7.png");
}
@mixin deco-style-pat-item-waku-board-colk-2 {
  background-image: url("img/_pat-item/waku-board/bg_8.png");
}
@mixin deco-style-pat-item-waku-board-colk-3 {
  background-image: url("img/_pat-item/waku-board/bg_9.png");
}


// --------------------------------------------------------------------------
//
// pat-item-waku-fukidashi
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-waku-fukidashi の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-waku-fukidashi {
  margin: 30px auto 0 auto;
  // padding: 30px 0 0 0;
  width: $mainWidth;
}


// -------------------------------------
//  pat-item-waku-fukidashi の共通デザイン
// -------------------------------------

// シンプル１重枠線丸形吹き出し
@mixin module-style-pat-item-waku-fukidashi-1 {
  padding: 30px 0 0 0;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    padding: 0 0 99px;
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      overflow: hidden;//ほんとうに必要か要検証
      padding: 0 15px 0;
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}

// 上部太線１重角形吹き出し
@mixin module-style-pat-item-waku-fukidashi-2 {
  padding: 30px 0 0 0;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    padding: 0 0 60px;
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      overflow: hidden;//ほんとうに必要か要検証
      padding: 0 10px 0;
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}

// 色付き２重丸形吹き出し
@mixin module-style-pat-item-waku-fukidashi-3 {
  padding: 30px 0 0 0;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    padding: 0 0 66px;
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      overflow: hidden;//ほんとうに必要か要検証
      padding: 0 15px 0;
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}

// 文章吹き出し1
@mixin module-style-pat-item-waku-fukidashi-4 {
  width: $mainWidth;
  padding: 16px 0 0;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    padding: 0 0 65px;
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      padding: 0 40px 30px;
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}

// 文章吹き出し2
@mixin module-style-pat-item-waku-fukidashi-5 {
  padding: 0 0 38px;
  background-position: left bottom;
  background-repeat: no-repeat;
  > div {
    background-position: left bottom;
    background-repeat: repeat-x;
    padding: 25px 28px 30px;
  }
}

// 文章吹き出し3
@mixin module-style-pat-item-waku-fukidashi-6 {
  padding: 0 0 48px;
  background-position: left bottom;
  background-repeat: no-repeat;
  > div {
    padding: 14px 39px 29px;
  }
}

// 文章吹き出し（口なし）1
@mixin module-style-pat-item-waku-fukidashi-7 {
  width: $mainWidth;
  padding: 16px 0 0;
  background-position: left top;
  background-repeat: no-repeat;
  > div {
    padding: 0 0 11px;
    background-position: left bottom;
    background-repeat: no-repeat;
    > div {
      padding: 0 30px 16px;
      background-position: left top;
      background-repeat: repeat-y;
    }
  }
}

// 文章吹き出し（口なし）2
@mixin module-style-pat-item-waku-fukidashi-8 {
  padding: 0 0 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
  > div {
    background-position: left bottom;
    background-repeat: repeat-x;
    padding: 25px 28px 27px;
  }
}

// 文章吹き出し（口なし）3
@mixin module-style-pat-item-waku-fukidashi-9 {
  padding: 0 0 9px;
  background-position: left bottom;
  background-repeat: no-repeat;
  > div {
    padding: 14px 39px 29px;
  }
}


// -------------------------------------
// pat-item-waku-fukidashi の装飾スタイル
// -------------------------------------

@mixin deco-style-pat-item-waku-fukidashi-maru-blue {
  background-image: url("img/mod-box/_59/bg_a.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_a.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_a.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-maru-green {
  background-image: url("img/mod-box/_59/bg_a_2.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_a_2.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_a_2.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-maru-orange {
  background-image: url("img/mod-box/_59/bg_a_3.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_a_3.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_a_3.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-shikaku-gray {
  background-image: url("img/mod-box/_59/bg_b.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_b.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_b.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-shikaku-green {
  background-image: url("img/mod-box/_59/bg_b_2.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_b_2.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_b_2.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-shikaku-yellow {
  background-image: url("img/mod-box/_59/bg_b_3.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_b_3.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_b_3.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-6kaku-orange-bgc {
  background-image: url("img/mod-box/_59/bg_c.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_c.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_c.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-6kaku-grenn-bgc {
  background-image: url("img/mod-box/_59/bg_c_2.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_c_2.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_c_2.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-6kaku-pink-bgc {
  background-image: url("img/mod-box/_59/bg_c_3.png");
  > div {
    background-image: url("img/mod-box/_59/bg02_c_3.png");
    > div {
      background-image: url("img/mod-box/_59/bg03_c_3.png");
    }
  }
}

// 文章吹き出し用
@mixin deco-style-pat-item-waku-fukidashi-1 {
  background-image: url("img/_pat-item/waku-fukidashi/bg.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg03.png");
    > div {
      background-image: url("img/_pat-item/waku-fukidashi/bg02.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-2 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_2.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg03_2.png");
    > div {
      background-image: url("img/_pat-item/waku-fukidashi/bg02_2.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-3 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_3.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg03_3.png");
    > div {
      background-image: url("img/_pat-item/waku-fukidashi/bg02_3.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-4 {
  background-image: url("img/_pat-item/waku-fukidashi/bg02_4.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_4.png");
    background-color: #eef1f9;
    border-top: 1px solid #1d3a6f;
    border-left: 1px solid #1d3a6f;
    border-right: 1px solid #1d3a6f;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-5 {
  background-image: url("img/_pat-item/waku-fukidashi/bg02_5.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_5.png");
    background-color: #f0ffff;
    border-top: 1px solid #b9e4ea;
    border-left: 1px solid #b9e4ea;
    border-right: 1px solid #b9e4ea;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-6 {
  background-image: url("img/_pat-item/waku-fukidashi/bg02_6.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_6.png");
    background-color: #fffabb;
    border-top: 1px solid #ffc789;
    border-left: 1px solid #ffc789;
    border-right: 1px solid #ffc789;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-7 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_7.png");
  > div {
    background-color: #ffffff;
    border-top: 1px solid #ffc789;
    border-left: 1px solid #ffc789;
    border-right: 1px solid #ffc789;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-8 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_8.png");
  > div {
    background-color: #ffffff;
    border-top: 1px solid #f2d028;
    border-left: 1px solid #f2d028;
    border-right: 1px solid #f2d028;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-9 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_9.png");
  > div {
    background-color: #ffffff;
    border-top: 1px solid #d5e5f2;
    border-left: 1px solid #d5e5f2;
    border-right: 1px solid #d5e5f2;
  }
}

// 文章吹き出し（口なし）用
@mixin deco-style-pat-item-waku-fukidashi-10 {
  background-image: url("img/_pat-item/waku-fukidashi/bg.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_10.png");
    > div {
      background-image: url("img/_pat-item/waku-fukidashi/bg02.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-11 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_2.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_11.png");
    > div {
      background-image: url("img/_pat-item/waku-fukidashi/bg02_2.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-12 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_3.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_12.png");
    > div {
      background-image: url("img/_pat-item/waku-fukidashi/bg02_3.png");
    }
  }
}
@mixin deco-style-pat-item-waku-fukidashi-13 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_13.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_4.png");
    background-color: #eef1f9;
    border-top: 1px solid #1d3a6f;
    border-left: 1px solid #1d3a6f;
    border-right: 1px solid #1d3a6f;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-14 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_14.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_5.png");
    background-color: #f0ffff;
    border-top: 1px solid #b9e4ea;
    border-left: 1px solid #b9e4ea;
    border-right: 1px solid #b9e4ea;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-15 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_15.png");
  > div {
    background-image: url("img/_pat-item/waku-fukidashi/bg_6.png");
    background-color: #fffabb;
    border-top: 1px solid #ffc789;
    border-left: 1px solid #ffc789;
    border-right: 1px solid #ffc789;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-16 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_16.png");
  > div {
    background-color: #ffffff;
    border-top: 1px solid #ffc789;
    border-left: 1px solid #ffc789;
    border-right: 1px solid #ffc789;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-17 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_17.png");
  > div {
    background-color: #ffffff;
    border-top: 1px solid #f2d028;
    border-left: 1px solid #f2d028;
    border-right: 1px solid #f2d028;
  }
}
@mixin deco-style-pat-item-waku-fukidashi-18 {
  background-image: url("img/_pat-item/waku-fukidashi/bg_18.png");
  > div {
    background-color: #ffffff;
    border-top: 1px solid #d5e5f2;
    border-left: 1px solid #d5e5f2;
    border-right: 1px solid #d5e5f2;
  }
}


// --------------------------------------------------------------------------
//
// pat-item-waku-pic
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-waku-pic の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-waku-pic {
  margin: 30px auto 0 auto;
  padding: 0;
  background-position: 5px top;
  background-repeat: repeat-y;
  > .mod-box-inner {
    padding: 0;
    background-position: 5px bottom;
    background-repeat: no-repeat;
  }
}


// -------------------------------------
//  pat-item-waku-pic の共通デザイン
// -------------------------------------

@mixin module-style-pat-item-waku-pic {
  @include border-radius(20px 0 0 0);
}


// -------------------------------------
// pat-item-waku-pic の装飾スタイル
// -------------------------------------

@mixin deco-style-pat-item-waku-pic-a1 {
  background-image: url("img/mod-box/_65/bg_a.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_a.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #e4f5f7;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #e4f5f7;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-a2 {
  background-image: url("img/mod-box/_65/bg_a_2.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_a_2.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #cad7eb;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #cad7eb;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-a3 {
  background-image: url("img/mod-box/_65/bg_a_3.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_a_3.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #fee4e3;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #fee4e3;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-b1 {
  background-image: url("img/mod-box/_65/bg_b.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_b.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #eef3fa;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #eef3fa;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-b2 {
  background-image: url("img/mod-box/_65/bg_b_2.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_b_2.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #eaf7f9;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #eaf7f9;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-b3 {
  background-image: url("img/mod-box/_65/bg_b_3.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_b_3.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #fdf4dd;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #fdf4dd;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-c1 {
  background-image: url("img/mod-box/_65/bg_c.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_c.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #f7eadb;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #f7eadb;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-c2 {
  background-image: url("img/mod-box/_65/bg_c_2.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_c_2.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #eff4fb;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #eff4fb;
        }
      }
    }
  }
}
@mixin deco-style-pat-item-waku-pic-c3 {
  background-image: url("img/mod-box/_65/bg_c_3.png");
  > .mod-box-inner {
    background-image: url("img/mod-box/_65/bg02_c_3.png");
    > div {
      .mod-h_4-inner2 {
        background-color: #eff5fa;
      }
      .mod-h_4-inner3 {
        .mod-h {
          background-color: #eff5fa;
        }
      }
    }
  }
}

