@charset "UTF-8";

// --------------------------------------------------------------------------
//
// pat-item-arrow
//
// --------------------------------------------------------------------------

// -------------------------------------
// pat-item-arrow の共通スタイル
// -------------------------------------

@mixin common-style-pat-item-arrow {
  margin-top: 10px !important;
  margin-right: -22px !important;
  padding-right: 22px;
  background-position: right center;
  background-repeat: no-repeat;
  text-align: center;
}

@mixin common-style-pat-item-arrow-for-4col {
  margin-top: 10px !important;
  margin-right: -20px !important;
  padding-right: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  text-align: center;
}


// -------------------------------------
//  pat-item-arrow の共通デザイン
// -------------------------------------

// なし


// -------------------------------------
// pat-item-arrow の装飾スタイル
// -------------------------------------

// シンプル
@mixin deco-style-pat-item-arrow-simple-1 {
  background-image: url(img/mod-image-spec/_05/bg_c.png);
}
@mixin deco-style-pat-item-arrow-simple-2 {
  background-image: url(img/mod-image-spec/_05/bg_c_2.png);
}
@mixin deco-style-pat-item-arrow-simple-3 {
  background-image: url(img/mod-image-spec/_05/bg_c_3.png);
}

// グラデーション
@mixin deco-style-pat-item-arrow-grade-1 {
  background-image: url(img/mod-image-spec/_05/bg_a.png);
}
@mixin deco-style-pat-item-arrow-grade-2 {
  background-image: url(img/mod-image-spec/_05/bg_a_3.png);
}
@mixin deco-style-pat-item-arrow-grade-3 {
  background-image: url(img/mod-image-spec/_05/bg_b.png);
}
@mixin deco-style-pat-item-arrow-grade-4 {
  background-image: url(img/mod-image-spec/_05/bg_b_3.png);
}

