@charset "UTF-8";
@import "../sp-style/mod-4column-style";

.mod-4col4 {
  @include mod-4col4-common-style;
  @include mod-4col4-style;
  .ex-style_01A1 & {
    @include mod-4col4-style;
  }
  .ex-style_01A2 & {
    @include mod-4col4-style2;
  }
  .ex-style_01A3 & {
    @include mod-4col4-style3;
  }
  .ex-style_01B1 & {
    @include mod-4col4-style4;
  }
  .ex-style_01B2 & {
    @include mod-4col4-style5;
  }
  .ex-style_01B3 & {
    @include mod-4col4-style6;
  }
  .ex-style_01C1 & {
    @include mod-4col4-style7;
  }
  .ex-style_01C2 & {
    @include mod-4col4-style8;
  }
  .ex-style_01C3 & {
    @include mod-4col4-style9;
  }
}
