@charset "UTF-8";

//  mod-sp-viewchange の mixin一式
@mixin mod-sp-viewchange-common-style {
  font-size: $fontSizeS;
  text-align: center;
  width: 100%;
  height: 25px;
  background-color: #fbf6e9;
  a {
    color: #335a93;
  }
}


@mixin mod-sp-backto-common-style {
  width: 100%;
  height: 30px;
  background-color: #fbf6e9;
  a {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin-left: -42px;
    background: url(img/mod-sp/back_mark.png) center center no-repeat, linear-gradient(#6ba1ea, #1f71de);
    background: url(img/mod-sp/back_mark.png) center center no-repeat,  -webkit-gradient(linear, left top, left bottom, from(#6ba1ea), to(#1f71de));
    background: url(img/mod-sp/back_mark.png) center center no-repeat,  -moz-linear-gradient(top, #6ba1ea 0%, #1f71de 100%);
    @include background-size(18px 24px, 100% 100%);
    border: 1px solid #1a5eb8;
    @include border-radius(5px);
    display: block;
    position: relative;
    bottom: -13px;
    right: -100%;
  }
  span {
    display: none;
  }
}


