@charset "UTF-8";
@import "../pc-style/mod-ul-style";


.mod-ul {
  @include mod-ul-common-style;
  @include mod-ul-style;
  .ex-style_01A1 &,
  .ex-style_q1A1 & {
    @include mod-ul-style;
  }
  .ex-style_01A2 &,
  .ex-style_q1A2 & {
    @include mod-ul-style2;
  }
  .ex-style_01A3 &,
  .ex-style_q1A3 & {
    @include mod-ul-style3;
  }
  .ex-style_01B1 &,
  .ex-style_q1B1 & {
    @include mod-ul-style4;
  }
  .ex-style_01B2 &,
  .ex-style_q1B2 & {
    @include mod-ul-style5;
  }
  .ex-style_01B3 &,
  .ex-style_q1B3 & {
    @include mod-ul-style6;
  }
  .ex-style_01C1 &,
  .ex-style_q1C1 & {
    @include mod-ul-style7;
  }
  .ex-style_01C2 &,
  .ex-style_q1C2 & {
    @include mod-ul-style8;
  }
  .ex-style_01C3 &,
  .ex-style_q1C3 & {
    @include mod-ul-style9;
  }
}


.mod-ul2 {
  @include mod-ul2-common-style;
  @include mod-ul2-style;
  .ex-style_01A1 & {
    @include mod-ul2-style;
  }
  .ex-style_01A2 & {
    @include mod-ul2-style2;
  }
  .ex-style_01A3 & {
    @include mod-ul2-style3;
  }
}


.mod-ul3 {
  @include mod-ul3-common-style;
}


.mod-ul4 {
  @include mod-ul4-common-style;
  @include mod-ul4-style;
  .ex-style_01A1 & {
    @include mod-ul4-style;
  }
  .ex-style_01A2 & {
    @include mod-ul4-style2;
  }
  .ex-style_01A3 & {
    @include mod-ul4-style3;
  }
  .ex-style_01B1 & {
    @include mod-ul4-style4;
  }
  .ex-style_01B2 & {
    @include mod-ul4-style5;
  }
  .ex-style_01B3 & {
    @include mod-ul4-style6;
  }
  .ex-style_01C1 & {
    @include mod-ul4-style7;
  }
  .ex-style_01C2 & {
    @include mod-ul4-style8;
  }
  .ex-style_01C3 & {
    @include mod-ul4-style9;
  }
}


.mod-ul5 {
  @include mod-ul5-common-style;
  @include mod-ul5-style;
  .ex-style_01A1 & {
    @include mod-ul5-style;
  }
  .ex-style_01A2 & {
    @include mod-ul5-style2;
  }
  .ex-style_01A3 & {
    @include mod-ul5-style3;
  }
  .ex-style_01B1 & {
    @include mod-ul5-style4;
  }
  .ex-style_01B2 & {
    @include mod-ul5-style5;
  }
  .ex-style_01B3 & {
    @include mod-ul5-style6;
  }
  .ex-style_01C1 & {
    @include mod-ul5-style7;
  }
  .ex-style_01C2 & {
    @include mod-ul5-style8;
  }
  .ex-style_01C3 & {
    @include mod-ul5-style9;
  }
}

.mod-ul6 {
  @include mod-ul6-common-style;
  .ex-style_g4A1 & {
    @include mod-ul6-style;
  }
  .ex-style_01A2 & {
    @include mod-ul6-style2;
  }
  .ex-style_01A3 & {
    @include mod-ul6-style3;
  }
  .ex-style_01B1 & {
    @include mod-ul6-style4;
  }
  .ex-style_01B2 & {
    @include mod-ul6-style5;
  }
  .ex-style_01B3 & {
    @include mod-ul6-style6;
  }
  .ex-style_01C1 & {
    @include mod-ul6-style7;
  }
  .ex-style_01C2 & {
    @include mod-ul6-style8;
  }
  .ex-style_01C3 & {
    @include mod-ul6-style9;
  }
}


.mod-ol {
  @include mod-ol-common-style;
  @include mod-ol-style;
  .ex-style_01A1 & {
    @include mod-ol-style;
  }
  .ex-style_01A2 & {
    @include mod-ol-style;
  }
  .ex-style_01A3 & {
    @include mod-ol-style2;
  }
  .ex-style_01B1 & {
    @include mod-ol-style3;
  }
  .ex-style_01B2 & {
    @include mod-ol-style4;
  }
  .ex-style_01B3 & {
    @include mod-ol-style5;
  }
  .ex-style_01C1 & {
    @include mod-ol-style;
  }
  .ex-style_01C2 & {
    @include mod-ol-style;
  }
  .ex-style_01C3 & {
    @include mod-ol-style6;
  }
}



.mod-ol2 {
  @include mod-ol2-common-style;
  @include mod-ol2-style;
  .ex-style_01A1 & {
    @include mod-ol2-style;
  }
  .ex-style_01A2 & {
    @include mod-ol2-style2;
  }
  .ex-style_01A3 & {
    @include mod-ol2-style3;
  }
  .ex-style_01B1 & {
    @include mod-ol2-style4;
  }
  .ex-style_01B2 & {
    @include mod-ol2-style5;
  }
  .ex-style_01B3 & {
    @include mod-ol2-style6;
  }
  .ex-style_01C1 & {
    @include mod-ol2-style7;
  }
  .ex-style_01C2 & {
    @include mod-ol2-style8;
  }
  .ex-style_01C3 & {
    @include mod-ol2-style9;
  }
}
