@charset "UTF-8";
@import "../pc-style/mod-image-style";


.mod-image {
  @include mod-image-common-style;
}


.mod-image2 {
  @include mod-image2-common-style;
}


.mod-image3 {
  @include mod-image3-common-style;
}

.mod-image4 {
  @include mod-image4-common-style;
}

.mod-image6 {
  @include mod-image6-common-style;
  @include mod-image6-style;
  .ex-style_01A1 & {
    @include mod-image6-style;
  }
  .ex-style_01A2 & {
    @include mod-image6-style2;
  }
  .ex-style_01A3 & {
    @include mod-image6-style3;
  }
  .ex-style_01B1 & {
    @include mod-image6-style4;
  }
  .ex-style_01B2 & {
    @include mod-image6-style4;
  }
  .ex-style_01B3 & {
    @include mod-image6-style4;
  }
  .ex-style_01C1 & {
    @include mod-image6-style5;
  }
  .ex-style_01C2 & {
    @include mod-image6-style6;
  }
  .ex-style_01C3 & {
    @include mod-image6-style7;
  }
}


.mod-image7 {
  @include mod-image7-common-style;
}


.mod-image8 {
  @include mod-image8-common-style;
}


.mod-image9 {
  @include mod-image9-common-style;
}

.mod-image10 {
  @include mod-image10-common-style;
}


.mod-image-spec {
  @include mod-image-spec-common-style;
}


.mod-image-spec3 {
  @include mod-image-spec3-common-style;
  @include mod-image-spec3-style;
  .ex-style_01A1 & {
    @include mod-image-spec3-style;
  }
  .ex-style_01A2 & {
    @include mod-image-spec3-style2;
  }
  .ex-style_01A3 & {
    @include mod-image-spec3-style3;
  }
  .ex-style_01B1 & {
    @include mod-image-spec3-style4;
  }
  .ex-style_01B2 & {
    @include mod-image-spec3-style5;
  }
  .ex-style_01B3 & {
    @include mod-image-spec3-style6;
  }
  .ex-style_01C1 & {
    @include mod-image-spec3-style7;
  }
  .ex-style_01C2 & {
    @include mod-image-spec3-style8;
  }
  .ex-style_01C3 & {
    @include mod-image-spec3-style9;
  }
}


.mod-image-spec4 {
  @include mod-image-spec4-common-style;
  @include mod-image-spec4-style;
  .ex-style_01A1 & {
    @include mod-image-spec4-style;
  }
  .ex-style_01A2 & {
    @include mod-image-spec4-style2;
  }
  .ex-style_01A3 & {
    @include mod-image-spec4-style3;
  }
  .ex-style_01B1 & {
    @include mod-image-spec4-style4;
  }
  .ex-style_01B2 & {
    @include mod-image-spec4-style5;
  }
  .ex-style_01B3 & {
    @include mod-image-spec4-style6;
  }
  .ex-style_01C1 & {
    @include mod-image-spec4-style7;
  }
  .ex-style_01C2 & {
    @include mod-image-spec4-style8;
  }
  .ex-style_01C3 & {
    @include mod-image-spec4-style9;
  }
}


.mod-image-spec5 {
  @include mod-image-spec5-common-style;
  @include mod-image-spec5-style;
  .ex-style_01A1 & {
    @include mod-image-spec5-style;
  }
  .ex-style_01A2 & {
    @include mod-image-spec5-style2;
  }
  .ex-style_01A3 & {
    @include mod-image-spec5-style3;
  }
  .ex-style_01B1 & {
    @include mod-image-spec5-style4;
  }
  .ex-style_01B2 & {
    @include mod-image-spec5-style5;
  }
  .ex-style_01B3 & {
    @include mod-image-spec5-style6;
  }
  .ex-style_01C1 & {
    @include mod-image-spec5-style7;
  }
  .ex-style_01C2 & {
    @include mod-image-spec5-style8;
  }
  .ex-style_01C3 & {
    @include mod-image-spec5-style9;
  }
}