@charset "UTF-8";

//旧方式のコピーのため要改修

//##################################################
//  mod-h_4
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin mod-h_4-common-style {
  display: table;
  margin: 30px auto 0;
  width: 100%;
  i {
    display: table-cell;
  }
  .mod-h_4-inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    > p {
      &, span {
        font-size: $fontSizeS !important;
      }
    }
  }
  .mod-h_4-inner2,
  .mod-h_4-inner4 {
    padding: 0 7px;
  }
  .mod-h_4-inner3 {
    @include border-radius();
    overflow: hidden;
    padding: 2px 7px;
    .mod-h {
      max-height: 111px;
      word-break: break-all;
      font-size: $fontSizeM + 2 !important;
      line-height: 1.3;
      span {
        font-size: $fontSizeM + 2 !important;
      }
    }
  }
  &.ex-align-center {
    text-align: center !important;
    margin-left: auto; //align対応のためショートハンド不使用
    margin-right: auto;
    p,.mod-h {
      text-align: center !important;
    }
  }
  &.ex-align-right {
    text-align: right !important;
    margin-left: auto;//align対応のためショートハンド不使用
    p,.mod-h {
      text-align: right !important;
    }
  }
  &.ex-align-left {
    text-align: left !important;
    margin-right: auto;//align対応のためショートハンド不使用
    p,.mod-h {
      text-align: left !important;
    }
  }
}


//////////////////////////////////////////////////
//  MODULE-STYLE
@mixin mod-h_4-01A {
  .mod-h_4-inner3 {
    background-repeat: repeat-x;
  }
  .mod-h {
    color: #ffffff;
  }
}
@mixin mod-h_4-01B {
  .mod-h_4-inner3 {
    background-repeat: repeat-x;
  }
  .mod-h {
    color: #ffffff;
  }
}
@mixin mod-h_4-01C {
  .mod-h_4-inner3 {
    background-color: transparent;
    background-repeat: no-repeat;
  }
  .mod-h {
    font-weight: bold;
  }
}


//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style-mod-h_4-01A1 {
  p {
    color: #333333;
  }
  .mod-h_4-inner3 {
    background-color: #58bfcc;
    background-image: url("img/mod-h_4/bg02.png");
  }
}
@mixin deco-style-mod-h_4-01A2 {
  p {
    color: #333333;
  }
  .mod-h_4-inner3 {
    background-color: #2e4e88;
    background-image: url("img/mod-h_4/bg02_2.png");
  }
}
@mixin deco-style-mod-h_4-01A3 {
  p {
    color: #56534e;
  }
  .mod-h_4-inner3 {
    background-color: #ff9a4c;
    background-image: url("img/mod-h_4/bg02_3.png");
  }
}
@mixin deco-style-mod-h_4-01B1 {
  p {
    color: #1f4185;
  }
  .mod-h_4-inner3 {
    background-color: #2369d9;
    background-image: url("img/mod-h_4/bg14.png");
  }
}
@mixin deco-style-mod-h_4-01B2 {
  p {
    color: #06474f;
  }
  .mod-h_4-inner3 {
    background-color: #3ca1b0;
    background-image: url("img/mod-h_4/bg14_2.png");
  }
}
@mixin deco-style-mod-h_4-01B3 {
  p {
    color: #163850;
  }
  .mod-h_4-inner3 {
    background-color: #509ccd;
    background-image: url("img/mod-h_4/bg14_3.png");
  }
}
@mixin deco-style-mod-h_4-01C1 {
  p {
    color: #333333;
  }
  .mod-h_4-inner3 {
    background-image: url("img/mod-h_4/bg24.png");
  }
  .mod-h {
    color: #ffffff;
  }
}
@mixin deco-style-mod-h_4-01C2 {
  p {
    color: #333333;
  }
  .mod-h_4-inner3 {
    background-image: url("img/mod-h_4/bg24_2.png");
  }
  .mod-h {
    color: #355995;
  }
}
@mixin deco-style-mod-h_4-01C3 {
  p {
    color: #45320b;
  }
  .mod-h_4-inner3 {
    background-image: url("img/mod-h_4/bg24_3.png");
  }
  .mod-h {
    color: #ffffff;
  }
}


//##################################################
//  mod-h_4_n3
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin mod-h_4_n3-common-style {
  .mod-h_4_n3 {
    display: table;
    margin-top: 30px;
    .mod-h_4-inner {
      display: table-cell;
      width: 100%;
      > p {
        font-size: $fontSizeS !important;
        span {
          font-size: $fontSizeS !important;
        }
      }
    }
    .mod-h_4-inner3 {
      display: table;
      i {
        display: table-cell;
        min-width: 28px;
        height: 29px;
        background-position-y: center;
        background-repeat: no-repeat;
      }
      .mod-h {
        display: table-cell;
        padding: 2px 0 0 10px;
        min-width: 30px;
        max-width: 100%;
        vertical-align: middle;
        word-break: break-all;
        font-weight: bold;
        font-size: $fontSizeM + 2 !important;
        line-height: 1.2;
        span {
          font-size: $fontSizeM + 2 !important;
        }
      }
    }
  }
}


//////////////////////////////////////////////////
//  MODULE-STYLE


//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style-mod-h_4_n3-01A1 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #f7931d;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_a.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_a.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_a.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_a.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_a.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_a.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_a.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_a.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_a.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01A2 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #355995;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_a_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_a_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_a_2.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_a_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_a_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_a_2.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_a_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_a_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_a_2.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01A3 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #fd8e89;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_a_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_a_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_a_3.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_a_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_a_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_a_3.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_a_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_a_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_a_3.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01B1 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #16305f;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_b.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_b.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_b.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_b.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_b.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_b.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_b.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_b.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_b.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01B2 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #0d7e89;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_b_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_b_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_b_2.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_b_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_b_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_b_2.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_b_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_b_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_b_2.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01B3 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #f3811e;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_b_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_b_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_b_3.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_b_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_b_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_b_3.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_b_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_b_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_b_3.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01C1 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #299daa;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_c.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_c.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_c.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_c.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_c.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_c.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_c.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_c.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_c.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01C2 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #333333;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_c_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_c_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_c_2.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_c_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_c_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_c_2.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_c_2.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_c_2.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_c_2.png");
        }
      }
    }
  }
}
@mixin deco-style-mod-h_4_n3-01C3 {
  .mod-h_4_n3 {
    .mod-h_4-inner3 {
      .mod-h {
        color: #2a1e07;
      }
    }
  }
  .step1 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg_c_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg02_c_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg03_c_3.png");
        }
      }
    }
  }
  .step2 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg04_c_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg05_c_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg06_c_3.png");
        }
      }
    }
  }
  .step3 {
    .mod-3col-inner {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg07_c_3.png");
        }
      }
    }
    .mod-3col-inner2 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg08_c_3.png");
        }
      }
    }
    .mod-3col-inner3 {
      .mod-h_4_n3 {
        i {
          background-image: url("img/mod-h_4/_28/bg09_c_3.png");
        }
      }
    }
  }
}


//##################################################
//  mod-h_4_t1
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin mod-h_4_t1-common-style {
  display: table;
  margin-top: 15px;
  i {
    display: table-cell;
    min-width: 67px;
    height: 57px;
    background-position: left center;
    background-repeat: no-repeat;
  }
  .mod-h_4-inner {
    display: table-cell;
    min-width: 30px;
    vertical-align: middle;
    > p {
      padding-left: 0;
      font-size: $fontSizeS !important;
      span {
        font-size: $fontSizeS !important;
      }
    }
  }
  .mod-h_4-inner2,
  .mod-h_4-inner4 {
    font-size: $fontSizeS;
  }
  .mod-h {
    overflow: hidden;
    font-weight: bold;
    font-size: $fontSizeM + 2 !important;
    span {
      font-size: $fontSizeM + 2 !important;
    }
  }
}


//////////////////////////////////////////////////
//  MODULE-STYLE


//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style-mod-h_4_t1-01A1 {
  .mod-h_4-inner {
    > p {
      color: #333333;
    }
  }
  .mod-h {
    color: #452305;
  }
}
@mixin deco-style-mod-h_4_t1-01A2 {
  .mod-h_4-inner {
    > p {
      color: #333333;
    }
    .mod-h {
      color: #172846;
    }
  }
}
@mixin deco-style-mod-h_4_t1-01A3 {
  .mod-h_4-inner {
    > p {
      color: #56534e;
    }
  }
  .mod-h {
    color: #45320b;
  }
}
@mixin deco-style-mod-h_4_t1-01B1 {
  .mod-h_4-inner {
    > p {
      color: #f7931d;
    }
  }
  .mod-h {
    color: #15315f;
  }
}
@mixin deco-style-mod-h_4_t1-01B2 {
  .mod-h_4-inner {
    > p {
      color: #333333;
    }
  }
  .mod-h {
    color: #0e7e89;
  }
}
@mixin deco-style-mod-h_4_t1-01B3 {
  .mod-h_4-inner {
    > p {
      color: #fa5954;
    }
  }
  .mod-h {
    color: #44320c;
  }
}
@mixin deco-style-mod-h_4_t1-01C1 {
  .mod-h_4-inner {
    > p {
      color: #333333;
    }
  }
  .mod-h {
    color: #45320b;
  }
}
@mixin deco-style-mod-h_4_t1-01C2 {
  .mod-h_4-inner {
    > p {
      color: #333333;
    }
  }
  .mod-h {
    color: #172846;
  }
}
@mixin deco-style-mod-h_4_t1-01C3 {
  .mod-h_4-inner {
    > p {
      color: #333333;
    }
  }
  .mod-h {
    color: #45320b;
  }
}


//  mod-icon_num_01 の mixin一式
  @mixin mod-icon_num_01-style {
    background-image: url("img/mod-h_4/09/bg.png");
  }
  @mixin mod-icon_num_01-style2 {
    background-image: url("img/mod-h_4/09/bg_2.png");
  }
  @mixin mod-icon_num_01-style3 {
    background-image: url("img/mod-h_4/09/bg_3.png");
  }
  @mixin mod-icon_num_01-style4 {
    background-image: url("img/mod-h_4/13/bg.png");
  }
  @mixin mod-icon_num_01-style5 {
    background-image: url("img/mod-h_4/13/bg_2.png");
  }
  @mixin mod-icon_num_01-style6 {
    background-image: url("img/mod-h_4/13/bg_3.png");
  }
  @mixin mod-icon_num_01-style7 {
    background-image: url("img/mod-h_4/24/bg.png");
  }
  @mixin mod-icon_num_01-style8 {
    background-image: url("img/mod-h_4/24/bg_2.png");
  }
  @mixin mod-icon_num_01-style9 {
    background-image: url("img/mod-h_4/24/bg_3.png");
  }

//  mod-icon_num_02 の mixin一式
  @mixin mod-icon_num_02-style {
    background-image: url("img/mod-h_4/09/bg02.png");
  }
  @mixin mod-icon_num_02-style2 {
    background-image: url("img/mod-h_4/09/bg02_2.png");
  }
  @mixin mod-icon_num_02-style3 {
    background-image: url("img/mod-h_4/09/bg02_3.png");
  }
  @mixin mod-icon_num_02-style4 {
    background-image: url("img/mod-h_4/13/bg02.png");
  }
  @mixin mod-icon_num_02-style5 {
    background-image: url("img/mod-h_4/13/bg02_2.png");
  }
  @mixin mod-icon_num_02-style6 {
    background-image: url("img/mod-h_4/13/bg02_3.png");
  }
  @mixin mod-icon_num_02-style7 {
    background-image: url("img/mod-h_4/24/bg02.png");
  }
  @mixin mod-icon_num_02-style8 {
    background-image: url("img/mod-h_4/24/bg02_2.png");
  }
  @mixin mod-icon_num_02-style9 {
    background-image: url("img/mod-h_4/24/bg03_3.png");
  }

//  mod-icon_num_03 の mixin一式
  @mixin mod-icon_num_03-style {
    background-image: url("img/mod-h_4/09/bg03.png");
  }
  @mixin mod-icon_num_03-style2 {
    background-image: url("img/mod-h_4/09/bg03_2.png");
  }
  @mixin mod-icon_num_03-style3 {
    background-image: url("img/mod-h_4/09/bg03_3.png");
  }
  @mixin mod-icon_num_03-style4 {
    background-image: url("img/mod-h_4/13/bg03.png");
  }
  @mixin mod-icon_num_03-style5 {
    background-image: url("img/mod-h_4/13/bg03_2.png");
  }
  @mixin mod-icon_num_03-style6 {
    background-image: url("img/mod-h_4/13/bg03_3.png");
  }
  @mixin mod-icon_num_03-style7 {
    background-image: url("img/mod-h_4/24/bg03.png");
  }
  @mixin mod-icon_num_03-style8 {
    background-image: url("img/mod-h_4/24/bg03_2.png");
  }
  @mixin mod-icon_num_03-style9 {
    background-image: url("img/mod-h_4/24/bg03_3.png");
  }

//  mod-icon_num_04 の mixin一式
  @mixin mod-icon_num_04-style {
    background-image: url("img/mod-h_4/09/bg04.png");
  }
  @mixin mod-icon_num_04-style2 {
    background-image: url("img/mod-h_4/09/bg04_2.png");
  }
  @mixin mod-icon_num_04-style3 {
    background-image: url("img/mod-h_4/09/bg04_3.png");
  }
  @mixin mod-icon_num_04-style4 {
    background-image: url("img/mod-h_4/13/bg04.png");
  }
  @mixin mod-icon_num_04-style5 {
    background-image: url("img/mod-h_4/13/bg04_2.png");
  }
  @mixin mod-icon_num_04-style6 {
    background-image: url("img/mod-h_4/13/bg04_3.png");
  }
  @mixin mod-icon_num_04-style7 {
    background-image: url("img/mod-h_4/24/bg04.png");
  }
  @mixin mod-icon_num_04-style8 {
    background-image: url("img/mod-h_4/24/bg04_2.png");
  }
  @mixin mod-icon_num_04-style9 {
    background-image: url("img/mod-h_4/24/bg04_3.png");
  }

//  mod-icon_num_05 の mixin一式
  @mixin mod-icon_num_05-style {
    background-image: url("img/mod-h_4/09/bg05.png");
  }
  @mixin mod-icon_num_05-style2 {
    background-image: url("img/mod-h_4/09/bg05_2.png");
  }
  @mixin mod-icon_num_05-style3 {
    background-image: url("img/mod-h_4/09/bg05_3.png");
  }
  @mixin mod-icon_num_05-style4 {
    background-image: url("img/mod-h_4/13/bg05.png");
  }
  @mixin mod-icon_num_05-style5 {
    background-image: url("img/mod-h_4/13/bg05_2.png");
  }
  @mixin mod-icon_num_05-style6 {
    background-image: url("img/mod-h_4/13/bg05_3.png");
  }
  @mixin mod-icon_num_05-style7 {
    background-image: url("img/mod-h_4/24/bg05.png");
  }
  @mixin mod-icon_num_05-style8 {
    background-image: url("img/mod-h_4/24/bg05_2.png");
  }
  @mixin mod-icon_num_05-style9 {
    background-image: url("img/mod-h_4/24/bg05_3.png");
  }

//  mod-icon_num2 の mixin一式
  @mixin mod-icon_num2-common-style {
    .mod-icon_num2 {
      .step1 &, .step2 &, .step3 &, .step4 &, .step5 &,
      .step6 &, .step7 &, .step8 &, .step9 &, .step10 & {
        background-repeat: no-repeat;
      }
    }
  }
  @mixin mod-icon_num2-style {
    .mod-icon_num2 {
      min-width: 57px;
      height: 57px;
      background-position: left center;
      @include background-size(57px 57px);
    }
    .step1 {
      .mod-icon_num2 {
        background-image: url("img/mod-h_4/10/spbg.png");
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/10/spbg#{$n}.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style2 {
    .mod-icon_num2 {
      min-width: 57px;
      height: 57px;
      background-position: left center;
      @include background-size(57px 57px);
    }
    .step1 {
      .mod-icon_num2 {
        background-image: url("img/mod-h_4/10/spbg_2.png");
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/10/spbg#{$n}_2.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style3 {
    .mod-icon_num2 {
      min-width: 57px;
      height: 57px;
      background-position: left center;
      @include background-size(57px 57px);
    }
    .step1 {
      .mod-icon_num2 {
        background-image: url("img/mod-h_4/10/spbg_3.png");
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/10/spbg#{$n}_3.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style4 {
    .mod-icon_num2 {
      min-width: 57px;
      height: 57px;
      background-position: left center;
      @include background-size(57px 57px);
    }
    .step1 {
      .mod-icon_num2 {
        background-image: url("img/mod-h_4/14/spbg.png");
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/14/spbg#{$n}.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style5 {
    .mod-icon_num2 {
      min-width: 57px;
      height: 57px;
      background-position: left center;
      @include background-size(57px 57px);
    }
    .step1 {
      .mod-icon_num2 {
        background-image: url("img/mod-h_4/14/spbg_2.png");
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/14/spbg#{$n}_2.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style6 {
    .mod-icon_num2 {
      min-width: 57px;
      height: 57px;
      background-position: left center;
      @include background-size(57px 57px);
    }
    .step1 {
      .mod-icon_num2 {
        background-image: url("img/mod-h_4/14/spbg_3.png");
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/14/spbg#{$n}_3.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style7 {
    .mod-icon_num2 {
      min-width: 65px;
      height: 66px;
      background-position: left top;
      @include background-size(640px 67px);
    }
    .step1 {
      .mod-icon_num2 {
        background-image: url("img/mod-h_4/23/spbg.png");
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/23/spbg#{$n}.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style8 {
    .mod-icon_num2 {
      min-width: 65px;
      height: 66px;
      background-position: left top;
      @include background-size(640px 67px);
    }
    .step1 {
      .mod-icon_num2 {
        height: 66px;
        background-image: url("img/mod-h_4/23/spbg_2.png");
        @include background-size(640px 67px);
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/23/spbg#{$n}_2.png");
        }
      }
    }
  }
  @mixin mod-icon_num2-style9 {
    .mod-icon_num2 {
      min-width: 65px;
      height: 66px;
      background-position: left top;
      @include background-size(640px 67px);
    }
    .step1 {
      .mod-icon_num2 {
        height: 66px;
        background-image: url("img/mod-h_4/23/spbg_3.png");
        @include background-size(640px 67px);
      }
    }
    @for $i from 2 through 10 {
      $n: $i;
      @if $i < 10 { $n: "0#{$i}"; }
      .step#{$i} {
        .mod-icon_num2 {
          background-image: url("img/mod-h_4/23/spbg#{$n}_3.png");
        }
      }
    }
  }

//  mod-icon_num3 の mixin一式
  @mixin mod-icon_num3-common-style {
    .mod-icon_num3 {
      .step1 &, .step2 &, .step3 &, .step4 &, .step5 &,
      .step6 &, .step7 &, .step8 &, .step9 &, .step10 & {
        @include background-size(57px 57px);
        background-repeat: no-repeat;
      }
    }
  }
  @mixin mod-icon_num3-style {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_a.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_a.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_a.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_a.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_a.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_a.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_a.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_a.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_a.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_a.png");
      }
    }
  }
  @mixin mod-icon_num3-style2 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_a_2.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_a_2.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_a_2.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_a_2.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_a_2.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_a_2.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_a_2.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_a_2.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_a_2.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_a_2.png");
      }
    }
  }
  @mixin mod-icon_num3-style3 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_a_3.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_a_3.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_a_3.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_a_3.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_a_3.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_a_3.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_a_3.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_a_3.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_a_3.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_a_3.png");
      }
    }
  }
  @mixin mod-icon_num3-style4 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_b.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_b.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_b.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_b.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_b.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_b.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_b.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_b.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_b.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_b.png");
      }
    }
  }
  @mixin mod-icon_num3-style5 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_b_2.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_b_2.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_b_2.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_b_2.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_b_2.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_b_2.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_b_2.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_b_2.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_b_2.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_b_2.png");
      }
    }
  }
  @mixin mod-icon_num3-style6 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_b_3.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_b_3.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_b_3.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_b_3.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_b_3.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_b_3.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_b_3.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_b_3.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_b_3.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_b_3.png");
      }
    }
  }
  @mixin mod-icon_num3-style7 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_c.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_c.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_c.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_c.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_c.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_c.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_c.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_c.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_c.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_c.png");
      }
    }
  }
  @mixin mod-icon_num3-style8 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_c_2.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_c_2.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_c_2.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_c_2.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_c_2.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_c_2.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_c_2.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_c_2.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_c_2.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_c_2.png");
      }
    }
  }
  @mixin mod-icon_num3-style9 {
    .step1 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg_c_3.png");
      }
    }
    .step2 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg02_c_3.png");
      }
    }
    .step3 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg03_c_3.png");
      }
    }
    .step4 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg04_c_3.png");
      }
    }
    .step5 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg05_c_3.png");
      }
    }
    .step6 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg06_c_3.png");
      }
    }
    .step7 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg07_c_3.png");
      }
    }
    .step8 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg08_c_3.png");
      }
    }
    .step9 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg09_c_3.png");
      }
    }
    .step10 {
      .mod-icon_num3 {
        background-image: url("img/mod-icon-num/_03/spbg10_c_3.png");
      }
    }
  }

//  mod-icon_num4 の mixin一式
  @mixin mod-icon_num4-common-style {
    .mod-icon_num4 {
      .step1 &, .step2 &, .step3 &, .step4 &, .step5 &,
      .step6 &, .step7 &, .step8 &, .step9 &, .step10 & {
        @include background-size(57px 57px);
        background-repeat: no-repeat;
      }
    }
  }
  @mixin mod-icon_num4-style {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_a.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_a.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_a.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_a.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_a.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_a.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_a.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_a.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_a.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_a.png");
      }
    }
  }
  @mixin mod-icon_num4-style2 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_a_2.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_a_2.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_a_2.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_a_2.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_a_2.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_a_2.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_a_2.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_a_2.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_a_2.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_a_2.png");
      }
    }
  }
  @mixin mod-icon_num4-style3 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_a_3.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_a_3.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_a_3.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_a_3.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_a_3.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_a_3.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_a_3.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_a_3.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_a_3.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_a_3.png");
      }
    }
  }
  @mixin mod-icon_num4-style4 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_b.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_b.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_b.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_b.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_b.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_b.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_b.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_b.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_b.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_b.png");
      }
    }
  }
  @mixin mod-icon_num4-style5 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_b_2.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_b_2.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_b_2.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_b_2.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_b_2.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_b_2.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_b_2.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_b_2.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_b_2.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_b_2.png");
      }
    }
  }
  @mixin mod-icon_num4-style6 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_b_3.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_b_3.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_b_3.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_b_3.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_b_3.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_b_3.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_b_3.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_b_3.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_b_3.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_b_3.png");
      }
    }
  }
  @mixin mod-icon_num4-style7 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_c.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_c.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_c.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_c.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_c.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_c.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_c.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_c.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_c.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_c.png");
      }
    }
  }
  @mixin mod-icon_num4-style8 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_c_2.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_c_2.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_c_2.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_c_2.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_c_2.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_c_2.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_c_2.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_c_2.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_c_2.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_c_2.png");
      }
    }
  }
  @mixin mod-icon_num4-style9 {
    .step1 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg_c_3.png");
      }
    }
    .step2 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg02_c_3.png");
      }
    }
    .step3 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg03_c_3.png");
      }
    }
    .step4 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg04_c_3.png");
      }
    }
    .step5 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg05_c_3.png");
      }
    }
    .step6 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg06_c_3.png");
      }
    }
    .step7 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg07_c_3.png");
      }
    }
    .step8 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg08_c_3.png");
      }
    }
    .step9 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg09_c_3.png");
      }
    }
    .step10 {
      .mod-icon_num4 {
        background-image: url("img/mod-icon-num/_04/spbg10_c_3.png");
      }
    }
  }


//##################################################
//  mod-h_4_t1
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE
@mixin mod-h_4_side-common-style {
  max-height: 120px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5px 10px;
  .mod-h {
    color: #ffffff;
    font-weight: bold;
    font-size: $sideFontSizeL + 2;
    @include text-shadow(1px 1px 2px #222222);
  }
}

//////////////////////////////////////////////////
//  MODULE-STYLE

//////////////////////////////////////////////////
//  DECORATION-STYLE
@mixin deco-style-mod-h_4_side-01A1 {
  background-image: url("img/mod-label/bg.png");
}
@mixin deco-style-mod-h_4_side-01A2 {
  background-image: url("img/mod-label/bg_2.png");
}
@mixin deco-style-mod-h_4_side-01A3 {
  background-image: url("img/mod-label/bg_3.png");
}