@charset "UTF-8";
// ----------------------------
//    mod-set-tsuyomi
// ----------------------------

//-----common-style-----//
@mixin common-style-mod-set-tsuyomi {}
@mixin module-style-mod-set-tsuyomi {
  .mod-h_5_ver2 {
  	width: auto !important;
  }
  .mod-h_5_hyo_top, .mod-h_5_hyo_bottom, .mod-h_5_list_top, .mod-h_5_list_bottom {
  	.mod-h {
	  	font-size: $fontSizeM;
	  }
  }
  .mod-h_4_ver2 {
    margin-top: 30px;
  	i {
      min-width: 58px;
  	  height: 57px;
  	  background-repeat: no-repeat;
  	}
    .mod-h_4-inner2,
    .mod-h_4-inner4 {
      margin: 0 !important;
      padding: 0;
    }
  	.mod-h_4-inner3 {
  	  @include border-radius();
  	  margin: 0 !important;
  	  padding: 0 !important;
  	  .mod-h {
  	  	padding: 0 !important;
  	  }
  	}
  	.mod-h_4-inner4 {
  	  margin: 0;
  	}
  }
  .mod-table_ver2 {
  	table {
  	  font-size: $fontSizeS + 1;
  	}
  }
  .ex-imgFloat & {
	  .mod-table_ver2 {
  		table {
  		  font-size: $fontSizeM;
  		}
	  }
  }
  .mod-ul_ver2 {
    margin-top: 10px;
    ul {
      li {
        margin: 2px 0 0 15px;
      }
    }
  }
}
@mixin deco-style01A1-mod-set-tsuyomi {
	.mod-h_4-inner {
	  > p {
	    color: #333333;
	  }
	}
	.mod-h_4-inner3 {
	  background-image: none;
	  background-color: transparent;
	  .mod-h {
	    color: #352111;
	  }
	}
}
@mixin deco-style01A2-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #333333;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #172846;
      }
    }
}
@mixin deco-style01A3-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #56534e;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #352111;
      }
    }
}
@mixin deco-style01B1-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #f7931d;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #15315f;
      }
    }
}
@mixin deco-style01B2-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #333333;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #0e7e89;
      }
    }
}
@mixin deco-style01B3-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #fa5954;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #44320c;
      }
    }
}
@mixin deco-style01C1-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #333333;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #352111;
      }
    }
}
@mixin deco-style01C2-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #333333;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #172846;
      }
    }
}
@mixin deco-style01C3-mod-set-tsuyomi {
    .mod-h_4-inner {
      > p {
        color: #333333;
      }
    }
    .mod-h_4-inner3 {
      background-image: none;
      background-color: transparent;
      .mod-h {
        color: #352111;
      }
    }
}