@charset "UTF-8";

//旧方式のコピーのため要改修

//##################################################
//  mod-h_2
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE


//////////////////////////////////////////////////
//  MODULE-STYLE


//////////////////////////////////////////////////
//  DECORATION-STYLE



//##################################################
//  mod-h_3
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE


//////////////////////////////////////////////////
//  MODULE-STYLE


//////////////////////////////////////////////////
//  DECORATION-STYLE



//##################################################
//  mod-h_5_pic_top_side
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE

@mixin mod-h_5_pic_side-common-style {
  // @include block-style-ex-align;
  display: table;
  margin: 10px auto 0;
  text-align: center;
  i {
    display: table-cell;
  }
  .mod-h {
    display: table-cell;
    font-weight: bold;
    font-size: $sideFontSizeL - 1;
  }
}

//////////////////////////////////////////////////
//  MODULE-STYLE

//////////////////////////////////////////////////
//  DECORATION-STYLE

@mixin deco-style-mod-h_5_pic_top_side-01A1 {
  .mod-h {
    color: #352111;
  }
}
@mixin deco-style-mod-h_5_pic_top_side-01A2 {
  .mod-h {
    color: #0b7d89;
  }
}
@mixin deco-style-mod-h_5_pic_top_side-01A3 {
  .mod-h {
    color: #45320b;
  }
}



//##################################################
//  mod-h_5_pic_bottom_side
//##################################################

//////////////////////////////////////////////////
//  COMMON-STYLE

//////////////////////////////////////////////////
//  MODULE-STYLE

//////////////////////////////////////////////////
//  DECORATION-STYLE

@mixin deco-style-mod-h_5_pic_bottom_side-01A1 {
  .mod-h {
    color: #352111;
  }
}
@mixin deco-style-mod-h_5_pic_bottom_side-01A2 {
  .mod-h {
    color: #0b7d89;
  }
}
@mixin deco-style-mod-h_5_pic_bottom_side-01A3 {
  .mod-h {
    color: #45320b;
  }
}
