@charset "UTF-8";

//------------------
// .ex-imgFloat デフォルトは回りこみなし
//------------------


// .ex-imgFloat { //回りこみ用の記述
//   .mod-2col-inner {
//     margin-bottom: 10px;
//     //回り込んだ場合の画像と文章の間の余白
//     //段落系の2colにはmargin-bottom :0;を付けてください（もともと2colは>を使っているのでポイントで勝てるはず）
//   }
//   .mod-2col-inner2 {
//     overflow: visible;
//     //「回りこみなし指定」がデフォルトなので、それを解除」
//   }
// }



// //------------------
// // .ex-imgLayout（デフォルトは画像右）
// //------------------

// .ex-imgLayout_l { //画像を左へ
//   .mod-2col-inner {
//     float: left; //画像を左へ
//     margin-right: 20px; //文章と画像の余白を変更
//     margin-left: 0; //画像が右にあった時の余白は解除
//   }
// }
// //段落系の2colはもともとfloat: leftの余白は20pxなので影響なし


// .ex-imgLayout_lr {
//   .mod-2col31 {
//     > .mod-2col-inner {
//       float: left;
//       margin-right: 15px;
//       margin-left: 0;
//     }
//     .step2, .step4, .step6, .step8, .step10 {
//       > .mod-2col-inner {
//         float: right;
//         margin-right: 0;
//         margin-left: 15px;
//       }
//     }
//   }
// }

//------------------
// .ex-imgSize
//------------------
.ex-imgSize_L {
  img {
    width: 90%;
  }
}

.ex-imgSize_M {
  img {
    width: 80%;
  }
}

.ex-imgSize_S {
  img {
    width: 75%;
  }
}

