@charset "UTF-8";
@import "../sp-style/mod-body-style";

.mod-body {
  @include mod-body-color-style;
  .ex-style_01A1,
  .ex-style_v1A1,
  .ex-style_c1A1,
  .ex-style_i1A1,
  .ex-style_d1A1,
  .ex-style_q1A1 {
    @include mod-body-color-style;
  }
  .ex-style_01A2,
  .ex-style_v1A2,
  .ex-style_c1A2,
  .ex-style_i1A2,
  .ex-style_d1A2,
  .ex-style_q1A2 {
    @include mod-body-color-style2;
  }
  .ex-style_01A3,
  .ex-style_v1A3,
  .ex-style_c1A3,
  .ex-style_i1A3,
  .ex-style_d1A3,
  .ex-style_q1A3 {
    @include mod-body-color-style3;
  }
  .ex-style_01B1,
  .ex-style_v1B1,
  .ex-style_c1B1,
  .ex-style_i1B1,
  .ex-style_d1B1,
  .ex-style_q1B1 {
    @include mod-body-color-style4;
  }
  .ex-style_01B2,
  .ex-style_v1B2,
  .ex-style_c1B2,
  .ex-style_i1B2,
  .ex-style_d1B2,
  .ex-style_q1B2 {
    @include mod-body-color-style5;
  }
  .ex-style_01B3,
  .ex-style_v1B3,
  .ex-style_c1B3,
  .ex-style_i1B3,
  .ex-style_d1B3,
  .ex-style_q1B3 {
    @include mod-body-color-style6;
  }
  .ex-style_01C1,
  .ex-style_v1C1,
  .ex-style_c1C1,
  .ex-style_i1C1,
  .ex-style_d1C1,
  .ex-style_q1C1 {
    @include mod-body-color-style7;
  }
  .ex-style_01C2,
  .ex-style_v1C2,
  .ex-style_c1C2,
  .ex-style_i1C2,
  .ex-style_d1C2,
  .ex-style_q1C2 {
    @include mod-body-color-style8;
  }
  .ex-style_01C3,
  .ex-style_v1C3,
  .ex-style_c1C3,
  .ex-style_i1C3,
  .ex-style_d1C3,
  .ex-style_q1C3 {
    @include mod-body-color-style9;
  }
}

