@charset "UTF-8";



// ----------------------------
// mod-box
//必須レイアウト記述→margin-top
//必須デザイン記述→なし
// ----------------------------


//—————————common-style—————————
@mixin common-style-mod-box {
  //---必須レイアウト記述-----//
  // margin: 0 0 0 0; setに依存するmodueであり、共通デザインを持たないため不要
  //----必須デザイン記述-----//
  //---------------------//
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box {
  //margin: 0 0 0 67px;主にindent用、setから指定
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-in1
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-in1 {
  //囲うだけのbox
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-in2 未使用
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-in2 {
  //none（未使用）
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-in3 未使用
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-in3 {
  //none（未使用）
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-header
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-header {
  margin: 0 auto;
  padding: 25px 0 25px 0;
  width: $baseWidth;
  background-repeat: repeat-y;
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-in1-header 未使用
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-in1-header {
  //none（未使用）
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-footer
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-footer {
  margin: 0 auto;
  padding: 25px 0 25px 0;
  width: $baseWidth;
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-footer-in1
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-in1-footer {
  //none（未使用）
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-side
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-side {
  margin: 10px 0 0 0;
  > div {
    > .ex-first-child {
      margin-top: 0 !important;
    }
  }
}

//＊＊＊＊＊＊＊＊＊＊＊＊
// mod-box-in1-side
//＊＊＊＊＊＊＊＊＊＊＊＊
//—————————module-style—————————
@mixin module-style-mod-box-in1-side {
  padding: 10px;
  > .mod-box-inner {
    padding: 10px;
    background-color: #ffffff;
    > .ex-first-child {
      margin-top: 0 !important;
      > .ex-first-child {
        margin-top: 0 !important;
        > .ex-first-child {
          margin-top: 0 !important;
        > .ex-first-child {
          margin-top: 0 !important;
          }
        }
      }
    }
  }
}
//—————————deco-style—————————
@mixin deco-style01A1-mod-box-in1-side {
  border: 1px solid #dedad1;
  background-color: #fffce9;
}
@mixin deco-style01A2-mod-box-in1-side {
  border: 1px solid #cbd8d9;
  background-color: #f6f6f6;
}
@mixin deco-style01A3-mod-box-in1-side {
  border: 1px solid #dedad1;
  background-color: #fffef4;
}