@charset "UTF-8";

// @import "dependency/common-variable";

// --------------------------------------------
// テーマ１　A1-1a1-L25
// --------------------------------------------

// --------------------------------------------
// ヘッダー最上部要素　mod-top-sitename
// --------------------------------------------
@mixin common-style-mod-top-sitename {
  min-height: 20px;
  width: 100%;
  .mod-top-text-sitename {
    margin: 0 auto;
    width: $baseWidth;
    font-size: $fontSizeS -2;
  }
}

@mixin module-style-mod-top-sitename {
  .mod-top-text-sitename {
    color: #ffffff;
  }
}

@mixin deco-style01A1-mod-top-sitename {
  background-color: #2e7feb;
}

@mixin deco-style01A2-mod-top-sitename {
  background-color: #7ed1d9;
}

@mixin deco-style01A3-mod-top-sitename {
  background-color: #f7931d;
}

// --------------------------------------------
// ヘッダー部品の枠　mod-parts-sitename
// --------------------------------------------

@mixin common-style-mod-parts-sitename {}

@mixin module-style-mod-parts-sitename {}

@mixin deco-style01A1-mod-parts-sitename {
  background-color: #ffffff;
}

@mixin deco-style01B1-mod-parts-sitename {
  background-image: url(img/mod-sitename/bg_b_1.png);
  background-repeat: repeat-x;
  background-color: #426ca6;
}

@mixin deco-style01B2-mod-parts-sitename {
  background-image: url(img/mod-sitename/bg_b_2.png);
  background-repeat: repeat-x;
  background-color: #3fadba;
}

@mixin deco-style01B3-mod-parts-sitename {
  background-image: url(img/mod-sitename/bg_b_3.png);
  background-repeat: repeat-x;
  background-color: #fef691;
}

// --------------------------------------------
// 2列　mod-2col-sitename
// --------------------------------------------
@mixin common-style-mod-2col-sitename {
  display: table;
  overflow: hidden;
  margin: 0 auto;
  padding: 25px 0;
  max-height: 460px;
  width: 980px;
  background-repeat: repeat-x;
  > .mod-2col-inner {
    display: table-cell;
    padding-right: 10px;
    vertical-align: top;
    word-break: break-all;
  }
  > .mod-2col-inner2 {
    display: table-cell;
    vertical-align: bottom;
    word-break: break-all;
  }
}

@mixin module-style-mod-2col-sitename-1 {
  > .mod-2col-inner2 {
    width: 390px;
    // ここの横幅を指定せず、内容物にwidthを決めてもらったほうがいいかもしれない

  }
}

@mixin module-style-mod-2col-sitename-2 {
  > .mod-2col-inner2 {
    width: 408px;
  }
}

// --------------------------------------------
// 3列　mod-3col-sitename
// --------------------------------------------

@mixin common-style-mod-3col-sitename {
  display: table;
  overflow: hidden;
  margin: 0 auto;
  padding: 25px 0;
  max-height: 460px;
  width: 980px;
  background-repeat: repeat-x;
  > .mod-3col-inner {
    display: table-cell;
    padding-right: 10px;
    vertical-align: top;
    word-break: break-all;
  }
  > .mod-3col-inner2 {
    display: table-cell;
    vertical-align: bottom;
    word-break: break-all;
  }
  > .mod-3col-inner3 {
    display: table-cell;
    vertical-align: bottom;
    word-break: break-all;
  }
}

@mixin module-style-mod-3col-sitename-1 {
  > .mod-3col-inner2 {
    width: 237px;
    padding-right: 10px;
  }
  > .mod-3col-inner3 {
    width: 150px;
  }
}

@mixin module-style-mod-3col-sitename-2 {
  > .mod-3col-inner2 {
    width: 270px;
    padding-right: 10px;
  }
  > .mod-3col-inner3 {
    width: 150px;
  }
}

@mixin module-style-mod-3col-sitename-3 {
  > .mod-3col-inner2 {
    width: 197px;
    padding-right: 10px;
  }
  > .mod-3col-inner3 {
    width: 228px;
  }
}

@mixin module-style-mod-3col-sitename-4 {
  > .mod-3col-inner2 {
    width: 240px;
    padding-right: 10px;
  }
  > .mod-3col-inner3 {
    width: 250px;
  }
}

@mixin module-style-mod-3col-sitename-5 {
  > .mod-3col-inner2 {
    width: 266px;
    padding-right: 10px;
  }
  > .mod-3col-inner3 {
    width: 260px;
  }
}

// --------------------------------------------
// サイト名、サイト名上補足　mod-title-sitename
// --------------------------------------------

@mixin common-style-mod-title-sitename {
  display: table;
  .mod-title-inner {
    display: table-cell;
    margin: 0;
    width: 45px;
    vertical-align: top;
  }
  .mod-title-inner2 {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
  }
  .mod-title-logo {
    margin-right: 5px;
    width: 40px;
  }
  .mod-title-hosoku-sitename {
    font-size: $fontSizeS + 1;
  }
  .mod-title-text-sitename {
    font-weight: bold;
    font-size: $fontSizeL + 7;
    line-height: 1;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .mod-title-text-sitename.ex-first-child {
    margin: 0;
    font-size: $fontSizeL + 10;
    line-height: 1.5;
  }
}

@mixin module-style-mod-title-sitename {}

@mixin deco-style01A1-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #333333;
  }
  .mod-title-text-sitename {
    color: #6a3d04;
    a {
      color: #6a3d04;
    }
  }
}

@mixin deco-style01A2-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #333333;
  }
  .mod-title-text-sitename {
    color: #365a8a;
    a {
      color: #365a8a;
    }
  }
}

@mixin deco-style01A3-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #333333;
  }
  .mod-title-text-sitename {
    color: #45320b;
    a {
      color: #45320b;
    }
  }
}

@mixin deco-style01B1-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #ffffff;
  }
  .mod-title-text-sitename {
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }
}

@mixin deco-style01B2-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #ffffff;
  }
  .mod-title-text-sitename {
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }
}

@mixin deco-style01B3-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #443308;
  }
  .mod-title-text-sitename {
    color: #443308;
    a {
      color: #443308;
    }
  }
}

@mixin deco-style01C1-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #333333;
  }
  .mod-title-text-sitename {
    color: #284469;
    a {
      color: #284469;
    }
  }
}

@mixin deco-style01C2-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #333333;
  }
  .mod-title-text-sitename {
    color: #0b7d89;
    a {
      color: #0b7d89;
    }
  }
}

@mixin deco-style01C3-mod-title-sitename {
  .mod-title-hosoku-sitename {
    color: #333333;
  }
  .mod-title-text-sitename {
    color: #45320b;
    a {
      color: #45320b;
    }
  }
}

// --------------------------------------------
// サイト名下補足　mod-address-sitename
// --------------------------------------------
@mixin common-style-mod-address-sitename {
  margin-top: 5px;
  font-size: $fontSizeS + 1;
  line-height: 1.1;
}

@mixin module-style-mod-address-sitename {}

@mixin deco-style01A1-mod-address-sitename {
  color: #666666;
}

@mixin deco-style01B1-mod-address-sitename {
  color: #cccccc;
}

@mixin deco-style01B2-mod-address-sitename {
  color: #efefef;
}

@mixin deco-style01B3-mod-address-sitename {
  color: #77590e;
}

// --------------------------------------------
// 電話番号　mod-tel-sitename
// --------------------------------------------
@mixin module-style-mod-tel-sitename-1 {
  display: table;
  vertical-align: bottom;
  margin: 0 auto;
  i {
    display: table-cell;
    width: 31px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  .mod-icon_ftel {
    background-image: url("img/mod-sitename/bg_10.png");
  }
  .mod-tel-inner {
    display: table-cell;
    padding-left: 3px;
    .mod-telnum-sitename {
      padding: 0;
      background-image: none;
    }
  }
  .mod-tel-inner.ex-first-child {
    > p.mod-telnum-sitename {
      font-size: $fontSizeL + 10;
    }
  }
  .mod-tel-golo-sitename {
    text-align: right;
    font-size: $fontSizeS;
    line-height: 1;
    margin-top: 7px;
  }
  p.mod-telnum-sitename {
    margin-top: 3px;
    word-break: break-all;
    font-size: $fontSizeL + 7;
    line-height: 1;
  }
}

@mixin deco-style01A1-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
  .mod-telnum-sitename {
    color: #333333;
  }
}

@mixin deco-style01A2-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_2.png");
  }
  .mod-telnum-sitename {
    color: #365a8a;
  }
}

@mixin deco-style01A3-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_3.png");
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
}

@mixin deco-style01B1-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_4.png");
  }
  .mod-tel-golo-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #ffffff;
  }
}

@mixin deco-style01B2-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_4.png");
  }
  .mod-tel-golo-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #ffffff;
  }
}

@mixin deco-style01B3-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
}

@mixin deco-style01C1-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
  .mod-telnum-sitename {
    color: #284469;
  }
}

@mixin deco-style01C2-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_5.png");
  }
  .mod-telnum-sitename {
    color: #f7931d;
  }
}

@mixin deco-style01C3-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_6.png");
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
}

@mixin module-style-mod-tel-sitename-2 {
  .mod-tel-inner.ex-first-child {
    > p.mod-telnum-sitename {
      font-size: $fontSizeL + 14;
    }
  }
  .mod-tel-golo-sitename {
    text-align: right;
    font-size: $fontSizeS + 1;
    line-height: 1;
  }
  p.mod-telnum-sitename {
    margin-top: 3px;
    word-break: break-all;
    font-size: $fontSizeL + 12;
    line-height: 1;
  }
}

// --------------------------------------------
// ラベル付き文章（一行分のみ背景色がひかれる）　mod-info
// --------------------------------------------

@mixin common-style-mod-info3-sitename {
  margin-top: 8px;
  width: 100%;
  th {
    width: 48px;
    vertical-align: middle;
    font-weight: normal;
    > p {
      @include border-radius(3px);
      float: left;
      padding: 0 3px;
      width: 48px;
      text-align: center;
      font-size: $fontSizeS - 1;
    }
  }
  td {
    float: left;
    padding: 0 0 1px 3px;
    vertical-align: middle;
    text-align: left;
    font-size: $fontSizeS;
    > p {
      padding-left: 4px;
    }
  }
}

@mixin deco-style01A1-mod-info3-sitename {
  th {
    > p {
      background-color: #ff8809;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A2-mod-info3-sitename {
  th {
    > p {
      background-color: #0b7d89;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A3-mod-info3-sitename {
  th {
    > p {
      background-color: #519dce;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01B1-mod-info3-sitename {
  th {
    > p {
      background-color: #2b3f5b;
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B2-mod-info3-sitename {
  th {
    > p {
      background-color: #095c66;
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B3-mod-info3-sitename {
  th {
    > p {
      background-color: #443308;
      color: #ffffff;
    }
  }
  td {
    color: #443308;
  }
}

@mixin deco-style01C1-mod-info3-sitename {
  th {
    > p {
      background-color: #3f88f7;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01C2-mod-info3-sitename {
  th {
    > p {
      background-color: #0b7d89;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01C3-mod-info3-sitename {
  th {
    > p {
      background-color: #fff292;
      color: #45320b;
    }
  }
  td {
    color: #333333;
  }
}

@mixin common-style-mod-info3-sitename-2 {
  margin: 6px 0 0 5px;
  width: 100%;
  th {
    width: auto;
    vertical-align: bottom;
    font-weight: bold;
    > p {
      @include border-radius(3px);
      float: left;
      padding: 2px 3px 0;
      width: auto;
      min-width: 10px;
      text-align: center;
      font-size: $fontSizeS - 2;
    }
  }
  td {
    float: left;
    padding: 0;
    vertical-align: bottom;
    text-align: left;
    font-size: $fontSizeL + 2;
    line-height: 1.0;
  }
}

@mixin deco-style01A1-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #ff8809;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A2-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #365a8a;
      color: #ffffff;
    }
  }
  td {
    color: #365a8a;
  }
}

@mixin deco-style01A3-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #45320b;
      color: #ffffff;
    }
  }
  td {
    color: #45320b;
  }
}

@mixin deco-style01B1-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #f2d028;
      color: #2e4a72;
    }
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B2-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #f2d028;
      color: #178893;
    }
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B3-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #f37f1c;
      color: #ffffff;
    }
  }
  td {
    color: #443308;
  }
}

@mixin deco-style01C1-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #ff8809;
      color: #ffffff;
    }
  }
  td {
    color: #284469;
  }
}

@mixin deco-style01C2-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #0b7d89;
      color: #ffffff;
    }
  }
  td {
    color: #f7931d;
  }
}

@mixin deco-style01C3-mod-info3-sitename-2 {
  th {
    > p {
      background-color: #519dce;
      color: #ffffff;
    }
  }
  td {
    color: #45320b;
  }
}

@mixin mod-info-sitename {
  th {
    @include border-radius(3px);
    display: table;
    padding: 0 3px;
    width: 48px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    font-size: $fontSizeS - 1;
    > p {
      display: table-cell;
      vertical-align: middle;
    }
  }
  td {
    padding: 0 0 0 7px;
    max-width: 135px;
    vertical-align: top;
    font-size: $fontSizeS;
  }
}

@mixin mod-info2-sitename {
  margin-top: 5px;
  &.ex-first-child {
    margin-top: 0 !important;
  }
  th {
    @include border-radius(3px);
    display: table;
    padding: 0 3px;
    width: 48px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    font-size: $fontSizeS - 1;
    > p {
      display: table-cell;
      vertical-align: middle;
    }
  }
  td {
    padding: 0 0 0 7px;
    max-width: 135px;
    vertical-align: top;
    font-size: $fontSizeS;
  }
}

@mixin mod-info3-sitename {
  margin-top: 8px;
  width: 100%;
  th {
    width: 48px;
    vertical-align: middle;
    font-weight: normal;
    > p {
      @include border-radius(3px);
      float: left;
      padding: 0 3px;
      width: 48px;
      text-align: center;
      font-size: $fontSizeS - 1;
    }
  }
  td {
    float: left;
    padding: 0 0 1px 3px;
    vertical-align: middle;
    text-align: left;
    font-size: $fontSizeS;
    > p {
      padding-left: 4px;
    }
  }
}

@mixin mod-info4-sitename {
  margin: 0 auto;
  width: auto;
  th {
    width: auto;
    vertical-align: middle;
    font-weight: normal;
    > p {
      float: left;
      width: auto;
      text-align: center;
      font-size: $fontSizeM - 2;
    }
  }
  td {
    float: left;
    padding: 0 0 1px 3px;
    width: auto;
    vertical-align: middle;
    text-align: left;
    font-size: $fontSizeM - 2;
    > p {
      padding-left: 4px;
    }
  }
}

@mixin deco-style01A1-mod-info-sitename {
  th {
    background-color: #ff8809;
    color: #ffffff;
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A2-mod-info-sitename {
  th {
    background-color: #0b7d89;
    color: #ffffff;
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A3-mod-info-sitename {
  th {
    background-color: #519dce;
    color: #ffffff;
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01B1-mod-info-sitename {
  th {
    background-color: #2b3f5b;
    color: #ffffff;
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B2-mod-info-sitename {
  th {
    background-color: #095c66;
    color: #ffffff;
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B3-mod-info-sitename {
  th {
    background-color: #443308;
    color: #ffffff;
  }
  td {
    color: #443308;
  }
}

@mixin deco-style01C1-mod-info-sitename {
  th {
    background-color: #3f88f7;
    color: #ffffff;
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01C2-mod-info-sitename {
  th {
    background-color: #0b7d89;
    color: #ffffff;
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01C3-mod-info-sitename {
  th {
    background-color: #fff292;
    color: #45320b;
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A1-mod-info3-sitename {
  th {
    > p {
      background-color: #ff8809;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A2-mod-info3-sitename {
  th {
    > p {
      background-color: #0b7d89;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01A3-mod-info3-sitename {
  th {
    > p {
      background-color: #519dce;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01B1-mod-info3-sitename {
  th {
    > p {
      background-color: #2b3f5b;
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B2-mod-info3-sitename {
  th {
    > p {
      background-color: #095c66;
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style01B3-mod-info3-sitename {
  th {
    > p {
      background-color: #443308;
      color: #ffffff;
    }
  }
  td {
    color: #443308;
  }
}

@mixin deco-style01C1-mod-info3-sitename {
  th {
    > p {
      background-color: #3f88f7;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01C2-mod-info3-sitename {
  th {
    > p {
      background-color: #0b7d89;
      color: #ffffff;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style01C3-mod-info3-sitename {
  th {
    > p {
      background-color: #fff292;
      color: #45320b;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style02A1-mod-info4-sitename {
  th {
    > p {
      color: #333333;
    }
  }
  td {
    color: #333333;
  }
}

@mixin deco-style02B1-mod-info4-sitename {
  th {
    > p {
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
}

@mixin deco-style02C3-mod-info4-sitename {
  th {
    > p {
      color: #45320b;
    }
  }
  td {
    color: #45320b;
  }
}

// --------------------------------------------
// バナー1　mod-bnr-sitename
// --------------------------------------------
@mixin common-style-mod-bnr-sitename {
  @include border-radius;
  margin-top: 5px;
  width: 150px;
  background-position: left top;
  font-size: $fontSizeS + 1;
  &:hover {
    opacity: 0.8;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
  .mod-bnr-inner {
    @include border-radius;
    padding: 6px 5px 5px 29px;
    max-height: 49px;
    border: 1px solid white;
    background-position: 9px 10px;
    background-repeat: no-repeat;
    line-height: 1.4;
  }
}

@mixin deco-style01A1-mod-bnr-sitename {
  border: 1px solid #ff8809;
  background-color: #f7941e;
  background-image: url("img/mod-sitename/bg_bnr_1.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-image: url("img/mod-sitename/bg_bnr_arr_1.png");
    color: #ffffff;
  }
}

@mixin deco-style01A2-mod-bnr-sitename {
  border: 1px solid #7ed1d9;
  background-color: #48adbb;
  background-image: url("img/mod-sitename/bg_bnr_2.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-image: url("img/mod-sitename/bg_bnr_arr_2.png");
    color: #ffffff;
  }
}

@mixin deco-style01A3-mod-bnr-sitename {
  border: 1px solid #cfb502;
  background-color: #fee862;
  background-image: url("img/mod-sitename/bg_bnr_3.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-image: url("img/mod-sitename/bg_bnr_arr_3.png");
    color: #45320b;
  }
}

@mixin deco-style01B1-mod-bnr-sitename {
  border: 1px solid #2e7feb;
  background-color: #2e7feb;
  background-image: url("img/mod-sitename/bg_bnr_4.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #2e4a72;
    background-image: url("img/mod-sitename/bg_bnr_arr_4.png");
    color: #ffffff;
  }
}

@mixin deco-style01B2-mod-bnr-sitename {
  border: 1px solid #8cd6df;
  background-color: #4fb5c1;
  background-image: url("img/mod-sitename/bg_bnr_5.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #0b7d89;
    background-image: url("img/mod-sitename/bg_bnr_arr_5.png");
    color: #ffffff;
  }
}

@mixin deco-style01B3-mod-bnr-sitename {
  border: 1px solid #fef48b;
  background-color: #fef48b;
  background-image: url("img/mod-sitename/bg_bnr_6.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #fbcb28;
    background-image: url("img/mod-sitename/bg_bnr_arr_6.png");
    color: #443308;
  }
}

@mixin deco-style01C1-mod-bnr-sitename {
  border: 1px solid #ff908a;
  background-image: url("img/mod-sitename/bg_bnr_7.png");
  .mod-bnr-inner {
    color: #ffffff;
  }
}

@mixin deco-style01C2-mod-bnr-sitename {
  border: 1px solid #f8de5b;
  background-image: url("img/mod-sitename/bg_bnr_8.png");
  .mod-bnr-inner {
    color: #365a8a;
  }
}

@mixin deco-style01C3-mod-bnr-sitename {
  border: 1px solid #ffa353;
  background-image: url("img/mod-sitename/bg_bnr_9.png");
  .mod-bnr-inner {
    color: #ffffff;
  }
}

// --------------------------------------------
// バナー2　mod-bnr2-sitename
// --------------------------------------------
@mixin common-style-mod-bnr2-sitename {
  @include border-radius;
  margin-top: 5px;
  width: 150px;
  background-position: left top;
  font-size: $fontSizeS;
  &:hover {
    opacity: 0.8;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
  .mod-bnr-inner {
    @include border-radius;
    padding: 8px 5px 7px 29px;
    max-height: 49px;
    border: 1px solid white;
    background-position: 9px 10px;
    background-repeat: no-repeat;
    line-height: 1.4;
  }
}

@mixin deco-style01A1-mod-bnr-sitename-2 {
  border: 1px solid #3a7ff0;
  background-color: #4689f1;
  background-image: url("img/mod-sitename/bg_bnr_10.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-image: url("img/mod-sitename/bg_bnr_arr_10.png");
    color: #ffffff;
  }
}

@mixin deco-style01A2-mod-bnr-sitename-2 {
  border: 1px solid #f2d028;
  background-color: #eac23a;
  background-image: url("img/mod-sitename/bg_bnr_11.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-image: url("img/mod-sitename/bg_bnr_arr_11.png");
    color: #365a8a;
  }
}

@mixin deco-style01A3-mod-bnr-sitename-2 {
  border: 1px solid #fd8e89;
  background-color: #fc7c78;
  background-image: url("img/mod-sitename/bg_bnr_12.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    background-image: url("img/mod-sitename/bg_bnr_arr_12.png");
    color: #ffffff;
  }
}

@mixin deco-style01B1-mod-bnr-sitename-2 {
  border: 1px solid #f2d028;
  background-color: #e9ca39;
  background-image: url("img/mod-sitename/bg_bnr_13.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #7c6705;
    background-image: url("img/mod-sitename/bg_bnr_arr_13.png");
    color: #ffffff;
  }
}

// =deco-style01B2-mod-bnr-sitename-2
@mixin deco-style01B3-mod-bnr-sitename-2 {
  border: 1px solid #fbcda8;
  background-color: #f7b27c;
  background-image: url("img/mod-sitename/bg_bnr_15.png");
  background-repeat: repeat-x;
  .mod-bnr-inner {
    border: 1px solid #f38222;
    background-image: url("img/mod-sitename/bg_bnr_arr_15.png");
    color: #ffffff;
  }
}

@mixin deco-style01C1-mod-bnr-sitename-2 {
  border: 1px solid #3a7ff0;
  background-image: url("img/mod-sitename/bg_bnr_16.png");
  .mod-bnr-inner {
    color: #ffffff;
  }
}

@mixin deco-style01C2-mod-bnr-sitename-2 {
  border: 1px solid #0b7d89;
  background-image: url("img/mod-sitename/bg_bnr_17.png");
  .mod-bnr-inner {
    color: #ffffff;
  }
}

@mixin deco-style01C3-mod-bnr-sitename-2 {
  border: 1px solid #0a81ce;
  background-image: url("img/mod-sitename/bg_bnr_18.png");
  .mod-bnr-inner {
    color: #ffffff;
  }
}

// --------------------------------------------
// バナー3　mod-bnr3-sitename
// --------------------------------------------
@mixin common-style-mod-bnr-sitename-3 {
  @include border-radius(3px);
  clear: both;
  margin-top: 5px;
  width: 100%;
  &:hover {
    opacity: 0.8;
    -ms-filter: "alpha(opacity=80)";
  }
  a:hover, a:hover p {
    text-decoration: none;
  }
  .mod-bnr-inner {
    @include border-radius(3px);
    padding: 3px 5px 2px 24px;
    max-height: 40px;
    background-position: 9px 5px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    font-size: $fontSizeS + 1;
    line-height: 1.2;
  }
}

@mixin deco-style01A1-mod-bnr-sitename-3 {
  border: 1px solid #a3c9fe;
  .mod-bnr-inner {
    border: 1px solid white;
    background-color: #d1e3fe;
    background-image: url("img/mod-sitename/bg_bnr_arr_19.png");
    color: #333333;
  }
}

@mixin deco-style01A1-mod-bnr-sitename-3-2 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #ff8809;
    background-image: url("img/mod-sitename/bg_bnr_arr_22.png");
    color: #ffffff;
  }
}

@mixin deco-style01A2-mod-bnr-sitename-3 {
  border: 1px solid #7ed0d9;
  .mod-bnr-inner {
    border: 1px solid white;
    background-color: #c2eef2;
    background-image: url("img/mod-sitename/bg_bnr_arr_20.png");
    color: #172846;
  }
}

@mixin deco-style01A2-mod-bnr-sitename-3-2 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #0b7d89;
    background-image: url("img/mod-sitename/bg_bnr_arr_22.png");
    color: #ffffff;
  }
}

@mixin deco-style01A3-mod-bnr-sitename-3 {
  border: 1px solid #ff968f;
  .mod-bnr-inner {
    border: 1px solid white;
    background-color: #fdcecc;
    background-image: url("img/mod-sitename/bg_bnr_arr_21.png");
    color: #3d2612;
  }
}

@mixin deco-style01A3-mod-bnr-sitename-3-2 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #519dce;
    background-image: url("img/mod-sitename/bg_bnr_arr_22.png");
    color: #ffffff;
  }
}

@mixin deco-style01B1-mod-bnr-sitename-3 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #2b3f5b;
    background-image: url("img/mod-sitename/bg_bnr_arr_22.png");
    color: #ffffff;
  }
}

@mixin deco-style01B1-mod-bnr-sitename-3-2 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #4973c8;
    background-image: url("img/mod-sitename/bg_bnr_arr_22.png");
    color: #ffffff;
  }
}

@mixin deco-style01B2-mod-bnr-sitename-3 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #7ed1d9;
    background-image: url("img/mod-sitename/bg_bnr_arr_23.png");
    color: #095c66;
  }
}

@mixin deco-style01B3-mod-bnr-sitename-3 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #e6b405;
    background-image: url("img/mod-sitename/bg_bnr_arr_24.png");
    color: #45320b;
  }
}

@mixin deco-style01C1-mod-bnr-sitename-3 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #cce6fe;
    background-image: url("img/mod-sitename/bg_bnr_arr_25.png");
    color: #284469;
  }
}

@mixin deco-style01C1-mod-bnr-sitename-3-2 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #3f88f7;
    background-image: url("img/mod-sitename/bg_bnr_arr_22.png");
    color: #ffffff;
  }
}

@mixin deco-style01C2-mod-bnr-sitename-3 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #fff292;
    background-image: url("img/mod-sitename/bg_bnr_arr_26.png");
    color: #284469;
  }
}

@mixin deco-style01C2-mod-bnr-sitename-3-2 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #0b7d89;
    background-image: url("img/mod-sitename/bg_bnr_arr_22.png");
    color: #ffffff;
  }
}

@mixin deco-style01C3-mod-bnr-sitename-3 {
  border: none;
  .mod-bnr-inner {
    border: none;
    background-color: #fff292;
    background-image: url("img/mod-sitename/bg_bnr_arr_27.png");
    color: #45320b;
  }
}

// --------------------------------------------
// お気軽にお問合せください　mod-hosoku2-sitename
// --------------------------------------------
@mixin common-style-mod-hosoku2-sitename {
  margin-top: 10px;
  padding: 0;
  font-size: $fontSizeM;
  text-align: center;
}

@mixin deco-style01A1-mod-hosoku2-sitename {
  color: #333333;
}

@mixin deco-style01B1-mod-hosoku2-sitename {
  color: #ffffff;
}

@mixin deco-style01B3-mod-hosoku2-sitename {
  color: #443308;
}

@mixin common-style02-mod-hosoku2-sitename {
  padding: 0;
  text-align: center;
  font-size: $fontSizeM;
  line-height: 1.4;
}

@mixin deco-style02C3-mod-hosoku2-sitename {
  color: #45320b;
}

// --------------------------------------------
// 無料相談実施中ボックス　mod-set-toiawase2
// --------------------------------------------
@mixin common-style-mod-set-toiawase2-sitename {
  @include border-radius;
  display: table;
  min-width: 220px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  .mod-box-inner {
    @include border-radius(4px 4px 0 0);
    padding: 2px 5px 0;
    font-size: $fontSizeL;
  }
  .mod-box-inner2 {
    @include border-radius(0 0 4px 4px);
    padding: 4px 5px 2px;
    font-size: $fontSizeM;
  }
}

@mixin deco-style01A1-mod-set-toiawase2-sitename {
  border: 1px solid #2e7fec;
  .mod-box-inner {
    border-bottom: 1px solid #2e7fec;
    background-color: #5998ec;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: transparent;
    color: #333333;
  }
}

@mixin deco-style01A2-mod-set-toiawase2-sitename {
  border: 1px solid #09646e;
  .mod-box-inner {
    border-bottom: 1px solid #09646e;
    background-color: #0b7d88;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: transparent;
    color: #333333;
  }
}

@mixin deco-style01A3-mod-set-toiawase2-sitename {
  border: 1px solid #ffa353;
  .mod-box-inner {
    border-bottom: 1px solid #ffa353;
    background-color: #f27f1b;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: #fcf7d5;
    color: #45320b;
  }
}

@mixin deco-style01B1-mod-set-toiawase2-sitename {
  border: 1px solid #273446;
  .mod-box-inner {
    border-bottom: 1px solid #273446;
    background-color: #347be8;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: #ffffff;
    color: #15315f;
  }
}

@mixin deco-style01B2-mod-set-toiawase2-sitename {
  border: 1px solid #1b494f;
  .mod-box-inner {
    border-bottom: 1px solid #1b494f;
    background-color: #095c66;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: #ffffff;
    color: #15315f;
  }
}

@mixin deco-style01B3-mod-set-toiawase2-sitename {
  border: 1px solid #1b1403;
  .mod-box-inner {
    border-bottom: 1px solid #1b1403;
    background-color: #443308;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: #ffffff;
    color: #15315f;
  }
}

@mixin deco-style01C1-mod-set-toiawase2-sitename {
  border: 1px solid #eb5910;
  .mod-box-inner {
    border-bottom: 1px solid #eb5910;
    background-color: #f3882b;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: #ffffff;
    color: #333333;
  }
}

@mixin deco-style01C2-mod-set-toiawase2-sitename {
  border: 1px solid #0e7c8d;
  .mod-box-inner {
    border-bottom: 1px solid #0e7c8d;
    background-color: #2b9da8;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: transparent;
    color: #333333;
  }
}

@mixin deco-style01C3-mod-set-toiawase2-sitename {
  border: 1px solid #eb5910;
  .mod-box-inner {
    border-bottom: 1px solid #eb5910;
    background-color: #f3882b;
    color: #ffffff;
  }
  .mod-box-inner2 {
    background-color: transparent;
    color: #45320b;
  }
}

// --------------------------------------------
// 無料相談実施中ボックス　pat-item-toiawase-sitename
// --------------------------------------------
@mixin common-style-pat-item-toiawase-sitename {
  @include border-radius;
  margin: auto 0 auto auto;
  // width: 255px
  display: table;
  vertical-align: bottom;
  i {
    display: table-cell;
    width: 31px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  > div {
    @include border-radius;
    padding: 1px 5px;
    background-repeat: repeat-x;
  }
  .mod-telnum-sitename {
    margin: 0 auto;
    padding: 0 0 1px;
    width: auto;
    color: #ffffff;
    text-align: center;
    word-break: break-all;
    letter-spacing: 1px;
    font-size: 25px;
    line-height: 0.9;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_7.png");
  }
  .mod-icon_ftel {
    background-image: url("img/mod-sitename/bg_10.png");
  }
  .mod-tel-inner {
    display: table-cell;
    padding-left: 3px;
    .mod-tel-sitename {
      padding: 0;
      background-image: none;
    }
  }
  .mod-tel-inner.ex-first-child {
    > p.mod-telnum-sitename {
      font-size: $fontSizeL + 10;
    }
  }
  .mod-tel-golo-sitename {
    text-align: right;
    font-size: $fontSizeS;
    line-height: 1;
    color: #ffffff;
  }
  p.mod-telnum-sitename {
    margin-top: 3px;
    word-break: break-all;
    font-size: $fontSizeL + 7;
    line-height: 1;
  }
}

@mixin deco-style01A1-mod-tel-sitename {
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
}

@mixin module-style-pat-item-toiawase-sitename {
  p.mod-hosoku4-sitename {
    @include common-style02-mod-hosoku4-sitename;
    [class*=ex-style_02] & {
      margin-top: 3px;
    }
  }
}

@mixin deco-style01A1-pat-item-toiawase-sitename {
  border: 1px solid #ff8809;
  > div {
    border: 1px solid white;
    background-color: #ffb260;
    background-image: url("img/mod-sitename/bg_set_1-1.png");
  }
  p.mod-hosoku4-sitename {
    @include deco-style01A1-mod-hosoku2-sitename;
    color: #ffffff;
  }
  .mod-telnum-sitename {
    padding: 0 0 2px;
  }
}

@mixin deco-style01A2-pat-item-toiawase-sitename {
  border: 1px solid #7ed1d9;
  > div {
    border: 1px solid #bce2e7;
    background-color: #6ec7d1;
    background-image: url("img/mod-sitename/bg_set_2-1.png");
  }
}

@mixin deco-style01A3-pat-item-toiawase-sitename {
  border: 1px solid #519dce;
  > div {
    border: 1px solid white;
    background-color: #519ccd;
    background-image: url("img/mod-sitename/bg_set_3-1.png");
  }
}

@mixin deco-style01B1-pat-item-toiawase-sitename {
  border: 1px solid #2e7feb;
  > div {
    border: 1px solid #2e4a72;
    background-color: #2e7be1;
    background-image: url("img/mod-sitename/bg_set_4-1.png");
  }
}

@mixin deco-style01B2-pat-item-toiawase-sitename {
  border: 1px solid #8cd6df;
  > div {
    border: 1px solid #0b7d88;
    background-color: #48b4c0;
    background-image: url("img/mod-sitename/bg_set_5-1.png");
  }
}

@mixin deco-style01B3-pat-item-toiawase-sitename {
  border: 1px solid #fbcda8;
  > div {
    border: 1px solid #f38222;
    background-color: #f9b57d;
    background-image: url("img/mod-sitename/bg_set_6-1.png");
  }
}

@mixin deco-style01C1-pat-item-toiawase-sitename {
  border: 1px solid #ff908a;
  > div {
    border: 1px solid #ffdddc;
    background-color: #ff9e99;
    background-image: url("img/mod-sitename/bg_set_7-1.png");
  }
}

@mixin deco-style01C2-pat-item-toiawase-sitename {
  border: 1px solid #0b7d88;
  > div {
    border: 1px solid #c5f3f8;
    background-color: #0abfd1;
    background-image: url("img/mod-sitename/bg_set_8-1.png");
  }
}

@mixin deco-style01C3-pat-item-toiawase-sitename {
  border: 1px solid #ffa353;
  > div {
    border: 1px solid #ffd9bd;
    background-color: #ffaf65;
    background-image: url("img/mod-sitename/bg_set_9-1.png");
  }
}

// --------------------------------------------
// ↓　中途半端ゾーン！ここから pat-item-waku
// --------------------------------------------

@mixin common-style-mod-set-toiawase3 {
  display: table;
  width: auto;
  border: none;
  background-color: transparent;
  float: right;
  > .mod-set-inner {
    display: table-cell;
    width: 240px;
    vertical-align: bottom;
  }
  > .mod-set-inner2 {
    display: table-cell;
    width: 150px;
    vertical-align: middle;
    padding-left: 10px;
    i {
      display: table-cell;
      width: 31px;
      background-position: left 18px;
      background-repeat: no-repeat;
    }
    .mod-icon_ftel {
      background-image: url("img/mod-sitename/bg_10.png");
    }
  }
}

@mixin common-style-pat-item-waku-sitename {
  @include border-radius;
  padding: 5px 10px 3px;
  .mod-telnum-sitename {
    font-size: $fontSizeL + 8;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
    i {
      width: 25px;
    }
  }
  .mod-tel-sitename.ex-first-child {
    > p {
      font-size: $fontSizeL + 10;
    }
  }
  .mod-hosoku2-sitename {
    text-align: center;
    padding: 0;
    font-size: $fontSizeM;
  }
  .mod-info4-sitename {
    margin: 0 auto;
    width: auto;
    text-align: center;
    word-break: break-all;
    th {
      width: auto;
      vertical-align: middle;
      font-weight: normal;
      > p {
        width: auto;
        text-align: center;
        font-size: $fontSizeM - 3;
      }
    }
    td {
      float: left;
      padding: 0 0 1px 3px;
      width: auto;
      vertical-align: middle;
      text-align: left;
      font-size: $fontSizeM - 3;
      > p {
        padding-left: 4px;
      }
    }
  }
}

@mixin deco-style02A1-pat-item-waku-sitename {
  border: 1px solid #d0d6dc;
  background-color: #fdfaeb;
  .mod-hosoku2-sitename {
    color: #333333;
  }
  .mod-telnum-sitename {
    color: #ff8809;
  }
  .mod-tel-golo-sitename {
    color: #ff8809;
  }
  th {
    > p {
      color: #333333;
    }
  }
  td {
    color: #333333;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_1.png");
  }
}

@mixin deco-style02A2-pat-item-waku-sitename {
  border: 1px solid #d0d6dc;
  background-color: #f6f6f6;
  .mod-hosoku2-sitename {
    color: #333333;
  }
  .mod-telnum-sitename {
    color: #365a8a;
  }
  .mod-tel-golo-sitename {
    color: #365a8a;
  }
  th {
    > p {
      color: #333333;
    }
  }
  td {
    color: #333333;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_2.png");
  }
}

@mixin deco-style02A3-pat-item-waku-sitename {
  border: 1px solid #d0d6dc;
  background-color: #f6f6f6;
  .mod-hosoku2-sitename {
    color: #333333;
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
  .mod-tel-golo-sitename {
    color: #45320b;
  }
  th {
    > p {
      color: #333333;
    }
  }
  td {
    color: #333333;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_3.png");
  }
}

@mixin deco-style02B1-pat-item-waku-sitename {
  border: 1px solid #2e4a72;
  background-color: #2b3f5b;
  .mod-hosoku2-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #f2d028;
  }
  .mod-tel-golo-sitename {
    color: #f2d028;
  }
  th {
    > p {
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_4.png");
  }
}

@mixin deco-style02B2-pat-item-waku-sitename {
  border: 1px solid #0b7d88;
  background-color: #095c66;
  .mod-hosoku2-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #f2d028;
  }
  .mod-tel-golo-sitename {
    color: #f2d028;
  }
  th {
    > p {
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_4.png");
  }
}

@mixin deco-style02B3-pat-item-waku-sitename {
  border: 1px solid #77590e;
  background-color: #443308;
  .mod-hosoku2-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #ffffff;
  }
  .mod-tel-golo-sitename {
    color: #ffffff;
  }
  th {
    > p {
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_7.png");
  }
}

@mixin deco-style02C1-pat-item-waku-sitename {
  border: 1px solid #335a93;
  background-color: #edf4fe;
  .mod-hosoku2-sitename {
    color: #333333;
  }
  .mod-telnum-sitename {
    color: #284469;
  }
  .mod-tel-golo-sitename {
    color: #284469;
  }
  th {
    > p {
      color: #333333;
    }
  }
  td {
    color: #333333;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_2.png");
  }
}

@mixin deco-style02C2-pat-item-waku-sitename {
  border: 1px solid #7ed0d9;
  background-color: #0b7d89;
  .mod-hosoku2-sitename {
    color: #ffffff;
  }
  .mod-telnum-sitename {
    color: #ffffff;
  }
  .mod-tel-golo-sitename {
    color: #ffffff;
  }
  th {
    > p {
      color: #ffffff;
    }
  }
  td {
    color: #ffffff;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_7.png");
  }
}

@mixin deco-style02C3-pat-item-waku-sitename {
  border: 1px solid #45320b;
  background-color: #fef9c4;
  .mod-hosoku2-sitename {
    color: #443308;
  }
  .mod-telnum-sitename {
    color: #45320b;
  }
  .mod-tel-golo-sitename {
    color: #45320b;
  }
  th {
    > p {
      color: #45320b;
    }
  }
  td {
    color: #45320b;
  }
  .mod-icon_tel {
    background-image: url("img/mod-sitename/bg_3.png");
  }
}

@mixin common-style02-mod-tel-sitename {
  padding: 0;
  text-align: center;
  font-size: $fontSizeL + 11;
  line-height: 1;
}

@mixin common-style02-mod-hosoku3-sitename {
  text-align: right;
  font-size: $fontSizeS;
}

@mixin common-style02-mod-hosoku4-sitename {
  color: #ffffff;
  text-align: center;
  font-size: $fontSizeS;
  line-height: 1.3;
  margin-top: 3px;
  &.ex-first-child {
    font-size: $fontSizeM;
  }
}

// --------------------------------------------
// ↑　中途半端ゾーン！ここまで
// --------------------------------------------

@mixin deco-style01A1-mod-set-toiawase-sitename {
  border: 1px solid #ff8809;
  > .mod-box-inner {
    border: 1px solid white;
    background-color: #ffb260;
    background-image: url("img/mod-sitename/bg_set_1-1.png");
  }
}

@mixin deco-style01A2-mod-set-toiawase-sitename {
  border: 1px solid #7ed1d9;
  > .mod-box-inner {
    border: 1px solid #bce2e7;
    background-color: #6ec7d1;
    background-image: url("img/mod-sitename/bg_set_2-1.png");
  }
}

@mixin deco-style01A3-mod-set-toiawase-sitename {
  border: 1px solid #519dce;
  > .mod-box-inner {
    border: 1px solid white;
    background-color: #519ccd;
    background-image: url("img/mod-sitename/bg_set_3-1.png");
  }
}

@mixin deco-style01B1-mod-set-toiawase-sitename {
  border: 1px solid #2e7feb;
  > .mod-box-inner {
    border: 1px solid #2e4a72;
    background-color: #2e7be1;
    background-image: url("img/mod-sitename/bg_set_4-1.png");
  }
}

@mixin deco-style01B2-mod-set-toiawase-sitename {
  border: 1px solid #8cd6df;
  > .mod-box-inner {
    border: 1px solid #0b7d88;
    background-color: #48b4c0;
    background-image: url("img/mod-sitename/bg_set_5-1.png");
  }
}

@mixin deco-style01B3-mod-set-toiawase-sitename {
  border: 1px solid #fbcda8;
  > .mod-box-inner {
    border: 1px solid #f38222;
    background-color: #f9b57d;
    background-image: url("img/mod-sitename/bg_set_6-1.png");
  }
}

@mixin deco-style01C1-mod-set-toiawase-sitename {
  border: 1px solid #ff908a;
  > .mod-box-inner {
    border: 1px solid #ffdddc;
    background-color: #ff9e99;
    background-image: url("img/mod-sitename/bg_set_7-1.png");
  }
}

@mixin deco-style01C2-mod-set-toiawase-sitename {
  border: 1px solid #0b7d88;
  > .mod-box-inner {
    border: 1px solid #c5f3f8;
    background-color: #0abfd1;
    background-image: url("img/mod-sitename/bg_set_8-1.png");
  }
}

@mixin deco-style01C3-mod-set-toiawase-sitename {
  border: 1px solid #ffa353;
  > .mod-box-inner {
    border: 1px solid #ffd9bd;
    background-color: #ffaf65;
    background-image: url("img/mod-sitename/bg_set_9-1.png");
  }
}
