@charset "UTF-8";

// ----------------------------
// mod-3col
// ----------------------------

//＊＊＊＊＊＊＊＊＊＊＊＊
//mod-3col(inner1重)
//＊＊＊＊＊＊＊＊＊＊＊＊
//-----comm-style-----//
@mixin comm-style-mod-3col {
  @extend %cf;
  @extend %first-child-3col;
  margin: $mtBoxLL 0 0 0;
  padding: 0;
  .mod-3col-inner {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
  .mod-3col-inner2 {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
  .mod-3col-inner3 {
    float: right;
    margin: 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
}

//-----modu-style-----//
//mod-3col
@mixin modu-style-mod-3col {
  //現状記述なし
}
@mixin modu-style-mod-2colin3col {
  @extend %first-child-2col;
  margin: $mtBoxL 0 0 0;
  > .mod-2col-inner {
    width: 70px;
    margin: 0 0 0 10px;
  }
  .ex-imgLayout_l & {
    .mod-2col-inner {
      margin: 0 10px 0 0;
    }
  }
}
@mixin modu-style-mod-3col-waku {
    margin: 0 20px 0 0; //common打ち消し
   &.mod-3col-inner3 {
    margin: 0 !important; //枠デザインにかんけなくこのレイアウト指定
  }
}
//mod-3col-footer
@mixin modu-style-mod-3col-footer {
  position: relative;
  height: 210px;
 .mod-3col-inner {
    margin: 0 30px 0 0; //common打ち消し
    width: 330px;
  }
  .mod-3col-inner2 {
    margin: 0 30px 0 0; //common打ち消し
    width: 260px;
  }
  .mod-3col-inner2 {
    width: 330px;
  }
}

//＊＊＊＊＊＊＊＊＊＊＊＊
//mod-3col-in1(inner2重)未使用
//＊＊＊＊＊＊＊＊＊＊＊＊
//-----comm-style-----//
@mixin comm-style-mod-3col-in1 {
  @extend %cf;
  margin: $mtBoxLL 0 0 0;
  padding: 0;
  .mod-3col-inner {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
  .mod-3col-inner2 {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
  .mod-3col-inner3 {
    float: right;
    margin: 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
}

//-----modu-style-----//
@mixin modu-style-mod-3col-in1 {
  //現状記述なし
}



//＊＊＊＊＊＊＊＊＊＊＊＊
//mod-3col-in2(inner3重)
//＊＊＊＊＊＊＊＊＊＊＊＊
//-----comm-style-----//
@mixin comm-style-mod-3col-in2 {
  @extend %cf;
  @extend %first-child-3col-in2;
  margin: $mtBoxLL 0 0 0;
  padding: 0;
  .mod-3col-inner {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
  .mod-3col-inner2 {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
  .mod-3col-inner3 {
    float: right;
    margin: 0;
    padding: 0;
    width: floor(($mainWidth - 40) / 3);
  }
}

//-----modu-style-----//
@mixin modu-style-mod-3col-in2 {
  //現状記述なし
}
