@charset "UTF-8";

// --------------------------------------------------------------------------
// mod-set-toiawase-2col
// --------------------------------------------------------------------------

// -------------------------------------
// common-style
// -------------------------------------
@mixin common-style-mod-set-toiawase {
  @include border-radius(5px);
  .mod-box-in1 {
    @include border-radius(5px);
    padding: 15px 20px;
    > div {
      > .ex-first-child {
        margin-top: 0;
      }
    }
    .mod-box_ver2 {
      margin: 0;
      .mod-rte_ver2 {
        clear: both;
        margin: 10px 0 0;
      }
    }
    .mod-2col-in2 {
      position: relative;
      overflow: hidden;
      .mod-2col-inner {
        float: left;
      }
      .mod-2col-inner2 {
        float: right;
        .mod-2col-inner2-2 {
          position: absolute;
          right: 0;
          bottom: 5px;
        }
      }
    }
  }
}

// -------------------------------------
// module-style
// -------------------------------------
@mixin module-style-mod-set-toiawase-2col-1 {
  .mod-box-in1 {
    margin: 0;
    > .mod-box-inner {
      > .ex-first-child {
        margin: 0;
      }
    }
  }
}
@mixin module-style-mod-set-toiawase-2col-2 {
  .mod-box-in1 {
    margin: 0 5px 5px;
    width: auto;
  }
}
@mixin module-style-mod-set-toiawase-2col-3 {
  .mod-box-in1 {
    margin: 0 5px 5px;
    width: auto;
    .mod-ul_ver2 {
      @include border-radius(5px);
      margin: 10px 0 0;
      padding: 10px;
      ul {
        li {
          margin: 2px 0 0 5px;
        }
      }
    }
  }
}
@mixin module-style-mod-set-toiawase-2col-4 {
  .mod-2col-in1 {
    .mod-2col-inner-2 {
      > .mod-html-map {
        small a {
          padding: 0 0 0 17px;
          min-height: 0;
          width: auto;
          height: auto;
          border: 0 none transparent;
          background-color: transparent;
          background-position: left 2px;
          font-size: $fontSizeS + 1;
        }
      }
    }
    .mod-2col-inner2-2 {
      > .mod-rte_ver2 {
        margin-top: 5px;
      }
      > .mod-bnr_ver2 {
        margin: 15px auto 0;
      }
    }
  }
}

// -------------------------------------
// deco-style
// -------------------------------------
@mixin deco-style-mod-set-toiawase-2col-1 {
  .mod-rte-kyocho {
    color: #45320b;
  }
  .mod-html-map {
    small a {
      color: #335a93 !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-2 {
  .mod-rte-kyocho {
    color: #172846;
  }
  .mod-html-map {
    small a {
      color: #294470 !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-3 {
  .mod-rte-kyocho {
    color: #333333;
  }
  .mod-html-map {
    small a {
      color: #45320b !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-4 {
  .mod-rte-kyocho {
    color: #333333;
  }
  .mod-html-map {
    small a {
      background-image: url("img/mod-link/bg.png");
      color: #335a93 !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-5 {
  .mod-rte-kyocho {
    color: #333333;
  }
  .mod-html-map {
    small a {
      background-image: url("img/mod-link/bg_2.png");
      color: #294470 !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-6 {
  .mod-rte-kyocho {
    color: #333333;
  }
  .mod-html-map {
    small a {
      background-image: url("img/mod-link/bg_3.png");
      color: #45320b !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-7 {
  .mod-box-in1 {
    background-color: #ffffff;
  }
  .mod-rte-kyocho {
    color: #426ca6;
  }
  .mod-html-map {
    small a {
      color: #335a93 !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-8 {
  .mod-box-in1 {
    background-color: #ffffff;
  }
  .mod-rte-kyocho {
    color: #45320b;
  }
  .mod-html-map {
    small a {
      color: #294470 !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}
@mixin deco-style-mod-set-toiawase-2col-9 {
  .mod-box-in1 {
    background-color: #fdf6e4;
  }
  .mod-rte-kyocho {
    color: #333333;
  }
  .mod-html-map {
    small a {
      color: #45320b !important;
      &:hover {
        color: #f2d028 !important;
      }
    }
  }
}

