@charset "UTF-8";
// ----------------------------
// mod-4col
// ----------------------------


//＊＊＊＊＊＊＊＊＊＊＊＊
//mod-4col-in2(3重)
//＊＊＊＊＊＊＊＊＊＊＊＊
//-----comm-style-----//
@mixin comm-style-mod-4col-in2 {
  @extend %cf;
  @extend %first-child-4col-in2;
  margin: $mtBoxLL 0 0 0;
  padding: 0;
  .mod-4col-inner {
    float: left;
    margin: 0;
    padding: 0;
    width: floor(($mainWidth - 20 * 3) / 4);
  }
  .mod-4col-inner2, .mod-4col-inner3, .mod-4col-inner4 {
    float: left;
    margin: 0;
    padding: 0 0 0 20px;
    width: floor(($mainWidth - 20 * 3) / 4)+20 ;
  }
}

//-----modu-style-----//
@mixin modu-style-mod-4col-in2 {
  //記述なし
}