@charset "UTF-8";

//+++++++++++++++++++++++++++
//mod-ul
//+++++++++++++++++++++++++++


//＊＊＊＊＊＊＊＊＊＊＊＊
//common-style
//＊＊＊＊＊＊＊＊＊＊＊＊
@mixin common-style-mod-ul {
  margin: 10px 0 0 0;
  ul {
    margin: 0;//デフォルト値の削除
    padding: 0;//デフォルト値の削除
  }
  li {
    padding: 0 0 0 15px;
    background-position: left 8px;
    background-repeat: no-repeat;
    list-style-type: none;
    font-size: $fontSizeM;
    &:first-child {
      padding-top: 0; //first-chilsとして上の余白のみ無くしたいのでショートハンドなし
    }
  }
  > p {
    margin: 12px 0 0 0;
  }
  > p:first-child {
    margin: 0;
  }
  ol {
    padding: 0 0 0 17px;
    > li {
      padding: 0;
      background-image: none !important;//ulのアイコンが出てきてしまうのに勝つため
      list-style-type: decimal !important;
    }
  }
}

//＊＊＊＊＊＊＊＊＊＊＊＊
//module-style
//＊＊＊＊＊＊＊＊＊＊＊＊
@mixin module-style-mod-ul {
  li {
    margin: 2px 0 0 25px;
  }
}
@mixin module-style-mod-ul-side {
  li {
    margin: 5px 0 0 15px;
    background-position: left 5px;
    font-size: $sideFontSizeM;
  }
}
//＊＊＊＊＊＊＊＊＊＊＊＊
//deco-style
//＊＊＊＊＊＊＊＊＊＊＊＊

@mixin deco-style01A1-mod-ul {
  border: none;
  background-color: transparent;
  li {
    background-image: url("img/mod-ul/bg.png");
    color: #333333;

  }
}
@mixin deco-style01A2-mod-ul {
  border: none;
  background-color: transparent;
  li {
    background-image: url("img/mod-ul/bg_2.png");
    color: #333333;

  }
}

@mixin deco-style01A3-mod-ul {
  border: none;
  background-color: transparent;
  li {
    background-image: url("img/mod-ul/bg_3.png");
    color: #56534e;
  }
}

@mixin deco-style01B1-mod-ul {
  border: none;
  background-color: transparent;
  li {
    background-image: url("img/mod-ul/bg04.png");
    color: #333333;

  }
}

@mixin deco-style01B2-mod-ul {
  border: none;
  background-color: transparent;
  li {
    background-image: url("img/mod-ul/bg04_2.png");
    color: #333333;

  }
}

@mixin deco-style01B3-mod-ul {
  border: none;
  background-color: transparent;
  li {
    background-image: url("img/mod-ul/bg04_3.png");
    color: #333333;

  }
}

@mixin deco-style01C1-mod-ul {
  @include border-radius();
  padding: 10px;
  border: 1px solid #d1c9a4;
  background-color: #fffce9;
  li {
    margin: 0 0 0 10px;
    padding: 0 0 0 18px;
    background-image: url("img/mod-ul/bg06.png");
    background-position: left 2px;
    color: #333333;
  }
}

@mixin deco-style01C2-mod-ul {
  @include border-radius();
  padding: 10px;
  border: 1px solid #7ed1d9;
  background-color: #e3f6f8;
  li {
    margin: 0 0 0 10px;
    padding: 0 0 0 18px;
    background-image: url("img/mod-ul/bg06_2.png");
    background-position: left 2px;
    color: #45320b;
  }
}

@mixin deco-style01C3-mod-ul {
  @include border-radius();
  padding: 10px;
  border: 1px solid #c8dffe;
  background-color: #dce9fb;
  li {
    margin: 0 0 0 10px;
    padding: 0 0 0 18px;
    background-image: url("img/mod-ul/bg06_3.png");
    background-position: left 2px;
    color: #45320b;
  }
}


@mixin deco-style01A1-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02.png");
  }
}
@mixin deco-style01A2-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02_2.png");
  }
}
@mixin deco-style01A3-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02_3.png");
  }
}
@mixin deco-style01B1-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02.png");
  }
}
@mixin deco-style01B2-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02_2.png");
  }
}
@mixin deco-style01B3-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02_3.png");
  }
}
@mixin deco-style01C1-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02.png");
  }
}
@mixin deco-style01C2-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02_2.png");
  }
}
@mixin deco-style01C3-mod-ul-side {
  li {
    background-image: url("img/mod-ul/bg02_3.png");
  }
}


//+++++++++++++++++++++++++++
//        mod-ol
//+++++++++++++++++++++++++++

//＊＊＊＊＊＊＊＊＊＊＊＊
//common-style
//＊＊＊＊＊＊＊＊＊＊＊＊

@mixin common-style-mod-ol {
  margin: 10px 0 0 0;
  ol {
    margin: 0 0 0 25px;
    padding: 0 0 0 25px;
  }
  li {
    margin: 2px 0 0 0;
  }
  > p {
    margin: 12px 0 0 0;
  }
  > p:first-child {
    margin: 0;
  }
}

//＊＊＊＊＊＊＊＊＊＊＊＊
//module-style
//＊＊＊＊＊＊＊＊＊＊＊＊

@mixin module-style-mod-ol { }

//＊＊＊＊＊＊＊＊＊＊＊＊
//deco-style
//＊＊＊＊＊＊＊＊＊＊＊＊

@mixin deco-style01A1-mod-ol {
  ol {
    color: #333333;
  }
}
@mixin deco-style01A2-mod-ol {
  ol {
    color: #333333;
  }
}
@mixin deco-style01A3-mod-ol {
  ol {
    color: #56534e;
  }
}
@mixin deco-style01B1-mod-ol {
  ol {
    color: #f16c0b;
  }
}
@mixin deco-style01B2-mod-ol {
  ol {
    color: #0C7D87;
  }
}
@mixin deco-style01B3-mod-ol {
  ol {
    color: #337FB2;
  }
}
@mixin deco-style01C1-mod-ol {
  ol {
    color: #333333;
  }
}
@mixin deco-style01C2-mod-ol {
  ol {
    color: #333333;
  }
}
@mixin deco-style01C3-mod-ol {
  ol {
    color: #45320b;
  }
}























//残しておきますが統合の結果差分で書くことになった部分


// @mixin deco-style01A1-mod-ul-in2 {
//   background-color: #ffffff;
//   ul {
//     padding: 5px 0 10px 0;
//     li {
//       margin: 2px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       background-image: url("img/mod-ul/_06/bg_a.png");
//       color: #274c7e;
//       &:first-child {
//         margin: 0;
//       }
//       &:after {
//         content: none;
//       }
//     }
//   }
// }
// @mixin deco-style01A2-mod-ul-in2 {
//   background-color: #ffffff;
//   ul {
//     padding: 5px 0 10px 0;
//     li {
//       margin: 2px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       background-image: url("img/mod-ul/_06/bg_a_2.png");
//       color: #274c7e;
//       &:first-child {
//         margin: 0;
//       }
//       &:after {
//         content: none;
//       }
//     }
//   }
// }
// @mixin deco-style01A3-mod-ul-in2 {
//   background-color: #ffffff;
//   ul {
//     padding: 5px 0 10px 0;
//     li {
//       margin: 2px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       background-image: url("img/mod-ul/_06/bg_a_3.png");
//       color: #f27f1b;
//       &:first-child {
//         margin: 0;
//       }
//       &:after {
//         content: none;
//       }
//     }
//   }
// }
// @mixin deco-style01B1-mod-ul-in2 {
//   background-color: #5a7fb0;
//   background-image: url("img/mod-ul/_06/bg_b.png");
//   background-position: left top;
//   background-repeat: repeat-x;
//   ul {
//     padding: 5px 0 15px 0;
//     li {
//       position: relative;
//       margin: 10px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       background-image: url("img/mod-ul/_06/bg02_b.png");
//       color: #ffffff;
//       &:first-child {
//         margin: 2px 0 0 0;
//       }
//       &:after {
//         position: absolute;
//         bottom: -15px;
//         left: 0;
//         content: url("img/mod-ul/_06/bg03_b.png");
//       }
//     }
//   }
// }

// @mixin deco-style01B2-mod-ul-in2 {
//   background-color: #5eb0bc;
//   background-image: url("img/mod-ul/_06/bg_b_2.png");
//   background-position: left top;
//   background-repeat: repeat-x;
//   ul {
//     padding: 5px 0 15px 0;
//     li {
//       position: relative;
//       margin: 10px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       background-image: url("img/mod-ul/_06/bg02_b_2.png");
//       color: #ffffff;
//       &:first-child {
//         margin: 2px 0 0 0;
//       }
//       &:after {
//         position: absolute;
//         bottom: -15px;
//         left: 0;
//         content: url("img/mod-ul/_06/bg03_b_2.png");
//       }
//     }
//   }
// }

// @mixin deco-style01B3-mod-ul-in2 {
//   background-color: #f5a561;
//   background-image: url("img/mod-ul/_06/bg_b_3.png");
//   background-position: left top;
//   background-repeat: repeat-x;
//   ul {
//     padding: 5px 0 15px 0;
//     li {
//       position: relative;
//       margin: 10px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       background-image: url("img/mod-ul/_06/bg02_b_3.png");
//       color: #ffffff;
//       &:first-child {
//         margin: 2px 0 0 0;
//       }
//       &:after {
//         position: absolute;
//         bottom: -15px;
//         left: 0;
//         content: url("img/mod-ul/_06/bg03_b_3.png");
//       }
//     }
//   }
// }

// @mixin deco-style01C1-mod-ul-in2 {
//   padding: 0 0 33px 0;
//   border-left: 1px solid #f7eadb;
//   background-color: transparent;
//   background-image: url("img/mod-ul/_06/bg_c.png");
//   background-position: center bottom;
//   background-repeat: no-repeat;
//   .mod-ul-inner {
//     border-top: 1px solid #f7eadb;
//     border-right: 1px solid #f7eadb;
//     background-color: #ffffff;
//     background-image: url("img/mod-ul/_06/bg02_c.png");
//     background-position: left 2px;
//     background-repeat: no-repeat;
//     }
//   .mod-ul-inner2 {
//     padding: 10px 0 0 0;
//     background-image: url("img/mod-ul/_06/bg02_c.png");
//     background-position: right 2px;
//     }
//   ul {
//     padding: 5px 0 0 0;
//     li {
//       margin: 2px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       border-bottom: 1px dashed #808285;
//       background-image: url("img/mod-ul/_06/bg03_c.png");
//       color: #331b07;
//       &:first-child {
//         margin: 0;
//       }
//       &:after {
//         content: none;
//       }
//     }
//   }
// }
// @mixin deco-style01C2-mod-ul-in2 {
//   padding: 0 0 33px 0;
//   border-left: 1px solid #f7eadb;
//   background-color: transparent;
//   background-image: url("img/mod-ul/_06/bg_c_2.png");
//   background-position: center bottom;
//   background-repeat: no-repeat;
//   .mod-ul-inner {
//     border-top: 1px solid #f7eadb;
//     border-right: 1px solid #f7eadb;
//     background-color: #ffffff;
//     background-image: url("img/mod-ul/_06/bg02_c_2.png");
//     background-position: left 2px;
//     background-repeat: no-repeat;
//     }
//   .mod-ul-inner2 {
//     padding: 10px 0 0 0;
//     background-image: url("img/mod-ul/_06/bg02_c_2.png");
//     background-position: right 2px;
//     }
//   ul {
//     padding: 5px 0 0 0;
//     li {
//       margin: 2px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       border-bottom: 1px dashed #808285;
//       background-image: url("img/mod-ul/_06/bg03_c_2.png");
//       color: #331b07;
//       &:first-child {
//         margin: 0;
//       }
//       &:after {
//         content: none;
//       }
//     }
//   }
// }
// @mixin deco-style01C3-mod-ul-in2 {
//   padding: 0 0 33px 0;
//   border-left: 1px solid #f7eadb;
//   background-color: transparent;
//   background-image: url("img/mod-ul/_06/bg_c_3.png");
//   background-position: center bottom;
//   background-repeat: no-repeat;
//   .mod-ul-inner {
//     border-top: 1px solid #f7eadb;
//     border-right: 1px solid #f7eadb;
//     background-color: #ffffff;
//     background-image: url("img/mod-ul/_06/bg02_c_3.png");
//     background-position: left 2px;
//     background-repeat: no-repeat;
//     }
//   .mod-ul-inner2 {
//     padding: 10px 0 0 0;
//     background-image: url("img/mod-ul/_06/bg02_c_3.png");
//     background-position: right 2px;
//     }
//   ul {
//     padding: 5px 0 0 0;
//     li {
//       margin: 2px 15px 0 15px;
//       padding: 7px 0 0 30px;
//       border-bottom: 1px dashed #c5c5c5;
//       background-image: url("img/mod-ul/_06/bg03_c_3.png");
//       color: #331b07;
//       &:first-child {
//         margin: 0;
//       }
//       &:after {
//         content: none;
//       }
//     }
//   }
// }

// @mixin deco-style01A1-mod-ol-in2 {
//   ol {
//     padding: 0;
//   }
//   li {
//     padding: 3px 10px 10px 45px;
//     border-bottom: 1px dotted #dedad1;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: 0;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 27px;
//     height: 27px;
//     background: url(img/mod-ol/_02/bg_a.png) no-repeat left top;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeM + 1;
//   }
// }
// @mixin deco-style01A2-mod-ol-in2 {
//   ol {
//     padding: 0;
//   }
//   li {
//     padding: 3px 10px 10px 45px;
//     border-bottom: 1px dotted #cccccc;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: 0;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 27px;
//     height: 27px;
//     background: url(img/mod-ol/_02/bg_a_2.png) no-repeat left top;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeM + 1;
//   }
// }
// @mixin deco-style01A3-mod-ol-in2 {
//   ol {
//     padding: 0;
//   }
//   li {
//     padding: 3px 10px 10px 45px;
//     border-bottom: 1px dotted #dedad1;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: 0;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 27px;
//     height: 27px;
//     background: url(img/mod-ol/_02/bg_a_3.png) no-repeat left top;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeM + 1;
//   }
// }
// @mixin deco-style01B1-mod-ol-in2 {
//   ol {
//     padding: 0 0 0 8px;
//   }
//   li {
//     padding: 8px 10px 10px 50px;
//     border: 1px solid #a8bfdc;
//     background-color: #e7eef8;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: -9px;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 47px;
//     height: 28px;
//     background:url(img/mod-ol/_02/bg_b.png) no-repeat left 2px;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeL + 2;
//   }
// }
// @mixin deco-style01B2-mod-ol-in2 {
//   ol {
//     padding: 0 0 0 8px;
//   }
//   li {
//     padding: 8px 10px 10px 50px;
//     border: 1px solid #85d1d9;
//     background-color: #dafafa;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: -9px;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 47px;
//     height: 28px;
//     background:url(img/mod-ol/_02/bg_b_2.png) no-repeat left 2px;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeL + 2;
//   }
// }
// @mixin deco-style01B3-mod-ol-in2 {
//   ol {
//     padding: 0 0 0 8px;
//   }
//   li {
//     padding: 8px 10px 10px 50px;
//     border: 1px solid #ffca99;
//     background-color: #fff6e5;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: -9px;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 47px;
//     height: 28px;
//     background:url(img/mod-ol/_02/bg_b_3.png) no-repeat left 2px;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeL + 2;
//   }
// }
// @mixin deco-style01C1-mod-ol-in2 {
//   ol {
//     padding: 0 0 0 8px;
//   }
//   li {
//     padding: 8px 10px 10px 50px;
//     border: 1px solid #dedad1;
//     background-color: #fffdee;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: -9px;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 47px;
//     height: 28px;
//     background:url(img/mod-ol/_02/bg_c.png) no-repeat left 2px;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeL + 2;
//   }
// }
// @mixin deco-style01C2-mod-ol-in2 {
//   ol {
//     padding: 0 0 0 8px;
//   }
//   li {
//     padding: 8px 10px 10px 50px;
//     border: 1px solid #cbd8d9;
//     background-color: #f6f6f6;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: -9px;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 47px;
//     height: 28px;
//     background:url(img/mod-ol/_02/bg_c_2.png) no-repeat left 2px;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeL + 2;
//   }
// }
// @mixin deco-style01C3-mod-ol-in2 {
//   ol {
//     padding: 0 0 0 8px;
//   }
//   li {
//     padding: 8px 10px 10px 50px;
//     border: 1px solid #dedad1;
//     background-color: #fffdee;
//     color: #333333;
//     font-size: $fontSizeM;
//   }
//   li:before {
//     top: 0;
//     left: -9px;
//     display: block;
//     padding: 3px 0 0 0;
//     width: 47px;
//     height: 28px;
//     background:url(img/mod-ol/_02/bg_c_3.png) no-repeat left 2px;
//     color:#ffffff;
//     text-align: center;
//     font-weight: bold;
//     font-size: $fontSizeL + 2;
//   }
// }

//＊＊＊＊＊＊＊＊＊＊＊＊
//差分記述用のextend-common-style
//＊＊＊＊＊＊＊＊＊＊＊＊
// %common-style-mod-ul-2col {//2col
//   li {
//     margin: 2px 0 0 20px;
//   }
//   > p {
//     margin: 10px 0 0 0;
//   }
// }

// %common-style-mod-ul-3col {//3col
//   li {
//     margin: 2px 0 0 15px;
//   }
//   > p {
//     margin: 8px 0 0 0;
//   }
// }


// @mixin deco-style01C1-mod-ul-2col {
//   li {
//     margin: 0 0 0 10px;
//   }
// }
// @mixin deco-style01C2-mod-ul-2col {
//   li {
//     margin: 0 0 0 10px;
//   }
// }
// @mixin deco-style01C3-mod-ul-2col {
//   li {
//     margin: 0 0 0 10px;
//   }
// }
// @mixin deco-style01C1-mod-ul-3col {
//   li {
//     margin: 0 0 0 5px;
//   }
// }
// @mixin deco-style01C2-mod-ul-3col {
//   li {
//     margin: 0 0 0 5px;
//   }
// }
// @mixin deco-style01C3-mod-ul-3col {
//   li {
//     margin: 0 0 0 5px;
//   }
// }