@charset "UTF-8";

//  mod-body-font-color の mixin一式
@mixin mod-body-color-style {
  color: #333333;
}

@mixin mod-body-color-style2 {
  color: #333333;
}

@mixin mod-body-color-style3 {
  color: #56534e;
}

@mixin mod-body-color-style4 {
  color: #333333;
}

@mixin mod-body-color-style5 {
  color: #333333;
}

@mixin mod-body-color-style6 {
  color: #333333;
}

@mixin mod-body-color-style7 {
  color: #333333;
}

@mixin mod-body-color-style8 {
  color: #333333;
}

@mixin mod-body-color-style9 {
  color: #45320b;
}
