@charset "UTF-8";
@import "../sp-style/mod-tel-style";

//##################################################
//  mod-tel-g-side
//  mod-tel-ig-side
//##################################################
.mod-tel-g-side {
  @include common-style-mod-tel-side;
  @include module-style-mod-tel-g-side;
}

.mod-tel-ig-side {
  @include common-style-mod-tel-side;
  @include module-style-mod-tel-ig-side;
  .ex-style_#{$baseEx_01A1} & {@include deco-style01A1-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01A2} & {@include deco-style01A2-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01A3} & {@include deco-style01A3-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01B1} & {@include deco-style01A1-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01B2} & {@include deco-style01A2-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01B3} & {@include deco-style01A3-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01C1} & {@include deco-style01A1-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01C2} & {@include deco-style01A2-mod-tel-ig-side;}
  .ex-style_#{$baseEx_01C3} & {@include deco-style01A3-mod-tel-ig-side;}
}

//##################################################
//  mod-tel-ii-footer
//##################################################
.mod-tel-ii-footer {
  @include common-style-mod-tel-ii-footer;
  @include module-style-mod-tel-ii-footer;
  .ex-style_#{$baseEx_01A1} & {@include pat-item-tel-ii-footer-1;}
  .ex-style_#{$baseEx_01A2} & {@include pat-item-tel-ii-footer-2;}
  .ex-style_#{$baseEx_01A3} & {@include pat-item-tel-ii-footer-3;}
  .ex-style_#{$baseEx_01B1} & {@include pat-item-tel-ii-footer-4;}
  .ex-style_#{$baseEx_01B2} & {@include pat-item-tel-ii-footer-4;}
  .ex-style_#{$baseEx_01B3} & {@include pat-item-tel-ii-footer-4;}
  .ex-style_#{$baseEx_01C1} & {@include pat-item-tel-ii-footer-5;}
  .ex-style_#{$baseEx_01C2} & {@include pat-item-tel-ii-footer-6;}
  .ex-style_#{$baseEx_01C3} & {@include pat-item-tel-ii-footer-7;}
}

//##################################################
//  mod-tel-iig
//##################################################
.mod-tel-iig {
  @include common-style-mod-tel-iig;
  @include module-style-mod-tel-iig;
  .ex-style_#{$baseEx_01A1} & {
    @include deco-style01A1-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include deco-style01A2-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include deco-style01A3-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include deco-style01B1-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include deco-style01B2-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include deco-style01B3-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include deco-style01C1-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include deco-style01C2-mod-tel-iig;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include deco-style01C3-mod-tel-iig;
  }
}