@charset "UTF-8";

// -----------------------------------
//
// mod-set-design の紐付けモジュール
// ※※1/27 一旦すべてPCからコピーしています！！※※
// -----------------------------------

@import "../sp-style/mod-set-design-style";
@import "../design/pat-design-common";


// -----------------------------------
// part-main-275
// 汎用枠
// -----------------------------------

.mod-set-design {
  @include common-style-mod-set-design;
  .ex-style_#{$baseEx_01A1} & {
    @include pat-design-common-1;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include pat-design-common-2;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include pat-design-common-3;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include pat-design-common-4;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include pat-design-common-5;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include pat-design-common-6;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include pat-design-common-7;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include pat-design-common-8;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include pat-design-common-9;
  }
}



.mod-set-design2 {
  @include common-style-mod-set-design2;
  .ex-style_#{$baseEx_01A1} & {
  }
  .ex-style_#{$baseEx_01A2} & {

  }
  .ex-style_#{$baseEx_01A3} & {

  }
  .ex-style_#{$baseEx_01B1} & {
    .mod-h_4_ver2 {
      .mod-h_4-inner2 {
        color: #333333;
      }
      .mod-h_4-inner4 {
        color: #333333;
      }
    }
  }
  .ex-style_#{$baseEx_01B2} & {
    .mod-h_4_ver2 {
      .mod-h_4-inner2 {
        color: #333333;
      }
      .mod-h_4-inner4 {
        color: #333333;
      }
    }
  }
  .ex-style_#{$baseEx_01B3} & {
    .mod-h_4_ver2 {
      .mod-h_4-inner2 {
        color: #333333;
      }
      .mod-h_4-inner4 {
        color: #333333;
      }
    }
  }
  .ex-style_#{$baseEx_01C1} & {
    .mod-h_4_ver2 {
      .mod-h_4-inner2 {
        color: #333333;
      }
      .mod-h_4-inner4 {
        color: #333333;
      }
    }
  }
  .ex-style_#{$baseEx_01C2} & {
    .mod-h_4_ver2 {
      .mod-h_4-inner2 {
        color: #333333;
      }
      .mod-h_4-inner4 {
        color: #333333;
      }
    }
  }
  .ex-style_#{$baseEx_01C3} & {
    .mod-h_4_ver2 {
      .mod-h_4-inner2 {
        color: #333333;
      }
      .mod-h_4-inner4 {
        color: #333333;
      }
    }
    .mod-ul_ver2 {
      ul li {
        color: #333333;
      }
    }
  }
}



.mod-set-design3 {
  @include common-style-mod-set-design3;
  @include module-style-mod-set-design3;
  .ex-style_#{$baseEx_01A1} & {
    @include pat-item-waku-kadomaru-simple-1;
    .mod-h_4_ver2 {@include pat-item-h4-gurade-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-b19;}
    @include deco-style01A1-mod-set-design3;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include pat-item-waku-kadomaru-simple-2;
    .mod-h_4_ver2 {@include pat-item-h4-gurade-2;}
    @include deco-style01A2-mod-set-design3;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include pat-item-waku-kadomaru-simple-3;
    .mod-h_4_ver2 {@include pat-item-h4-gurade-3;}
    @include deco-style01A3-mod-set-design3;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include pat-item-waku-kado-jouge-beta-1;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    @include deco-style01B1-mod-set-design3;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include pat-item-waku-kado-jouge-beta-2;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    @include deco-style01B2-mod-set-design3;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include pat-item-waku-kado-jouge-beta-3;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    @include deco-style01B3-mod-set-design3;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include pat-item-waku-kado-ue-mesh-1;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-2;}
    @include deco-style01C1-mod-set-design3;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include pat-item-waku-kado-ue-mesh-2;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-3;}
    @include deco-style01C2-mod-set-design3;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include pat-item-waku-kado-ue-mesh-3;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-4;}
    @include deco-style01C3-mod-set-design3;
  }
}


.mod-set-design-2col {
  @include common-style-mod-set-design;
  @include module-style-mod-set-design-2col;
  .ex-style_#{$baseEx_01A1} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kadomaru-simple-1;}
    .mod-h_4_ver2 {@include pat-item-h4-gurade-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-b19;}
    @include deco-style01A1-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01A2} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kadomaru-simple-2;}
    .mod-h_4_ver2 {@include pat-item-h4-gurade-2;}
    @include deco-style01A2-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01A3} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kadomaru-simple-3;}
    .mod-h_4_ver2 {@include pat-item-h4-gurade-3;}
    @include deco-style01A3-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01B1} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-jouge-beta-4;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    @include deco-style01B1-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01B2} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-jouge-beta-5;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    @include deco-style01B2-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01B3} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-jouge-beta-6;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    @include deco-style01B3-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01C1} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-ue-mesh-1;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-2;}
    @include deco-style01C1-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01C2} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-ue-mesh-2;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-3;}
    @include deco-style01C2-mod-set-design-2col;
  }
  .ex-style_#{$baseEx_01C3} & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-ue-mesh-3;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-4;}
    @include deco-style01C3-mod-set-design-2col;
  }
}


// // -----------------------------------
// // part-main-040
// // 汎用枠
// // -----------------------------------
.mod-set-design4 {
  .ex-style_#{$baseEx_01A1} & {
    @include pat-item-waku-board-blue;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-grade-blue;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-maru-default-1;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-1;
    @include deco-style-mod-set-design4-1;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include pat-item-waku-board-blue-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-blue;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-maru-default-2;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-1;
    @include deco-style-mod-set-design4-2;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include pat-item-waku-board-yellow-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-grade-red;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-maru-default-2;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-1;
    @include deco-style-mod-set-design4-3;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include pat-item-waku-jouge-image-brown-bgc;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-red;}
    .mod-box_ver2 {@include pat-item-waku-kado-none-bgimg;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-maru-default-4;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-2;
    @include deco-style-mod-set-design4-4;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include pat-item-waku-jouge-image-blue-bgc;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-blue-3;}
    .mod-box_ver2 {@include pat-item-waku-kado-none-bgimg-2;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-maru-default-5;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-2;
    @include deco-style-mod-set-design4-5;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include pat-item-waku-jouge-image-brown-bgc-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-yellow;}
    .mod-box_ver2 {@include pat-item-waku-kado-none-bgimg-3;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-maru-default-6;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-2;
    @include deco-style-mod-set-design4-6;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include pat-item-waku-board-blue-3;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-border-red;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-check-default-1;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-3;
    @include deco-style-mod-set-design4-7;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include pat-item-waku-board-blue-4;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-border-orange;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-check-default-2;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-3;
    @include deco-style-mod-set-design4-8;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include pat-item-waku-board-orange-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-border-red;}
    .mod-ul_ver2 {
      @include pat-item-waku-reset;
      @include pat-item-list-check-default-3;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-3;
    @include deco-style-mod-set-design4-9;
  }
  .ex-style_#{$baseEx_02A1} & {
    @include pat-item-waku-fukidashi-1;
    .mod-h_4_ver2 {@include pat-item-h4-design-10;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-4;
    @include deco-style-mod-set-design4-10;
  }
  .ex-style_#{$baseEx_02A2} & {
    @include pat-item-waku-fukidashi-2;
    .mod-h_4_ver2 {@include pat-item-h4-design-11;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-4;
    @include deco-style-mod-set-design4-11;
  }
  .ex-style_#{$baseEx_02A3} & {
    @include pat-item-waku-fukidashi-3;
    .mod-h_4_ver2 {@include pat-item-h4-design-12;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-4;
    @include deco-style-mod-set-design4-12;
  }
  .ex-style_#{$baseEx_02B1} & {
    @include pat-item-waku-fukidashi-4;
    .mod-h_4_ver2 {@include pat-item-h4-design-13;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-5;
    @include deco-style-mod-set-design4-13;
  }
  .ex-style_#{$baseEx_02B2} & {
    @include pat-item-waku-fukidashi-5;
    .mod-h_4_ver2 {@include pat-item-h4-design-14;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-5;
    @include deco-style-mod-set-design4-14;
  }
  .ex-style_#{$baseEx_02B3} & {
    @include pat-item-waku-fukidashi-6;
    .mod-h_4_ver2 {@include pat-item-h4-design-15;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-5;
    @include deco-style-mod-set-design4-15;
  }
  .ex-style_#{$baseEx_02C1} & {
    @include pat-item-waku-fukidashi-7;
    .mod-h_4_ver2 {@include pat-item-h4-design-16;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-6;
    @include deco-style-mod-set-design4-16;
  }
  .ex-style_#{$baseEx_02C2} & {
    @include pat-item-waku-fukidashi-8;
    .mod-h_4_ver2 {@include pat-item-h4-design-17;}
    .mod-ul_ver2 {@include pat-item-list-check-default-2;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-6;
    @include deco-style-mod-set-design4-17;
  }
  .ex-style_#{$baseEx_02C3} & {
    @include pat-item-waku-fukidashi-9;
    .mod-h_4_ver2 {@include pat-item-h4-design-18;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-6;
    @include deco-style-mod-set-design4-18;
  }
}



