@charset "UTF-8";

// -------------------------------------
//
// mod-set-toiawase の紐付けモジュール
//
// -------------------------------------

@import "../sp-style/mod-set-toiawase-style";

// -------------------------------------
// part-main-280
// お問い合わせ
// -------------------------------------

.mod-set-toiawase-2col {
  .ex-style_#{$baseEx_01A1} & {
    @include pat-item-waku-kadomaru-none-bgc-gray;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-1;}
    .mod-box-in1 {
      @include pat-item-waku-kadomaru-none-bgc-white;
      // .mod-bnr_ver2 {@include pat-item-bnr2-h1;}
      .mod-ul_ver2 {
        @include pat-item-waku-reset;
        @include pat-item-list-maru-default-1;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-1;
    @include deco-style-mod-set-toiawase-2col-1;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include pat-item-waku-kadomaru-none-bgc-blue;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-2;}
    .mod-box-in1 {
      @include pat-item-waku-kadomaru-none-bgc-white-2;
      // .mod-bnr_ver2 {@include pat-item-bnr2-h2;}
      .mod-ul_ver2 {
        @include pat-item-waku-reset;
        @include pat-item-list-maru-default-2;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-1;
    @include deco-style-mod-set-toiawase-2col-2;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include pat-item-waku-kadomaru-none-bgc-red;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-3;}
    .mod-box-in1 {
      @include pat-item-waku-kadomaru-none-bgc-pink;
      .mod-bnr_ver2 {@include pat-item-bnr2-h3;}
      .mod-ul_ver2 {
        @include pat-item-waku-reset;
        @include pat-item-list-maru-default-7;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-1;
    @include deco-style-mod-set-toiawase-2col-3;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include pat-item-waku-kadomaru-none-bgc-blue-2;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-4;}
    .mod-box-in1 {
      @include pat-item-waku-kadomaru-none-gurade-gold;
      .mod-bnr_ver2 {@include pat-item-bnr2-h4;}
      .mod-ul_ver2 {
        @include pat-item-waku-reset;
        @include pat-item-list-maru-default-4;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-2;
    @include deco-style-mod-set-toiawase-2col-4;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include pat-item-waku-kadomaru-none-bgc-blue-3;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-5;}
    .mod-box-in1 {
      @include pat-item-waku-kadomaru-none-gurade-blue;
      .mod-bnr_ver2 {@include pat-item-bnr2-h5;}
      .mod-ul_ver2 {
        @include pat-item-waku-reset;
        @include pat-item-list-maru-default-5;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-2;
    @include deco-style-mod-set-toiawase-2col-5;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include pat-item-waku-kadomaru-none-bgc-red-2;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-6;}
    .mod-box-in1 {
      @include pat-item-waku-kadomaru-none-gurade-yellow;
      .mod-bnr_ver2 {@include pat-item-bnr2-h6;}
      .mod-ul_ver2 {
        @include pat-item-waku-reset;
        @include pat-item-list-maru-default-6;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-2;
    @include deco-style-mod-set-toiawase-2col-6;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include pat-item-waku-kadomaru-repeat-1;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-7;}
    .mod-box-in1 {
      // .mod-bnr_ver2 {@include pat-item-bnr2-i1;}
      .mod-ul_ver2 {
        @include pat-item-waku-kadomaru-yellow-bgc-2;
        @include pat-item-list-check-default-1;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-3;
    @include deco-style-mod-set-toiawase-2col-7;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include pat-item-waku-kadomaru-repeat-2;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-8;}
    .mod-box-in1 {
      // .mod-bnr_ver2 {@include pat-item-bnr2-i2;}
      .mod-ul_ver2 {
        @include pat-item-waku-kadomaru-green-bgc;
        @include pat-item-list-check-default-4;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-3;
    @include deco-style-mod-set-toiawase-2col-8;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include pat-item-waku-kadomaru-repeat-3;
    .mod-h_4_ver2 {@include pat-item-h4-kaku-9;}
    .mod-box-in1 {
      // .mod-bnr_ver2 {@include pat-item-bnr2-i3;}
      .mod-ul_ver2 {
        @include pat-item-waku-kadomaru-yellow-bgc-2;
        @include pat-item-list-check-default-1;
      }
    }
    @include common-style-mod-set-toiawase;
    @include module-style-mod-set-toiawase-2col-3;
    @include deco-style-mod-set-toiawase-2col-9;
  }
  [data-parts-name*="part-main-291"] & {
    @include module-style-mod-set-toiawase-2col-4;
  }
}
