@charset "UTF-8";
@import "../sp-style/mod-part-style";


//##################################################
//  mod-part
//##################################################


//##################################################
//  mod-part
//##################################################

// .area-main {
//   div[class*="mod-part"] {
//   @extend %common-style-mod-part;
//   @extend %common-style-mod-part-main;
//   }
// }


div[data-parts-name*="part-side"] {
  @extend %common-style-mod-part-side;
}

div[data-parts-name*="part-main"] {
  @extend %common-style-mod-part-main;
}

// .mod-part-bnr-x2,
// .mod-part-bnr-x3,
// .mod-part-bunsyo,
// .mod-part-bunsyo-deco,
// .mod-part-case,
// .mod-part-copy-fukidashi,
// .mod-part-copy-list,
// .mod-part-company,
// .mod-part-credit,
// .mod-part-doga,
// .mod-part-faq,
// .mod-part-faq-mokuji,
// .mod-part-form,
// .mod-part-h1,
// .mod-part-h2,
// .mod-part-h3,
// .mod-part-hikaku,
// .mod-part-hyo,
// .mod-part-list,
// .mod-part-list-number,
// .mod-part-news-bunsyo,
// .mod-part-map,
// .mod-part-nagare,
// .mod-part-office,
// .mod-part-pic,
// .mod-part-ryokin,
// .mod-part-schedule,
// .mod-part-toiawase,
// .mod-part-tokucho,
// .mod-part-tokucho-bunsyo,
// .mod-part-tokucho-h,
// .mod-part-tokucho-pic,
// .mod-part-voice {
//   @extend %common-style-mod-part;
// }
