@charset "UTF-8";
@import "../sp-style/mod-h_4-style";

//旧方式のコピーのため要改修

//##################################################
//  mod-h_4_ver2
//##################################################
.mod-h_4_ver2 {
  @include mod-h_4-common-style;
  .ex-style_#{$baseEx_01A1} & {
    @include mod-h_4-01A;
    @include deco-style-mod-h_4-01A1;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include mod-h_4-01A;
    @include deco-style-mod-h_4-01A2;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include mod-h_4-01A;
    @include deco-style-mod-h_4-01A3;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include mod-h_4-01B;
    @include deco-style-mod-h_4-01B1;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include mod-h_4-01B;
    @include deco-style-mod-h_4-01B2;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include mod-h_4-01B;
    @include deco-style-mod-h_4-01B3;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include mod-h_4-01C;
    @include deco-style-mod-h_4-01C1;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include mod-h_4-01C;
    @include deco-style-mod-h_4-01C2;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include mod-h_4-01C;
    @include deco-style-mod-h_4-01C3;
  }
}


//##################################################
//  mod-h_4_n3 (step毎の画像指定)
//##################################################
  @include mod-h_4_n3-common-style;
  .ex-style_#{$baseEx_01A1} {
    @include deco-style-mod-h_4_n3-01A1;
  }
  .ex-style_#{$baseEx_01A2} {
    @include deco-style-mod-h_4_n3-01A2;
  }
  .ex-style_#{$baseEx_01A3} {
    @include deco-style-mod-h_4_n3-01A3;
  }
  .ex-style_#{$baseEx_01B1} {
    @include deco-style-mod-h_4_n3-01B1;
  }
  .ex-style_#{$baseEx_01B2} {
    @include deco-style-mod-h_4_n3-01B2;
  }
  .ex-style_#{$baseEx_01B3} {
    @include deco-style-mod-h_4_n3-01B3;
  }
  .ex-style_#{$baseEx_01C1} {
    @include deco-style-mod-h_4_n3-01C1;
  }
  .ex-style_#{$baseEx_01C2} {
    @include deco-style-mod-h_4_n3-01C2;
  }
  .ex-style_#{$baseEx_01C3} {
    @include deco-style-mod-h_4_n3-01C3;
  }

//##################################################
//  mod-h_4_t1
//##################################################
.mod-h_4_t1 {
  @include mod-h_4_t1-common-style;
  .ex-style_#{$baseEx_01A1} & {
    @include deco-style-mod-h_4_t1-01A1;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include deco-style-mod-h_4_t1-01A2;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include deco-style-mod-h_4_t1-01A3;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include deco-style-mod-h_4_t1-01B1;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include deco-style-mod-h_4_t1-01B2;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include deco-style-mod-h_4_t1-01B3;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include deco-style-mod-h_4_t1-01C1;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include deco-style-mod-h_4_t1-01C2;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include deco-style-mod-h_4_t1-01C3;
  }
}


//##################################################
//  mod-h_4_side
//##################################################
.mod-h_4_side {
  @include common-style-mod-h_4_side;
  @include module-style-mod-h_4_side;
  .ex-style_#{$baseEx_01A1} & {
    @include deco-style01A1-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include deco-style01A2-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01A3} & {
    @include deco-style01A3-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01B1} & {
    @include deco-style01A1-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01B2} & {
    @include deco-style01A2-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01B3} & {
    @include deco-style01A3-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include deco-style01A1-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01C2} & {
    @include deco-style01A2-mod-h_4_side;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include deco-style01A3-mod-h_4_side;
  }
}




//##################################################
//  mod-icon
//##################################################
// .mod-icon_num_01 {
//   @if $defaultTheme == "01A1" { @include mod-icon_num_01-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num_01-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num_01-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num_01-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num_01-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num_01-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num_01-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num_01-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num_01-style9; }
//     @else { @include mod-icon_num_01-style; }
//   .ex-style_#{$baseEx_01A1} & {
//     @include mod-icon_num_01-style;
//   }
//   .ex-style_#{$baseEx_01A2} & {
//     @include mod-icon_num_01-style2;
//   }
//   .ex-style_#{$baseEx_01A3} & {
//     @include mod-icon_num_01-style3;
//   }
//   .ex-style_#{$baseEx_01B1} & {
//     @include mod-icon_num_01-style4;
//   }
//   .ex-style_#{$baseEx_01B2} & {
//     @include mod-icon_num_01-style5;
//   }
//   .ex-style_#{$baseEx_01B3} & {
//     @include mod-icon_num_01-style6;
//   }
//   .ex-style_#{$baseEx_01C1} & {
//     @include mod-icon_num_01-style7;
//   }
//   .ex-style_#{$baseEx_01C2} & {
//     @include mod-icon_num_01-style8;
//   }
//   .ex-style_#{$baseEx_01C3} & {
//     @include mod-icon_num_01-style9;
//   }
// }

// .mod-icon_num_02 {
//   @if $defaultTheme == "01A1" { @include mod-icon_num_02-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num_02-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num_02-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num_02-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num_02-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num_02-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num_02-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num_02-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num_02-style9; }
//     @else { @include mod-icon_num_02-style; }
//   .ex-style_#{$baseEx_01A1} & {
//     @include mod-icon_num_02-style;
//   }
//   .ex-style_#{$baseEx_01A2} & {
//     @include mod-icon_num_02-style2;
//   }
//   .ex-style_#{$baseEx_01A3} & {
//     @include mod-icon_num_02-style3;
//   }
//   .ex-style_#{$baseEx_01B1} & {
//     @include mod-icon_num_02-style4;
//   }
//   .ex-style_#{$baseEx_01B2} & {
//     @include mod-icon_num_02-style5;
//   }
//   .ex-style_#{$baseEx_01B3} & {
//     @include mod-icon_num_02-style6;
//   }
//   .ex-style_#{$baseEx_01C1} & {
//     @include mod-icon_num_02-style7;
//   }
//   .ex-style_#{$baseEx_01C2} & {
//     @include mod-icon_num_02-style8;
//   }
//   .ex-style_#{$baseEx_01C3} & {
//     @include mod-icon_num_02-style9;
//   }
// }

// .mod-icon_num_03 {
//   @if $defaultTheme == "01A1" { @include mod-icon_num_03-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num_03-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num_03-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num_03-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num_03-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num_03-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num_03-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num_03-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num_03-style9; }
//     @else { @include mod-icon_num_03-style; }
//   .ex-style_#{$baseEx_01A1} & {
//     @include mod-icon_num_03-style;
//   }
//   .ex-style_#{$baseEx_01A2} & {
//     @include mod-icon_num_03-style2;
//   }
//   .ex-style_#{$baseEx_01A3} & {
//     @include mod-icon_num_03-style3;
//   }
//   .ex-style_#{$baseEx_01B1} & {
//     @include mod-icon_num_03-style4;
//   }
//   .ex-style_#{$baseEx_01B2} & {
//     @include mod-icon_num_03-style5;
//   }
//   .ex-style_#{$baseEx_01B3} & {
//     @include mod-icon_num_03-style6;
//   }
//   .ex-style_#{$baseEx_01C1} & {
//     @include mod-icon_num_03-style7;
//   }
//   .ex-style_#{$baseEx_01C2} & {
//     @include mod-icon_num_03-style8;
//   }
//   .ex-style_#{$baseEx_01C3} & {
//     @include mod-icon_num_03-style9;
//   }
// }

// .mod-icon_num_04 {
//   @if $defaultTheme == "01A1" { @include mod-icon_num_04-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num_04-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num_04-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num_04-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num_04-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num_04-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num_04-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num_04-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num_04-style9; }
//     @else { @include mod-icon_num_04-style; }
//   .ex-style_#{$baseEx_01A1} & {
//     @include mod-icon_num_04-style;
//   }
//   .ex-style_#{$baseEx_01A2} & {
//     @include mod-icon_num_04-style2;
//   }
//   .ex-style_#{$baseEx_01A3} & {
//     @include mod-icon_num_04-style3;
//   }
//   .ex-style_#{$baseEx_01B1} & {
//     @include mod-icon_num_04-style4;
//   }
//   .ex-style_#{$baseEx_01B2} & {
//     @include mod-icon_num_04-style5;
//   }
//   .ex-style_#{$baseEx_01B3} & {
//     @include mod-icon_num_04-style6;
//   }
//   .ex-style_#{$baseEx_01C1} & {
//     @include mod-icon_num_04-style7;
//   }
//   .ex-style_#{$baseEx_01C2} & {
//     @include mod-icon_num_04-style8;
//   }
//   .ex-style_#{$baseEx_01C3} & {
//     @include mod-icon_num_04-style9;
//   }
// }

// .mod-icon_num_05 {
//   @if $defaultTheme == "01A1" { @include mod-icon_num_05-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num_05-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num_05-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num_05-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num_05-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num_05-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num_05-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num_05-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num_05-style9; }
//     @else { @include mod-icon_num_05-style; }
//   .ex-style_#{$baseEx_01A1} & {
//     @include mod-icon_num_05-style;
//   }
//   .ex-style_#{$baseEx_01A2} & {
//     @include mod-icon_num_05-style2;
//   }
//   .ex-style_#{$baseEx_01A3} & {
//     @include mod-icon_num_05-style3;
//   }
//   .ex-style_#{$baseEx_01B1} & {
//     @include mod-icon_num_05-style4;
//   }
//   .ex-style_#{$baseEx_01B2} & {
//     @include mod-icon_num_05-style5;
//   }
//   .ex-style_#{$baseEx_01B3} & {
//     @include mod-icon_num_05-style6;
//   }
//   .ex-style_#{$baseEx_01C1} & {
//     @include mod-icon_num_05-style7;
//   }
//   .ex-style_#{$baseEx_01C2} & {
//     @include mod-icon_num_05-style8;
//   }
//   .ex-style_#{$baseEx_01C3} & {
//     @include mod-icon_num_05-style9;
//   }
// }

// //.mod-icon_num2　の step変更
//   @include mod-icon_num2-common-style;
//   @if $defaultTheme == "01A1" { @include mod-icon_num2-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num2-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num2-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num2-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num2-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num2-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num2-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num2-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num2-style9; }
//     @else { @include mod-icon_num2-style; }
//   .ex-style_#{$baseEx_01A1} {
//     @include mod-icon_num2-style;
//   }
//   .ex-style_#{$baseEx_01A2} {
//     @include mod-icon_num2-style2;
//   }
//   .ex-style_#{$baseEx_01A3} {
//     @include mod-icon_num2-style3;
//   }
//   .ex-style_#{$baseEx_01B1} {
//     @include mod-icon_num2-style4;
//   }
//   .ex-style_#{$baseEx_01B2} {
//     @include mod-icon_num2-style5;
//   }
//   .ex-style_#{$baseEx_01B3} {
//     @include mod-icon_num2-style6;
//   }
//   .ex-style_#{$baseEx_01C1} {
//     @include mod-icon_num2-style7;
//   }
//   .ex-style_#{$baseEx_01C2} {
//     @include mod-icon_num2-style8;
//   }
//   .ex-style_#{$baseEx_01C3} {
//     @include mod-icon_num2-style9;
//   }

// //.mod-icon_num3　の step変更
//   @include mod-icon_num3-common-style;
//   @if $defaultTheme == "01A1" { @include mod-icon_num3-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num3-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num3-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num3-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num3-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num3-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num3-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num3-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num3-style9; }
//     @else { @include mod-icon_num3-style; }
//   .ex-style_#{$baseEx_01A1},
//   .ex-style_#{$baseEx_p3A1} {
//     @include mod-icon_num3-style;
//   }
//   .ex-style_#{$baseEx_01A2},
//   .ex-style_#{$baseEx_p3A2} {
//     @include mod-icon_num3-style2;
//   }
//   .ex-style_#{$baseEx_01A3},
//   .ex-style_#{$baseEx_p3A3} {
//     @include mod-icon_num3-style3;
//   }
//   .ex-style_#{$baseEx_01B1},
//   .ex-style_#{$baseEx_p3B1} {
//     @include mod-icon_num3-style4;
//   }
//   .ex-style_#{$baseEx_01B2},
//   .ex-style_#{$baseEx_p3B2} {
//     @include mod-icon_num3-style5;
//   }
//   .ex-style_#{$baseEx_01B3},
//   .ex-style_#{$baseEx_p3B3} {
//     @include mod-icon_num3-style6;
//   }
//   .ex-style_#{$baseEx_01C1},
//   .ex-style_#{$baseEx_p3C1} {
//     @include mod-icon_num3-style7;
//   }
//   .ex-style_#{$baseEx_01C2},
//   .ex-style_#{$baseEx_p3C2} {
//     @include mod-icon_num3-style8;
//   }
//   .ex-style_#{$baseEx_01C3},
//   .ex-style_#{$baseEx_p3C3} {
//     @include mod-icon_num3-style9;
//   }

// //.mod-icon_num4　の step変更
//   @include mod-icon_num4-common-style;
//   @if $defaultTheme == "01A1" { @include mod-icon_num4-style; }
//     @else if $defaultTheme == "01A2" { @include mod-icon_num4-style2; }
//     @else if $defaultTheme == "01A3" { @include mod-icon_num4-style3; }
//     @else if $defaultTheme == "01B1" { @include mod-icon_num4-style4; }
//     @else if $defaultTheme == "01B2" { @include mod-icon_num4-style5; }
//     @else if $defaultTheme == "01B3" { @include mod-icon_num4-style6; }
//     @else if $defaultTheme == "01C1" { @include mod-icon_num4-style7; }
//     @else if $defaultTheme == "01C2" { @include mod-icon_num4-style8; }
//     @else if $defaultTheme == "01C3" { @include mod-icon_num4-style9; }
//     @else { @include mod-icon_num4-style; }
//   .ex-style_#{$baseEx_01A1} {
//     @include mod-icon_num4-style;
//   }
//   .ex-style_#{$baseEx_01A2} {
//     @include mod-icon_num4-style2;
//   }
//   .ex-style_#{$baseEx_01A3} {
//     @include mod-icon_num4-style3;
//   }
//   .ex-style_#{$baseEx_01B1} {
//     @include mod-icon_num4-style4;
//   }
//   .ex-style_#{$baseEx_01B2} {
//     @include mod-icon_num4-style5;
//   }
//   .ex-style_#{$baseEx_01B3} {
//     @include mod-icon_num4-style6;
//   }
//   .ex-style_#{$baseEx_01C1} {
//     @include mod-icon_num4-style7;
//   }
//   .ex-style_#{$baseEx_01C2} {
//     @include mod-icon_num4-style8;
//   }
//   .ex-style_#{$baseEx_01C3} {
//     @include mod-icon_num4-style9;
//   }
