@charset "UTF-8";

@import "../sp-style/mod-set-door-style";

.mod-set-door {
  @include common-style-mod-set-door;
  @include module-style-mod-set-door;
  .ex-style_#{$baseEx_01A1} &,
  .ex-style_#{$baseEx_01A3} &,
  .ex-style_#{$baseEx_01B1} &,
  .ex-style_#{$baseEx_01B2} &,
  .ex-style_#{$baseEx_01B3} &,
  .ex-style_#{$baseEx_01C2} & {
    @include pat-item-waku-board-wood-1;
  }
  .ex-style_#{$baseEx_01A2} & {
    @include pat-item-waku-board-wood-2;
  }
  .ex-style_#{$baseEx_01C1} & {
    @include pat-item-waku-board-wood-3;
  }
  .ex-style_#{$baseEx_01C3} & {
    @include pat-item-waku-board-wood-4;
  }
  //  見出しの指定
  .ex-style_#{$baseEx_01A3} & {
    .mod-h_4_ver2 {@include pat-item-h4_tmp-15;}
  }
  .ex-style_#{$baseEx_01B1} & {
    .mod-h_4_ver2 {@include pat-item-h4_tmp-16;}
  }
  .ex-style_#{$baseEx_01B2} & {
    .mod-h_4_ver2 {@include pat-item-h4_tmp-17;}
  }
  .ex-style_#{$baseEx_01B3} & {
    .mod-h_4_ver2 {@include pat-item-h4_tmp-18;}
  }
  .ex-style_#{$baseEx_01C1} & {
    .mod-h_4_ver2 {@include pat-item-h4_tmp-A;}
  }
  .ex-style_#{$baseEx_01C2} & {
    .mod-h_4_ver2 {@include pat-item-h4_tmp-B;}
  }
  .ex-style_#{$baseEx_01C3} & {
    .mod-h_4_ver2 {@include pat-item-h4_tmp-C;}
  }
  //  バナーの指定
  .ex-style_#{$baseEx_01A1} &,
  .ex-style_#{$baseEx_01B1} &,
  .ex-style_#{$baseEx_01C1} &,
  .ex-style_#{$baseEx_01C2} & {
    .mod-bnr-pic {@include pat-item-bnr-pic2-k10;}
  }
  .ex-style_#{$baseEx_01A2} &,
  .ex-style_#{$baseEx_01B2} & {
    .mod-bnr-pic {@include pat-item-bnr-pic2-k11;}
  }
  .ex-style_#{$baseEx_01A3} &,
  .ex-style_#{$baseEx_01B3} &,
  .ex-style_#{$baseEx_01C3} & {
    .mod-bnr-pic {@include pat-item-bnr-pic2-k12;}
  }
}
