@charset "UTF-8";

// -----------------------------------
//
// mod-set-○○-footer の紐付けモジュール
//
// -----------------------------------

@import "../pc-style/mod-set-footer-style";


// -----------------------------------
// mod-set-company-footer
// フッターの大枠
// 現状、要素でsetからの指定が必要なものは無し
// -----------------------------------

.mod-set-company-footer {
  @include module-style-mod-set-company-footer;
  @include module-style-mod-set-company-footer;
  &.ex-style_01A1 {
    @include deco-style01A1-mod-set-company-footer;
  }
  &.ex-style_01A2 {
    @include deco-style01A2-mod-set-company-footer;
  }
  &.ex-style_01A3 {
    @include deco-style01A3-mod-set-company-footer;
  }
  &.ex-style_01B1 {
    @include deco-style01B1-mod-set-company-footer;
  }
  &.ex-style_01B2 {
    @include deco-style01B2-mod-set-company-footer;
  }
  &.ex-style_01B3 {
    @include deco-style01B3-mod-set-company-footer;
  }
  &.ex-style_01C1 {
    @include deco-style01C1-mod-set-company-footer;
  }
  &.ex-style_01C2 {
    @include deco-style01C2-mod-set-company-footer;
  }
  &.ex-style_01C3 {
    @include deco-style01C3-mod-set-company-footer;
  }
}

// -----------------------------------
// mod-set-copyright-footer
// フッターコピーライト専用
// -----------------------------------

.mod-set-copyright-footer {
  @include module-style-mod-set-copyright-footer;
}


// -----------------------------------
// 暫定対応
// -----------------------------------

// .mod-box46 {
//   @extend .mod-set-company-footer;
// }
// .mod-box22 {
//   @extend .mod-set-copyright-footer;
// }
