@charset "UTF-8";
@import "../pc-style/mod-ul-style";

.mod-ul_ver2 {
  @include common-style-mod-ul;
  @include module-style-mod-ul;
  .ex-style_01A1 &,.ex-style_02A1 & {@include pat-item-list-default-1;}
  .ex-style_01A2 &,.ex-style_02A2 & {@include pat-item-list-default-2;}
  .ex-style_01A3 &,.ex-style_02A3 & {@include pat-item-list-default-3;}
  .ex-style_01B1 &,.ex-style_02B1 & {@include pat-item-list-default-4;}
  .ex-style_01B2 &,.ex-style_02B2 & {@include pat-item-list-default-5;}
  .ex-style_01B3 &,.ex-style_02B3 & {@include pat-item-list-default-6;}
  .ex-style_01C1 &,.ex-style_02C1 & {
    @include pat-item-waku-kadomaru-yellow-bgc;
    @include pat-item-list-default-7;
  }
  .ex-style_01C2 &,.ex-style_02C2 & {
    @include pat-item-waku-kadomaru-green-bgc;
    @include pat-item-list-default-8;
  }
  .ex-style_01C3 &,.ex-style_02C3 & {
    @include pat-item-waku-kadomaru-blue-bgc;
    @include pat-item-list-default-9;
  }
}


.mod-ul-side {
  @include common-style-mod-ul;
  @include module-style-mod-ul-side;
  .ex-style_01A1 & {@include deco-style01A1-mod-ul-side;}
  .ex-style_01A2 & {@include deco-style01A2-mod-ul-side;}
  .ex-style_01A3 & {@include deco-style01A3-mod-ul-side;}
  .ex-style_01B1 & {@include deco-style01B1-mod-ul-side;}
  .ex-style_01B2 & {@include deco-style01B2-mod-ul-side;}
  .ex-style_01B3 & {@include deco-style01B3-mod-ul-side;}
  .ex-style_01C1 & {@include deco-style01C1-mod-ul-side;}
  .ex-style_01C2 & {@include deco-style01C2-mod-ul-side;}
  .ex-style_01C3 & {@include deco-style01C3-mod-ul-side;}
}

.mod-ol_ver2 {
  @include common-style-mod-ol;
  @include module-style-mod-ol;
  .ex-style_01A1 & {@include deco-style01A1-mod-ol;}
  .ex-style_01A2 & {@include deco-style01A2-mod-ol;}
  .ex-style_01A3 & {@include deco-style01A3-mod-ol;}
  .ex-style_01B1 & {@include deco-style01B1-mod-ol;}
  .ex-style_01B2 & {@include deco-style01B2-mod-ol;}
  .ex-style_01B3 & {@include deco-style01B3-mod-ol;}
  .ex-style_01C1 & {@include deco-style01C1-mod-ol;}
  .ex-style_01C2 & {@include deco-style01C2-mod-ol;}
  .ex-style_01C3 & {@include deco-style01C3-mod-ol;}
}

//＊＊＊＊＊＊＊＊＊＊＊＊
//現行モジュールへのスタイル取り込み
//＊＊＊＊＊＊＊＊＊＊＊＊

// .mod-ul {
//   @extend .mod-ul;
// }
// .mod-ul2 {
//   @extend .mod-ul-side;
// }
// .mod-ul4 {
//   @extend .mod-ul;
// }
// .mod-ul5 {
//   @extend .mod-ul;
// }
// .mod-ul6 {
//   @extend .mod-ul;
//   .mod-ul-inner2 {
//     background-repeat: no-repeat;
//   }
//   ul {
//     li {
//       background-position: left 4px;
//       font-weight: bold;
//       font-size: $fontSizeL;
//     }
//   }
  // .ex-style_01A1 & {@include deco-style01A1-mod-ul-in2;}
  // .ex-style_01A2 & {@include deco-style01A2-mod-ul-in2;}
  // .ex-style_01A3 & {@include deco-style01A3-mod-ul-in2;}
  // .ex-style_01B1 & {@include deco-style01B1-mod-ul-in2;}
  // .ex-style_01B2 & {@include deco-style01B2-mod-ul-in2;}
  // .ex-style_01B3 & {@include deco-style01B3-mod-ul-in2;}
  // .ex-style_01C1 & {@include deco-style01C1-mod-ul-in2;}
  // .ex-style_01C2 & {@include deco-style01C2-mod-ul-in2;}
  // .ex-style_01C3 & {@include deco-style01C3-mod-ul-in2;}

// .mod-ol {
//   @extend .mod-ol;
// }
// .mod-ol2 {
//   @extend .mod-ol;
//   margin: 20px 0 0 0;
//   ol {
//     counter-reset:li; //カウントリセット
//   }
//   li {
//     margin-bottom: 10px;
//     padding: 0;
//     position: relative;
//     list-style:none; //デフォルトナンバリングを消す
//   }
//   li:before {
//     content:counter(li); //カウンターのインデックスを挿入
//     counter-increment:li; //ナンバリングを生成
//     position:absolute;
//   }
//   .ex-style_01A1 & {@include deco-style01A1-mod-ol-in2;}
//   .ex-style_01A2 & {@include deco-style01A2-mod-ol-in2;}
//   .ex-style_01A3 & {@include deco-style01A3-mod-ol-in2;}
//   .ex-style_01B1 & {@include deco-style01B1-mod-ol-in2;}
//   .ex-style_01B2 & {@include deco-style01B2-mod-ol-in2;}
//   .ex-style_01B3 & {@include deco-style01B3-mod-ol-in2;}
//   .ex-style_01C1 & {@include deco-style01C1-mod-ol-in2;}
//   .ex-style_01C2 & {@include deco-style01C2-mod-ol-in2;}
//   .ex-style_01C3 & {@include deco-style01C3-mod-ol-in2;}
// }