@charset "UTF-8";

// -----------------------------------
//
// mod-set-design の~付けモジュ`ル
//
// -----------------------------------

@import "../pc-style/mod-set-design-style";
@import "../design/pat-design-common";


// -----------------------------------
// part-main-275
// 用
// -----------------------------------

.mod-set-design {
  @include common-style-mod-set-design;
  //本来はsetからでなくmoduleにくべきものらしい。デフォルトデザインなので
  .ex-style_01A1 & {
    @include pat-design-common-1;
  }
  .ex-style_01A2 & {
    @include pat-design-common-2;
  }
  .ex-style_01A3 & {
    @include pat-design-common-3;
  }
  .ex-style_01B1 & {
    @include pat-design-common-4;
  }
  .ex-style_01B2 & {
    @include pat-design-common-5;
  }
  .ex-style_01B3 & {
    @include pat-design-common-6;
  }
  .ex-style_01C1 & {
    @include pat-design-common-7;
  }
  .ex-style_01C2 & {
    @include pat-design-common-8;
  }
  .ex-style_01C3 & {
    @include pat-design-common-9;
  }
}



.mod-set-design2 {
  @include common-style-mod-set-design2;
}

.mod-set-design3 {
  @include common-style-mod-set-design3;
  @include module-style-mod-set-design3;
  .ex-style_01A1 & {
    @include pat-item-waku-kadomaru-simple-1;
    .mod-h_4_ver2 {@include pat-item-h4-gurade-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-b14;}
    @include deco-style01A1-mod-set-design3;
  }
  .ex-style_01A2 & {
    @include pat-item-waku-kadomaru-simple-2;
    .mod-h_4_ver2 {@include pat-item-h4-gurade-2;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-b15;}
    @include deco-style01A2-mod-set-design3;
  }
  .ex-style_01A3 & {
    @include pat-item-waku-kadomaru-simple-3;
    .mod-h_4_ver2 {@include pat-item-h4-gurade-3;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-b14;}
    @include deco-style01A3-mod-set-design3;
  }
  .ex-style_01B1 & {
    @include pat-item-waku-kado-jouge-beta-1;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-c4;}
    @include deco-style01B1-mod-set-design3;
  }
  .ex-style_01B2 & {
    @include pat-item-waku-kado-jouge-beta-2;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-c5;}
    @include deco-style01B2-mod-set-design3;
  }
  .ex-style_01B3 & {
    @include pat-item-waku-kado-jouge-beta-3;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-2;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-c6;}
    @include deco-style01B3-mod-set-design3;
  }
  .ex-style_01C1 & {
    @include pat-item-waku-kado-shimple-grade-1;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-3;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-d12;}
    @include deco-style01C1-mod-set-design3;
  }
  .ex-style_01C2 & {
    @include pat-item-waku-kado-shimple-grade-2;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-4;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-d13;}
    @include deco-style01C2-mod-set-design3;
  }
  .ex-style_01C3 & {
    @include pat-item-waku-kado-shimple-grade-3;
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-5;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-d14;}
    @include deco-style01C3-mod-set-design3;
  }
}

.mod-set-design-2col {
  @include common-style-mod-set-design;
  @include module-style-mod-set-design-2col;
  .ex-style_01A1 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kadomaru-simple-1;}
    .mod-h_4_ver2 {@include pat-item-h4-gurade-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-b14;}
    @include deco-style01A1-mod-set-design-2col;
  }
  .ex-style_01A2 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kadomaru-simple-2;}
    .mod-h_4_ver2 {@include pat-item-h4-gurade-2;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-b15;}
    @include deco-style01A2-mod-set-design-2col;
  }
  .ex-style_01A3 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kadomaru-simple-3;}
    .mod-h_4_ver2 {@include pat-item-h4-gurade-3;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-b14;}
    @include deco-style01A3-mod-set-design-2col;
  }
  .ex-style_01B1 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-jouge-beta-4;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-c4;}
    @include deco-style01B1-mod-set-design-2col;
  }
  .ex-style_01B2 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-jouge-beta-5;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-1;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-c5;}
    @include deco-style01B2-mod-set-design-2col;
  }
  .ex-style_01B3 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-jouge-beta-6;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-2;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-c6;}
    @include deco-style01B3-mod-set-design-2col;
  }
  .ex-style_01C1 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-shimple-grade-1;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-3;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-d12;}
    @include deco-style01C1-mod-set-design-2col;
  }
  .ex-style_01C2 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-shimple-grade-2;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-4;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-d13;}
    @include deco-style01C2-mod-set-design-2col;
  }
  .ex-style_01C3 & {
    .mod-2col-wrap > div > div {@include pat-item-waku-kado-shimple-grade-3;}
    .mod-h_4_ver2 {@include pat-item-h4-simple-border-5;}
    .mod-bnr_ver2 {@include pat-item-bnr-box-for-2col-L25-d14;}
    @include deco-style01C3-mod-set-design-2col;
  }
}





// -----------------------------------
// part-main-040
// 用
// -----------------------------------
.mod-set-design4 {
  .ex-style_01A1 & {
    @include pat-item-waku-board-blue;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-blue;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-1;
    @include deco-style-mod-set-design4-1;
  }
  .ex-style_01A2 & {
    @include pat-item-waku-board-blue-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-blue-2;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-1;
    @include deco-style-mod-set-design4-2;
  }
  .ex-style_01A3 & {
    @include pat-item-waku-board-yellow-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-pink;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-1;
    @include deco-style-mod-set-design4-3;
  }
  .ex-style_01B1 & {
    @include pat-item-waku-jouge-image-blue-bgc-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-blue-3;}
    .mod-box_ver2 {@include pat-item-waku-kado-gray-bgimg;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-2;
    @include deco-style-mod-set-design4-4;
  }
  .ex-style_01B2 & {
    @include pat-item-waku-jouge-image-green-bgc-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-yellow;}
    .mod-box_ver2 {@include pat-item-waku-kado-gray-bgimg;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-2;
    @include deco-style-mod-set-design4-5;
  }
  .ex-style_01B3 & {
    @include pat-item-waku-jouge-image-brown-bgc;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-none-bgc-yellow-2;}
    .mod-box_ver2 {@include pat-item-waku-kado-gray-bgimg;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-2;
    @include deco-style-mod-set-design4-6;
  }
  .ex-style_01C1 & {
    @include pat-item-waku-board-blue-3;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-border-blue;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-3;
    @include deco-style-mod-set-design4-7;
  }
  .ex-style_01C2 & {
    @include pat-item-waku-board-blue-4;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-border-green;}
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-3;
    @include deco-style-mod-set-design4-8;
  }
  .ex-style_01C3 & {
    @include pat-item-waku-board-orange-2;
    .mod-h_4_ver2 {@include pat-item-midashi-simple-border-brown;}
    .mod-ul_ver2 {
      @include pat-item-waku-kadomaru-yellow-bgc;
      @include pat-item-list-check-default-1;
    }
    @include common-style-mod-set-design4;
    @include module-style-mod-set-design4-3;
    @include deco-style-mod-set-design4-9;
  }
}

