@charset "UTF-8";

// -----------------------------------
//
// mod-set-h4 の紐付けモジュール
//
// -----------------------------------

@import "../pc-style/mod-set-h4-style";

// -----------------------------------
// mod-set-h4-design
// part-main-287
// -----------------------------------

.mod-set-h4-design {
  @include common-style-mod-set-h4-design;
  .ex-style_01A1 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-1;
    }
  }
  .ex-style_01A2 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-2;
    }
  }
  .ex-style_01A3 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-3;
    }
  }
  .ex-style_01B1 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-4;
    }
  }
  .ex-style_01B2 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-5;
    }
  }
  .ex-style_01B3 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-6;
    }
  }
  .ex-style_01C1 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-7;
    }
  }
  .ex-style_01C2 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-8;
    }
  }
  .ex-style_01C3 & {
    .mod-h_4_ver2 {
      @include pat-item-h4-design-9;
    }
  }
}



// -----------------------------------
// mod-set-h4
// part-main-289,290
// -----------------------------------

  //@include common-style-mod-set-h4;
  .ex-style_01A1 {
    @include deco-style-pat-item-h4-icon-tsuyomi-1;
  }
  .ex-style_01A2 {
    @include deco-style-pat-item-h4-icon-tsuyomi-2;
  }
  .ex-style_01A3 {
    @include deco-style-pat-item-h4-icon-tsuyomi-3;
  }
  .ex-style_01B1 {
    @include deco-style-pat-item-h4-icon-tsuyomi-4;
  }
  .ex-style_01B2 {
    @include deco-style-pat-item-h4-icon-tsuyomi-5;
  }
  .ex-style_01B3 {
    @include deco-style-pat-item-h4-icon-tsuyomi-6;
  }
  .ex-style_01C1 {
    @include deco-style-pat-item-h4-icon-tsuyomi-7;
  }
  .ex-style_01C2 {
    @include deco-style-pat-item-h4-icon-tsuyomi-8;
  }
  .ex-style_01C3 {
    @include deco-style-pat-item-h4-icon-tsuyomi-9;
  }