@charset "UTF-8";
@import "../sp-style/mod-ul-style";

//##################################################
//  mod-ul_ver2
//##################################################
.mod-ul_ver2 {
  .ex-style_#{$baseEx_01A1} & ,
  .ex-style_#{$baseEx_02A1} & {
    @include pat-item-list-default-1;
  }
  .ex-style_#{$baseEx_01A2} & ,
  .ex-style_#{$baseEx_02A2} & {
    @include pat-item-list-default-2;
  }
  .ex-style_#{$baseEx_01A3} & ,
  .ex-style_#{$baseEx_02A3} & {
    @include pat-item-list-default-3;
  }
  .ex-style_#{$baseEx_01B1} & ,
  .ex-style_#{$baseEx_02B1} & {
    @include pat-item-list-default-4;
  }
  .ex-style_#{$baseEx_01B2} & ,
  .ex-style_#{$baseEx_02B2} & {
    @include pat-item-list-default-5;
  }
  .ex-style_#{$baseEx_01B3} & ,
  .ex-style_#{$baseEx_02B3} & {
    @include pat-item-list-default-6;
  }
  .ex-style_#{$baseEx_01C1} & ,
  .ex-style_#{$baseEx_02C1} & {
    @include pat-item-waku-kadomaru-yellow-bgc;
    @include pat-item-list-default-7;
    margin-top: 10px; //ul限定の枠の高さ　暫定的にここに記述
  }
  .ex-style_#{$baseEx_01C2} & ,
  .ex-style_#{$baseEx_02C2} & {
    @include pat-item-waku-kadomaru-green-bgc;
    @include pat-item-list-default-8;
    margin-top: 10px; //ul限定の枠の高さ　暫定的にここに記述
  }
  .ex-style_#{$baseEx_01C3} & ,
  .ex-style_#{$baseEx_02C3} & {
    @include pat-item-waku-kadomaru-blue-bgc;
    @include pat-item-list-default-9;
    margin-top: 10px; //ul限定の枠の高さ　暫定的にここに記述
  }
}


//pat-item化は未済
.mod-ul-side {
  @include common-style-mod-ul;
  @include module-style-mod-ul-side;
  .ex-style_#{$baseEx_01A1} & {@include deco-style01A1-mod-ul-side;}
  .ex-style_#{$baseEx_01A2} & {@include deco-style01A2-mod-ul-side;}
  .ex-style_#{$baseEx_01A3} & {@include deco-style01A3-mod-ul-side;}
  .ex-style_#{$baseEx_01B1} & {@include deco-style01A1-mod-ul-side;}
  .ex-style_#{$baseEx_01B2} & {@include deco-style01A2-mod-ul-side;}
  .ex-style_#{$baseEx_01B3} & {@include deco-style01A3-mod-ul-side;}
  .ex-style_#{$baseEx_01C1} & {@include deco-style01A1-mod-ul-side;}
  .ex-style_#{$baseEx_01C2} & {@include deco-style01A2-mod-ul-side;}
  .ex-style_#{$baseEx_01C3} & {@include deco-style01A3-mod-ul-side;}
}